[MauticxZendesk]_Formularios_de_Conclusao_e_Interrupçao
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Formata - Conclusão Jurídico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formata - Conclusão Psicológico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formata - Interrupção Atendimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formata - Interrupção Encaminhamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata - Conclusão Jurídico": {
      "main": [
        [
          {
            "node": "Busca Zendesk User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata - Conclusão Psicológico": {
      "main": [
        [
          {
            "node": "Busca Zendesk User ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar novo ticket (conclusao juridico)": {
      "main": [
        [
          {
            "node": "Salvar Respostas2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert mda_forms-answers8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar novo ticket (conclusao psicologico)": {
      "main": [
        [
          {
            "node": "Salvar Respostas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert mda_forms-answers9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata - Interrupção Atendimento": {
      "main": [
        [
          {
            "node": "Busca Zendesk User ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata - Interrupção Encaminhamento": {
      "main": [
        [
          {
            "node": "Busca Zendesk User ID3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar novo ticket (interrupcao encaminhamento)": {
      "main": [
        [
          {
            "node": "Salvar Respostas1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert mda_forms-answers11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar novo ticket (interrupcao atendimento)": {
      "main": [
        [
          {
            "node": "Salvar Respostas3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert mda_forms-answers10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Zendesk User ID": {
      "main": [
        [
          {
            "node": "Criar novo ticket (conclusao juridico)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Zendesk User ID1": {
      "main": [
        [
          {
            "node": "Criar novo ticket (conclusao psicologico)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Zendesk User ID2": {
      "main": [
        [
          {
            "node": "Criar novo ticket (interrupcao atendimento)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Zendesk User ID3": {
      "main": [
        [
          {
            "node": "Criar novo ticket (interrupcao encaminhamento)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-05T20:14:29.082Z",
  "id": "NuGzW1eYp2vMR1ax",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[MauticxZendesk] Formularios de Conclusão e Interrupção",
  "nodes": [
    {
      "parameters": {},
      "id": "0c049128-36fb-4de0-8dbb-af7e9903304e",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -320,
        592
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=mda-form-conclusao",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -384,
        800
      ],
      "webhookId": "a3fe4491-fda9-4537-ac2e-6d3ba4d9a86c",
      "id": "aa78d743-4636-49a9-b0d0-597cd3ed0b3e"
    },
    {
      "parameters": {
        "value1": "={{$node[\"Item Lists\"].json[\"submission\"][\"form\"][\"id\"]}}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": 29
            },
            {
              "operation": "equal",
              "value2": 30,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 32,
              "output": 2
            },
            {
              "operation": "equal",
              "value2": 31,
              "output": 3
            }
          ]
        }
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        80,
        800
      ],
      "id": "1ebf085b-51c0-4fa7-a432-3cd89b30c2c6"
    },
    {
      "parameters": {
        "fieldToSplitOut": "[\"body\"][\"mautic.form_on_submit\"]",
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -160,
        800
      ],
      "id": "8570c639-f88b-4f02-82e3-c7567978e104"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://api-graphql.bonde.org/v1/graphql",
        "requestFormat": "json",
        "query": "=mutation MyMutation($answers: json) {\ninsert_mda_forms_answers(objects: {answers: $answers, form: \"conclusao-psicologico\", msr_name: \"{{$node[\"Formata - Conclusão Psicológico\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\", ticket_id: {{$node[\"Criar novo ticket (conclusao psicologico)\"].json[\"ticket\"][\"id\"]}}, volunteer_email: \"{{$node[\"Formata - Conclusão Psicológico\"].json[\"answers\"][\"dados_voluntaria\"][\"email_cadastro\"]}}\",organization_id:360282119532, form_id:{{$node[\"Webhook\"].json[\"body\"][\"mautic.form_on_submit\"][0][\"submission\"][\"form\"][\"id\"]}}\n}) {\naffected_rows\n}\n}",
        "variables": "={\n\"answers\": {{$node[\"Formata - Conclusão Psicológico\"].json[\"answers_txt\"]}}\n}"
      },
      "name": "Salvar Respostas",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        1024,
        672
      ],
      "id": "84730c65-8595-45db-8f49-c05afb138f5f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nhq3GDSBeWJ5XE1l",
          "name": "[PROD] BONDE api-graphql"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://api-graphql.bonde.org/v1/graphql",
        "requestFormat": "json",
        "query": "=mutation MyMutation($answers: json) {\ninsert_mda_forms_answers(objects: {answers: $answers, form: \"conclusao-juridico\", msr_name: \"{{$node[\"Formata - Conclusão Jurídico\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\", ticket_id: {{$node[\"Criar novo ticket (conclusao juridico)\"].json[\"ticket\"][\"id\"]}}, volunteer_email: \"{{$node[\"Formata - Conclusão Jurídico\"].json[\"answers\"][\"dados_voluntaria\"][\"email_cadastro\"]}}\",organization_id:360269610652, form_id:{{$node[\"Webhook\"].json[\"body\"][\"mautic.form_on_submit\"][0][\"submission\"][\"form\"][\"id\"]}}\n}) {\naffected_rows\n}\n}",
        "variables": "={\n\"answers\":{{$node[\"Formata - Conclusão Jurídico\"].json[\"answers_txt\"]}}\n}"
      },
      "name": "Salvar Respostas2",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        1088,
        368
      ],
      "id": "f35e5ba0-7651-4282-81c6-a2df3de317d5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nhq3GDSBeWJ5XE1l",
          "name": "[PROD] BONDE api-graphql"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let risco = 'nenhum';\nlet priority = 'low';\nfor (item of items) {\n\n  const results =  item.json.submission.results; \n\n\tlet dados_voluntaria = {\n\t\tnome:\tresults[\"1_nome_completo\"], //\"Teste 2022\",\n\t\temail_cadastro: results[\"2_email_de_cadastro\"] //\"teste@teste.br\",\n\t}\n\t\n\tlet dados_acolhida = {\n\t\tnome: results[\"3_nome_da_acolhida\"] //\"Acholhida teste\",\n\t}\n\t\n\tlet atendimento = {\n\t\tdata_encerramento: results[\"4_data_de_encerramento_do\"], //11/11/2022\n\t\tatraves_do_atendimento: results[\"5_atraves_do_atendimento\"],\n\t\tprocessos_acolhida: results[\"7_caso_se_aplique_existem\"],\n\t\tstatus_processo: results[\"61_selecione_o_status_dos\"],\n\t\tdescricao_processo_juridico: results[\"7_descreva_sucintamente_o\"]\n\t}\n\n\tlet experiencia_voluntaria = {\n\t\tdescricao_experiencia: results[\"8_se_desejar_descreva_sua\"],\n\t\taprendizagens: results[\"9_quais_aprendizagens_est\"],\n\t\tdesafios: results[\"10_e_quais_os_desafios\"],\n\t\tsolicitou_ajuda_mapa: results[\"11_voce_solicitou_ajuda_d\"],\n\t\tse_sentiu_orientada_mapa: results[\"111_sentiuse_orientada\"],\n\t\tse_sentiu_acolhida_mapa: results[\"112_sentiuse_acolhida_pel\"],\n\t\tsolicitou_ajuda_voluntaria: results[\"12_voce_solicitou_ajuda_d\"],\n\t\tse_sentiu_orientada_volutaria: results[\"121_sentiuse_orientada\"],\n\t\tse_sentiu_acolhida_volutaria: results[\"122_sentiuse_acolhida_pel\"]\n\t}\n\n\tlet melhorias = {\n\t\tmelhorias: results[\"13_se_desejar_deixe_suges1\"]\n\t}\n\n\n\tlet answers = {dados_voluntaria, dados_acolhida, atendimento, experiencia_voluntaria, melhorias, risco}\n\tconst user_id = item.json[\"submission\"][\"lead\"][\"fields\"][\"core\"][\"user_id\"][\"value\"]\n\t\n\tlet data = new Date(atendimento.data_encerramento)\n  let body_ticket = 'RISCO: ' + risco.toUpperCase() + '\\\\n\\\\nDADOS DA VOLUNTÁRIA\\\\nNome: ' + dados_voluntaria.nome + '\\\\nEmail: ' + dados_voluntaria.email_cadastro +\n\t'\\\\n\\\\nDADOS DA ACOLHIDA\\\\nNome: ' + dados_acolhida.nome + \n\t//atendimento\n\n\t'\\\\n\\\\nSOBRE O ATENDIMENTO\\\\nData de encerramento: ' + ((data.getDate() )) + \"/\" + ((data.getMonth() + 1)) + \"/\" + data.getFullYear() +\n\t'\\\\nAtravés do atendimento, a acolhida: ' + atendimento.atraves_do_atendimento +\n\t(atendimento.processos_acolhida ? '\\\\nA voluntária atuou em algum processo: ' + atendimento.processos_acolhida : '') +\n\t(atendimento.status_processo ? '\\\\nStatus do processo: ' + atendimento.status_processo : '') +\n\t'\\\\nDescrição do desfecho do processo: ' + atendimento.descricao_processo_juridico +\n\t//experiência como voluntária\n\t'\\\\n\\\\nEXPERIÊNCIA COMO VOLUNTÁRIA' +\n\t//TODO\n\t(experiencia_voluntaria.descricao_experiencia ? '\\\\nDescrição da experiência como voluntária: ' + experiencia_voluntaria.descricao_experiencia : '') +\n\t'\\\\nAprendizagens: ' + experiencia_voluntaria.aprendizagens +\n\t'\\\\nDesafios: ' + experiencia_voluntaria.desafios +\n\t'\\\\nSolicitou ajuda da equipe do mapa: ' + experiencia_voluntaria.solicitou_ajuda_mapa +\n\t(experiencia_voluntaria.solicitou_ajuda_mapa === 'Sim'?\n\t\t(experiencia_voluntaria.se_sentiu_orientada_mapa ? '\\\\nSe sentiu orientada pela equipe: ' + experiencia_voluntaria.se_sentiu_orientada_mapa : '') +\n\t(experiencia_voluntaria.se_sentiu_acolhida_mapa ? '\\\\nSe sentiu acolhida pela equipe: ' + experiencia_voluntaria.se_sentiu_acolhida_mapa : '') : ''\t\n\t) +\n\t'\\\\nSolicitou ajuda de uma colega voluntária: ' + experiencia_voluntaria.solicitou_ajuda_voluntaria +\n\t(experiencia_voluntaria.solicitou_ajuda_voluntaria === 'Sim' ?\n\t\t(experiencia_voluntaria.se_sentiu_orientada_volutaria ? '\\\\nSe sentiu orientada pela voluntária: ' + experiencia_voluntaria.se_sentiu_orientada_volutaria : '') +\n\t(experiencia_voluntaria.se_sentiu_acolhida_volutaria ? '\\\\nSe sentiu acolhida pela voluntária: ' + experiencia_voluntaria.se_sentiu_acolhida_volutaria : '') : ''\n\t) +\n\t'\\\\n\\\\nMELHORIAS' +\n\t(melhorias.melhorias ? '\\\\nMelhorias: ' + melhorias.melhorias : '')\n\n\tlet answers_txt = JSON.stringify(answers).replaceAll('Sim',true).replaceAll('Não',false)\n\tanswers_txt = answers_txt.replaceAll('false quis informar','Não quis informar').replaceAll('\"true\"', 'true').replaceAll('\"false\"', 'false')\n\titem.json= {\n\t\t\t\t\t\t\tpriority,\n\t\t\t\t\t\t\tuser_id,\n              answers,\n\t\t\t\t\t\t\tbody_ticket,\t\n\t\t\t\t\t\t\tanswers_txt\t\t\t\t\t\n\t\t\t\t\t\t}\n\t\n}\n\nreturn items; "
      },
      "name": "Formata - Conclusão Jurídico",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        464,
        464
      ],
      "id": "295840e3-6fbd-48c1-843b-4b1fb0cec851"
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nlet risco = 'nenhum';\nlet priority = 'low';\nfor (item of items) {\n\n  const results =  item.json.submission.results; \n  dados_voluntaria = {\n\t\tnome: results[\"1_nome_completo\"],\n\t\temail_cadastro: results[\"2_email_de_cadastro\"]\n\t}\n\tlet dados_acolhida = {\n\t\tnome: results[\"3_nome_da_acolhida\"],\n\t}\n\n\tlet sobre_o_atendimento = {\n\t\tdata_do_encerramento: results[\"4_data_de_encerramento_do\"],\n\t\tseguirao_em_atendimento: results[\"5_voce_e_a_acolhida_segui\"],\n\t\tatraves_do_atendimento: results['5_atraves_do_atendimento'],\n\t\timpactos_sofrendo_acolhida_moderado: results[\"7_quais_impactos_a_acolhi\"],\n\t\timpactos_sofrendo_acolhida_grave: results[\"8_quais_impactos_a_acolhi\"],\n\t\timpactos_superados: results[\"9_quais_impactos_em_decor\"],\n\t\tdesfecho_psicoterapia: results[\"10_descreva_sucintamente\"]\n\t}\n\n\tlet experiencia_voluntaria = {\n\t\texperiencia_psicologa: results[\"11_se_desejar_descreva_su\"], \n\t\taprendizagens: results[\"12_quais_aprendizagens_es\"],\n\t\tdesafios: results[\"13_e_os_desafios\"],\n\t\tsolicitou_ajuda_mapa: results[\"14_voce_solicitou_ajuda_d\"],\n\t\tse_sentiu_orientada_mapa: results[\"141_sentiuse_orientada\"],\n\t\tse_sentiu_acolhida_mapa: results[\"142_sentiuse_acolhida_pel\"],\n\t\tsolicitou_ajuda_voluntaria: results[\"15_voce_solicitou_ajuda_d\"],\n\t\tse_sentiu_orientada_voluntaria: results[\"151_sentiuse_orientada\"],\n\t\tse_sentiu_acolhida_voluntaria: results[\"152_sentiuse_acolhida_pel\"]\n\t}\n\t\n\tlet melhorias = {\n\t\tmelhorias: results[\"16_se_desejar_deixe_suges\"],\n\t}\t\n\n\tif(sobre_o_atendimento.impactos_sofrendo_acolhida_moderado !== 'A acolhida não está sofrendo nenhum dos impactos citados acima') {\n\t\tpriority = 'normal'\n\t\trisco = 'moderado'\n\t}\n\n\tif(sobre_o_atendimento.impactos_sofrendo_acolhida_grave !== 'A acolhida não está sofrendo nenhum dos impactos citados acima') {\n\t\tpriority = 'high'\n\t\trisco = 'grave'\t\n\t}\n\n\tlet answers = {dados_voluntaria, dados_acolhida, sobre_o_atendimento, experiencia_voluntaria, melhorias, risco: risco}\n\tconst user_id = item.json[\"submission\"][\"lead\"][\"fields\"][\"core\"][\"user_id\"][\"value\"] \n\n\tlet data = new Date(sobre_o_atendimento.data_do_encerramento)\n  let body_ticket = 'RISCO: ' + risco.toUpperCase() + '\\\\n\\\\nDADOS DA VOLUNTÁRIA:\\\\nNome: ' + dados_voluntaria.nome +'\\\\nEmail: ' + dados_voluntaria.email_cadastro +\n\t'\\\\n\\\\nDADOS DA ACOLHIDA\\\\nNome:' + dados_acolhida.nome + \n\n\t'\\\\n\\\\nSOBRE O ATENDIMENTO\\\\nData de encerramento do atendimento: ' +  ((data.getDate() )) + \"/\" + ((data.getMonth() + 1)) + \"/\" + data.getFullYear() +\n\t'\\\\nVoluntária e acolhida seguirão em atendimento: ' + sobre_o_atendimento.seguirao_em_atendimento +\n\t'\\\\nAtravés do atendimento, resultados da acolhida: ' + sobre_o_atendimento.atraves_do_atendimento +\n\t'\\\\nImpactos moderados que a acolhida ainda está sofrendo: ' + sobre_o_atendimento.impactos_sofrendo_acolhida_moderado +\n\t'\\\\nImpactos graves que a acolhida ainda está sofrendo: ' + sobre_o_atendimento.impactos_sofrendo_acolhida_grave +\n\t'\\\\nImpactos superados: ' + sobre_o_atendimento.impactos_superados +\n\t'\\\\nDesfecho do processo psicoterapêutico: ' + sobre_o_atendimento.desfecho_psicoterapia\n     +\n\t'\\\\n\\\\nSOBRE A EXPERIÊNCIA DA VOLUNTÁRIA' +\n\t(experiencia_voluntaria.experiencia_psicologa ? '\\\\nDescrição da experiência: ' + experiencia_voluntaria.experiencia_psicologa : '') +\n\t'\\\\nAprendizagens da psicóloga: ' + experiencia_voluntaria.aprendizagens +\n\t'\\\\nDesafios da psicóloga: ' + experiencia_voluntaria.desafios +\n\t'\\\\nSolicitou ajuda do mapa: ' + experiencia_voluntaria.solicitou_ajuda_mapa + \n\t(experiencia_voluntaria.solicitou_ajuda_mapa === 'Sim' ? \n\t'\\\\nSentiu-se orientada: ' + experiencia_voluntaria.se_sentiu_orientada_mapa +\n\t'\\\\nSentiu-se acolhida: ' + experiencia_voluntaria.se_sentiu_acolhida_mapa : ''\n\t) +\n\t'\\\\nSolicitou ajuda voluntária: ' + experiencia_voluntaria.solicitou_ajuda_voluntaria +\n\t(experiencia_voluntaria.solicitou_ajuda_voluntaria === 'Sim' ?\n\t'\\\\nSentiu-se orientada: ' + experiencia_voluntaria.se_sentiu_orientada_voluntaria +\n\t'\\\\nSentiu-se acolhida: ' + experiencia_voluntaria.se_sentiu_acolhida_voluntaria : ''\n\t) +\n\n\t(melhorias.melhorias ? '\\\\n\\\\nMELHORIAS E SUGESTÕES\\\\nSugestões de melhorias: ' + melhorias.melhorias : '')\n\n\tlet answers_txt = JSON.stringify(answers).replaceAll('Sim',true).replaceAll('Não',false)\n\tanswers_txt = answers_txt.replaceAll('\"true\"', 'true').replaceAll('\"false\"', 'false')\n\titem.json= {\n\t\t\t\t\t\t\tpriority,\n\t\t\t\t\t\t\tuser_id,\n              answers,\n\t\t\t\t\t\t\tbody_ticket,\t\n\t\t\t\t\t\t\tanswers_txt\t\t\t\t\t\n\t\t\t\t\t\t}\n\titem.json.answers.risco =item.json.answers.risco.toUpperCase();\n}\n\nreturn items[items.length - 1]; "
      },
      "name": "Formata - Conclusão Psicológico",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        448,
        704
      ],
      "id": "1acd0ba4-e376-4cdc-9dc0-8def6617bb09"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://mapadoacolhimento.zendesk.com/api/v2/tickets",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={ \n\t\"ticket\":{\n \t\t\"requester_id\":{{ $json.zendesk_user_id }},\n \t\t\"organization_id\": 360269610652,\n \t\t\"description\": \"Importado via N8N\",\n        \"tags\": [\"conclusao\"], \n \t\t\"status\": \"new\",\n   \t\t\"priority\": \"{{$node[\"Formata - Conclusão Jurídico\"].json[\"priority\"]}}\",\n \t\t\"subject\": \"[Conclusão] {{$node[\"Formata - Conclusão Jurídico\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\",\n \t\t\"comment\": {\n \t\t\t\t\"body\": \"{{$node[\"Formata - Conclusão Jurídico\"].json[\"body_ticket\"]}}\",\n \t\t\t\"public\": false\n \t\t}\n\t}\n}"
      },
      "name": "Criar novo ticket (conclusao juridico)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        832,
        464
      ],
      "id": "8564933e-93ac-478c-a0b9-1f2abb782698",
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://mapadoacolhimento.zendesk.com/api/v2/tickets",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={ \n\t\"ticket\":{\n \t\t\"requester_id\":{{ $json.zendesk_user_id }},\n \t\t\"organization_id\": 360282119532,\n \t\t\"description\": \"Importado via N8N\",\n        \"tags\": [\"conclusao\"], \n \t\t\"status\": \"new\",\n   \t\t\"priority\": \"{{$node[\"Formata - Conclusão Psicológico\"].json[\"priority\"]}}\",\n \t\t\"subject\": \"[Conclusão] {{$node[\"Formata - Conclusão Psicológico\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\",\n \t\t\"comment\": {\n \t\t\t\t\"body\": \"{{$node[\"Formata - Conclusão Psicológico\"].json[\"body_ticket\"]}}\",\n \t\t\t\"public\": false\n \t\t}\n\t}\n}"
      },
      "name": "Criar novo ticket (conclusao psicologico)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        800,
        704
      ],
      "id": "811cceb1-a1a0-4091-9dac-fb923a06b60c",
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let risco = 'nenhum';\nlet priority = 'low';\nfor (item of items) {\n\n  const results =  item.json.submission.results; \n\n\tlet dados_voluntaria = {\n\t\tnome:\tresults[\"1_seu_nome_completo\"], //\"Teste 2022\",\n\t\temail_cadastro: results[\"2_seu_email_de_cadastro\"] //\"teste@teste.br\",\n\t}\n\t\n\tlet dados_acolhida = {\n\t\tnome: results[\"3_nome_da_acolhida\"] //\"Acholhida teste\",\n\t}\n\t\n\tlet atendimento = {\n\t\tdata_inicio_atendimento: results[\"4_data_de_inicio_do_atend\"],\n\t\tdata_encerramento: results[\"5_data_de_interrupcao_do\"], //11/11/2022\n\t\tdemanda_atendimento: results[\"6_qual_a_demanda_da_acolh\"],\n\t\tmotivo_interrupcao: results[\"7_qual_o_motivo_da_interr\"],\n\t\tprofissionais_reencaminhamento: results[\"8_caso_o_motivo_da_interr\"],\n\t\tequipes_servico_publico: results[\"9_caso_o_motivo_da_interr\"],\n\t\tatendimento_fora_do_projeto: results[\"10_voce_e_a_acolhida_segu\"]\n\t}\n\n\t\tlet disponibilidade = {\n\t\tcontinuara_disponivel: results[\"11_voce_continuara_dispon\"],\n\t\tvoce_deseja: results[\"111_voce_deseja\"],\n\t\tcategoria_suspensao_cadastro: results[\"112_caso_deseje_suspender\"]\n\t}\n\n\tlet experiencia_voluntaria = {\t\n\t\tsolicitou_ajuda_mapa: results[\"12_voce_solicitou_ajuda_d\"],\n\t\tse_sentiu_orientada: results[\"121_sentiuse_orientada\"],\n\t\tse_sentiu_acolhida: results[\"122_sentiuse_acolhida_pel\"],\n\t\taprendizagens: results[\"13_quais_aprendizagens_es\"],\n\t\tdesafios: results[\"14_quais_desafios_voce_en\"],\n\t\tdescricao_experiencia: results[\"15_se_desejar_descreva_su\"]\n\t}\n\n\n\tlet answers = {dados_voluntaria, dados_acolhida, atendimento, disponibilidade, experiencia_voluntaria, risco}\n\tconst user_id = item.json[\"submission\"][\"lead\"][\"fields\"][\"core\"][\"user_id\"][\"value\"]\n\tconst organization_id = item.json[\"submission\"][\"lead\"][\"fields\"][\"core\"][\"organization_id\"][\"value\"]\n\tlet data_inicio = new Date(atendimento.data_inicio_atendimento)\n\tlet data_encerramento = new Date(atendimento.data_encerramento)\n\n  let body_ticket = 'RISCO: ' + risco.toUpperCase() + '\\\\n\\\\nDADOS DA VOLUNTÁRIA\\\\nNome: ' + dados_voluntaria.nome + '\\\\nEmail: ' + dados_voluntaria.email_cadastro +\n\t'\\\\n\\\\nDADOS DA ACOLHIDA\\\\nNome: ' + dados_acolhida.nome + \n\t//atendimento\n\t'\\\\n\\\\nSOBRE O ATENDIMENTO\\\\nData do início: ' + ((data_inicio.getDate() )) + \"/\" + ((data_inicio.getMonth() + 1)) + \"/\" + data_inicio.getFullYear() +\n\t'\\\\nData do encerramento: ' + ((data_encerramento.getDate() )) + \"/\" + ((data_encerramento.getMonth() + 1)) + \"/\" + data_encerramento.getFullYear() +\n\t'\\\\nDemanda da acolhida: ' + atendimento.demanda_atendimento +\n\t'\\\\nMotivo da interrupção: ' + atendimento.motivo_interrupcao +\n\t(atendimento.profissionais_reencaminhamento ? '\\\\nÁrea de profissionais para reencaminhamento da acolhida: ' + atendimento.profissionais_reencaminhamento : '') +\n\t(atendimento.equipes_servico_publico ? '\\\\nServiços públicos para reencaminhamento da acolhida: ' + atendimento.equipes_servico_publico : '') +\n\t'\\\\nVoluntária e acolhida seguirão em atendimento fora do projeto: ' + atendimento.atendimento_fora_do_projeto +\n\n\t//Disponibilidade\n\t'\\\\n\\\\nSOBRE A DISPONIBILIDADE\\\\nVoluntária continuará disponível: ' + disponibilidade.continuara_disponivel +\n\t(disponibilidade.continuara_disponivel === 'Não' ?\n\t(disponibilidade.voce_deseja ? '\\\\nVocê deseja: ' + disponibilidade.voce_deseja : '') +\n\t(disponibilidade.categoria_suspensao_cadastro ? '\\\\nCategoria da suspensão: ' + disponibilidade.categoria_suspensao_cadastro : '')\n\t: '')\t+\n\n\t//Experiência como voluntária\n\t'\\\\n\\\\nEXPERIÊNCIA COMO VOLUNTÁRIA\\\\nSolicitou ajuda da equipe do mapa: ' + experiencia_voluntaria.solicitou_ajuda_mapa +\n\t(experiencia_voluntaria.solicitou_ajuda_mapa === 'Sim'?\n\t(experiencia_voluntaria.se_sentiu_orientada ? '\\\\nSentiu-se orientada: ' + experiencia_voluntaria.se_sentiu_orientada : '')+\n\t(experiencia_voluntaria.se_sentiu_acolhida ? '\\\\nSentiu-se acolhida: ' + experiencia_voluntaria.se_sentiu_acolhida : '')\n\t: '') +\n\t'\\\\nAprendizagens do atendimento: ' + experiencia_voluntaria.aprendizagens +\n\t'\\\\nDesafios do atendimento: ' + experiencia_voluntaria.desafios +\n\t(experiencia_voluntaria.descricao_experiencia ? '\\\\nDescrição da experiência como voluntária: ' + experiencia_voluntaria.descricao_experiencia : '')\t\n\n\tlet answers_txt = JSON.stringify(answers).replaceAll('Sim',true).replaceAll('Não',false)\n\tanswers_txt = answers_txt.replaceAll('false quis informar','Não quis informar').replaceAll('\"true\"', 'true').replaceAll('\"false\"', 'false')\n\titem.json= {\n\t\t\t\t\t\t\tpriority,\n\t\t\t\t\t\t\tuser_id,\n\t\t\t\t\t\t\torganization_id,\n              answers,\n\t\t\t\t\t\t\tbody_ticket,\t\n\t\t\t\t\t\t\tanswers_txt\t\t\t\t\t\n\t\t\t\t\t\t}\n\t\n}\n\nreturn items; "
      },
      "name": "Formata - Interrupção Atendimento",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        448,
        944
      ],
      "id": "0e7b8d8b-6848-49e4-8b24-09e93ab1c99e"
    },
    {
      "parameters": {
        "functionCode": "let risco = 'nenhum';\nlet priority = 'low';\nfor (item of items) {\n\n  const results =  item.json.submission.results; \n\n\tlet dados_voluntaria = {\n\t\tnome:\tresults[\"1_nome_completo\"], //\"Teste 2022\",\n\t\temail_cadastro: results[\"2_email_de_cadastro\"] //\"teste@teste.br\",\n\t}\n\t\n\tlet dados_acolhida = {\n\t\tnome: results[\"3_nome_da_acolhida\"] //\"Acholhida teste\",\n\t}\n\t\n\tlet encaminhamento = {\n\t\tacolhida_estabeleceu_contato: results[\"4_a_acolhida_chegou_a_est\"],\n\t\tdata_primeiro_contato: results[\"41_qual_foi_a_data_do_pri\"],\n\t\tteve_conhecimento_demanda: results[\"5_voce_teve_conhecimento\"],\n\t\tdemanda: results[\"51_qual_a_demanda_da_acol\"],\n\t\tdata_interrupcao: results[\"6_data_da_interrupcao_do\"], //11/11/2022\n\t\tmotivo_interrupcao: results[\"7_qual_o_motivo_da_interr\"],\n\t\tprofissionais_reencaminhamento: results[\"8_caso_a_area_de_atuacao\"],\n\t\tequipes_servico_publico: results[\"9_caso_o_motivo_da_interr\"],\n\t}\n\n\t\tlet disponibilidade = {\n\t\tcontinuara_disponivel: results[\"10_voce_continuara_dispon\"],\n\t\tvoce_deseja: results[\"101_voce_deseja\"],\n\t\tcategoria_suspensao_cadastro: results[\"11_caso_deseje_suspender\"]\n\t}\n\n\tlet answers = {dados_voluntaria, dados_acolhida, encaminhamento, disponibilidade, risco}\n\tconst user_id = item.json[\"submission\"][\"lead\"][\"fields\"][\"core\"][\"user_id\"][\"value\"]\n\tconst organization_id = item.json[\"submission\"][\"lead\"][\"fields\"][\"core\"][\"organization_id\"][\"value\"]\n\tlet data_contato = new Date(encaminhamento.data_primeiro_contato)\n\tlet data_interrupcao = new Date(encaminhamento.data_interrupcao)\n\n  let body_ticket = 'RISCO: ' + risco.toUpperCase() + '\\\\n\\\\nDADOS DA VOLUNTÁRIA\\\\nNome: ' + dados_voluntaria.nome + '\\\\nEmail: ' + dados_voluntaria.email_cadastro +\n\t'\\\\n\\\\nDADOS DA ACOLHIDA\\\\nNome: ' + dados_acolhida.nome + \n\t//atendimento\n\t'\\\\n\\\\nSOBRE O ENCAMINHAMENTO\\\\nAcolhida estabeleu contato: ' + encaminhamento.acolhida_estabeleceu_contato +\n\t(encaminhamento.acolhida_estabeleceu_contato === 'Sim' ?\n\t(encaminhamento.data_primeiro_contato ? '\\\\nData do primeiro contato: ' + ((data_contato.getDate() )) + \"/\" + ((data_contato.getMonth() + 1)) + \"/\" + data_contato.getFullYear()  : '')\n\t: '')\t+\n\t'\\\\nTeve conhecimento da demanda da acolhida: ' + encaminhamento.teve_conhecimento_demanda +\n\t(encaminhamento.teve_conhecimento_demanda === 'Sim'?\n\t(encaminhamento.demanda ? '\\\\nDemanda da acolhida: ' + encaminhamento.demanda : '')\n\t: '') +\t\n\t'\\\\nData de interrupção: ' + \t((data_interrupcao.getDate() )) + \"/\" + ((data_interrupcao.getMonth() + 1)) + \"/\" + data_interrupcao.getFullYear() +\t\n\t'\\\\nMotivo da interrupção: ' + encaminhamento.motivo_interrupcao +\n\t(encaminhamento.profissionais_reencaminhamento ? '\\\\nÁrea de profissionais para reencaminhamento da acolhida: ' + encaminhamento.profissionais_reencaminhamento : '') +\n\t(encaminhamento.equipes_servico_publico ? \t'\\\\nServiços públicos para reencaminhamento da acolhida: ' + encaminhamento.equipes_servico_publico : '') +\n\n\t//Disponibilidade\n\t'\\\\n\\\\nSOBRE A DISPONIBILIDADE\\\\nVoluntária continuará disponível: ' + disponibilidade.continuara_disponivel +\n\t(disponibilidade.continuara_disponivel === 'Não' ?\n\t(disponibilidade.voce_deseja ? '\\\\nVocê deseja: ' + disponibilidade.voce_deseja : '') \n\t: '')\t+\n\t(disponibilidade.categoria_suspensao_cadastro ? '\\\\nCategoria da suspensão: ' + disponibilidade.categoria_suspensao_cadastro : '')\n\n\tlet answers_txt = JSON.stringify(answers).replaceAll('Sim',true).replaceAll('Não',false)\n\tanswers_txt = answers_txt.replaceAll('\"true\"', 'true').replaceAll('\"false\"', 'false')\n\titem.json= {\n\t\t\t\t\t\t\tpriority,\n\t\t\t\t\t\t\tuser_id,\n\t\t\t\t\t\t\torganization_id,\n              answers,\n\t\t\t\t\t\t\tbody_ticket,\t\n\t\t\t\t\t\t\tanswers_txt\t\t\t\t\t\n\t\t\t\t\t\t}\n\t\n}\n\nreturn items; "
      },
      "name": "Formata - Interrupção Encaminhamento",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        272,
        1184
      ],
      "id": "e6a6cddd-afd8-4a32-add5-1824359c352a"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://mapadoacolhimento.zendesk.com/api/v2/tickets",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={ \n\t\"ticket\":{\n \t\t\"requester_id\":{{ $json.zendesk_user_id }},\n \t\t\"organization_id\": {{ $json.organization_id }},\n \t\t\"description\": \"Importado via N8N\",\n        \"tags\": [\"encaminhamento-interrupção\"], \n \t\t\"status\": \"new\",\n   \t\t\"priority\": \"{{$node[\"Formata - Interrupção Encaminhamento\"].json[\"priority\"]}}\",\n \t\t\"subject\": \"[Enc. Interrupção] {{$node[\"Formata - Interrupção Encaminhamento\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\",\n \t\t\"comment\": {\n \t\t\t\t\"body\": \"{{$node[\"Formata - Interrupção Encaminhamento\"].json[\"body_ticket\"]}}\",\n \t\t\t\"public\": false\n \t\t}\n\t}\n}"
      },
      "name": "Criar novo ticket (interrupcao encaminhamento)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        768,
        1184
      ],
      "id": "f516d6f9-8f0c-499c-908b-bb968dc2aaaa",
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://mapadoacolhimento.zendesk.com/api/v2/tickets",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={\n\"ticket\":{\n\"requester_id\":{{ $json.zendesk_user_id }},\n\"organization_id\": {{ $json.organization_id }},\n\"description\": \"Importado via N8N\",\n\"tags\": [\"atendimento-interrupção\"],\n\"status\": \"new\",\n\"priority\": \"{{$node[\"Formata - Interrupção Atendimento\"].json[\"priority\"]}}\",\n\"subject\": \"[Atend. Interrupção] {{$node[\"Formata - Interrupção Atendimento\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\",\n\"comment\": {\n\"body\": \"{{$node[\"Formata - Interrupção Atendimento\"].json[\"body_ticket\"]}}\",\n\"public\": false\n}\n}\n}"
      },
      "name": "Criar novo ticket (interrupcao atendimento)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        848,
        944
      ],
      "id": "c3f86fea-d62b-4490-aaf7-052981bc78f7",
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://api-graphql.bonde.org/v1/graphql",
        "requestFormat": "json",
        "query": "=mutation MyMutation($answers: json) {\ninsert_mda_forms_answers(objects: {answers: $answers, form: \"interrupcao-encaminhamento\", msr_name: \"{{$node[\"Formata - Interrupção Encaminhamento\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\", ticket_id: {{$node[\"Criar novo ticket (interrupcao encaminhamento)\"].json[\"ticket\"][\"id\"]}}, volunteer_email: \"{{$node[\"Formata - Interrupção Encaminhamento\"].json[\"answers\"][\"dados_voluntaria\"][\"email_cadastro\"]}}\",organization_id:{{ $('Busca Zendesk User ID3').item.json[\"organization_id\"] }}, form_id:{{$node[\"Webhook\"].json[\"body\"][\"mautic.form_on_submit\"][0][\"submission\"][\"form\"][\"id\"]}}\n}) {\naffected_rows\n}\n}",
        "variables": "={\n\"answers\": {{$node[\"Formata - Interrupção Encaminhamento\"].json[\"answers_txt\"]}}\n}"
      },
      "name": "Salvar Respostas1",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        992,
        1184
      ],
      "id": "2ce1240b-c924-465f-8c10-d735f4578ee1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nhq3GDSBeWJ5XE1l",
          "name": "[PROD] BONDE api-graphql"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://api-graphql.bonde.org/v1/graphql",
        "requestFormat": "json",
        "query": "=mutation MyMutation($answers: json) {\ninsert_mda_forms_answers(objects: {answers: $answers, form: \"interrupcao-atendimento\", msr_name: \"{{$node[\"Formata - Interrupção Atendimento\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\", ticket_id: {{$node[\"Criar novo ticket (interrupcao atendimento)\"].json[\"ticket\"][\"id\"]}}, volunteer_email: \"{{$node[\"Formata - Interrupção Atendimento\"].json[\"answers\"][\"dados_voluntaria\"][\"email_cadastro\"]}}\",organization_id:{{ $('Busca Zendesk User ID2').item.json[\"organization_id\"] }}, form_id:{{$node[\"Webhook\"].json[\"body\"][\"mautic.form_on_submit\"][0][\"submission\"][\"form\"][\"id\"]}}\n}) {\naffected_rows\n}\n}",
        "variables": "={\n\"answers\":{{$node[\"Formata - Interrupção Atendimento\"].json[\"answers_txt\"]}}\n}"
      },
      "name": "Salvar Respostas3",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        1040,
        944
      ],
      "id": "0087fbbe-8d38-437c-9400-18eb7684a68c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nhq3GDSBeWJ5XE1l",
          "name": "[PROD] BONDE api-graphql"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select email,zendesk_user_id from volunteers where email = LOWER('{{ $json.answers.dados_voluntaria.email_cadastro }}')",
        "options": {}
      },
      "id": "0260e208-8522-4815-adea-06212e06b217",
      "name": "Busca Zendesk User ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        640,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select email,zendesk_user_id from volunteers where email = LOWER('{{ $json.answers.dados_voluntaria.email_cadastro }}')",
        "options": {}
      },
      "id": "9587955b-af3d-400f-8b0d-a53a140f85aa",
      "name": "Busca Zendesk User ID1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        640,
        704
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT email,zendesk_user_id, occupation,\nCASE\n    WHEN occupation = 'psychologist' THEN 360282119532\n    ELSE 360269610652 \n  END organization_id\nFROM  volunteers WHERE email = LOWER('{{ $json.answers.dados_voluntaria.email_cadastro }}')",
        "options": {}
      },
      "id": "e9d6845d-6654-4bcc-af2a-4b530295d687",
      "name": "Busca Zendesk User ID2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        640,
        944
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT email,zendesk_user_id, occupation,\nCASE\n    WHEN occupation = 'psychologist' THEN 360282119532\n    ELSE 360269610652 \n  END organization_id\nFROM  volunteers WHERE email = LOWER('{{ $json.answers.dados_voluntaria.email_cadastro }}')",
        "options": {}
      },
      "id": "8bd09853-bd08-4875-8189-4d72d31d24fe",
      "name": "Busca Zendesk User ID3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        528,
        1184
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO legacy_support_assessments.mda_forms_answers\n( form, form_id, created_at, updated_at, organization_id, volunteer_email, msr_name, ticket_id, answers)\nVALUES( 'conclusao-juridico', 29, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 360269610652, '{{$node[\"Formata - Conclusão Jurídico\"].json[\"answers\"][\"dados_voluntaria\"][\"email_cadastro\"]}}', '{{$node[\"Formata - Conclusão Jurídico\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}', {{$node[\"Criar novo ticket (conclusao juridico)\"].json[\"ticket\"][\"id\"]}}, '{{$node[\"Formata - Conclusão Jurídico\"].json[\"answers_txt\"]}}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        528
      ],
      "id": "995d5018-ce3f-4ea1-879a-64d2c3849ced",
      "name": "Insert mda_forms-answers8",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO legacy_support_assessments.mda_forms_answers\n( form, form_id, created_at, updated_at, organization_id, volunteer_email, msr_name, ticket_id, answers)\nVALUES( 'conclusao-psicologico', 30, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 360282119532, '{{$node[\"Formata - Conclusão Psicológico\"].json[\"answers\"][\"dados_voluntaria\"][\"email_cadastro\"]}}', '{{$node[\"Formata - Conclusão Psicológico\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}', {{$node[\"Criar novo ticket (conclusao psicologico)\"].json[\"ticket\"][\"id\"]}}, '{{$node[\"Formata - Conclusão Psicológico\"].json[\"answers_txt\"]}}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1136,
        800
      ],
      "id": "0c7dc6a6-c926-4fdf-8b66-b679fb32300e",
      "name": "Insert mda_forms-answers9",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO legacy_support_assessments.mda_forms_answers\n( form, form_id, created_at, updated_at, organization_id, volunteer_email, msr_name, ticket_id, answers)\nVALUES( 'interrupcao-atendimento', 32, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, {{ $('Busca Zendesk User ID2').item.json[\"organization_id\"] }}, '{{$node[\"Formata - Interrupção Atendimento\"].json[\"answers\"][\"dados_voluntaria\"][\"email_cadastro\"]}}', '{{$node[\"Formata - Interrupção Atendimento\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}', {{$node[\"Criar novo ticket (interrupcao atendimento)\"].json[\"ticket\"][\"id\"]}}, '{{$node[\"Formata - Interrupção Atendimento\"].json[\"answers_txt\"]}}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        1040
      ],
      "id": "97ad6bdf-aee4-4993-9941-5481736da3f6",
      "name": "Insert mda_forms-answers10",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO legacy_support_assessments.mda_forms_answers\n( form, form_id, created_at, updated_at, organization_id, volunteer_email, msr_name, ticket_id, answers)\nVALUES( 'interrupcao-encaminhamento', 31, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, {{ $('Busca Zendesk User ID3').item.json[\"organization_id\"] }}, '{{$node[\"Formata - Interrupção Encaminhamento\"].json[\"answers\"][\"dados_voluntaria\"][\"email_cadastro\"]}}', '{{$node[\"Formata - Interrupção Encaminhamento\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}', {{$node[\"Criar novo ticket (interrupcao encaminhamento)\"].json[\"ticket\"][\"id\"]}}, '{{$node[\"Formata - Interrupção Encaminhamento\"].json[\"answers_txt\"]}}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        1376
      ],
      "id": "19d1b648-0537-44c4-9e08-33561ac93295",
      "name": "Insert mda_forms-answers11",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "mapadoacolhimento.app.n8n.cloud",
            "user-agent": "GuzzleHttp/7",
            "content-length": "10813",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "54.89.113.183",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "98093c9020d3206f-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "webhook-signature": "UjnC6Bs0Cr9dZ3YzN7jNjzeptXzslh/6n8sYeaB+X9s=",
            "x-forwarded-for": "54.89.113.183, 172.71.223.86",
            "x-forwarded-host": "mapadoacolhimento.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-3-6db8488cf7-vdndp",
            "x-is-trusted": "yes",
            "x-origin-base-url": "https://mautic.nossas.org",
            "x-real-ip": "54.89.113.183"
          },
          "params": {},
          "query": {},
          "body": {
            "mautic.form_on_submit": [
              {
                "submission": {
                  "id": 10005,
                  "ipAddress": {
                    "ipAddress": "191.195.8.183",
                    "id": 70402,
                    "ipDetails": {
                      "city": "",
                      "region": "",
                      "zipcode": "",
                      "country": "",
                      "latitude": "",
                      "longitude": "",
                      "isp": "",
                      "organization": "",
                      "timezone": "",
                      "extra": ""
                    }
                  },
                  "form": {
                    "id": 30,
                    "name": "Instrumental de Conclusão dos Atendimentos Psicológicos",
                    "alias": "instrument",
                    "category": null
                  },
                  "lead": {
                    "id": 172639,
                    "points": 0,
                    "color": null,
                    "fields": {
                      "core": {
                        "organization_id": {
                          "id": "61",
                          "label": "Zendesk Organization ID",
                          "alias": "organization_id",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": "360282119532",
                          "normalizedValue": "360282119532"
                        },
                        "firstname": {
                          "id": "2",
                          "label": "First Name",
                          "alias": "firstname",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": "Dev Psi",
                          "normalizedValue": "Dev Psi"
                        },
                        "data_de_inscricao_no_bond1": {
                          "id": "60",
                          "label": "Data de Inscrição no BONDE",
                          "alias": "data_de_inscricao_no_bond1",
                          "type": "date",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": "2024-04-01",
                          "normalizedValue": "2024-04-01"
                        },
                        "lastname": {
                          "id": "3",
                          "label": "Last Name",
                          "alias": "lastname",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "state1": {
                          "id": "58",
                          "label": "Estado",
                          "alias": "state1",
                          "type": "select",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:1:{s:4:\"list\";a:28:{i:0;a:2:{s:5:\"label\";s:2:\"AC\";s:5:\"value\";s:2:\"ac\";}i:1;a:2:{s:5:\"label\";s:2:\"AL\";s:5:\"value\";s:2:\"al\";}i:2;a:2:{s:5:\"label\";s:2:\"AM\";s:5:\"value\";s:2:\"am\";}i:3;a:2:{s:5:\"label\";s:2:\"AP\";s:5:\"value\";s:2:\"ap\";}i:4;a:2:{s:5:\"label\";s:2:\"BA\";s:5:\"value\";s:2:\"ba\";}i:5;a:2:{s:5:\"label\";s:2:\"CE\";s:5:\"value\";s:2:\"ce\";}i:6;a:2:{s:5:\"label\";s:2:\"DF\";s:5:\"value\";s:2:\"df\";}i:7;a:2:{s:5:\"label\";s:2:\"ES\";s:5:\"value\";s:2:\"es\";}i:8;a:2:{s:5:\"label\";s:2:\"GO\";s:5:\"value\";s:2:\"go\";}i:9;a:2:{s:5:\"label\";s:2:\"MA\";s:5:\"value\";s:2:\"ma\";}i:10;a:2:{s:5:\"label\";s:2:\"MG\";s:5:\"value\";s:2:\"mg\";}i:11;a:2:{s:5:\"label\";s:2:\"MS\";s:5:\"value\";s:2:\"ms\";}i:12;a:2:{s:5:\"label\";s:2:\"MT\";s:5:\"value\";s:2:\"mt\";}i:13;a:2:{s:5:\"label\";s:2:\"PA\";s:5:\"value\";s:2:\"pa\";}i:14;a:2:{s:5:\"label\";s:2:\"PB\";s:5:\"value\";s:2:\"pb\";}i:15;a:2:{s:5:\"label\";s:2:\"PE\";s:5:\"value\";s:2:\"pe\";}i:16;a:2:{s:5:\"label\";s:2:\"PI\";s:5:\"value\";s:2:\"pi\";}i:17;a:2:{s:5:\"label\";s:2:\"PR\";s:5:\"value\";s:2:\"pr\";}i:18;a:2:{s:5:\"label\";s:2:\"RJ\";s:5:\"value\";s:2:\"rj\";}i:19;a:2:{s:5:\"label\";s:2:\"RN\";s:5:\"value\";s:2:\"rn\";}i:20;a:2:{s:5:\"label\";s:2:\"RO\";s:5:\"value\";s:2:\"ro\";}i:21;a:2:{s:5:\"label\";s:2:\"RR\";s:5:\"value\";s:2:\"rr\";}i:22;a:2:{s:5:\"label\";s:2:\"RS\";s:5:\"value\";s:2:\"rs\";}i:23;a:2:{s:5:\"label\";s:2:\"SC\";s:5:\"value\";s:2:\"sc\";}i:24;a:2:{s:5:\"label\";s:2:\"SE\";s:5:\"value\";s:2:\"se\";}i:25;a:2:{s:5:\"label\";s:2:\"SP\";s:5:\"value\";s:2:\"sp\";}i:26;a:2:{s:5:\"label\";s:2:\"TO\";s:5:\"value\";s:2:\"to\";}i:27;a:2:{s:5:\"label\";s:3:\"INT\";s:5:\"value\";s:3:\"int\";}}}",
                          "default_value": null,
                          "value": "sp",
                          "normalizedValue": "SP"
                        },
                        "cor": {
                          "id": "59",
                          "label": "Cor",
                          "alias": "cor",
                          "type": "select",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:1:{s:4:\"list\";a:5:{i:0;a:2:{s:5:\"label\";s:5:\"Preta\";s:5:\"value\";s:5:\"preta\";}i:1;a:2:{s:5:\"label\";s:5:\"Parda\";s:5:\"value\";s:5:\"parda\";}i:2;a:2:{s:5:\"label\";s:9:\"Indígena\";s:5:\"value\";s:8:\"indigena\";}i:3;a:2:{s:5:\"label\";s:7:\"Amarela\";s:5:\"value\";s:7:\"amarela\";}i:4;a:2:{s:5:\"label\";s:6:\"Branca\";s:5:\"value\";s:6:\"branca\";}}}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "address": {
                          "id": "57",
                          "label": "Endereço",
                          "alias": "address",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": "Cerqueira César, Brazil",
                          "normalizedValue": "Cerqueira César, Brazil"
                        },
                        "user_id": {
                          "id": "55",
                          "label": "Zendesk User ID",
                          "alias": "user_id",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": "417544904932",
                          "normalizedValue": "417544904932"
                        },
                        "email": {
                          "id": "6",
                          "label": "Email",
                          "alias": "email",
                          "type": "email",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": "dev.psi.mapa@gmail.com",
                          "normalizedValue": "dev.psi.mapa@gmail.com"
                        },
                        "tipo_de_acolhimento": {
                          "id": "50",
                          "label": "Tipo de Acolhimento",
                          "alias": "tipo_de_acolhimento",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "mobile": {
                          "id": "7",
                          "label": "Mobile",
                          "alias": "mobile",
                          "type": "tel",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "phone": {
                          "id": "8",
                          "label": "Phone",
                          "alias": "phone",
                          "type": "tel",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": "(11) 9 1109-1520",
                          "normalizedValue": "(11) 9 1109-1520"
                        },
                        "website": {
                          "id": "22",
                          "label": "Website",
                          "alias": "website",
                          "type": "url",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "whatsapp": {
                          "id": "49",
                          "label": "Whatsapp",
                          "alias": "whatsapp",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": "(11) 9 1109-1520",
                          "normalizedValue": "(11) 9 1109-1520"
                        },
                        "f_condition": {
                          "id": "48",
                          "label": "Status da Mulher",
                          "alias": "f_condition",
                          "type": "select",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:1:{s:4:\"list\";a:16:{i:0;a:2:{s:5:\"label\";s:11:\"Anti-ética\";s:5:\"value\";s:10:\"anti-etica\";}i:1;a:2:{s:5:\"label\";s:8:\"Aprovada\";s:5:\"value\";s:8:\"aprovada\";}i:2;a:2:{s:5:\"label\";s:30:\"Reprovada - Registro inválido\";s:5:\"value\";s:28:\"reprovada_registro_inválido\";}i:3;a:2:{s:5:\"label\";s:30:\"Reprovada - Diretrizes do Mapa\";s:5:\"value\";s:28:\"reprovada_diretrizes_do_mapa\";}i:4;a:2:{s:5:\"label\";s:26:\"Reprovada - Estudo de Caso\";s:5:\"value\";s:24:\"reprovada_estudo_de_caso\";}i:5;a:2:{s:5:\"label\";s:13:\"Descadastrada\";s:5:\"value\";s:13:\"descadastrada\";}i:6;a:2:{s:5:\"label\";s:12:\"Desabilitada\";s:5:\"value\";s:12:\"desabilitada\";}i:7;a:2:{s:5:\"label\";s:25:\"Dados incompletos - Email\";s:5:\"value\";s:23:\"dados_incompletos_email\";}i:8;a:2:{s:5:\"label\";s:28:\"Dados incompletos - Telefone\";s:5:\"value\";s:26:\"dados_incompletos_telefone\";}i:9;a:2:{s:5:\"label\";s:29:\"Dados incompletos - Endereço\";s:5:\"value\";s:27:\"dados_incompletos_endereço\";}i:10;a:2:{s:5:\"label\";s:28:\"Indisponível - Sem Resposta\";s:5:\"value\";s:27:\"indisponível_-sem_resposta\";}i:11;a:2:{s:5:\"label\";s:22:\"Indisponível - Agenda\";s:5:\"value\";s:20:\"indisponível_agenda\";}i:12;a:2:{s:5:\"label\";s:27:\"Indisponível - Maternidade\";s:5:\"value\";s:25:\"indisponível_maternidade\";}i:13;a:2:{s:5:\"label\";s:23:\"Indisponível - Férias\";s:5:\"value\";s:21:\"indisponível_férias\";}i:14;a:2:{s:5:\"label\";s:11:\"Disponível\";s:5:\"value\";s:10:\"disponivel\";}i:15;a:2:{s:5:\"label\";s:12:\"MSR-Inscrita\";s:5:\"value\";s:8:\"inscrita\";}}}",
                          "default_value": "desabilitada",
                          "value": "disponivel",
                          "normalizedValue": "Disponível"
                        },
                        "city": {
                          "id": "13",
                          "label": "City",
                          "alias": "city",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": "São Paulo",
                          "normalizedValue": "São Paulo"
                        },
                        "country": {
                          "id": "16",
                          "label": "Country",
                          "alias": "country",
                          "type": "country",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "last_active": {
                          "id": "19",
                          "label": "Date Last Active",
                          "alias": "last_active",
                          "type": "datetime",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": "2025-09-10 12:23:05",
                          "normalizedValue": "2025-09-10 12:23:05"
                        }
                      },
                      "social": {
                        "facebook": {
                          "id": "23",
                          "label": "Facebook",
                          "alias": "facebook",
                          "type": "text",
                          "group": "social",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "foursquare": {
                          "id": "24",
                          "label": "Foursquare",
                          "alias": "foursquare",
                          "type": "text",
                          "group": "social",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "instagram": {
                          "id": "25",
                          "label": "Instagram",
                          "alias": "instagram",
                          "type": "text",
                          "group": "social",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "linkedin": {
                          "id": "26",
                          "label": "LinkedIn",
                          "alias": "linkedin",
                          "type": "text",
                          "group": "social",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "skype": {
                          "id": "27",
                          "label": "Skype",
                          "alias": "skype",
                          "type": "text",
                          "group": "social",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "twitter": {
                          "id": "28",
                          "label": "Twitter",
                          "alias": "twitter",
                          "type": "text",
                          "group": "social",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        }
                      },
                      "personal": [],
                      "professional": []
                    }
                  },
                  "trackingId": null,
                  "dateSubmitted": "2025-09-17T14:19:04+00:00",
                  "referer": "https://mautic.nossas.org/conclusao-psicologico",
                  "page": null,
                  "results": {
                    "1_nome_completo": "Dev Psi Teste",
                    "2_email_de_cadastro": "dev.psi.mapa@gmail.com",
                    "3_nome_da_acolhida": "Msr Teste",
                    "4_data_de_encerramento_do": "2025-09-05",
                    "5_voce_e_a_acolhida_segui": "Sim",
                    "6_atraves_do_atendimento": "Conseguiu construir sua autonomia, Conseguiu construir sua autonomia financeira",
                    "7_quais_impactos_a_acolhi": "Pesadelos, Falta de concentração",
                    "8_quais_impactos_a_acolhi": "A acolhida não está sofrendo nenhum dos impactos citados acima",
                    "9_quais_impactos_em_decor": "Dependência afetiva e financeira, Uso abusivo de substância psicoativa",
                    "10_descreva_sucintamente": "o desfecho do processo pssicoterapêutico",
                    "11_se_desejar_descreva_su": "descreva sua experiência como psicóloga voluntária &#13;&#10;do Mapa do Acolhimento",
                    "12_quais_aprendizagens_es": "aprendizagens este atendimento te forneceu",
                    "13_e_os_desafios": "os desafios",
                    "14_voce_solicitou_ajuda_d": "Sim",
                    "141_sentiuse_orientada": "Sim",
                    "142_sentiuse_acolhida_pel": "Sim",
                    "15_voce_solicitou_ajuda_d": "Sim",
                    "151_sentiuse_orientada": "Não",
                    "152_sentiuse_acolhida_pel": "Não",
                    "16_se_desejar_deixe_suges": "deixe sugestões de melhorias:"
                  }
                },
                "timestamp": "2025-09-17T14:19:05+00:00"
              }
            ]
          },
          "webhookUrl": "https://mapadoacolhimento.app.n8n.cloud/webhook/mda-form-conclusao",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HYstwqyTrzYsvJ2P"
  },
  "shared": [
    {
      "createdAt": "2024-02-05T20:14:29.084Z",
      "updatedAt": "2024-02-05T20:14:29.084Z",
      "role": "workflow:owner",
      "workflowId": "NuGzW1eYp2vMR1ax",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2026-01-16T23:13:22.000Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-16",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-16T17:41:58.269Z",
      "updatedAt": "2024-01-16T17:41:58.269Z",
      "id": "E3Tnq8M430hgCQfP",
      "name": "Mapa do acolhimento"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-01-12T18:28:27.000Z",
  "versionId": "a5297e7f-b0e9-40bf-8d05-79814f5856c5"
}