[MauticxZendesk]_Formularios_de_acompanhamento
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Formata - Acomp Psicologico 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formata - Acomp Juridico 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formata - Acomp Psicológico 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formata - Acomp Juridico 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar novo ticket (acomp juridico 1)": {
      "main": [
        [
          {
            "node": "Salvar Respostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar novo ticket (acomp psicologico)": {
      "main": [
        [
          {
            "node": "Salvar Respostas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata - Acomp Juridico 1": {
      "main": [
        [
          {
            "node": "Criar novo ticket (acomp juridico 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata - Acomp Psicologico 1": {
      "main": [
        [
          {
            "node": "Criar novo ticket (acomp psicologico)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar novo ticket (acomp juridico 2)": {
      "main": [
        [
          {
            "node": "Salvar Respostas5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata - Acomp Juridico 2": {
      "main": [
        [
          {
            "node": "Criar novo ticket (acomp juridico 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Novo Ticket (Acomp Psic 2)": {
      "main": [
        [
          {
            "node": "Salvar Respostas 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata - Acomp Psicológico 2": {
      "main": [
        [
          {
            "node": "Criar Novo Ticket (Acomp Psic 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-05T20:09:54.143Z",
  "id": "wlZG3ghHkaISWjxc",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[MauticxZendesk] Formularios de acompanhamento",
  "nodes": [
    {
      "parameters": {},
      "id": "fd9d74de-a919-43fd-a6b3-23c728bd01bd",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -40,
        500
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mda-form-acompanhamento",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -280,
        740
      ],
      "webhookId": "bafce6f3-5db2-4b48-bff3-5171c77e4e39",
      "id": "f32c6cd2-0651-4902-a968-72d1ee4224e4"
    },
    {
      "parameters": {
        "value1": "={{$node[\"Item Lists\"].json[\"submission\"][\"form\"][\"id\"]}}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": 26,
              "output": 1
            },
            {
              "operation": "equal",
              "value2": 24
            },
            {
              "operation": "equal",
              "value2": 27,
              "output": 3
            },
            {
              "operation": "equal",
              "value2": 28,
              "output": 2
            }
          ]
        }
      },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        140,
        740
      ],
      "id": "06b08b18-0ed3-45db-a4aa-c973b8a00a5d"
    },
    {
      "parameters": {
        "fieldToSplitOut": "[\"body\"][\"mautic.form_on_submit\"]",
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        -60,
        740
      ],
      "id": "1368164a-20bc-4be5-b5cd-f8bcd8198a0a"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://api-graphql.bonde.org/v1/graphql",
        "requestFormat": "json",
        "query": "=mutation MyMutation($answers: json) {\ninsert_mda_forms_answers(objects: {answers: $answers, form: \"acompanhamento-juridico-1\", msr_name: \"{{$node[\"Formata - Acomp Juridico 1\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\", ticket_id: {{$node[\"Criar novo ticket (acomp juridico 1)\"].json[\"ticket\"][\"id\"]}}, volunteer_email: \"{{$node[\"Formata - Acomp Juridico 1\"].json[\"answers\"][\"dados_voluntaria\"][\"email_cadastro\"]}}\",organization_id:360269610652, form_id:{{$node[\"Webhook\"].json[\"body\"][\"mautic.form_on_submit\"][0][\"submission\"][\"form\"][\"id\"]}}\n}) {\naffected_rows\n}\n}",
        "variables": "={\n\"answers\": {{$node[\"Formata - Acomp Juridico 1\"].json[\"answers_txt\"]}}\n}"
      },
      "name": "Salvar Respostas",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        860,
        700
      ],
      "id": "128901f3-eb49-4aed-aca6-c57a260f4572",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nhq3GDSBeWJ5XE1l",
          "name": "[PROD] BONDE api-graphql"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nlet risco = 'nenhum';\nlet priority = 'low';\nfor (item of items) {\n\n  const results =  item.json.submission.results; \n  dados_voluntaria = {\n\t\tnome: results[\"1_nome_completo\"],\n\t\temail_cadastro: results[\"2_email_de_cadastro\"]\n\t}\n\tlet dados_acolhida = {\n\t\tnome: results[\"3_nome_da_acolhida\"],\n\t}\n\n\tlet contrato = {\n\t\tacolhida_respeita_contrato: results[\"4_a_acolhida_respeita_o_c\"],\n\t\tfrequencia_atendimento_fora_do_horario: results['41_com_qual_frequencia_te'],\n\t\tfrequencia_de_atendimento: results[\"5_quantas_horas_de_atendi\"],\n\t}\n\n\tlet acompanhamento_juridico = {\n\t\tfoi_submetida_novas_violencias: results[\"6_a_acolhida_foi_submetid\"], \n\t\tcomentario_sobre_novas_violencias: results[\"71_caso_queira_comentar_s\"],\n\t\ttipo_atendimento: results[\"8_qual_esta_sendo_o_tipo1\"],\n\t\tquantos_processos: results[\"9__caso_esteja_em_acompan\"],\n\t\trepresentando_civel_familia: results[\"civelfamilia\"],\n\t\trepresentando_criminal: results[\"criminal\"],\n\t\trepresentando_trabalhista: results[\"trabalhista\"],\n\t\trepresentando_digital: results[\"digital\"],\n\t\tacompanhando_civel_familia: results[\"civelfamilia1\"],\n\t\tacompanhando_penal: results[\"penal\"],\n\t\tmedida_protetiva_informada: results[\"12_caso_a_acolhida_ja_ten\"],\n\t\tfixaxao_guarda_provisoria: results[\"13_caso_voce_esteja_acomp\"],\n\t\tpara_quem_foi_fixada_guarda: results[\"13_para_quem_a_guarda_foi\"],\n\t\tqual_regime_da_guarda: results[\"13_em_qual_regime\"],\n\t\targumento_sentenca: results[\"14_caso_a_sentenca_profer\"],\n\t\talguma_das_partes_recorreu: results[\"15_alguma_das_partes_reco\"],\n\t\treferenciou_para_servico_publico: results[\"16_durante_o_atendimento\"],\n\t\tpor_que_servico_publico: results[\"16_por_que\"],\n\t\tquais_instituicoes: results[\"16_qualis\"],\n\t}\n\t\n\tlet aspectos_socioeconomicos = {\n\t\tapresenta_condicao_hipossuficiencia: results[\"17_a_acolhida_ainda_apres\"],\n\t\tmotivo_nao_condicao_hipossuficiencia: results[\"171_informe_aqui_os_motiv\"]\n\t}\n\t\n\tlet redes_apoio = {\n\t\tgrupos_comunitarios_religiosos: results[\"18_a_acolhida_participa_e\"],\n\t\tapoio_pessoas_proximas: results[\"19_a_acolhida_tem_apoio_d\"],\n\t\trelacao_familiares_acolhida: results[\"20_como_e_a_relacao_da_ac\"],\n\t\trelacao_familiares_autor_violencia: results[\"21_como_e_a_relacao_da_ac\"]\n\t}\n\n\tlet doencas_fisicas = {\n\t\tresultante_da_violencia: results[\"22_a_acolhida_tem_algum_d\"],\n\t\tquais: results[\"22_qualis1\"],\n\t\tquanto_tempo: results[\"22_ha_quanto_tempo\"],\n\t\tfaz_acompanhamento_medico: results[\"23_se_sim_a_acolhida_faz\"],\n\t\tonde_faz_acompanhamento_medico: results[\"23_onde\"],\n\t\tquanto_tempo_acompanhamento: results[\"23_ha_quanto_tempo\"],\n\t\tfaz_uso_medicamentos: results[\"24_se_sim_a_acolhida_faz\"],\n\t\tquais_medicamentos: results[\"24_qualis\"],\n\t\tquanto_tempo_medicamentos: results[\"242_ha_quanto_tempo\"],\n\t\trecebe_bpc: results[\"25_caso_seja_pessoa_com_d\"]\n\t}\n\n\tlet doencas_psiquiatricas = {\n\t\tresultante_da_violencia: results[\"26_a_acolhida_tem_algum_d\"],\n\t\tquais: results[\"26_quais\"],\n\t\tquanto_tempo: results[\"26_ha_quanto_tempo\"],\n\t\tfaz_acompanhamento_medico: results[\"27__se_sim_a_acolhida_faz\"],\n\t\tonde_faz_acompanhamento_medico: results[\"27_onde\"],\n\t\tquanto_tempo_acompanhamento: results[\"27_ha_quanto_tempo\"],\n\t\tfaz_uso_medicamentos: results[\"28_se_sim_a_acolhida_faz\"],\n\t\tquais_medicamentos: results[\"28_quais\"],\n\t\tquanto_tempo_medicamento: results[\"28_ha_quanto_tempo\"],\n\t}\n\n\tlet dependencia_quimica = {\n\t\tusa_substancias_por_conta_da_violencia: results[\"29__a_acolhida_faz_uso_de\"],\n\t\tquais: results[\"29_quais\"],\n\t\tquanto_tempo: results[\"29_ha_quanto_tempo\"],\n\t\tassistida_por_algum_serivico: results[\"30_se_sim_a_acolhida_e_as\"],\n\t\tonde: results[\"30_onde\"],\n\t\tquanto_tempo_atendimento: results[\"30_ha_quanto_tempo\"],\n\t}\n\n\tlet advogada_voluntaria = {\n\t\ttem_contato_psicologa: results[\"31_caso_a_acolhida_esteja\"],\n\t\tsolicitou_ajuda_mapa: results[\"32_voce_solicitou_ajuda_d\"],\n\t\tse_sentiu_orientada: results[\"32_sentiuse_orientada\"],\n\t\tse_sentiu_acolhida: results[\"32_sentiuse_acolhida_pela\"],\n\t\tparticipa_grupo_discussao: \tresults[\"33__voce_participa_dos_en\"],\n\t\tparticipa_grupo_whatsapp_estado:results[\"34_voce_participa_do_grup\"],\n\t\tcomo_se_sente_atendimento: results[\"35_se_desejar_relate_como\"]\n\t}\n\n\tif (contrato.acolhida_respeita_contrato === 'Não' || \n\t    contrato.frequencia_de_atendimento === 'Mais de 5h'||\n\t\t\tacompanhamento_juridico.referenciou_para_servico_publico === 'Sim' ||\n\t\t\tredes_apoio.relacao_familiares_acolhida !== 'Boa' ||\n\t\t\tdoencas_fisicas.recebe_bpc === 'Não' ||\n\t\t\tdependencia_quimica.assistida_por_algum_serivico == 'Não') {\n\t\tpriority = 'normal'\n\t\trisco = 'moderado'\n\t}\n\n\tif (redes_apoio.apoio_pessoas_proximas === 'Não' ||\n\t    doencas_fisicas.resultante_da_violencia === 'Sim' ||\n\t\t\tdoencas_psiquiatricas.resultante_da_violencia === 'Sim' ||\n\t\t\tdoencas_psiquiatricas.faz_acompanhamento_medico == 'Não' ||\n\t\t\tdependencia_quimica.usa_substancias_por_conta_da_violencia === 'Sim') {\n\t\tpriority = 'high'\n\t\trisco = 'grave'\t\n\t}\n\n\tif (acompanhamento_juridico.foi_submetida_novas_violencias) {\n\t\tpriority = 'urgent'\n\t\trisco = 'extremo'\t\n\n\t}\n\n\tlet answers = {dados_voluntaria, dados_acolhida, contrato,acompanhamento_juridico,redes_apoio,doencas_fisicas,doencas_psiquiatricas,dependencia_quimica,advogada_voluntaria, risco: risco}\n\tconst user_id = item.json[\"submission\"][\"lead\"][\"fields\"][\"core\"][\"user_id\"][\"value\"] \n\n  let body_ticket = 'RISCO: ' + risco.toUpperCase() + '\\\\n\\\\nDADOS DA VOLUNTÁRIA:\\\\nNome: ' + dados_voluntaria.nome +'\\\\nEmail: ' + dados_voluntaria.email_cadastro +\n\t'\\\\n\\\\nDADOS DA ACOLHIDA\\\\nNome: ' + dados_acolhida.nome + \n\t'\\\\n\\\\nSOBRE O CONTRATO\\\\nA acolhida respeita o contrato estabelecido relacionado ao atendimento: ' + contrato.acolhida_respeita_contrato + \n\t//condição atendimento alem do horario estabelcido \n\t(contrato.acolhida_respeita_contrato === 'Não'? '\\\\nFrequência que procura além do horário de atendimento: ' + contrato.frequencia_atendimento_fora_do_horario : '' ) +\n\t'\\\\nQuantas horas de atendimento: ' + contrato.frequencia_de_atendimento + \n\t'\\\\n\\\\nACOMPANHAMENTO JURÍDICO\\\\nNovas violências que a acolhida foi submetida: ' + acompanhamento_juridico.foi_submetida_novas_violencias +\n\t//comentou sobre as violencias\n\t(acompanhamento_juridico.comentario_sobre_novas_violencias? '\\\\nComentário sobre novas violências que a acolhida foi submetida: ' + acompanhamento_juridico.comentario_sobre_novas_violencias : '') +\n\t'\\\\nTipo de atendimento prestado à acolhida: ' + acompanhamento_juridico.tipo_atendimento + \n\t//esta representando a acolhida em um ou mais processos\n\t(acompanhamento_juridico.quantos_processos? \n\t\t'\\\\nEm quantos está representando a acolhida: ' + acompanhamento_juridico.quantos_processos + \n\t\t//civel/familia\n\t\t(acompanhamento_juridico.representando_civel_familia? '\\\\nProcesso(s) Cível/Família: ' +acompanhamento_juridico.representando_civel_familia : '') +\n\t\t//Criminal:\n\t\t(acompanhamento_juridico.representando_criminal? '\\\\nProcesso(s) Criminal: ' + acompanhamento_juridico.representando_criminal : '') +\n\t\t//Trabalhista:\n\t\t(acompanhamento_juridico.representando_trabalhista? '\\\\nProcesso(s) Trabalhista:' + acompanhamento_juridico.representando_trabalhista : '') +\n\t\t//Digital:\n\t\t(acompanhamento_juridico.representando_digital? '\\\\nProcesso(s) Digital:' + acompanhamento_juridico.representando_digital : '') +\n\t\t//fase civel/familia\n\t\t(acompanhamento_juridico.acompanhando_civel_familia? '\\\\nProcesso Cível/Família na fase: ' + acompanhamento_juridico.acompanhando_civel_familia : '') + \n\t\t//penal\n\t\t(acompanhamento_juridico.acompanhando_penal? 'Processo Penal na fase: ' + acompanhamento_juridico.acompanhando_penal : '') \n\t\t: '') + \n\t(acompanhamento_juridico.medida_protetiva_informada? '\\\\n Foi informado no processo judicial que a medida protetiva de urgência foi deferida: ' + acompanhamento_juridico.medida_protetiva_informada: '') +\n\t\n\t//Guarda fixada\n\t(acompanhamento_juridico.fixaxao_guarda_provisoria === 'Sim'? \n\t\t'\\\\nHouve fixação de guarda provisória via decisão preliminar: ' + acompanhamento_juridico.fixaxao_guarda_provisoria +\n\t\t'\\\\nPara quem a guarda foi fixada: ' + acompanhamento_juridico.para_quem_foi_fixada_guarda + \n\t\t'\\\\nEm qual regime: ' + acompanhamento_juridico.qual_regime_da_guarda\n\t\t: '') +\n\t// serviço publico\n\t'\\\\nIdentificou necessidade de referenciar a acolhida para algum serviço público da rede de enfrentamento à violência contra as mulheres: ' + acompanhamento_juridico.referenciou_para_servico_publico +\n\t// por que\n\t(acompanhamento_juridico.por_que_servico_publico? '\\\\nMotivo pelo o qual a acolhida foi encaminhada: ' + acompanhamento_juridico.por_que_servico_publico : '') + \n\t// quais serivicos publicos\n\t(acompanhamento_juridico.quais_instituicoes? '\\\\nQual(is) instituição(ões) da rede de serviço público a acolhida foi encaminhada: ' + acompanhamento_juridico.quais_instituicoes : '') +\n\t\n\t'\\\\n\\\\nASPECTOS SOCIOECONÔMICOS\\\\nA acolhida ainda apresenta condição de hipossuficiência para o atendimento: ' + aspectos_socioeconomicos.apresenta_condicao_hipossuficiencia +\n\t//motivos\n\t(aspectos_socioeconomicos.apresenta_condicao_hipossuficiencia === 'Não'? '\\\\nMotivos de não apresentar condição de hipossuficiência para o atendimento: ' + aspectos_socioeconomicos.motivo_nao_condicao_hipossuficiencia : '') +\n\t'\\\\n\\\\nREDES DE APOIO\\\\nA acolhida participa e tem apoio de grupos comunitários ou religiosos: ' + redes_apoio.grupos_comunitarios_religiosos +\n\t'\\\\nA acolhida tem apoio de outras pessoas próximas: ' + redes_apoio.apoio_pessoas_proximas + \n\t'\\\\nRelação da acolhida com seus familiares: ' + redes_apoio.relacao_familiares_acolhida + \n\t'\\\\nRelação da acolhida com a família do(a) autor(a) da violência: ' + redes_apoio.relacao_familiares_autor_violencia +\n\t'\\\\n\\\\nASPECTOS DE SAÚDE | DOENÇA FÍSICA\\\\nA acolhida tem algum diagnóstico de doença(s) física(s) resultante(s) da violência: ' + doencas_fisicas.resultante_da_violencia +\n\t\n\t//tem doenças fisicas resultantes da violencia\n\t(doencas_fisicas.resultante_da_violencia === 'Sim'? \n\t\t'\\\\nQuais: ' + doencas_fisicas.quais + '\\\\nHá quanto tempo: ' + doencas_fisicas.quanto_tempo\n\t \t: '') +\n\t(doencas_fisicas.faz_acompanhamento_medico? \n\t\t'\\\\nA acolhida faz algum acompanhamento médico da(s) doença(s) física(s) resultante(s) da violência: ' + doencas_fisicas.faz_acompanhamento_medico\n\t\t: '') +\n\t//faz acompanhamento medico\n\t(doencas_fisicas.faz_acompanhamento_medico === 'Sim' ? \n\t\t'\\\\nOnde: ' + doencas_fisicas.onde_faz_acompanhamento_medico + \n\t\t'\\\\nHá quanto tempo: ' + doencas_fisicas.quanto_tempo_acompanhamento\n\t\t: '') +\n\t//faz uso de medicamentos\n\t(doencas_fisicas.faz_uso_medicamentos?  \n\t\t'\\\\nA acolhida faz uso de medicações por conta da(s) doença(s) física(s) resultante(s) da violência: ' + doencas_fisicas.faz_uso_medicamentos \n\t: '') +\n\t(doencas_fisicas.faz_acompanhamento_medico === 'Sim'? \t\n\t\t'\\\\nQuais: ' + doencas_fisicas.quais_medicamentos +\n\t\t'\\\\nHá quanto tempo: ' + doencas_fisicas.quanto_tempo_medicamentos\n\t\t:'') +\n\t//bpc\t\n\t(doencas_fisicas.recebe_bpc? '\\\\nA acolhida está recebendo o Benefício de Prestação Continuada (BPC): ' + doencas_fisicas.recebe_bpc : '') + \n\t'\\\\n\\\\nASPECTOS DE SAÚDE | DOENÇAS PSIQUIÁTRICAS\\\\n A acolhida tem algum diagnóstico (verbal ou laudo) de doença(s) psiquiátrica(s) resultante(s) da violência: ' + doencas_psiquiatricas.resultante_da_violencia +\n\t\n\t//doenças psiquiatricas\n\t(doencas_psiquiatricas.resultante_da_violencia === 'Sim'?\n\t\t'\\\\nQuais: ' + doencas_psiquiatricas.quais + \n\t\t'\\\\nHá quanto tempo: ' + doencas_psiquiatricas.quanto_tempo \n\t\t: '') +\n\n\t//acompanhamento medico\t \n\t(doencas_psiquiatricas.faz_acompanhamento_medico?\n\t\t'\\\\nA acolhida faz algum acompanhamento médico do(s) adoecimento(s) psiquiátrico(s) resultante(s) da violência: ' + doencas_psiquiatricas.faz_acompanhamento_medico \n\t: '') +\n\t(doencas_psiquiatricas.faz_acompanhamento_medico === 'Sim'?\n\t\t'\\\\nOnde: ' + doencas_psiquiatricas.onde_faz_acompanhamento_medico + '\\\\nHá quanto tempo: ' + doencas_psiquiatricas.quanto_tempo_acompanhamento\n\t \t: '') +\n\t//uso de medicamento\n\t(doencas_psiquiatricas.faz_uso_medicamentos?\n\t\t'\\\\nA acolhida faz uso de medicações por conta do(s) adoecimento(s) psiquiátrico(s) resultante(s) da violência: ' + doencas_psiquiatricas.faz_uso_medicamentos \n\t: '') +\n\t(doencas_psiquiatricas.faz_uso_medicamentos === 'Sim' ? \n\t\t\t'\\\\nQuais: ' + doencas_psiquiatricas.quais_medicamentos + '\\\\nHá quanto tempo: ' + doencas_psiquiatricas.quanto_tempo_medicamento \n\t: '') +\n\t\n\t'\\\\n\\\\nASPECTOS DE SAÚDE | DEPENDÊNCIA QUÍMICA\\\\nA acolhida faz uso de substâncias por conta da violência: ' + dependencia_quimica.usa_substancias_por_conta_da_violencia + \n\t(dependencia_quimica.usa_substancias_por_conta_da_violencia === 'Sim'? \n\t\t'\\\\nQuais: ' + dependencia_quimica.quais + '\\\\nHá quanto tempo: ' + dependencia_quimica.quanto_tempo +\n\t\t'\\\\nA acolhida é assistida por algum serviço público em decorrência do uso de substância por conta da violência: ' + dependencia_quimica.assistida_por_algum_serivico +\n\t\t'\\\\nOnde: '+ dependencia_quimica.onde + '\\\\nHá quanto tempo: ' + dependencia_quimica.quanto_tempo_atendimento \n\t\t: '') +\n\t'\\\\n\\\\nSOBRE A ADVOGADA VOLUNTARIA' + \n\t(advogada_voluntaria.tem_contato_psicologa? '\\\\nSegue em contato com a psicóloga que está acompanhando-a: ' + advogada_voluntaria.tem_contato_psicologa : '') +\n\t'\\\\nSolicitou ajuda da equipe técnica do Mapa do Acolhimento: ' + advogada_voluntaria.solicitou_ajuda_mapa + \n\t(advogada_voluntaria.solicitou_ajuda_mapa === 'Sim'? \n\t\t'\\\\nSentiu-se orientada: ' + advogada_voluntaria.se_sentiu_orientada +\n\t\t'\\\\nSentiu-se acolhida pela equipe: ' + advogada_voluntaria.se_sentiu_acolhida \n\t: '') + \n\t'\\\\nParticipa dos encontros de Discussão de Caso do projeto: ' + advogada_voluntaria.participa_grupo_discussao + \n\t'\\\\nParticipa do grupo de WhatsApp de seu Estado: ' + advogada_voluntaria.participa_grupo_whatsapp_estado +\n\t(advogada_voluntaria.como_se_sente_atendimento? '\\\\nComo se sente em relação ao atendimento jurídico realizado pelo Mapa do Acolhimento: ' + advogada_voluntaria.como_se_sente_atendimento\n\t: '')\n\tlet answers_txt = JSON.stringify(answers).replaceAll('Sim',true).replaceAll('Não',false)\n\tanswers_txt = answers_txt.replaceAll('false quis informar','Não quis informar').replaceAll('\"true\"', 'true').replaceAll('\"false\"', 'false')\n\titem.json= {\n\t\t\t\t\t\t\tpriority,\n\t\t\t\t\t\t\tuser_id,\n              answers,\n\t\t\t\t\t\t\tbody_ticket,\t\n\t\t\t\t\t\t\tanswers_txt\t\t\t\t\t\n\t\t\t\t\t\t}\n\titem.json.answers.risco =item.json.answers.risco.toUpperCase();\n}\n\nreturn items[items.length - 1]; "
      },
      "name": "Formata - Acomp Juridico 1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        700
      ],
      "id": "23d0ff8d-61b8-4f86-8e93-60c163c13279"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://mapadoacolhimento.zendesk.com/api/v2/tickets",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={ \n\t\"ticket\":{\n \t\t\"requester_id\":{{$node[\"Formata - Acomp Juridico 1\"].json[\"user_id\"]}},\n \t\t\"organization_id\": 360269610652,\n \t\t\"description\": \"Importado via N8N\",\n        \"tags\": [\"acompanhamento-1\"], \n \t\t\"status\": \"new\",\n   \t\t\"priority\": \"{{$node[\"Formata - Acomp Juridico 1\"].json[\"priority\"]}}\",\n \t\t\"subject\": \"[Acompanhamento 1] {{$node[\"Formata - Acomp Juridico 1\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\",\n \t\t\"comment\": {\n \t\t\t\t\"body\": \"{{$node[\"Formata - Acomp Juridico 1\"].json[\"body_ticket\"]}}\",\n \t\t\t\"public\": false\n \t\t}\n\t}\n}"
      },
      "name": "Criar novo ticket (acomp juridico 1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        660,
        700
      ],
      "id": "cdae0e95-c48b-4162-9787-51a0a57aff38",
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://api-graphql.bonde.org/v1/graphql",
        "requestFormat": "json",
        "query": "=mutation MyMutation($answers: json) {\ninsert_mda_forms_answers(objects: {answers: $answers, form: \"acompanhamento-psicologico-1\", msr_name: \"{{$node[\"Formata - Acomp Psicologico 1\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\", ticket_id: {{$node[\"Criar novo ticket (acomp psicologico)\"].json[\"ticket\"][\"id\"]}}, volunteer_email: \"{{$node[\"Formata - Acomp Psicologico 1\"].json[\"answers\"][\"dados_voluntaria\"][\"email_cadastro\"]}}\",organization_id:360282119532, form_id:{{$node[\"Webhook\"].json[\"body\"][\"mautic.form_on_submit\"][0][\"submission\"][\"form\"][\"id\"]}}\n}) {\naffected_rows\n}\n}",
        "variables": "={\n\"answers\":{{$node[\"Formata - Acomp Psicologico 1\"].json[\"answers_txt\"]}}\n}"
      },
      "name": "Salvar Respostas2",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        880,
        460
      ],
      "id": "c41dcae4-5742-4ceb-b730-afa561583e24",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nhq3GDSBeWJ5XE1l",
          "name": "[PROD] BONDE api-graphql"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "let risco = 'nenhum';\nlet priority = 'low';\n\nfor (item of items) {\n\n  const results =  item.json.submission.results; \n\tlet dados_voluntaria = {\n\t\tnome:\tresults[\"1_nome_completo\"], //\"Teste 2022\",\n\t\temail_cadastro: results[\"2_email_de_cadastro\"] //\"teste@teste.br\",\n\t}\n\t\n\tlet dados_acolhida = {\n\t\tnome: results[\"3_nome_da_acolhida\"] //\"Acholhida teste\",\n\t}\n\t\n\tlet contrato = {\n\t\ttem_assiduidade_atendimentos: results[\"4_a_acolhida_tem_sido_ass\"], //\"Não (Por favor, entre em contato imediatamente com a equipe)\",\n\t\tmotivo_nao_assiduidade: results[\"41_selecione_os_motivos_a\"], //\"Falta sem avisar, O autor da violência impediu\",\n\t\trespeita_combinados_atendimento: results[\"6_a_acolhida_respeita_os\"], //\"Não\",\n\t\tfrequencia_atendimento_fora_do_horario: results[\"51_com_qual_frequencia_te\"] //\"Três ou mais vezes na semana\",\n\t}\n\n\tlet acompanhamento_psicologico = {\n\t\tfoi_submetida_novas_violencias: results[\"6_a_acolhida_foi_submetid\"], //\"Física\",\n\t\tcomentario_sobre_novas_violencias: results[\"7_caso_queira_comentar_so\"], //\"comentar sobre as novas violências que a acolhida foi submetida\",\n\t\tapesctos_psicologicos_trabalhados: results[\"8_aspectos_psicologicos_t\"], //\" Aspectos psicológicos trabalhados durante o processo psicoterapêutico\",\n\t\treferenciou_para_servico_publico: results[\"9_durante_o_atendimento_v\"], //\"Sim\",\n\t\tpor_que_servico_publico: results[\"91_por_que\"], //\"dentificou alguma necessidade de referenciar a acolhida para algum serviço público\",\n\t\tquais_instituicoes: results[\"92_para_qualis_instituica\"], //\"Defensoria pública/ NUDEM\",\n\t \triscos_relacionado_ao_suicidio: results[\"10_voce_se_preocupa_ou_pe\"] //\"Não\",\n\t}\n\n\tlet  aspectos_socioeconomicos = {\n\t\tapresenta_condicao_hipossuficiencia: results[\"11_a_acolhida_ainda_apres\"], //\"Não (acione a equipe imediatamente)\",\n\t\tmotivo_nao_condicao_hipossuficiencia: results[\"111_informe_aqui_os_motiv1\"] //\" apresenta condição de hipossuficiência \",\n\t}\n\n\tlet redes_apoio = {\n\t\tgrupos_comunitarios_religiosos: results[\"12_a_acolhida_participa_e\"], //\"Não\",\n\t\tapoio_pessoas_proximas: results[\"13_como_e_a_relacao_da_ac\"], //\"Sim\",\n\t\trelacao_familiares_acolhida: results[\"14_como_e_a_relacao_da_ac\"], //\"Média (nem sempre pode contar com os familiares, caso precise de apoio)\",\n\t\trelacao_familiares_autor_violencia: results[\"15_como_e_a_relacao_da_ac\"] //\"Ruim (não tem relação com os familiares do(a) autor(a))\",\n\t}\n\n\tlet doencas_fisicas = {\n\t\tresultante_da_violencia: results[\"16_a_acolhida_tem_algum_d\"], //\"Sim\",\t\t\n\t\tquais: results[\"162_qualis\"], //\" doença(s) física(s) \",\n\t\tquanto_tempo: results[\"162_ha_quanto_tempo\"], //\"Mais de 10 anos\",\n\t\tfaz_acompanhamento_medico: results[\"17_se_sim_a_acolhida_faz\"], //\"Sim\",\n\t\tonde_faz_acompanhamento_medico: results[\"17_onde\"], //\"Unidade Básica de Saúde (UBS)\",\n\t\tquanto_tempo_acompanhamento: results[\"17_ha_quanto_tempo\"], //\"Mais de 10 anos\",\n\t\tfaz_uso_medicamentos: results[\"18_se_sim_a_acolhida_faz\"], //\"Sim\",\n\t\tquais_medicamentos: results[\"18_qualis\"], //\" medicações por conta da(s) doença(s) física(s)\",\n\t\tquanto_tempo_medicamentos: results[\"18_ha_quanto_tempo\"], //\"Entre 2 anos e 10 anos\",\n\t\trecebe_bpc: results[\"19_caso_seja_pessoa_com_d\"] //\"Não\",\n\t}\n\n\tlet doencas_psiquiatricas  = { \n\t\tresultante_da_violencia: results[\"20_a_acolhida_tem_algum_d\"], //\"Sim\",\n\t\tquais: results[\"20_qualis\"], //\"doença(s) psiquiátrica(s) resultante(s) da violência\",\n\t\tquanto_tempo: results[\"20_ha_quanto_tempo\"], //\"Mais de 10 anos\",\n\t\tfaz_acompanhamento_medico: results[\"21_se_sim_a_acolhida_faz\"], //\"Sim\",\n\t\tonde_faz_acompanhamento_medico: results[\"21_onde\"], //\"Unidade Básica de Saúde (UBS)\",\n\t\tquanto_tempo_acompanhamento: results[\"21_ha_quanto_tempo\"], //\"Mais de 10 anos\",\n\t\tfaz_uso_medicamentos: results[\"22_se_sim_a_acolhida_faz\"], //\"Sim\",\n\t\tquais_medicamentos: results[\"22_qualis\"], //\"medicações por conta do(s) adoecimento(s) psiquiátrico(s) \",\n\t\tquanto_tempo_medicamento: results[\"22_ha_quanto_tempo\"] //\"Mais de 10 anos\",\n\t}\n\n\tlet dependencia_quimica = {\n\t\tusa_substancias_por_conta_da_violencia: results[\"23_a_acolhida_faz_uso_de\"], //\"Sim\",\n\t\tquais: results[\"23_qualis\"], //\"Maconha\",\n\t\tquanto_tempo: results[\"23_ha_quanto_tempo\"], //\"Mais de 10 anos\",\n\t\tassistida_por_algum_serivico: results[\"24_se_sim_a_acolhida_e_as\"], //\"Sim\",\n\t\tonde: results[\"24_onde\"], //\"Hospital geral\",\n\t\tquanto_tempo_atendimento: results[\"24_ha_quanto_tempo\"] //\"Entre 1 e 2 anos\",\n\t}\n\n\tlet qualidade_vida = {\n\t\timpacto_sofrido_moderado: results[\"25_quais_impactos_a_acolh\"], //\"Insônia\",\n\t\timpacto_sofrido_grave: results[\"26_quais_impactos_a_acolh\"] //\"Aborto espontâneo\",\n\t}\n\n\tlet psicologa_voluntaria = {\n\t\ttem_contato_advogada: results[\"27_caso_a_acolhida_esteja\"], //\"Sim\",\n\t\tsolicitou_ajuda_mapa: results[\"28_voce_solicitou_ajuda_d\"], //\"Sim\",\n\t\tse_sentiu_orientada: results[\"28_sentiuse_orientada\"], //\"Sim\",\n\t\tse_sentiu_acolhida: results[\"232_sentiuse_acolhida_pel\"], //\"Sim\",\n\t\tparticipa_grupo_discussao: results[\"29_voce_participa_dos_enc\"], //\"Não\",\n\t\tparticipa_grupo_whatsapp_estado: results[\"30_voce_participa_do_grup\"], //\"Sim\",\n\t\tcomo_se_sente_atendimento: results[\"31_se_desejar_relate_como\"] //\"como se sente em relação ao atendimento psicológico realizado pelo Mapa do Acolhimento\"\n\t}\n\n\tif (contrato.tem_assiduidade_atendimentos === 'Não' || \n\t\t\tacompanhamento_psicologico.referenciou_para_servico_publico === 'Sim' ||\n\t\t\tredes_apoio.relacao_familiares_acolhida !== 'Boa' ||\n\t\t\tdoencas_fisicas.recebe_bpc === 'Não' ||\n\t\t\tdependencia_quimica.assistida_por_algum_serivico === 'Não' || \n\t\t\tqualidade_vida.impacto_sofrido_moderado !== 'A acolhida não está sofrendo nenhum dos impactos citados acima'\n\t\t) {\n\n\t\tpriority = 'normal'\n\t\trisco = 'moderado'\n\t}\n\n\tif (redes_apoio.apoio_pessoas_proximas === 'Não' || \n\t\t\tdoencas_fisicas.resultante_da_violencia === 'Sim' || \n\t\t\tdoencas_psiquiatricas.resultante_da_violencia === 'Sim' || \n\t\t\tdoencas_psiquiatricas.faz_acompanhamento_medico == 'Não' ||\n\t\t\tdependencia_quimica.usa_substancias_por_conta_da_violencia == 'Sim' ||\n\t\t\tqualidade_vida.impacto_sofrido_grave !== 'A acolhida não está sofrendo nenhum dos impactos citados acima'\n\t\t ) {\n\t\t\t \n\t\tpriority = 'high'\n\t\trisco = 'grave'\n\t}\n\n\tif (acompanhamento_psicologico.foi_submetida_novas_violencias || \n\t    acompanhamento_psicologico.riscos_relacionado_ao_suicidio === 'Sim') {\n\t\tpriority = 'urgent'\n\t\trisco = 'extremo'\n\t}\n\n\tlet answers = {dados_voluntaria, dados_acolhida, contrato, acompanhamento_psicologico, aspectos_socioeconomicos, redes_apoio, doencas_fisicas, doencas_psiquiatricas, dependencia_quimica, qualidade_vida, psicologa_voluntaria, risco}\n\tconst user_id = item.json[\"submission\"][\"lead\"][\"fields\"][\"core\"][\"user_id\"][\"value\"]\n\n  let body_ticket = 'RISCO ' + risco.toUpperCase() + '\\\\n\\\\nDADOS DA VOLUNTÁRIA\\\\nNome: ' + dados_voluntaria.nome + '\\\\nEmail: ' + dados_voluntaria.email_cadastro +\n\t'\\\\n\\\\nDADOS DA ACOLHIDA\\\\nNome: ' + dados_acolhida.nome + '\\\\n\\\\nSOBRE O CONTRATO\\\\nA acolhida tem sido assídua nos atendimentos: ' +  contrato.tem_assiduidade_atendimentos +\n\t//motivos\n\t(contrato.motivo_nao_assiduidade? '\\\\nMotivos: ' + contrato.motivo_nao_assiduidade : '') + \n\t'\\\\nA acolhida respeita os combinados relacionados ao atendimento: ' + contrato.respeita_combinados_atendimento +\n\t//frequencia fora do horario\n\t(contrato.frequencia_atendimento_fora_do_horario? '\\\\nFrequência que procura além do horário de atendimento: ' + contrato.frequencia_atendimento_fora_do_horario : '') +\n\t'\\\\n\\\\nSOBRE O ACOMPANHAMENTO PSICOLÓGICO' +\n\t(acompanhamento_psicologico.foi_submetida_novas_violencias !== '' ? '\\\\nNovas violências que a acolhida foi submetida: ' + acompanhamento_psicologico.foi_submetida_novas_violencias : '') +\n\t(acompanhamento_psicologico.comentario_sobre_novas_violencias? '\\\\nComentário sobre novas violências que a acolhida foi submetida: ' + acompanhamento_psicologico.comentario_sobre_novas_violencias : '') +\n\t'\\\\nAspectos psicológicos trabalhados durante o processo psicoterapêutico: ' + acompanhamento_psicologico.apesctos_psicologicos_trabalhados + \n\t'\\\\nIdentificou necessidade de referenciar a acolhida para algum serviço público da rede de enfrentamento à violência contra as mulheres: ' + acompanhamento_psicologico.referenciou_para_servico_publico +\n\t//serviço publico\n\t// por que\n\t(acompanhamento_psicologico.por_que_servico_publico? '\\\\nMotivo pelo o qual a acolhida foi encaminhada: ' + acompanhamento_psicologico.por_que_servico_publico : '') + \n\t// quais serivicos publicos\n\t(acompanhamento_psicologico.quais_instituicoes? '\\\\nQual(is) instituição(ões) da rede de serviço público a acolhida foi encaminhada: ' + acompanhamento_psicologico.quais_instituicoes : '') +\n\t'\\\\nPreocupa ou percebe, na condução do processo psicoterapêutico, riscos relacionados ao suicídio: ' + acompanhamento_psicologico.riscos_relacionado_ao_suicidio +\n\t'\\\\n\\\\nASPECTOS SOCIOECONÔMICOS\\\\nA acolhida ainda apresenta condição de hipossuficiência: ' + aspectos_socioeconomicos.apresenta_condicao_hipossuficiencia +\n\t//motivos hipossificiencia \n\t(aspectos_socioeconomicos.apresenta_condicao_hipossuficiencia === 'Não'? '\\\\nMotivos de não apresentar condição de hipossuficiência para o atendimento: ' + aspectos_socioeconomicos.motivo_nao_condicao_hipossuficiencia : '') +\n\t'\\\\n\\\\nREDES DE APOIO\\\\nA acolhida participa e tem apoio de grupos comunitários ou religiosos: ' + redes_apoio.grupos_comunitarios_religiosos +\n\t'\\\\nA acolhida tem apoio de outras pessoas próximas: ' + redes_apoio.apoio_pessoas_proximas + \n\t'\\\\nRelação da acolhida com seus familiares: ' + redes_apoio.relacao_familiares_acolhida + \n\t'\\\\nRelação da acolhida com a família do(a) autor(a) da violência: ' + redes_apoio.relacao_familiares_autor_violencia + \n\t'\\\\n\\\\nASPECTOS DE SAÚDE | DOENÇA FÍSICA\\\\nA acolhida tem algum diagnóstico de doença(s) física(s) resultante(s) da violência: ' + doencas_fisicas.resultante_da_violencia +\n\t\n\t//tem doenças fisicas resultantes da violencia\n\t(doencas_fisicas.resultante_da_violencia === 'Sim'? \n\t\t'\\\\nQuais: ' + doencas_fisicas.quais + '\\\\nHá quanto tempo: ' + doencas_fisicas.quanto_tempo\n\t \t: '') +\n\t(doencas_fisicas.faz_acompanhamento_medico? \n\t\t'\\\\nA acolhida faz algum acompanhamento médico da(s) doença(s) física(s) resultante(s) da violência: ' + doencas_fisicas.faz_acompanhamento_medico\n\t\t: '') +\n\t//faz acompanhamento medico\n\t(doencas_fisicas.faz_acompanhamento_medico === 'Sim' ? \n\t\t'\\\\nOnde: ' + doencas_fisicas.onde_faz_acompanhamento_medico + \n\t\t'\\\\nHá quanto tempo: ' + doencas_fisicas.quanto_tempo_acompanhamento\n\t\t: '') +\n\t//faz uso de medicamentos\n\t(doencas_fisicas.faz_uso_medicamentos?  \n\t\t'\\\\nA acolhida faz uso de medicações por conta da(s) doença(s) física(s) resultante(s) da violência: ' + doencas_fisicas.faz_uso_medicamentos \n\t: '') +\n\t(doencas_fisicas.faz_acompanhamento_medico === 'Sim'? \t\n\t\t'\\\\nQuais: ' + doencas_fisicas.quais_medicamentos +\n\t\t'\\\\nHá quanto tempo: ' + doencas_fisicas.quanto_tempo_medicamentos\n\t\t:'') +\n\t//bpc\t\n\t(doencas_fisicas.recebe_bpc? '\\\\nA acolhida está recebendo o Benefício de Prestação Continuada (BPC): ' + doencas_fisicas.recebe_bpc : '') + \n\t'\\\\n\\\\nASPECTOS DE SAÚDE | DOENÇAS PSIQUIÁTRICAS\\\\n A acolhida tem algum diagnóstico (verbal ou laudo) de doença(s) psiquiátrica(s) resultante(s) da violência: ' + doencas_psiquiatricas.resultante_da_violencia +\n\t\n\t//doenças psiquiatricas\n\t(doencas_psiquiatricas.resultante_da_violencia === 'Sim'?\n\t\t'\\\\nQuais: ' + doencas_psiquiatricas.quais + \n\t\t'\\\\nHá quanto tempo: ' + doencas_psiquiatricas.quanto_tempo \n\t\t: '') +\n\n\t//acompanhamento medico\t \n\t(doencas_psiquiatricas.faz_acompanhamento_medico?\n\t\t'\\\\nA acolhida faz algum acompanhamento médico do(s) adoecimento(s) psiquiátrico(s) resultante(s) da violência: ' + doencas_psiquiatricas.faz_acompanhamento_medico \n\t: '') +\n\t(doencas_psiquiatricas.faz_acompanhamento_medico === 'Sim'?\n\t\t'\\\\nOnde: ' + doencas_psiquiatricas.onde_faz_acompanhamento_medico + '\\\\nHá quanto tempo: ' + doencas_psiquiatricas.quanto_tempo_acompanhamento\n\t \t: '') +\n\t//uso de medicamento\n\t(doencas_psiquiatricas.faz_uso_medicamentos?\n\t\t'\\\\nA acolhida faz uso de medicações por conta do(s) adoecimento(s) psiquiátrico(s) resultante(s) da violência: ' + doencas_psiquiatricas.faz_uso_medicamentos \n\t: '') +\n\t(doencas_psiquiatricas.faz_uso_medicamentos === 'Sim' ? \n\t\t\t'\\\\nQuais: ' + doencas_psiquiatricas.quais_medicamentos + '\\\\nHá quanto tempo: ' + doencas_psiquiatricas.quanto_tempo_medicamento \n\t: '') +\n\t\n\t'\\\\n\\\\nASPECTOS DE SAÚDE | DEPENDÊNCIA QUÍMICA\\\\nA acolhida faz uso de substâncias por conta da violência: ' + dependencia_quimica.usa_substancias_por_conta_da_violencia + \n\t(dependencia_quimica.usa_substancias_por_conta_da_violencia === 'Sim'? \n\t\t'\\\\nQuais: ' + dependencia_quimica.quais + '\\\\nHá quanto tempo: ' + dependencia_quimica.quanto_tempo +\n\t\t'\\\\nA acolhida é assistida por algum serviço público em decorrência do uso de substância por conta da violência: ' + dependencia_quimica.assistida_por_algum_serivico +\n\t\t(dependencia_quimica.assistida_por_algum_serivico === 'Sim'? '\\\\nOnde: '+ dependencia_quimica.onde + '\\\\nHá quanto tempo: ' + dependencia_quimica.quanto_tempo_atendimento: '' ) \n\t\t: '') +\n\t'\\\\n\\\\nQUALIDADE DE VIDA\\\\nImpactos que a acolhida está sofrendo em decorrência da violência (moderado): ' + qualidade_vida.impacto_sofrido_moderado + \n\t'\\\\nImpactos que a acolhida está sofrendo em decorrência da violência (grave):' + qualidade_vida.impacto_sofrido_grave +\n\t'\\\\n\\\\nSOBRE A PSICÓLOGA VOLUNTÁRIA'\t+\n\t(psicologa_voluntaria.tem_contato_advogada? '\\\\nSegue em contato com a advogada que está acompanhando-a: ' + psicologa_voluntaria.tem_contato_advogada: '') +\n\t'\\\\nSolicitou ajuda da equipe técnica do Mapa do Acolhimento: ' + psicologa_voluntaria.solicitou_ajuda_mapa + \n\t(psicologa_voluntaria.solicitou_ajuda_mapa === 'Sim'? \n\t\t'\\\\nSentiu-se orientada: ' + psicologa_voluntaria.se_sentiu_orientada +\n\t\t'\\\\nSentiu-se acolhida pela equipe: ' + psicologa_voluntaria.se_sentiu_acolhida \n\t: '') + \n\t'\\\\nParticipa dos encontros de Discussão de Caso do projeto: ' + psicologa_voluntaria.participa_grupo_discussao + \n\t'\\\\nParticipa do grupo de WhatsApp de seu Estado: ' + psicologa_voluntaria.participa_grupo_whatsapp_estado +\n\t(psicologa_voluntaria.como_se_sente_atendimento? '\\\\nComo se sente em relação ao atendimento jurídico realizado pelo Mapa do Acolhimento: ' + psicologa_voluntaria.como_se_sente_atendimento\n\t: '')\n\t\n\n\tlet answers_txt = JSON.stringify(answers).replaceAll('Sim',true).replaceAll('Não',false)\n\tanswers_txt = answers_txt.replaceAll('false quis informar','Não quis informar').replaceAll('\"true\"', 'true').replaceAll('\"false\"', 'false')\n\titem.json= {\n\t\t\t\t\t\t\tpriority,\n\t\t\t\t\t\t\tuser_id,\n              answers,\n\t\t\t\t\t\t\tbody_ticket,\t\n\t\t\t\t\t\t\tanswers_txt\t\t\t\t\t\n\t\t\t\t\t\t}\n\t\n}\n\nreturn items; "
      },
      "name": "Formata - Acomp Psicologico 1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "id": "9a2a353a-cdc2-44d7-a42d-51c456d52e15"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://mapadoacolhimento.zendesk.com/api/v2/tickets",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={ \n\t\"ticket\":{\n \t\t\"requester_id\":{{$node[\"Formata - Acomp Psicologico 1\"].json[\"user_id\"]}},\n \t\t\"organization_id\": 360282119532,\n \t\t\"description\": \"Importado via N8N\",\n        \"tags\": [\"acompanhamento-1\"], \n \t\t\"status\": \"new\",\n   \t\t\"priority\": \"{{$node[\"Formata - Acomp Psicologico 1\"].json[\"priority\"]}}\",\n \t\t\"subject\": \"[Acompanhamento 1] {{$node[\"Formata - Acomp Psicologico 1\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\",\n \t\t\"comment\": {\n \t\t\t\t\"body\": \"{{$node[\"Formata - Acomp Psicologico 1\"].json[\"body_ticket\"]}}\",\n \t\t\t\"public\": false\n \t\t}\n\t}\n}"
      },
      "name": "Criar novo ticket (acomp psicologico)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        680,
        460
      ],
      "id": "c0bf97fc-14f2-414a-841c-ec89fa134502",
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://mapadoacolhimento.zendesk.com/api/v2/tickets",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={ \n\t\"ticket\":{\n \t\t\"requester_id\":{{$node[\"Formata - Acomp Juridico 2\"].json[\"user_id\"]}},\n \t\t\"organization_id\": 360269610652,\n \t\t\"description\": \"Importado via N8N\",\n        \"tags\": [\"acompanhamento-2\"], \n \t\t\"status\": \"new\",\n   \t\t\"priority\": \"{{$node[\"Formata - Acomp Juridico 2\"].json[\"priority\"]}}\",\n \t\t\"subject\": \"[Acompanhamento 2] {{$node[\"Formata - Acomp Juridico 2\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\",\n \t\t\"comment\": {\n \t\t\t\t\"body\": \"{{$node[\"Formata - Acomp Juridico 2\"].json[\"body_ticket\"]}}\",\n \t\t\t\"public\": false\n \t\t}\n\t}\n}"
      },
      "name": "Criar novo ticket (acomp juridico 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        720,
        1140
      ],
      "id": "b929dc49-e39b-4579-8f41-a164023515da",
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nlet risco = 'nenhum';\nlet priority = 'low';\nfor (item of items) {\n\n\n\tconst results =  item.json.submission.results; \n\n\tlet dados_voluntaria = {\n\t\tnome: results[\"1_nome_completo\"],  // Teste 2022\",\n\t\temail_cadastro: results[\"2_email_de_cadastro\"],  // teste@teste.com\",\n\t}\n\n\tlet dados_acolhida = {\n\t\tnome: results[\"3_nome_da_acolhida\"]\n\t}  // Acholhida teste\",\n\n\tlet contrato = {\n\t\tsegue_atendimento_com_acolhida: results[\"4_a_acolhida_segue_em_ate\"],  // Sim\",\n\t\tacolhida_respeita_contrato: results[\"5_a_acolhida_respeita_o_c\"],  // Sim\",\n\t\tquantas_horas_atendimento: results[\"6_quantas_horas_de_atendi\"],  // 3h a 5h\",\n\t}\n\n\tlet acompanhamento_juridico = {\n\t\tfoi_submetida_novas_violencias: results[\"7_a_acolhida_foi_submetid\"],  // Psicológica\",\n\t\tcomentario_sobre_novas_violencias: results[\"71_caso_queira_comentar_s\"],  // ggtr\",\n\t\tprocesso_civel_fase: results[\"civel\"],  // Pedido de medida protetiva de urgência\",\n\t\tprocesso_penal_fase: results[\"penal\"],  // \n\t\tresumo_caso: results[\"9_por_favor_relate_de_man\"],  // gg\",\n\t\treferenciou_para_servico_publico: results[\"10_durante_o_atendimento\"],  // Sim\",\n\t\tmotivo_referenciou_servico_publico: results[\"10_por_que\"],  // trgtrtr\",\n\t\tqual_instituicao: results[\"10_para_qualis_instituica\"],  // CREAS\",\n\t}\n\n\tlet aspectos_socioeconomicos = {\n\t\tapresenta_condicao_hipossuficiencia: results[\"11_a_acolhida_ainda_apres\"],  // Não\",\n\t\tmotivo_nao_condicao_hipossuficiencia: results[\"111_informe_aqui_os_motiv\"],  // trhtrh\",\n\t}\n\n\tlet advogada_voluntaria = {\n\t\ttem_contato_psicologa_mapa: results[\"12_caso_a_acolhida_esteja\"],  // Sim\",\n\t\tsolicitou_ajuda_mapa: results[\"13_voce_solicitou_ajuda_d\"],  // Sim\",\n\t\tse_sentiu_orientada: results[\"13_sentiuse_orientada\"],  // Sim\",\n\t\tse_sentiu_acolhida: results[\"13_se_sentiu_acolhida_pel\"],  // Sim\",\n\t\tparticipa_grupo_discussao: results[\"14_voce_participa_dos_enc\"],  // Sim\",\n\t\tparticipa_grupo_whatsapp_estado: results[\"15_voce_participa_do_grup\"],  // \n\t\tcomo_se_sente_atendimento: results[\"16_se_desejar_relate_como\"]\n\t}\n\n\tif(\tcontrato.acolhida_respeita_contrato === 'Não' ||\n\t\t\tcontrato.quantas_horas_atendimento === 'Mais de 5h' ||\n\t\t\tacompanhamento_juridico.referenciou_para_servico_publico === 'Sim'){\n\t\tpriority = 'normal'\n\t\trisco = 'moderado'\n\t}\n\n\tif(acompanhamento_juridico.foi_submetida_novas_violencias){\n\t\tpriority = 'urgent'\n\t\trisco = 'extremo'\n\t}\n\t\n\tlet answers = {dados_voluntaria,dados_acolhida,contrato,aspectos_socioeconomicos,acompanhamento_juridico,advogada_voluntaria,risco}\t\n\tconst user_id = item.json[\"submission\"][\"lead\"][\"fields\"][\"core\"][\"user_id\"][\"value\"] \n \n  let body_ticket = 'RISCO ' + risco.toUpperCase() + '\\\\n\\\\nDADOS DA VOLUNTÁRIA\\\\nNome completo: ' + dados_voluntaria.nome +\n\t'\\\\nEmail de cadastro: ' + dados_voluntaria.email_cadastro + '\\\\n\\\\nDADOS DA ACOLHIDA\\\\nNome: ' + dados_acolhida.nome +\n\t'\\\\n\\\\nSOBRE O CONTRATO\\\\nA acolhida segue em atendimento com você: ' + contrato.segue_atendimento_com_acolhida + \n\t'\\\\nA acolhida respeita o contrato estabelecido relacionado ao atendimento: ' + contrato.acolhida_respeita_contrato +\n\t'\\\\nQuantas horas de atendimento estão sendo despendidas em média, por semana para a acolhida: ' + contrato.quantas_horas_atendimento +\n\t'\\\\n\\\\nACOMPANHAMENTO JURÍDICO' + \n\t(acompanhamento_juridico.foi_submetida_novas_violencias? '\\\\nNovas violências que a acolhida foi submetida: ' + acompanhamento_juridico.foi_submetida_novas_violencias  :'') +\n\t(acompanhamento_juridico.comentario_sobre_novas_violencias? '\\\\nComentário sobre novas violências que a acolhida foi submetida: ' + \n\t acompanhamento_juridico.comentario_sobre_novas_violencias :'') +\n\t(acompanhamento_juridico.processo_civel_fase? '\\\\nProcesso Cível na fase: ' + acompanhamento_juridico.processo_civel_fase : '' ) +\n\t(acompanhamento_juridico.processo_penal_fase? '\\\\nProcesso Penal na fase: ' + acompanhamento_juridico.processo_penal_fase : '' ) +\n\t'\\\\nResumo da atualização do caso: ' + acompanhamento_juridico.resumo_caso + \n\t'\\\\nIdentificou alguma necessidade de referenciar a acolhida para algum serviço público da rede de enfrentamento à violência contra as mulheres: ' + acompanhamento_juridico.referenciou_para_servico_publico +\n\t(acompanhamento_juridico.referenciou_para_servico_publico === 'Sim'? \n\t\t'\\\\nMotivo(s) pelo o qual a acolhida foi encaminhada para serviço público: ' + acompanhamento_juridico.motivo_referenciou_servico_publico +\n\t\t'\\\\nQual(is) instituição(ões) da rede de serviço público a acolhida foi encaminhada: ' + acompanhamento_juridico.qual_instituicao\n\t: '') +\n\t'\\\\n\\\\nASPECTOS SOCIOECONÔMICOS\\\\nA acolhida ainda apresenta condição de hipossuficiência para o atendimento: ' + aspectos_socioeconomicos.apresenta_condicao_hipossuficiencia +\n\t'\\\\nMotivos de não apresentar condição de hipossuficiência para o atendimento: ' + aspectos_socioeconomicos.motivo_nao_condicao_hipossuficiencia +\n\t'\\\\n\\\\nSOBRE A ADVOGADA VOLUNTÁRIA\\\\nSegue em contato com a psicóloga que está acompanhando-a: ' + advogada_voluntaria.tem_contato_psicologa_mapa +\n\t'\\\\nSolicitou ajuda da equipe técnica do Mapa do Acolhimento: ' + advogada_voluntaria.solicitou_ajuda_mapa +\n\t(advogada_voluntaria.se_sentiu_orientada? '\\\\nSe sentiu orientada: ' + advogada_voluntaria.se_sentiu_orientada : '') +\n\t(advogada_voluntaria.se_sentiu_acolhida? '\\\\nSe sentiu acolhida: ' + advogada_voluntaria.se_sentiu_acolhida : '') +\n\t'\\\\nParticipa dos encontros de Discussão de Caso do projeto: ' + advogada_voluntaria.participa_grupo_discussao +\n\t'\\\\nParticipa do grupo de WhatsApp de seu Estado: ' + advogada_voluntaria.participa_grupo_whatsapp_estado +\n\t(advogada_voluntaria.como_se_sente_atendimento? '\\\\nComo se sente em relação ao atendimento jurídico realizado pelo Mapa do Acolhimento: ' + advogada_voluntaria.como_se_sente_atendimento : '')\n\n\n\tlet answers_txt = JSON.stringify(answers).replaceAll('Sim',true).replaceAll('Não',false)\n\tanswers_txt = answers_txt.replaceAll('false quis informar','Não quis informar').replaceAll('false se aplica','Não se aplica').replaceAll('\"true\"', 'true').replaceAll('\"false\"', 'false')\n\titem.json= {\n\t\t\t\t\t\t\tpriority,\n\t\t\t\t\t\t\tuser_id,\n              answers,\n\t\t\t\t\t\t\tbody_ticket,\t\n\t\t\t\t\t\t\tanswers_txt\t\t\t\t\t\n\t\t\t\t\t\t}\n\n}\n\nreturn items; "
      },
      "name": "Formata - Acomp Juridico 2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        480,
        1140
      ],
      "id": "5e344159-08d7-4d83-98d6-6a5c0af10cea"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://api-graphql.bonde.org/v1/graphql",
        "requestFormat": "json",
        "query": "=mutation MyMutation($answers: json) {\ninsert_mda_forms_answers(objects: {answers: $answers, form: \"acompanhamento-juridico-2\", msr_name: \"{{$node[\"Formata - Acomp Juridico 2\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\", ticket_id: {{$node[\"Criar novo ticket (acomp juridico 2)\"].json[\"ticket\"][\"id\"]}}, volunteer_email: \"{{$node[\"Formata - Acomp Juridico 2\"].json[\"answers\"][\"dados_voluntaria\"][\"email_cadastro\"]}}\",organization_id:360269610652, form_id:{{$node[\"Webhook\"].json[\"body\"][\"mautic.form_on_submit\"][0][\"submission\"][\"form\"][\"id\"]}}\n}) {\naffected_rows\n}\n}",
        "variables": "={\n\"answers\": {{$node[\"Formata - Acomp Juridico 2\"].json[\"answers_txt\"]}}\n}"
      },
      "name": "Salvar Respostas5",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        920,
        1140
      ],
      "id": "c0ff68f3-782b-47af-9bce-fc28d12c1572",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nhq3GDSBeWJ5XE1l",
          "name": "[PROD] BONDE api-graphql"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nlet risco = 'nenhum';\nlet priority = 'low';\nfor (item of items) {\n\n  const results =  item.json.submission.results; \n  dados_voluntaria = {\n\t\tnome: results[\"1_nome_completo\"],\n\t\temail_cadastro: results[\"2_email_de_cadastro\"]\n\t}\n\tlet dados_acolhida = {\n\t\tnome: results[\"3_nome_da_acolhida\"],\n\t}\n\n\tlet contrato = {\n\t\tacolhida_segue_em_atendimento: results[\"4_a_acolhida_segue_em_ate\"],\n\t\tassidua_atendimentos: results['5_a_acolhida_tem_sido_ass'],\n\t\tmotivo_nao_assidua: results[\"51_selecione_o_motivo_aba\"],\n\t\tacolhida_respeita_contrato: results[\"6_a_acolhida_respeita_os\"],\n\t\tfrequencia_atendimento_fora_do_horario: results[\"61__com_qual_frequencia_t\"]\n\t}\n\n\tlet acompanhamento_psicologico = {\n\t\tsubmetida_novas_violencias: results[\"7_a_acolhida_foi_submetid\"],\n\t\tcomentario_sobre_novas_violencias: results[\"71_caso_queira_comentar_s\"],\n\t\taspectos_psicologicos: results[\"8_aspectos_psicologicos_t\"],\n\t\tnecessidade_servico_publico: results[\"9_durante_o_atendimento_v\"],\n\t\tpor_que_referenciou_servico_publico: results[\"9_por_que\"],\n\t\tquais_instituicoes: results[\"9_para_qualis_instituicao\"],\n\t\triscos_suicidio: results[\"10_voce_se_preocupa_ou_pe\"]\n\t}\n\t\n\tlet aspectos_socioeconomicos = {\n\t\tapresenta_condicao_hipossuficiencia: results[\"11_a_acolhida_ainda_apres\"],\n\t\tmotivo_nao_condicao_hipossuficiencia: results[\"111_informe_aqui_os_motiv\"]\n\t}\n\t\n\tlet psicologa_voluntaria = {\n\t\ttem_contato_advogada: results[\"12_caso_a_acolhida_esteja\"],\n\t\tsolicitou_ajuda_mapa: results[\"13_voce_solicitou_ajuda_d\"],\n\t\tse_sentiu_orientada: results[\"13_sentiuse_orientada\"],\n\t\tse_sentiu_acolhida: results[\"13_se_sentiu_acolhida_pel\"],\n\t\tparticipa_encontros_discussao: \tresults[\"14_voce_participa_dos_enc\"],\n\t\tparticipa_grupo_whatsapp_estado:results[\"15_voce_participa_do_grup\"],\n\t\tcomo_se_sente_atendimento: results[\"16_se_desejar_relate_como\"]\n\t}\n\n\t// Seção contrato\n\tif (contrato.assidua_atendimentos === 'Não' ||\n\tcontrato.acolhida_respeita_contrato === 'Não') {\n\t\triority = 'normal'\n\t\trisco = 'moderado'\n\t}\n\n\t// Seção acompanhamento psicológico\n\tif(acompanhamento_psicologico.necessidade_servico_publico === 'Sim') {\n\t\tpriority = 'normal'\n\t\trisco = 'moderado'\t\n\t}\n\n\tif (acompanhamento_psicologico.submetida_novas_violencias || acompanhamento_psicologico.riscos_suicidio === 'Sim' ) {\n\t\tpriority = 'urgent'\n\t\trisco = 'extremo'\t\n\t}\n\t\n\tlet answers = {dados_voluntaria, dados_acolhida, contrato, acompanhamento_psicologico, aspectos_socioeconomicos, psicologa_voluntaria, risco: risco}\n\tconst user_id = item.json[\"submission\"][\"lead\"][\"fields\"][\"core\"][\"user_id\"][\"value\"] \n\n  let body_ticket = 'RISCO: ' + risco.toUpperCase() + '\\\\n\\\\nDADOS DA VOLUNTÁRIA:\\\\nNome: ' + dados_voluntaria.nome +'\\\\nEmail: ' + dados_voluntaria.email_cadastro +\n\t'\\\\n\\\\nDADOS DA ACOLHIDA\\\\nNome: ' + dados_acolhida.nome + \n\t'\\\\n\\\\nSOBRE O CONTRATO\\\\nA acolhida segue em atendimento: ' + contrato.acolhida_segue_em_atendimento +\t\n\t'\\\\nA acolhida tem sido assidua nos atendimentos: ' + contrato.assidua_atendimentos + \n\t//condição assiduidade nos atendimentos\n\t(contrato.assidua_atendimentos === 'Não' ? '\\\\nMotivo: ' + contrato.motivo_nao_assidua: '') +\n\t//respeito ao contrato\n\t'\\\\nA acolhida respeita o contrato estabelecido relacionado ao atendimento: ' + contrato.acolhida_respeita_contrato + \n\t//condição atendimento alem do horario estabelecido \n\t(contrato.acolhida_respeita_contrato === 'Não'? '\\\\nFrequência que procura além do horário de atendimento: ' + contrato.frequencia_atendimento_fora_do_horario : '' ) +\n\n\n  //acompanhamento_psicologico\n\t'\\\\n\\\\nACOMPANHAMENTO PSICOLÓGICO\\\\nA acolhida foi submetida a novas violências: ' + acompanhamento_psicologico.submetida_novas_violencias +\n\t//comentou sobre as violencias\n\t(acompanhamento_psicologico.comentario_sobre_novas_violencias ? '\\\\nComentário sobre novas violências que a acolhida foi submetida: ' + acompanhamento_psicologico.comentario_sobre_novas_violencias : '') +\n\t//aspectos psicológicos\n\t'\\\\nA Aspectos psicológicos trabalhados: ' + acompanhamento_psicologico.aspectos_psicologicos +\n\t//necessidade de serviço público\n\t'\\\\nNecessidade de referenciar a acolhida para algum serviço público: ' + acompanhamento_psicologico.necessidade_servico_publico +\n\t//se sim, por quê?\n\t(acompanhamento_psicologico.por_que_referenciou_servico_publico ? '\\\\nPor quê?: ' + acompanhamento_psicologico.por_que_referenciou_servico_publico : '') +\n\t//se sim, para qual(is) instituições?\n\t(acompanhamento_psicologico.quais_instituicoes ? '\\\\nNome(s) da(s) instituição(ões) pública(s): ' + acompanhamento_psicologico.quais_instituicoes : '') +\n\t//riscos suicídio\n\t'\\\\nRiscos suicídio: ' + acompanhamento_psicologico.riscos_suicidio +\n\n\t//Aspectos Socioeconomicos\n\t'\\\\n\\\\nASPECTOS SOCIOECONÔMICOS\\\\nA acolhida apresenta condição de hipossuficiência: ' + aspectos_socioeconomicos.apresenta_condicao_hipossuficiencia +\n\t//Se não, motivo\n\t(aspectos_socioeconomicos.motivo_nao_condicao_hipossuficiencia ? '\\\\nMotivos de não apresentar condição de hipossuficiência para o atendimento: ' + aspectos_socioeconomicos.motivo_nao_condicao_hipossuficiencia : '') +\n\n\t//Sobre a psicológa voluntária\n\t'\\\\n\\\\nSOBRE A PSICOLÓGA VOLUNTÁRIA'+ \n\t//Tem contato com advogada\n\t(psicologa_voluntaria.tem_contato_advogada ? '\\\\nCaso haja acompanhamento jurídico, a psicológa segue em contato com a advogada?: ' + psicologa_voluntaria.tem_contato_advogada : '') +\n\t//Solicitou ajuda\n\t'\\\\nSolicitou ajuda da equipe técnica do mapa: ' + psicologa_voluntaria.solicitou_ajuda_mapa +\n\t//Sentiu-se orientada\n\t(psicologa_voluntaria.se_sentiu_orientada ? '\\\\nSentiu-se orientada: ' + psicologa_voluntaria.se_sentiu_orientada : '') +\n\t//Sentiu-se acolhida\n\t(psicologa_voluntaria.se_sentiu_acolhida ? '\\\\nSentiu-se acolhida: ' + psicologa_voluntaria.se_sentiu_acolhida : '') +\n\t//Participa dos encontros de Discussão de Caso do projeto\n\t'\\\\nParticipa dos encontros de Discussão de Caso do projeto: ' + psicologa_voluntaria.participa_encontros_discussao +\n\t//Participa do grupo de Whatsapp\n\t'\\\\nParticipa do grupo de whatsapp: ' + psicologa_voluntaria.participa_grupo_whatsapp_estado +\n\t//Relato de como se sente\n\t(psicologa_voluntaria.como_se_sente_atendimento ? '\\\\nRelato de como se sente em relação ao atendimento psicológico: ' + psicologa_voluntaria.como_se_sente_atendimento : '')\n\t\n\tlet answers_txt = JSON.stringify(answers).replaceAll('Sim',true).replaceAll('Não',false)\n\tanswers_txt = answers_txt.replaceAll('false quis informar','Não quis informar').replaceAll('\"true\"', 'true').replaceAll('\"false\"', 'false')\n\titem.json= {\n\t\t\t\t\t\t\tpriority,\n\t\t\t\t\t\t\tuser_id,\n              answers,\n\t\t\t\t\t\t\tbody_ticket,\t\n\t\t\t\t\t\t\tanswers_txt\t\t\t\t\t\n\t\t\t\t\t\t}\n\titem.json.answers.risco =item.json.answers.risco.toUpperCase();\n}\n\nreturn items[items.length - 1]; "
      },
      "name": "Formata - Acomp Psicológico 2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        480,
        920
      ],
      "id": "c57c22a3-1c42-4847-8a2c-c45c0b79a68b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mapadoacolhimento.zendesk.com/api/v2/tickets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \n\t\"ticket\":{\n \t\t\"requester_id\":{{$node[\"Formata - Acomp Psicológico 2\"].json[\"user_id\"]}},\n \t\t\"organization_id\": 360282119532,\n \t\t\"description\": \"Importado via N8N\",\n        \"tags\": [\"acompanhamento-2\"], \n \t\t\"status\": \"new\",\n   \t\t\"priority\": \"{{$node[\"Formata - Acomp Psicológico 2\"].json[\"priority\"]}}\",\n \t\t\"subject\": \"[Acompanhamento 2] {{$node[\"Formata - Acomp Psicológico 2\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\",\n \t\t\"comment\": {\n \t\t\t\t\"body\": \"{{$node[\"Formata - Acomp Psicológico 2\"].json[\"body_ticket\"]}}\",\n \t\t\t\"public\": false\n \t\t}\n\t}\n}",
        "options": {}
      },
      "id": "6204d55b-8d2d-44b9-b595-f5eb78f7ffcf",
      "name": "Criar Novo Ticket (Acomp Psic 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        720,
        920
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://api-graphql.bonde.org/v1/graphql",
        "requestFormat": "json",
        "query": "=mutation InsertMDAFormAnswers ($answers: json) {\n\tinsert_mda_forms_answers(objects: {answers: $answers, form: \"acompanhamento-psicologico-2\", msr_name: \"{{$node[\"Formata - Acomp Psicológico 2\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\", volunteer_email: \"{{$node[\"Formata - Acomp Psicológico 2\"].json[\"answers\"][\"dados_voluntaria\"][\"email_cadastro\"]}}\", organization_id: 360282119532, form_id: {{$node[\"Webhook\"].json[\"body\"][\"mautic.form_on_submit\"][0][\"submission\"][\"form\"][\"id\"]}}, ticket_id: {{$node[\"Criar Novo Ticket (Acomp Psic 2)\"].json[\"ticket\"][\"id\"]}}}){\n\taffected_rows\t\n}\n}",
        "variables": "={\n\t\"answers\": {{$node[\"Formata - Acomp Psicológico 2\"].json[\"answers_txt\"]}}\t\t\n}"
      },
      "id": "cfc86bfd-ac6b-4bce-bd63-4257e0a7453f",
      "name": "Salvar Respostas 6",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        920,
        920
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "nhq3GDSBeWJ5XE1l",
          "name": "[PROD] BONDE api-graphql"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HYstwqyTrzYsvJ2P"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-16T17:41:58.269Z",
      "updatedAt": "2024-01-16T17:41:58.269Z",
      "id": "E3Tnq8M430hgCQfP",
      "name": "Mapa do acolhimento"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-02-08T14:30:20.000Z",
  "versionId": "5277f32a-e89b-4c35-8b6d-0887baf855cf"
}