[PROD]_E-mail_após_conclusao_do_primeiro_módulo
{
  "active": false,
  "connections": {
    "É a última página do Módulo 1?": {
      "main": [
        [
          {
            "node": "Busca e-mail e primeiro nome da voluntária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca e-mail e primeiro nome da voluntária": {
      "main": [
        [
          {
            "node": "SendGrid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "É a última página do Módulo 1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-24T01:59:41.930Z",
  "id": "q3o7eGMyyUed4akh",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PROD] E-mail após conclusão do primeiro módulo",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "16c257bd-ca21-4fcf-afd9-58654a5a9ec8",
              "leftValue": "={{ $json.body.objectid }}",
              "rightValue": "=8",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "812a178d-5e08-40e7-8355-dc295543821b",
      "name": "É a última página do Módulo 1?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        820,
        320
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "mdl_user",
          "mode": "list",
          "cachedResultName": "mdl_user"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.body.userid }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "email",
            "firstname"
          ]
        }
      },
      "id": "fd7df7dd-8a85-4ca0-955d-85662e594edb",
      "name": "Busca e-mail e primeiro nome da voluntária",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1160,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "KHoy20BFgrBIpHYR",
          "name": "[PROD] Moodle"
        }
      }
    },
    {
      "parameters": {
        "resource": "mail",
        "fromEmail": "voluntaria@mapadoacolhimento.org",
        "fromName": "Equipe do Mapa do Acolhimento",
        "toEmail": "={{ $json.email }}",
        "dynamicTemplate": true,
        "templateId": "=d-4f40a08545264aa49991ca33141c8e95",
        "dynamicTemplateFields": {
          "fields": [
            {
              "key": "name",
              "value": "={{ $json.firstname }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "aa86b3a1-67f2-4624-a987-7932643f84e7",
      "name": "SendGrid",
      "type": "n8n-nodes-base.sendGrid",
      "typeVersion": 1,
      "position": [
        1380,
        300
      ],
      "credentials": {
        "sendGridApi": {
          "id": "ewMQAncI0Om7E6AW",
          "name": "SendGrid account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "moodle-page-view",
        "options": {}
      },
      "id": "d42d33f9-0536-4884-a38c-fd408ae504f1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        600,
        320
      ],
      "webhookId": "3e06675f-aa55-42cd-bfa1-be979b64b575"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HYstwqyTrzYsvJ2P"
  },
  "shared": [
    {
      "createdAt": "2024-01-24T01:59:41.932Z",
      "updatedAt": "2024-01-24T01:59:41.932Z",
      "role": "workflow:owner",
      "workflowId": "q3o7eGMyyUed4akh",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2026-01-23T15:44:26.000Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-23",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-02-27T18:58:53.000Z",
  "versionId": "1fed7812-8a5f-49d3-ac16-5d0e3fc6d314"
}