[PROD]_Migraçao_do_Banco_de_Dados
{
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "volunteer_status_history",
            "type": "main",
            "index": 0
          },
          {
            "node": "volunteer_availability",
            "type": "main",
            "index": 0
          },
          {
            "node": "volunteer_training_history",
            "type": "main",
            "index": 0
          },
          {
            "node": "support_requests",
            "type": "main",
            "index": 0
          },
          {
            "node": "support_request_status_history",
            "type": "main",
            "index": 0
          },
          {
            "node": "matches",
            "type": "main",
            "index": 0
          },
          {
            "node": "match_status_history",
            "type": "main",
            "index": 0
          },
          {
            "node": "match_surveys",
            "type": "main",
            "index": 0
          },
          {
            "node": "volunteers_formdata",
            "type": "main",
            "index": 0
          },
          {
            "node": "cities",
            "type": "main",
            "index": 0
          },
          {
            "node": "volunteer_segments",
            "type": "main",
            "index": 0
          },
          {
            "node": "volunteer_unsubscriptions",
            "type": "main",
            "index": 0
          },
          {
            "node": "feature_flag",
            "type": "main",
            "index": 0
          },
          {
            "node": "busara_hashes",
            "type": "main",
            "index": 0
          },
          {
            "node": "multipliers",
            "type": "main",
            "index": 0
          },
          {
            "node": "multiplier_pii",
            "type": "main",
            "index": 0
          },
          {
            "node": "multiplier_registration_open_questions",
            "type": "main",
            "index": 0
          },
          {
            "node": "multiplier_journey_events",
            "type": "main",
            "index": 0
          },
          {
            "node": "public_services",
            "type": "main",
            "index": 0
          },
          {
            "node": "integrations_logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "volunteers",
            "type": "main",
            "index": 0
          },
          {
            "node": "auth_user",
            "type": "main",
            "index": 0
          },
          {
            "node": "django_session",
            "type": "main",
            "index": 0
          },
          {
            "node": "django_content_type",
            "type": "main",
            "index": 0
          },
          {
            "node": "auth_permission",
            "type": "main",
            "index": 0
          },
          {
            "node": "busara_ab_experiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "integrations_logs": {
      "main": [
        [
          {
            "node": "Insert integrations_logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza coluna data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza coluna data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "django_session": {
      "main": [
        [
          {
            "node": "Insert django_session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "django_content_type": {
      "main": [
        [
          {
            "node": "Insert django_content_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "auth_user": {
      "main": [
        [
          {
            "node": "Insert auth_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "auth_permission": {
      "main": [
        [
          {
            "node": "Insert auth_permission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "volunteers_formdata": {
      "main": [
        [
          {
            "node": "Insert volunteers_formdata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "volunteers": {
      "main": [
        [
          {
            "node": "Insert volunteers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "volunteer_unsubscriptions": {
      "main": [
        [
          {
            "node": "Insert volunteer_unsubscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "volunteer_segments": {
      "main": [
        [
          {
            "node": "Insert volunteer_segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "volunteer_training_history": {
      "main": [
        [
          {
            "node": "Insert volunteer_training_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "volunteer_status_history": {
      "main": [
        [
          {
            "node": "Insert volunteer_status_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "volunteer_availability": {
      "main": [
        [
          {
            "node": "Insert volunteer_availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cities": {
      "main": [
        [
          {
            "node": "Insert cities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "feature_flag": {
      "main": [
        [
          {
            "node": "Insert feature_flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busara_hashes": {
      "main": [
        [
          {
            "node": "Insert busara_hashes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "public_services": {
      "main": [
        [
          {
            "node": "Insert public_services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "support_requests": {
      "main": [
        [
          {
            "node": "Insert support_requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "support_request_status_history": {
      "main": [
        [
          {
            "node": "Insert support_request_status_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "matches": {
      "main": [
        [
          {
            "node": "Insert matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "match_status_history": {
      "main": [
        [
          {
            "node": "Insert match_status_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "match_surveys": {
      "main": [
        [
          {
            "node": "Insert match_surveys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "multipliers": {
      "main": [
        [
          {
            "node": "Insert multipliers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "multiplier_pii": {
      "main": [
        [
          {
            "node": "Insert multiplier_pii",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "multiplier_registration_open_questions": {
      "main": [
        [
          {
            "node": "Insert multiplier_registration_open_questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "multiplier_journey_events": {
      "main": [
        [
          {
            "node": "Insert multiplier_journey_events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete django_session": {
      "main": [
        [
          {
            "node": "Delete django_content_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete django_content_type": {
      "main": [
        [
          {
            "node": "Delete auth_permission",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete auth_permission": {
      "main": [
        [
          {
            "node": "Delete integrations_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete auth_user": {
      "main": [
        [
          {
            "node": "Delete volunteer_unsubscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete volunteers": {
      "main": [
        [
          {
            "node": "Delete volunteers_formdata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete volunteer_unsubscriptions": {
      "main": [
        [
          {
            "node": "Delete volunteer_segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete volunteer_segments": {
      "main": [
        [
          {
            "node": "Delete volunteer_training_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete volunteer_training_history": {
      "main": [
        [
          {
            "node": "Delete volunteer_status_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete volunteer_status_history": {
      "main": [
        [
          {
            "node": "Delete volunteer_availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete integrations_logs": {
      "main": [
        [
          {
            "node": "Delete volunteers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete volunteers_formdata": {
      "main": [
        [
          {
            "node": "Delete auth_user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete cities": {
      "main": [
        [
          {
            "node": "Delete feature_flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete feature_flag": {
      "main": [
        [
          {
            "node": "Delete busara_hashes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete busara_hashes": {
      "main": [
        [
          {
            "node": "Delete public_services",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete volunteer_availability": {
      "main": [
        [
          {
            "node": "Delete cities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete public_services": {
      "main": [
        [
          {
            "node": "Delete support_requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete matches": {
      "main": [
        [
          {
            "node": "Delete match_status_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete match_status_history": {
      "main": [
        [
          {
            "node": "Delete match_surveys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete support_requests": {
      "main": [
        [
          {
            "node": "Delete support_request_status_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete support_request_status_history": {
      "main": [
        [
          {
            "node": "Delete matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete match_surveys": {
      "main": [
        [
          {
            "node": "Delete multipliers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete multipliers": {
      "main": [
        [
          {
            "node": "Delete multiplier_pii",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete multiplier_pii": {
      "main": [
        [
          {
            "node": "Delete multiplier_registration_open_questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete multiplier_registration_open_questions": {
      "main": [
        [
          {
            "node": "Delete multiplier_journey_events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busara_ab_experiment": {
      "main": [
        [
          {
            "node": "Insert busara_ab_experiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-24T16:01:06.535Z",
  "id": "kIlaNwN74g7C0pnL",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PROD] Migração do Banco de Dados",
  "nodes": [
    {
      "parameters": {},
      "id": "091b3cf4-d24b-456b-bcbd-8913188eba9f",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        500,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteers",
        "options": {}
      },
      "id": "e0a5644d-443d-4a31-b347-960f8e9a3714",
      "name": "volunteers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -940
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteer_status_history",
        "options": {}
      },
      "id": "ba977ec6-b335-4750-a44f-9ba84d10592f",
      "name": "volunteer_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -180
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteer_availability",
        "options": {}
      },
      "id": "be395364-06f0-4f1a-ad44-8be8a569be88",
      "name": "volunteer_availability",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        20
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteer_training_history",
        "options": {}
      },
      "id": "71dbe41c-f653-4800-9459-064e2d7097c3",
      "name": "volunteer_training_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -380
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.support_requests",
        "options": {}
      },
      "id": "af8e59ae-d4d4-4a3d-9bec-edb6f0af2833",
      "name": "support_requests",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        1160
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.matches",
        "options": {}
      },
      "id": "4735ac2a-dbb9-413f-876a-63f23cf24ae9",
      "name": "matches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        1640
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.match_status_history",
        "options": {}
      },
      "id": "3e3b1132-42ed-4532-90a3-e0bd3fc5eaa2",
      "name": "match_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        1820
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.match_surveys",
        "options": {}
      },
      "id": "5220dd82-ec73-4523-8936-2391f6f0c825",
      "name": "match_surveys",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        2000
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteers_formdata",
        "options": {}
      },
      "id": "0ec98536-f033-46b1-8e55-e4ccf5c6b351",
      "name": "volunteers_formdata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -1120
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM cities",
        "options": {}
      },
      "id": "2cca56e7-fafe-4ed0-aac4-9d8d4a3459d6",
      "name": "cities",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteer_segments",
        "options": {}
      },
      "id": "3599571c-eb1e-4073-8897-399323e7cfff",
      "name": "volunteer_segments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -580
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteer_unsubscriptions",
        "options": {}
      },
      "id": "512c96cc-ceba-44f2-a123-492bc367a01a",
      "name": "volunteer_unsubscriptions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -760
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.feature_flag",
        "options": {}
      },
      "id": "0162a164-c1cf-44e5-862d-40a6347970ef",
      "name": "feature_flag",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        440
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.busara_hashes",
        "options": {}
      },
      "id": "07c8df74-802e-4065-8e05-bc38c53762cc",
      "name": "busara_hashes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM mobilization.multipliers",
        "options": {}
      },
      "id": "be9764b5-6246-4ab2-803a-8472fc483882",
      "name": "multipliers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        2300
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM mobilization.multiplier_pii",
        "options": {}
      },
      "id": "49abb5e1-efc0-4390-a793-7e294cb66d94",
      "name": "multiplier_pii",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        2500
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM mobilization.multiplier_registration_open_questions",
        "options": {}
      },
      "id": "6157995d-836a-480a-8f15-962c2d1dacb4",
      "name": "multiplier_registration_open_questions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        2720
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM mobilization.multiplier_journey_events",
        "options": {}
      },
      "id": "eedf3563-a252-475d-8c49-bea1cebbae63",
      "name": "multiplier_journey_events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        2940
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteers_formdata",
          "mode": "list",
          "cachedResultName": "volunteers_formdata"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "type_form",
              "displayName": "type_form",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "values",
              "displayName": "values",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_steps",
              "displayName": "total_steps",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e8c491a6-3a63-4e8c-b381-c23755bb831d",
      "name": "Insert volunteers_formdata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -1120
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_unsubscriptions",
          "mode": "list",
          "cachedResultName": "volunteer_unsubscriptions"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "volunteer_unsubscription_id",
              "displayName": "volunteer_unsubscription_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "volunteer_id",
              "displayName": "volunteer_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "unsubscription_reason",
              "displayName": "unsubscription_reason",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unsubscription_description",
              "displayName": "unsubscription_description",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "cb3748b7-284c-45c1-89be-a7728aeee158",
      "name": "Insert volunteer_unsubscriptions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -760
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_segments",
          "mode": "list",
          "cachedResultName": "volunteer_segments"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "volunteer_segment_id",
              "displayName": "volunteer_segment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segment_name",
              "displayName": "segment_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "volunteer_id",
              "displayName": "volunteer_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "volunteer_segment_group",
              "displayName": "volunteer_segment_group",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "5a20e35e-e5f4-4617-a21f-2bc6ffc01009",
      "name": "Insert volunteer_segments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -580
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_training_history",
          "mode": "list",
          "cachedResultName": "volunteer_training_history"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "volunteer_training_history_id",
              "displayName": "volunteer_training_history_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "volunteer_id",
              "displayName": "volunteer_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "moodle_user_id",
              "displayName": "moodle_user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "started_training",
                  "value": "started_training"
                },
                {
                  "name": "finished_training",
                  "value": "finished_training"
                }
              ],
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "475e2cb0-b289-4398-92ba-e73d28714651",
      "name": "Insert volunteer_training_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -380
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_status_history",
          "mode": "list",
          "cachedResultName": "volunteer_status_history"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "volunteer_id",
              "displayName": "volunteer_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "4208c2c8-6229-42e0-b51d-8b8414532823",
      "name": "Insert volunteer_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -180
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteers",
          "mode": "list",
          "cachedResultName": "volunteers"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "offers_libras_support": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "zipcode",
              "displayName": "zipcode",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "neighborhood",
              "displayName": "neighborhood",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "latitude",
              "displayName": "latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "longitude",
              "displayName": "longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "register_number",
              "displayName": "register_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "birth_date",
              "displayName": "birth_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "color",
              "displayName": "color",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modality",
              "displayName": "modality",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fields_of_work",
              "displayName": "fields_of_work",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "years_of_experience",
              "displayName": "years_of_experience",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approach",
              "displayName": "approach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "form_data_id",
              "displayName": "form_data_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "occupation",
              "displayName": "occupation",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "moodle_id",
              "displayName": "moodle_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "form_entries_id",
              "displayName": "form_entries_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "zendesk_user_id",
              "displayName": "zendesk_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "availability",
              "displayName": "availability",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "offers_libras_support",
              "displayName": "offers_libras_support",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "street",
              "displayName": "street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "bd9552c1-31dd-4e34-93ac-818f0eef2e28",
      "name": "Insert volunteers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -940
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_availability",
          "mode": "list",
          "cachedResultName": "volunteer_availability"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "is_available": false,
            "offers_online_support": false,
            "offers_libras_support": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "volunteer_id",
              "displayName": "volunteer_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_matches",
              "displayName": "current_matches",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "max_matches",
              "displayName": "max_matches",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_available",
              "displayName": "is_available",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "support_type",
              "displayName": "support_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "support_expertise",
              "displayName": "support_expertise",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "offers_online_support",
              "displayName": "offers_online_support",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "lat",
              "displayName": "lat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "lng",
              "displayName": "lng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "offers_libras_support",
              "displayName": "offers_libras_support",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "a587fa7e-58cf-4f00-95be-7eefc1cab529",
      "name": "Insert volunteer_availability",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        20
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cities",
          "mode": "list",
          "cachedResultName": "cities"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "city_id",
              "displayName": "city_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "city_value",
              "displayName": "city_value",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city_label",
              "displayName": "city_label",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ibge_code",
              "displayName": "ibge_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c0ca4779-86bb-461d-81b9-3dc34dfa693c",
      "name": "Insert cities",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "feature_flag",
          "mode": "list",
          "cachedResultName": "feature_flag"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "feature_enabled",
              "displayName": "feature_enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "feature_name",
              "displayName": "feature_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "83106f63-7ba1-43e8-bd38-42ed6a81aacf",
      "name": "Insert feature_flag",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        440
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "busara_hashes",
          "mode": "list",
          "cachedResultName": "busara_hashes"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "msr_email",
              "displayName": "msr_email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hash",
              "displayName": "hash",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "13f40c33-d82b-40cc-96ad-ede3ae023ee8",
      "name": "Insert busara_hashes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "support_requests",
          "mode": "list",
          "cachedResultName": "support_requests"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "has_disability": false,
            "requires_libras": false,
            "accepts_online_support": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "support_request_id",
              "displayName": "support_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "zendesk_ticket_id",
              "displayName": "zendesk_ticket_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "support_type",
              "displayName": "support_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "psychological",
                  "value": "psychological"
                },
                {
                  "name": "legal",
                  "value": "legal"
                }
              ]
            },
            {
              "id": "support_expertise",
              "displayName": "support_expertise",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_disability",
              "displayName": "has_disability",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "requires_libras",
              "displayName": "requires_libras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "accepts_online_support",
              "displayName": "accepts_online_support",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "lat",
              "displayName": "lat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "lng",
              "displayName": "lng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "open",
                  "value": "open"
                },
                {
                  "name": "matched",
                  "value": "matched"
                },
                {
                  "name": "social_worker",
                  "value": "social_worker"
                },
                {
                  "name": "public_service",
                  "value": "public_service"
                },
                {
                  "name": "duplicated",
                  "value": "duplicated"
                },
                {
                  "name": "closed",
                  "value": "closed"
                },
                {
                  "name": "special_case",
                  "value": "special_case"
                },
                {
                  "name": "public_service_with_social_worker",
                  "value": "public_service_with_social_worker"
                },
                {
                  "name": "scheduled_social_worker",
                  "value": "scheduled_social_worker"
                },
                {
                  "name": "expired_social_worker",
                  "value": "expired_social_worker"
                }
              ]
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "146171fb-0d5a-4175-a177-d5b8fb98168a",
      "name": "Insert support_requests",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        1160
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.support_request_status_history",
        "options": {}
      },
      "id": "c58a9935-ebfa-4abc-ab20-cc612fc9a623",
      "name": "support_request_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        1340
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "support_request_status_history",
          "mode": "list",
          "cachedResultName": "support_request_status_history"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "support_request_status_history_id",
              "displayName": "support_request_status_history_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "support_request_id",
              "displayName": "support_request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "open",
                  "value": "open"
                },
                {
                  "name": "matched",
                  "value": "matched"
                },
                {
                  "name": "social_worker",
                  "value": "social_worker"
                },
                {
                  "name": "public_service",
                  "value": "public_service"
                },
                {
                  "name": "duplicated",
                  "value": "duplicated"
                },
                {
                  "name": "closed",
                  "value": "closed"
                },
                {
                  "name": "special_case",
                  "value": "special_case"
                },
                {
                  "name": "public_service_with_social_worker",
                  "value": "public_service_with_social_worker"
                },
                {
                  "name": "scheduled_social_worker",
                  "value": "scheduled_social_worker"
                },
                {
                  "name": "expired_social_worker",
                  "value": "expired_social_worker"
                }
              ]
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "17c2458f-0a7b-432b-8575-d490d0b836c6",
      "name": "Insert support_request_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        1340
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "matches",
          "mode": "list",
          "cachedResultName": "matches"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "match_id",
              "displayName": "match_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "support_request_id",
              "displayName": "support_request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "volunteer_id",
              "displayName": "volunteer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "msr_zendesk_ticket_id",
              "displayName": "msr_zendesk_ticket_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "volunteer_zendesk_ticket_id",
              "displayName": "volunteer_zendesk_ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "support_type",
              "displayName": "support_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "psychological",
                  "value": "psychological"
                },
                {
                  "name": "legal",
                  "value": "legal"
                }
              ],
              "removed": false
            },
            {
              "id": "match_type",
              "displayName": "match_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "msr",
                  "value": "msr"
                },
                {
                  "name": "daily",
                  "value": "daily"
                },
                {
                  "name": "manual",
                  "value": "manual"
                },
                {
                  "name": "old",
                  "value": "old"
                }
              ],
              "removed": false
            },
            {
              "id": "match_stage",
              "displayName": "match_stage",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "manual",
                  "value": "manual"
                },
                {
                  "name": "ideal",
                  "value": "ideal"
                },
                {
                  "name": "expanded",
                  "value": "expanded"
                },
                {
                  "name": "online",
                  "value": "online"
                },
                {
                  "name": "old",
                  "value": "old"
                }
              ],
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "completed",
                  "value": "completed"
                },
                {
                  "name": "expired",
                  "value": "expired"
                },
                {
                  "name": "in_contact",
                  "value": "in_contact"
                },
                {
                  "name": "interrupted_after_support",
                  "value": "interrupted_after_support"
                },
                {
                  "name": "interrupted_before_support",
                  "value": "interrupted_before_support"
                },
                {
                  "name": "waiting_contact",
                  "value": "waiting_contact"
                },
                {
                  "name": "started_contact",
                  "value": "started_contact"
                }
              ],
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "fb983301-9bb0-4ad2-aab3-08dc4cbf87ac",
      "name": "Insert matches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        1640
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "match_status_history",
          "mode": "list",
          "cachedResultName": "match_status_history"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "match_status_history_id",
              "displayName": "match_status_history_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "match_id",
              "displayName": "match_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "completed",
                  "value": "completed"
                },
                {
                  "name": "expired",
                  "value": "expired"
                },
                {
                  "name": "in_contact",
                  "value": "in_contact"
                },
                {
                  "name": "interrupted_after_support",
                  "value": "interrupted_after_support"
                },
                {
                  "name": "interrupted_before_support",
                  "value": "interrupted_before_support"
                },
                {
                  "name": "waiting_contact",
                  "value": "waiting_contact"
                },
                {
                  "name": "started_contact",
                  "value": "started_contact"
                }
              ],
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "a381b537-e1d7-4992-b7ea-bcd89d09f111",
      "name": "Insert match_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        1820
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "match_surveys",
          "mode": "list",
          "cachedResultName": "match_surveys"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "match_survey_id",
              "displayName": "match_survey_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "match_id",
              "displayName": "match_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "survey_type",
              "displayName": "survey_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "triagem_1",
                  "value": "triagem_1"
                },
                {
                  "name": "triagem_2",
                  "value": "triagem_2"
                },
                {
                  "name": "acompanhamento_1",
                  "value": "acompanhamento_1"
                },
                {
                  "name": "acompanhamento_2",
                  "value": "acompanhamento_2"
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "0ba4e075-0453-4722-800d-547dbf60becf",
      "name": "Insert match_surveys",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        2000
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multiplier_pii",
          "mode": "list",
          "cachedResultName": "multiplier_pii"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "multiplier_pii_id",
              "displayName": "multiplier_pii_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "multiplier_id",
              "displayName": "multiplier_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "zip_code",
              "displayName": "zip_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "299ad458-aa21-49a6-b793-623c3d1c55e3",
      "name": "Insert multiplier_pii",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        2500
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multiplier_registration_open_questions",
          "mode": "list",
          "cachedResultName": "multiplier_registration_open_questions"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "multiplier_registration_open_questions_id",
              "displayName": "multiplier_registration_open_questions_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "multiplier_id",
              "displayName": "multiplier_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "university_name",
              "displayName": "university_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "university_course",
              "displayName": "university_course",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "how_she_heard_about_us",
              "displayName": "how_she_heard_about_us",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reasons_for_participating",
              "displayName": "reasons_for_participating",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "1b47c199-e2bf-462f-a0a6-a2efdac73cc6",
      "name": "Insert multiplier_registration_open_questions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        2720
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multiplier_journey_events",
          "mode": "list",
          "cachedResultName": "multiplier_journey_events"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "multiplier_journey_event_id",
              "displayName": "multiplier_journey_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "multiplier_id",
              "displayName": "multiplier_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "event",
              "displayName": "event",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "registration",
                  "value": "registration"
                },
                {
                  "name": "general_onboarding",
                  "value": "general_onboarding"
                }
              ]
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "18031d1e-6488-4920-b9e6-f57e64180cce",
      "name": "Insert multiplier_journey_events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        2940
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM public_services.public_services",
        "options": {}
      },
      "id": "f5c567a1-f410-4cc1-87ef-14c882fee203",
      "name": "public_services",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public_services",
          "mode": "list",
          "cachedResultName": "public_services"
        },
        "table": {
          "__rl": true,
          "value": "public_services",
          "mode": "list",
          "cachedResultName": "public_services"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "public_service_id",
              "displayName": "public_service_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_name",
              "displayName": "service_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "zipcode",
              "displayName": "zipcode",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "region",
              "displayName": "region",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lat",
              "displayName": "lat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "lng",
              "displayName": "lng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "8877b206-9f30-4be5-bc82-0a3128c7a081",
      "name": "Insert public_services",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM auth_permission",
        "options": {}
      },
      "id": "ffa4ff78-51c1-4bed-b985-700fa8113d62",
      "name": "auth_permission",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -1440
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "auth_permission",
          "mode": "list",
          "cachedResultName": "auth_permission"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content_type_id",
              "displayName": "content_type_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "codename",
              "displayName": "codename",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c375135d-f90e-4b81-bddd-1a45a071404f",
      "name": "Insert auth_permission",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -1440
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM auth_user",
        "options": {}
      },
      "id": "a56698a3-ba81-4a64-bc73-1abc7fbbb866",
      "name": "auth_user",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -1280
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "auth_user",
          "mode": "list",
          "cachedResultName": "auth_user"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "is_superuser": false,
            "is_staff": false,
            "is_active": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_login",
              "displayName": "last_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_superuser",
              "displayName": "is_superuser",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_staff",
              "displayName": "is_staff",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_joined",
              "displayName": "date_joined",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c8986b49-fbff-4c9a-bb2c-6117325ce4c5",
      "name": "Insert auth_user",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -1280
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM django_content_type",
        "options": {}
      },
      "id": "56a66859-d8a5-4144-9b3b-320d58c80859",
      "name": "django_content_type",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -1620
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "django_content_type",
          "mode": "list",
          "cachedResultName": "django_content_type"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "app_label",
              "displayName": "app_label",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "model",
              "displayName": "model",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "61f97f65-992a-46a8-b1f7-aee4f320b8c7",
      "name": "Insert django_content_type",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -1620
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM django_session",
        "options": {}
      },
      "id": "8244dbec-a603-40bd-9794-b0b070537e9b",
      "name": "django_session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -1800
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "django_session",
          "mode": "list",
          "cachedResultName": "django_session"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "session_key",
              "displayName": "session_key",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "session_data",
              "displayName": "session_data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expire_date",
              "displayName": "expire_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f3965c5a-b978-4229-acee-6e567fcf82f3",
      "name": "Insert django_session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -1800
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dac3f378-d47b-4815-a64f-5dd0536bd025",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        3540
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *,\n  data::TEXT AS string_data\nFROM integrations_logs\n",
        "options": {}
      },
      "id": "d6051094-611a-4561-9e2f-cffdce4965b8",
      "name": "integrations_logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        3540
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "integrations_logs",
          "mode": "list",
          "cachedResultName": "integrations_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "external_id": "={{ $json.external_id }}",
            "internal_id": "={{ $json.internal_id }}",
            "id": "={{ $json.id }}",
            "type": "={{ $json.type }}",
            "created_at": "={{ $json.created_at }}",
            "status": "={{ $json.status }}",
            "error": "='{{ $json.error }}'",
            "data": "={{ {} }}",
            "integration": "={{ $json.integration }}",
            "form_type": "={{ $json.form_type }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "integration",
              "displayName": "integration",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "external_id",
              "displayName": "external_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "form_type",
              "displayName": "form_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "internal_id",
              "displayName": "internal_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "0a6efbbc-0c24-4b47-a197-dac099bd085d",
      "name": "Insert integrations_logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        3280
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE integrations_logs\nSET data = {{ $json.string_data }}::JSONB\nWHERE id = {{ $json.id }}",
        "options": {}
      },
      "id": "fdc20ab3-2ddd-40af-8266-b5035337ff1a",
      "name": "Atualiza coluna data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1520,
        3560
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "django_session",
          "mode": "list",
          "cachedResultName": "django_session"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "09f93e3f-35a1-40ae-b578-f6b64978f39f",
      "name": "Delete django_session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1780,
        3280
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "django_content_type",
          "mode": "list",
          "cachedResultName": "django_content_type"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "d032314f-296f-42ca-a930-2303fb8499eb",
      "name": "Delete django_content_type",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2000,
        3280
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "auth_user",
          "mode": "list",
          "cachedResultName": "auth_user"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "acb6e1c2-490a-44ba-8f82-8581d0adf466",
      "name": "Delete auth_user",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2160,
        3520
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "auth_permission",
          "mode": "list",
          "cachedResultName": "auth_permission"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "4b35be24-eb85-42a2-a06a-2eb618ad79bb",
      "name": "Delete auth_permission",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2200,
        3280
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteers_formdata",
          "mode": "list",
          "cachedResultName": "volunteers_formdata"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "27711460-1d37-4051-a3e3-481e763473b3",
      "name": "Delete volunteers_formdata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1960,
        3520
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteers",
          "mode": "list",
          "cachedResultName": "volunteers"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "dc0c0408-a62d-4280-ab2a-f34dbf85221e",
      "name": "Delete volunteers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1760,
        3520
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_unsubscriptions",
          "mode": "list",
          "cachedResultName": "volunteer_unsubscriptions"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "315692f4-710f-405d-91bb-6d2e14a9816f",
      "name": "Delete volunteer_unsubscriptions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2340,
        3520
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_segments",
          "mode": "list",
          "cachedResultName": "volunteer_segments"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "7caa6637-745b-41c3-860c-96a3de416901",
      "name": "Delete volunteer_segments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2520,
        3520
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_training_history",
          "mode": "list",
          "cachedResultName": "volunteer_training_history"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "21d940b0-30b1-439f-9af7-cdf0826283ee",
      "name": "Delete volunteer_training_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2740,
        3520
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_status_history",
          "mode": "list",
          "cachedResultName": "volunteer_status_history"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "590cf117-72c8-4901-9a0a-d3b65c744368",
      "name": "Delete volunteer_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2960,
        3520
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_availability",
          "mode": "list",
          "cachedResultName": "volunteer_availability"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "050eed2a-454f-40a5-9757-625f5b1e921a",
      "name": "Delete volunteer_availability",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3140,
        3520
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cities",
          "mode": "list",
          "cachedResultName": "cities"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "bf07e138-de33-4dcf-99dc-7ea799b89e67",
      "name": "Delete cities",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1760,
        3760
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "feature_flag",
          "mode": "list",
          "cachedResultName": "feature_flag"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "335b6a64-eec5-44ca-873b-54b5a3a028f3",
      "name": "Delete feature_flag",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1960,
        3760
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "busara_hashes",
          "mode": "list",
          "cachedResultName": "busara_hashes"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "570d6102-4782-40f3-a408-d3610f81767e",
      "name": "Delete busara_hashes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2180,
        3760
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public_services",
          "mode": "list",
          "cachedResultName": "public_services"
        },
        "table": {
          "__rl": true,
          "value": "public_services",
          "mode": "list",
          "cachedResultName": "public_services"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "86bbbea7-7250-406c-9a1b-9b64aa9c3f0e",
      "name": "Delete public_services",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2400,
        3760
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "support_requests",
          "mode": "list",
          "cachedResultName": "support_requests"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "f207d542-5de7-4f54-9194-2eded8736392",
      "name": "Delete support_requests",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1760,
        3940
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "support_request_status_history",
          "mode": "list",
          "cachedResultName": "support_request_status_history"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "bf33ef26-bc7d-49b7-bbe7-7627a0f12349",
      "name": "Delete support_request_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1980,
        3940
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "matches",
          "mode": "list",
          "cachedResultName": "matches"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "9828951a-f3fa-48c9-b1d4-efb3f11b9d7b",
      "name": "Delete matches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1760,
        4180
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "match_status_history",
          "mode": "list",
          "cachedResultName": "match_status_history"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "1f7883ee-be01-4f84-af45-89ea1fd51c96",
      "name": "Delete match_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2000,
        4180
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "match_surveys",
          "mode": "list",
          "cachedResultName": "match_surveys"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "2aaa63b2-0933-4ea3-bd2d-da407e6de06a",
      "name": "Delete match_surveys",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2220,
        4180
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multipliers",
          "mode": "list",
          "cachedResultName": "multipliers"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "has_disability": false,
            "has_internet_access": false,
            "is_available": false,
            "is_university_student": false,
            "has_children": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "multiplier_id",
              "displayName": "multiplier_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "cis_woman",
                  "value": "cis_woman"
                },
                {
                  "name": "trans_woman",
                  "value": "trans_woman"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "age",
              "displayName": "age",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "region",
              "displayName": "region",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "norte",
                  "value": "norte"
                },
                {
                  "name": "nordeste",
                  "value": "nordeste"
                },
                {
                  "name": "centro_oeste",
                  "value": "centro_oeste"
                },
                {
                  "name": "sudeste",
                  "value": "sudeste"
                },
                {
                  "name": "sul",
                  "value": "sul"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "state",
              "displayName": "state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "race",
              "displayName": "race",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "black",
                  "value": "black"
                },
                {
                  "name": "brown",
                  "value": "brown"
                },
                {
                  "name": "indigenous",
                  "value": "indigenous"
                },
                {
                  "name": "yellow",
                  "value": "yellow"
                },
                {
                  "name": "white",
                  "value": "white"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "sexuality",
              "displayName": "sexuality",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "lesbian",
                  "value": "lesbian"
                },
                {
                  "name": "bisexual",
                  "value": "bisexual"
                },
                {
                  "name": "heterosexual",
                  "value": "heterosexual"
                },
                {
                  "name": "asexual",
                  "value": "asexual"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "religion",
              "displayName": "religion",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "atheist",
                  "value": "atheist"
                },
                {
                  "name": "candomble",
                  "value": "candomble"
                },
                {
                  "name": "catholic",
                  "value": "catholic"
                },
                {
                  "name": "spiritist",
                  "value": "spiritist"
                },
                {
                  "name": "evangelical",
                  "value": "evangelical"
                },
                {
                  "name": "umbanda",
                  "value": "umbanda"
                },
                {
                  "name": "others",
                  "value": "others"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "has_disability",
              "displayName": "has_disability",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_internet_access",
              "displayName": "has_internet_access",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_available",
              "displayName": "is_available",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "education_level",
              "displayName": "education_level",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "basic_education",
                  "value": "basic_education"
                },
                {
                  "name": "high_school",
                  "value": "high_school"
                },
                {
                  "name": "completed_undergraduate",
                  "value": "completed_undergraduate"
                },
                {
                  "name": "incomplete_undergraduate",
                  "value": "incomplete_undergraduate"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "is_university_student",
              "displayName": "is_university_student",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "university_type",
              "displayName": "university_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "public",
                  "value": "public"
                },
                {
                  "name": "private",
                  "value": "private"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "shift_availability",
              "displayName": "shift_availability",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disability_type",
              "displayName": "disability_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_children",
              "displayName": "has_children",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "household_type",
              "displayName": "household_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "urban",
                  "value": "urban"
                },
                {
                  "name": "rural",
                  "value": "rural"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "how_many_children",
              "displayName": "how_many_children",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c78a217d-3d2b-45db-89d3-b7665bae70a9",
      "name": "Insert multipliers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        2300
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multipliers",
          "mode": "list",
          "cachedResultName": "multipliers"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "ba882598-39dc-45e3-a963-c8c617128094",
      "name": "Delete multipliers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1760,
        4400
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multiplier_pii",
          "mode": "list",
          "cachedResultName": "multiplier_pii"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "a5cad102-227d-4538-9f6a-c0d8a439b5d2",
      "name": "Delete multiplier_pii",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2000,
        4400
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multiplier_registration_open_questions",
          "mode": "list",
          "cachedResultName": "multiplier_registration_open_questions"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "20f688f9-275f-48a8-9d85-96f2bc3bb0a3",
      "name": "Delete multiplier_registration_open_questions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2240,
        4400
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multiplier_journey_events",
          "mode": "list",
          "cachedResultName": "multiplier_journey_events"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "381e5dc3-9165-4ba5-8780-ce74a03c3323",
      "name": "Delete multiplier_journey_events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2500,
        4400
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "integrations_logs",
          "mode": "list",
          "cachedResultName": "integrations_logs"
        },
        "options": {
          "cascade": true
        }
      },
      "id": "f42c2765-7aa1-4302-855f-35614b976b42",
      "name": "Delete integrations_logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2380,
        3280
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    },
    {
      "parameters": {},
      "id": "e9361acf-b9a4-49e6-9ac3-c255179961d5",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        3380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.busara_ab_experiment",
        "options": {}
      },
      "id": "012503dd-b49b-4f83-8e25-c144fdb1490b",
      "name": "busara_ab_experiment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "busara_ab_experiment",
          "mode": "list",
          "cachedResultName": "busara_ab_experiment"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "busara_ab_experiment_id",
              "displayName": "busara_ab_experiment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "match_id",
              "displayName": "match_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "support_request_id",
              "displayName": "support_request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "transactional_id",
              "displayName": "transactional_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "7b6c956f-36a5-4f1a-b6fb-c339682b14a1",
      "name": "Insert busara_ab_experiment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "ar5K4womk0J5nVrf",
          "name": "[PROD] Novo Mapa"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2024-05-24T16:01:06.537Z",
      "updatedAt": "2024-05-24T16:01:06.537Z",
      "role": "workflow:owner",
      "workflowId": "kIlaNwN74g7C0pnL",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2025-12-25T23:13:37.000Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-25",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-06-18T12:44:11.000Z",
  "versionId": "43918556-8d55-4adb-9d9c-10c2f3d65bf9"
}