[PROD]_Recebe_respostas_dos_Instrumentais
{
  "active": true,
  "connections": {
    "Obtém os dados": {
      "main": [
        [
          {
            "node": "Insere na survey_quality_of_life_d0",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca tickets no Zendesk e email da MSR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtém os dados1": {
      "main": [
        [
          {
            "node": "Insere na survey_quality_of_life_d90",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca tickets no Zendesk e email da MSR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtém os dados2": {
      "main": [
        [
          {
            "node": "Insere na survey_quality_of_life_d180",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca tickets no Zendesk e email da MSR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualidade de Vida - d0": {
      "main": [
        [
          {
            "node": "Obtém os dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualidade de Vida - d90": {
      "main": [
        [
          {
            "node": "Obtém os dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualidade de Vida - d180": {
      "main": [
        [
          {
            "node": "Obtém os dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Adiciona comentário interno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca tickets no Zendesk e email da MSR": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona comentário interno": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Adiciona comentário interno1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca tickets no Zendesk e email da MSR1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona comentário interno1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Adiciona comentário interno2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca tickets no Zendesk e email da MSR2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona comentário interno2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-19T18:18:10.371Z",
  "id": "LKwgNGg7olUZhIGF",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PROD] Recebe respostas dos Instrumentais",
  "nodes": [
    {
      "parameters": {
        "content": "### Instrumental de Qualidade de Vida - d0",
        "height": 80,
        "width": 356.8337467037675
      },
      "id": "27365a71-1d9c-4169-93a2-047ce0bc1a23",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "function getHiddenFieldValue(item, fieldLabel){\n  return item.json.body.data.fields.find(\n    (element) => element.label === fieldLabel\n  ).value;\n}\n\nfunction getUniqueAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  if(!field.value) return null\n  \n  const answer = field.options.find(\n    (element) => element.id == field.value\n  ).text;\n\n  return answer\n}\n\nfunction getArrayAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  const valuesArray = field.value\n\n  if(!valuesArray) return null\n\n  const answersArray = valuesArray.map((value) => {\n    const answer = field.options.find(\n      (element) => element.id == value\n    ).text;\n\n    return answer\n    \n  })\n\n  return answersArray\n}\n\n\noutput = []\nfor (const item of $input.all()) {\n  const msrId = getHiddenFieldValue(item, \"msr_id\")\n  const msrFirstName = getHiddenFieldValue(item, \"msr_first_name\")\n  const qualityOfLife = getUniqueAnswer(item, \"qualidade_de_vida\")\n  const security = getUniqueAnswer(item, \"seguranca\")\n  const controllingSituations = getArrayAnswer(item, \"situacoes_controle\")\n  const selfEsteem = getUniqueAnswer(item, \"percepcao_si_mesma\")\n  const feelings = getArrayAnswer(item, \"sentimentos_sensacoes_emocoes\")\n  const handleViolenceImpact = getUniqueAnswer(item, \"lidar_impactos_da_violencia\")\n\n\n  output.push(\n    {\n      msr_id: msrId,\n      msr_first_name: msrFirstName,\n      quality_of_life: qualityOfLife,\n      security: security,\n      controlling_situations: controllingSituations,\n      self_esteem: selfEsteem,\n      feelings: feelings,\n      handle_violence_impact: handleViolenceImpact\n    }\n  )\n}\n\nreturn output;"
      },
      "id": "3b7eecc3-9e64-42ba-89de-11f0915f7a62",
      "name": "Obtém os dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        340
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "survey",
          "mode": "list",
          "cachedResultName": "survey"
        },
        "table": {
          "__rl": true,
          "value": "survey_quality_of_life_d0",
          "mode": "list",
          "cachedResultName": "survey_quality_of_life_d0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "msr_id": "={{ $json.msr_id }}",
            "quality_of_life": "={{ $json.quality_of_life }}",
            "security": "={{ $json.security }}",
            "self_esteem": "={{ $json.self_esteem }}",
            "controlling_situations": "={{ $json.controlling_situations }}",
            "feelings": "={{ $json.feelings }}",
            "handle_violence_impact": "={{ $json.handle_violence_impact }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "answer_id",
              "displayName": "answer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "quality_of_life",
              "displayName": "quality_of_life",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "security",
              "displayName": "security",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "controlling_situations",
              "displayName": "controlling_situations",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "self_esteem",
              "displayName": "self_esteem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feelings",
              "displayName": "feelings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handle_violence_impact",
              "displayName": "handle_violence_impact",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "ae811895-3591-4893-aaf4-31236ff7782c",
      "name": "Insere na survey_quality_of_life_d0",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1220,
        340
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "content": "### Instrumental de Qualidade de Vida - d90",
        "height": 80,
        "width": 356.8337467037675
      },
      "id": "737eb7f4-de13-4fa7-9fde-d4c7c72fd23e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "function getHiddenFieldValue(item, fieldLabel){\n  return item.json.body.data.fields.find(\n    (element) => element.label === fieldLabel\n  ).value;\n}\n\nfunction getUniqueAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  if(!field.value) return null\n  \n  const answer = field.options.find(\n    (element) => element.id == field.value\n  ).text;\n\n  return answer\n}\n\nfunction getArrayAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  const valuesArray = field.value\n\n  if(!valuesArray) return null\n\n  const answersArray = valuesArray.map((value) => {\n    const answer = field.options.find(\n      (element) => element.id == value\n    ).text;\n\n    return answer\n    \n  })\n\n  return answersArray\n}\n\n\noutput = []\nfor (const item of $input.all()) {\n  const msrId = getHiddenFieldValue(item, \"msr_id\")\n  const msrFirstName = getHiddenFieldValue(item, \"msr_first_name\")\n  const qualityOfLife = getUniqueAnswer(item, \"qualidade_de_vida\")\n  const security = getUniqueAnswer(item, \"seguranca\")\n  const controllingSituations = getArrayAnswer(item, \"situacoes_controle\")\n  const selfEsteem = getUniqueAnswer(item, \"percepcao_si_mesma\")\n  const feelings = getArrayAnswer(item, \"sentimentos_sensacoes_emocoes\")\n  const handleViolenceImpact = getUniqueAnswer(item, \"lidar_impactos_da_violencia\")\n\n\n  output.push(\n    {\n      msr_id: msrId,\n      msr_first_name: msrFirstName,\n      quality_of_life: qualityOfLife,\n      security: security,\n      controlling_situations: controllingSituations,\n      self_esteem: selfEsteem,\n      feelings: feelings,\n      handle_violence_impact: handleViolenceImpact\n    }\n  )\n}\n\nreturn output;"
      },
      "id": "b932f09b-bf85-496c-93e0-706eb65043b2",
      "name": "Obtém os dados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        960
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "survey",
          "mode": "list",
          "cachedResultName": "survey"
        },
        "table": {
          "__rl": true,
          "value": "survey_quality_of_life_d90",
          "mode": "list",
          "cachedResultName": "survey_quality_of_life_d90"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "msr_id": "={{ $json.msr_id }}",
            "quality_of_life": "={{ $json.quality_of_life }}",
            "security": "={{ $json.security }}",
            "controlling_situations": "={{ $json.controlling_situations }}",
            "self_esteem": "={{ $json.self_esteem }}",
            "feelings": "={{ $json.feelings }}",
            "handle_violence_impact": "={{ $json.handle_violence_impact }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "answer_id",
              "displayName": "answer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "quality_of_life",
              "displayName": "quality_of_life",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "security",
              "displayName": "security",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "controlling_situations",
              "displayName": "controlling_situations",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "self_esteem",
              "displayName": "self_esteem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feelings",
              "displayName": "feelings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handle_violence_impact",
              "displayName": "handle_violence_impact",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "9321da02-51fb-4564-85e9-5a18e62c03f6",
      "name": "Insere na survey_quality_of_life_d90",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1160,
        960
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "content": "### Instrumental de Qualidade de Vida - d180",
        "height": 80,
        "width": 356.8337467037675
      },
      "id": "df1cb4f4-6ab9-4e1c-b231-7c9f9ea05252",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        1560
      ]
    },
    {
      "parameters": {
        "jsCode": "function getHiddenFieldValue(item, fieldLabel){\n  return item.json.body.data.fields.find(\n    (element) => element.label === fieldLabel\n  ).value;\n}\n\nfunction getUniqueAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  if(!field.value) return null\n  \n  const answer = field.options.find(\n    (element) => element.id == field.value\n  ).text;\n\n  return answer\n}\n\nfunction getArrayAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  const valuesArray = field.value\n\n  if(!valuesArray) return null\n\n  const answersArray = valuesArray.map((value) => {\n    const answer = field.options.find(\n      (element) => element.id == value\n    ).text;\n\n    return answer\n    \n  })\n\n  return answersArray\n}\n\n\noutput = []\nfor (const item of $input.all()) {\n  const msrId = getHiddenFieldValue(item, \"msr_id\")\n  const msrFirstName = getHiddenFieldValue(item, \"msr_first_name\")\n  const qualityOfLife = getUniqueAnswer(item, \"qualidade_de_vida\")\n  const security = getUniqueAnswer(item, \"seguranca\")\n  const controllingSituations = getArrayAnswer(item, \"situacoes_controle\")\n  const selfEsteem = getUniqueAnswer(item, \"percepcao_si_mesma\")\n  const feelings = getArrayAnswer(item, \"sentimentos_sensacoes_emocoes\")\n  const handleViolenceImpact = getUniqueAnswer(item, \"lidar_impactos_da_violencia\")\n  const substanceUse = getUniqueAnswer(item, \"uso_de_drogas\")\n\n\n  output.push(\n    {\n      msr_id: msrId,\n      msr_first_name: msrFirstName,\n      quality_of_life: qualityOfLife,\n      security: security,\n      controlling_situations: controllingSituations,\n      self_esteem: selfEsteem,\n      feelings: feelings,\n      handle_violence_impact: handleViolenceImpact,\n      substance_use: substanceUse\n    }\n  )\n}\n\nreturn output;"
      },
      "id": "481749e1-9192-4e3a-ae9f-7e3c4b2c4be6",
      "name": "Obtém os dados2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        1680
      ]
    },
    {
      "parameters": {
        "content": "# Instrumentais de Qualidade de Vida",
        "height": 80,
        "width": 675.876410468
      },
      "id": "d4d726bf-3c06-4338-87cf-989cb9516021",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        40
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "survey",
          "mode": "list",
          "cachedResultName": "survey"
        },
        "table": {
          "__rl": true,
          "value": "survey_quality_of_life_d180",
          "mode": "list",
          "cachedResultName": "survey_quality_of_life_d180"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "msr_id": "={{ $json.msr_id }}",
            "quality_of_life": "={{ $json.quality_of_life }}",
            "security": "={{ $json.security }}",
            "controlling_situations": "={{ $json.controlling_situations }}",
            "self_esteem": "={{ $json.self_esteem }}",
            "feelings": "={{ $json.feelings }}",
            "handle_violence_impact": "={{ $json.handle_violence_impact }}",
            "substance_use": "={{ $json.substance_use }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "answer_id",
              "displayName": "answer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "quality_of_life",
              "displayName": "quality_of_life",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "security",
              "displayName": "security",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "controlling_situations",
              "displayName": "controlling_situations",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "self_esteem",
              "displayName": "self_esteem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feelings",
              "displayName": "feelings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handle_violence_impact",
              "displayName": "handle_violence_impact",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "substance_use",
              "displayName": "substance_use",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "849fefe2-db4a-4535-abfe-592d86960083",
      "name": "Insere na survey_quality_of_life_d180",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1140,
        1680
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey-quality-of-life-d0",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "d7a0e47e-3788-4d1b-a91b-fd7b793319f9",
      "name": "Qualidade de Vida - d0",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        720,
        340
      ],
      "webhookId": "81fe1c4a-2e1e-4099-bb8a-1beabef67b12",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey-quality-of-life-d90",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "53befad4-c25b-492d-bf68-04192379b83b",
      "name": "Qualidade de Vida - d90",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        720,
        960
      ],
      "webhookId": "81fe1c4a-2e1e-4099-bb8a-1beabef67b12",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey-quality-of-life-d180",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "90d0d314-fae9-45a5-b220-e9da15f29d88",
      "name": "Qualidade de Vida - d180",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        700,
        1680
      ],
      "webhookId": "81fe1c4a-2e1e-4099-bb8a-1beabef67b12",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a75d0fff-cf2f-4c68-a188-9040b33c78cf",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1440,
        560
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "be0bd91f-98d7-403a-b0ba-cc47f4491304",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1660,
        580
      ],
      "webhookId": "56853d24-2179-472a-a765-51f4ca9adf77"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  REPLACE(email, '@', '%40') AS email,\n  zendesk_ticket_id\nFROM match.support_requests\nINNER JOIN pii_sec.msr_pii USING(msr_id)\nWHERE msr_id = {{ $json.msr_id }}\nAND status != 'closed'",
        "options": {}
      },
      "id": "e0b29d98-593e-4b29-9b9f-8b45f16edf37",
      "name": "Busca tickets no Zendesk e email da MSR",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1220,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.zendesk_ticket_id }}",
        "updateFields": {
          "internalNote": "=A MSR preencheu o <a href=\"https://app.hex.tech/b5ca4b0e-47ba-4dee-a2be-6acac72f7305/app/13034fe3-c927-42b2-abd8-eebf0c8c3b13/latest?_msr_email=%22{{ $json.email }}%22\">Instrumental de Qualidade de Vida - 90 dias depois</a>"
        }
      },
      "id": "33e46ccb-7d7f-430c-8fc1-9a159fa39c50",
      "name": "Adiciona comentário interno",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1820,
        580
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c307d70c-8ede-4562-ba82-8cb3f0f7216b",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1420,
        1200
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "f83c9619-e734-4d7e-b1d8-b0b1a2e2a993",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1640,
        1220
      ],
      "webhookId": "56853d24-2179-472a-a765-51f4ca9adf77"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  REPLACE(email, '@', '%40') AS email,\n  zendesk_ticket_id\nFROM match.support_requests\nINNER JOIN pii_sec.msr_pii USING(msr_id)\nWHERE msr_id = {{ $json.msr_id }}\nAND status != 'closed'",
        "options": {}
      },
      "id": "51fce8d8-9487-4c9c-b89b-56e5b74f9e30",
      "name": "Busca tickets no Zendesk e email da MSR1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1180,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.zendesk_ticket_id }}",
        "updateFields": {
          "internalNote": "=A MSR preencheu o <a href=\"https://app.hex.tech/b5ca4b0e-47ba-4dee-a2be-6acac72f7305/app/13034fe3-c927-42b2-abd8-eebf0c8c3b13/latest?_msr_email=%22{{ $json.email }}%22\">Instrumental de Qualidade de Vida - 90 dias</a>"
        }
      },
      "id": "66721579-8925-44a2-8e5c-7ad37eef5c3b",
      "name": "Adiciona comentário interno1",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1800,
        1220
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d08b86c2-bd5a-40b1-b9c8-8d243e85faec",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1380,
        1920
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "0685cb1d-da8e-4b8e-b86f-69197909e330",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1600,
        1940
      ],
      "webhookId": "56853d24-2179-472a-a765-51f4ca9adf77"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  REPLACE(email, '@', '%40') AS email,\n  zendesk_ticket_id\nFROM match.support_requests\nINNER JOIN pii_sec.msr_pii USING(msr_id)\nWHERE msr_id = {{ $json.msr_id }}\nAND status != 'closed'",
        "options": {}
      },
      "id": "3cea1f44-b92a-48c3-bb40-910640a31377",
      "name": "Busca tickets no Zendesk e email da MSR2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1140,
        1920
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.zendesk_ticket_id }}",
        "updateFields": {
          "internalNote": "=A MSR preencheu o <a href=\"https://app.hex.tech/b5ca4b0e-47ba-4dee-a2be-6acac72f7305/app/13034fe3-c927-42b2-abd8-eebf0c8c3b13/latest?_msr_email=%22{{ $json.email }}%22\">Instrumental de Qualidade de Vida - 180 dias</a>"
        }
      },
      "id": "82fed991-8a86-4904-84b2-17ea62d335a0",
      "name": "Adiciona comentário interno2",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1760,
        1940
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Qualidade de Vida - d0": [
      {
        "json": {
          "headers": {
            "host": "mapadoacolhimento.app.n8n.cloud",
            "user-agent": "Tally Webhooks",
            "content-length": "6391",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "authorization": "uoqQUEpq&&C5$AL22k3PWN4j3dMd&&",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.96.41.236",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "907257b7f2abcd22-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.96.41.236, 172.70.91.161",
            "x-forwarded-host": "mapadoacolhimento.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-3-6db8488cf7-vz9hf",
            "x-is-trusted": "yes",
            "x-real-ip": "34.96.41.236"
          },
          "params": {},
          "query": {},
          "body": {
            "eventId": "11e87fc7-c160-4e65-a912-4c8be2aaf761",
            "eventType": "FORM_RESPONSE",
            "createdAt": "2025-01-24T19:13:45.997Z",
            "data": {
              "responseId": "04bppZ",
              "submissionId": "04bppZ",
              "respondentId": "QABR6A",
              "formId": "mD0agZ",
              "formName": "[MSR] Instrumental de Qualidade de Vida - dia 0",
              "createdAt": "2025-01-24T19:13:45.000Z",
              "fields": [
                {
                  "key": "question_JdlKXz_c3e63eb1-d275-4adc-b5f8-0413fe280560",
                  "label": "msr_first_name",
                  "type": "HIDDEN_FIELDS",
                  "value": "Camila"
                },
                {
                  "key": "question_JdlKXz_f11fad48-3722-45a5-931b-b5abee7b3aae",
                  "label": "msr_id",
                  "type": "HIDDEN_FIELDS",
                  "value": "22858077211028"
                },
                {
                  "key": "question_geqjYM",
                  "label": "qualidade_de_vida",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "8ff12753-cce9-4179-87f9-c98760214c9e"
                  ],
                  "options": [
                    {
                      "id": "3f192a76-8e3e-4233-b345-b6f1539799a0",
                      "text": "Muito ruim"
                    },
                    {
                      "id": "8ff12753-cce9-4179-87f9-c98760214c9e",
                      "text": "Ruim"
                    },
                    {
                      "id": "5333fb5e-2ce6-417b-9ad5-dceda23e6a94",
                      "text": "Mediana"
                    },
                    {
                      "id": "d6dfec3e-5384-4fa5-85d6-12c2336c1239",
                      "text": "Muito Boa"
                    },
                    {
                      "id": "0e0ba159-97ae-4be0-b960-5ad44f1eab51",
                      "text": "Boa"
                    }
                  ]
                },
                {
                  "key": "question_PD9lz1",
                  "label": "seguranca",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "7d8934bc-44ed-486f-a7be-12bed0f0d0e5"
                  ],
                  "options": [
                    {
                      "id": "116667e0-ba6a-40f4-8d88-60d0438d405c",
                      "text": "Nada segura"
                    },
                    {
                      "id": "7d8934bc-44ed-486f-a7be-12bed0f0d0e5",
                      "text": "Muito pouco segura"
                    },
                    {
                      "id": "9609b74b-69b5-4540-b67a-2563fd9d459b",
                      "text": "Medianamente segura"
                    },
                    {
                      "id": "987ef535-0e5d-453b-8b13-1845c89e73bc",
                      "text": "Bastante segura"
                    },
                    {
                      "id": "7b029f9a-3568-4971-8623-c014416c0acc",
                      "text": "Extremamente segura"
                    }
                  ]
                },
                {
                  "key": "question_E5lLxl",
                  "label": "situacoes_controle",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "37574d0c-b310-4d0f-9bb7-2db8c60d46cb"
                  ],
                  "options": [
                    {
                      "id": "2abfa872-53b2-4bfd-8659-1e95efbcfec3",
                      "text": "Me sinto controlada em meus acessos a recursos financeiros essenciais, como salários, contas bancárias, ou investimentos"
                    },
                    {
                      "id": "37574d0c-b310-4d0f-9bb7-2db8c60d46cb",
                      "text": "Me sinto controlada na forma como interajo com as pessoas no meu ambiente de trabalho, escola ou demais círculos sociais"
                    },
                    {
                      "id": "8c6abdc4-f610-42bf-84db-69bb9469ac0d",
                      "text": "Me sinto controlada/impedida de realizar os atos de cidadania, como votar, me candidatar a cargos eletivos ou ocupar posições de influência"
                    },
                    {
                      "id": "63cad273-9ef4-4ff0-9188-972b6480caec",
                      "text": "Me sinto controlada dentro da perspectiva religiosa"
                    },
                    {
                      "id": "4822b747-9556-4bb0-a503-dd929cdf1279",
                      "text": "Não me vejo inserida em nenhuma situação de controle neste momento."
                    }
                  ]
                },
                {
                  "key": "question_rBOVoo",
                  "label": "percepcao_si_mesma",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "076711c4-171e-4c60-85ec-9473064f7317"
                  ],
                  "options": [
                    {
                      "id": "bffd67a5-49f9-4207-9693-817f33044f5c",
                      "text": "Muito ruim"
                    },
                    {
                      "id": "e57624e2-025a-4d02-a784-c13d3ccf8c2b",
                      "text": "Ruim"
                    },
                    {
                      "id": "d98a8be1-e77d-46db-aa27-eda64ec646b3",
                      "text": "Mediana"
                    },
                    {
                      "id": "076711c4-171e-4c60-85ec-9473064f7317",
                      "text": "Boa"
                    },
                    {
                      "id": "68cb7f50-3ec3-442e-a443-d22ce7a8140d",
                      "text": "Muito boa"
                    }
                  ]
                },
                {
                  "key": "question_4B7LKr",
                  "label": "sentimentos_sensacoes_emocoes",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "7886a4e0-41e4-43b7-a0df-d94b16c97c7e"
                  ],
                  "options": [
                    {
                      "id": "7a7e3057-df72-40fb-a353-d7b702b53ff6",
                      "text": "Insônia"
                    },
                    {
                      "id": "7886a4e0-41e4-43b7-a0df-d94b16c97c7e",
                      "text": "Pesadelos"
                    },
                    {
                      "id": "8463e094-ac27-4a61-81ba-70b586b70510",
                      "text": "Falta de concentração"
                    },
                    {
                      "id": "b8568999-196b-42ea-9a31-0600a54f940d",
                      "text": "Irritabilidade"
                    },
                    {
                      "id": "5edcd071-9232-4663-9b9b-ac2ded31e6a0",
                      "text": "Pouco interesse ou pouco prazer em fazer as coisas"
                    },
                    {
                      "id": "cb9614cd-35d6-4595-b1dd-79a694f6ccd1",
                      "text": "Me sinto \"para baixo\", deprimido/a ou sem perspectiva"
                    },
                    {
                      "id": "2514e838-9ce5-40a5-84a9-5d6d988e682c",
                      "text": "Me sinto nervosa, ansiosa ou muito tensa"
                    },
                    {
                      "id": "72f14790-fea7-4fa0-8f9c-ce27b4a6f816",
                      "text": "Me sinto incapaz de impedir ou controlar as próprias emoções"
                    },
                    {
                      "id": "6037f80d-63e6-4931-a759-a8c405e4fdb5",
                      "text": "Distúrbio alimentar"
                    },
                    {
                      "id": "b94b2491-ee42-49df-a78a-ec15ed560137",
                      "text": "Sérios impactos na saúde mental como: depressão, ansiedade e/ou síndrome do pânico"
                    },
                    {
                      "id": "b7ea4bbc-c2d5-4e38-baa9-2ff4f629209b",
                      "text": "Comprometimento da autoestima"
                    },
                    {
                      "id": "28164ee3-8311-438d-9467-b0e978eaa970",
                      "text": "Distorção dos pensamentos e crenças de desvalia"
                    },
                    {
                      "id": "0fca6769-b0d3-486f-8fff-728f6b36374c",
                      "text": "Autodepreciação"
                    },
                    {
                      "id": "9273729d-99ac-422c-aed0-76e1f9fead44",
                      "text": "Sentimentos de culpa"
                    },
                    {
                      "id": "59b60cf8-ef95-499c-8a69-966605f4a7d2",
                      "text": "Dependência afetiva/emocional"
                    },
                    {
                      "id": "1ab6046a-0b07-43ff-b6b8-1f240bcd22da",
                      "text": "Dependência financeira"
                    },
                    {
                      "id": "c660d2c1-e038-48bc-9bf9-f5357595a577",
                      "text": "Uso de álcool e drogas"
                    },
                    {
                      "id": "d837001c-1458-45ff-a41c-3d8d6b74bf6d",
                      "text": "Desmaios"
                    },
                    {
                      "id": "87f7ada1-2c5f-4acd-a340-ef7046d5a36d",
                      "text": "Tontura"
                    },
                    {
                      "id": "bb8870ad-b7d1-4445-97e7-aa23eb9154c8",
                      "text": "Aborto espontâneo"
                    },
                    {
                      "id": "05cc0a69-d576-4554-9278-216e6e060386",
                      "text": "Partos prematuros"
                    },
                    {
                      "id": "1e9fd920-fe39-4fe0-b1fa-b8fb91cc056a",
                      "text": "Fraturas"
                    },
                    {
                      "id": "f7958420-4fd4-4ad4-ae71-f352714f3718",
                      "text": "Hematomas"
                    },
                    {
                      "id": "a3c78162-be50-47e4-b0a5-efaac1bf1d99",
                      "text": "Sangramentos"
                    },
                    {
                      "id": "1e4dc9fe-89c9-4723-970d-3a38e7185b16",
                      "text": "Infecção urinária"
                    },
                    {
                      "id": "42ef8b84-34f9-466b-85bd-0a430b1ec592",
                      "text": "Diarreia"
                    },
                    {
                      "id": "9793a707-6316-4288-bee3-b61b9d561851",
                      "text": "Dores musculares incapacitantes"
                    },
                    {
                      "id": "9990fecf-cbb1-418a-b8c9-ac7b3ab6a5c5",
                      "text": "Dores e ardência no estômago"
                    },
                    {
                      "id": "ba9e1793-0dc3-4ba3-9833-8fc7235165eb",
                      "text": "Infecções sexualmente transmissíveis"
                    },
                    {
                      "id": "3899fb2c-0154-4b0a-af0a-01a2b77bda31",
                      "text": "Não me identifico com nenhum neste momento"
                    }
                  ]
                },
                {
                  "key": "question_jboLlQ",
                  "label": "lidar_impactos_da_violencia",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "19880824-b2d5-4c35-ab61-ac83bf390e84"
                  ],
                  "options": [
                    {
                      "id": "19880824-b2d5-4c35-ab61-ac83bf390e84",
                      "text": "Ainda não me sinto capaz de lidar com os impactos da violência nem de lidar com os desafios do dia a dia"
                    },
                    {
                      "id": "41024562-9f6b-4a57-95ee-41d7eb846765",
                      "text": "Tenho conseguido lidar melhor com os impactos da violência e com os desafios do dia a dia, mas ainda é muito difícil"
                    },
                    {
                      "id": "a6cbb3e8-de69-4c57-9093-9be1f79a7e95",
                      "text": "Tem sido cada vez mais fácil/possível lidar com os impactos da violência e com os desafios do dia a dia"
                    },
                    {
                      "id": "700a5cec-355e-4d39-8a11-7d5bb1c3759a",
                      "text": "Me sinto totalmente capaz de lidar com os impactos da violência com os desafios do dia a dia de forma segura, sem muitas dificuldades"
                    }
                  ]
                }
              ]
            }
          },
          "webhookUrl": "https://mapadoacolhimento.app.n8n.cloud/webhook/survey-quality-of-life-d0",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HYstwqyTrzYsvJ2P"
  },
  "shared": [
    {
      "createdAt": "2024-12-19T18:18:10.376Z",
      "updatedAt": "2024-12-19T18:18:10.376Z",
      "role": "workflow:owner",
      "workflowId": "LKwgNGg7olUZhIGF",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "role": "project:personalOwner",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2024-12-10T20:48:45.029Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1733863720858
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-01-24T19:20:23.000Z",
  "versionId": "3ba844af-d21f-48b1-836c-a0946dfc3975"
}