[PROD]_Insere_dados_do_segundo_formulario_das_multiplicadoras_no_banco
{
  "active": false,
  "connections": {
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "dados do csv",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados do csv": {
      "main": [
        [
          {
            "node": "Atualiza tabela multipliers",
            "type": "main",
            "index": 0
          },
          {
            "node": "conserta array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "conserta array": {
      "main": [
        [
          {
            "node": "Update array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-01T21:54:22.889Z",
  "id": "4OvXrhS4lHsGX23e",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PROD] Insere dados do segundo formulário das multiplicadoras no banco",
  "nodes": [
    {
      "parameters": {},
      "id": "f4d9858b-cd7f-462f-9f1a-7227095bae21",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        720,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = [\n  {\n    \"multiplier_id\": 1,\n    \"city\": \"RIO DE JANEIRO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 2,\n    \"city\": \"not_found\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 6,\n    \"city\": \"SAO GONCALO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 7,\n    \"city\": \"UTINGA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 8,\n    \"city\": \"RIO DE JANEIRO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 9,\n    \"city\": \"not_found\",\n    \"household_type\": \"urban\",\n    \"has_children\": true,\n    \"how_many_children\": 1,\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 10,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 11,\n    \"city\": \"SALVADOR\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 12,\n    \"city\": \"RECIFE\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 13,\n    \"city\": \"GARANHUNS\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 15,\n    \"city\": \"GRAVATA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 17,\n    \"city\": \"MIRANGABA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 18,\n    \"city\": \"RIO DE JANEIRO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 19,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": true,\n    \"how_many_children\": 1,\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 22,\n    \"city\": \"RIO DE JANEIRO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 23,\n    \"city\": \"IGARASSU\",\n    \"household_type\": \"urban\",\n    \"has_children\": true,\n    \"how_many_children\": 2,\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 25,\n    \"city\": \"RIO DE JANEIRO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 26,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 28,\n    \"city\": \"not_found\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 30,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 31,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 33,\n    \"city\": \"DUQUE DE CAXIAS\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": \"[learning, emotional_or_psychological, intelectual, cognitive]\"\n  },\n  {\n    \"multiplier_id\": 39,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 40,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 41,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 44,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 46,\n    \"city\": \"NITEROI\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 47,\n    \"city\": \"OSASCO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 51,\n    \"city\": \"PRAIA GRANDE\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 54,\n    \"city\": \"not_found\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 55,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 56,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 59,\n    \"city\": \"not_found\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 62,\n    \"city\": \"SAO PULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 64,\n    \"city\": \"SALVADOR\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 70,\n    \"city\": \"SALVADOR\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 72,\n    \"city\": \"SAO PAULO CAPITAL\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 73,\n    \"city\": \"RIO DE JANEIRO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 77,\n    \"city\": \"SAO JOSE DO RIO PRETO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 79,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": \"[emotional_or_psychological]\"\n  },\n  {\n    \"multiplier_id\": 80,\n    \"city\": \"POA\",\n    \"household_type\": \"urban\",\n    \"has_children\": true,\n    \"how_many_children\": 1,\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 86,\n    \"city\": \"SANTOS\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 94,\n    \"city\": \"not_found\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 97,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 102,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 104,\n    \"city\": \"CUBATAO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": \"[cognitive]\"\n  },\n  {\n    \"multiplier_id\": 106,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 108,\n    \"city\": \"ENTRE RIOS\",\n    \"household_type\": \"urban\",\n    \"has_children\": true,\n    \"how_many_children\": 1,\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 109,\n    \"city\": \"RECIFE\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 116,\n    \"city\": \"CASTANHAL\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 117,\n    \"city\": \"BELEM\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 119,\n    \"city\": \"RIO DE JANEIRO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 121,\n    \"city\": \"MARILIA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 127,\n    \"city\": \"CAMPINAS\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 128,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 129,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 132,\n    \"city\": \"OLINDA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 144,\n    \"city\": \"RIO DE JANEIRO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 149,\n    \"city\": \"BELEM\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 153,\n    \"city\": \"BELEM\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 157,\n    \"city\": \"BELEM\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 162,\n    \"city\": \"BELEM\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 167,\n    \"city\": \"FEIRA DE SANTANA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 168,\n    \"city\": \"CORONEL JOAO SA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 171,\n    \"city\": \"CARUARU\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 172,\n    \"city\": \"RIO DE JANEIRO\",\n    \"household_type\": \"urban\",\n    \"has_children\": true,\n    \"how_many_children\": 1,\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 174,\n    \"city\": \"CAMACARI\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 177,\n    \"city\": \"JABOATAO DOS GUARARAPES\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 185,\n    \"city\": \"PAULISTA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 187,\n    \"city\": \"SALVADOR\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 189,\n    \"city\": \"SALVADOR\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 192,\n    \"city\": \"RECIFE\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 193,\n    \"city\": \"ITAPISSUMA\",\n    \"household_type\": \"rural\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 204,\n    \"city\": \"SALVADOR\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 207,\n    \"city\": \"SAO JOSE DOS CAMPOS\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 210,\n    \"city\": \"SANTO ANDRE\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 212,\n    \"city\": \"CARUARU\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 216,\n    \"city\": \"CAMACARI E SALVADOR\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": \"[emotional_or_psychological]\"\n  },\n  {\n    \"multiplier_id\": 218,\n    \"city\": \"RECIFE\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 220,\n    \"city\": \"MACHADOS\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 223,\n    \"city\": \"RECIFE\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 237,\n    \"city\": \"RECIFE\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 242,\n    \"city\": \"not_found\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 247,\n    \"city\": \"JABOATAO DOS GUARARAPES\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 255,\n    \"city\": \"CARUARU\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 262,\n    \"city\": \"OLINDA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 271,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 280,\n    \"city\": \"SANTO ANDRE\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 283,\n    \"city\": \"BELEM\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 284,\n    \"city\": \"TOME ACU\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 287,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 292,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 294,\n    \"city\": \"not_found\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 297,\n    \"city\": \"CAMETA- PARA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 298,\n    \"city\": \"SALVADOR\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 302,\n    \"city\": \"JURUTI\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 303,\n    \"city\": \"MANGARATIBA\",\n    \"household_type\": \"urban\",\n    \"has_children\": true,\n    \"how_many_children\": 1,\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 305,\n    \"city\": \"JACAREI\",\n    \"household_type\": \"rural\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 310,\n    \"city\": \"RIO DE JANEIRO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 313,\n    \"city\": \"SALVADOR\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 314,\n    \"city\": \"IPIRA\",\n    \"household_type\": \"urban\",\n    \"has_children\": true,\n    \"how_many_children\": 2,\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 316,\n    \"city\": \"SALVADOR\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 317,\n    \"city\": \"SALVADOR\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 318,\n    \"city\": \"MATA DE SAO JOAO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 319,\n    \"city\": \"PETROLINA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 320,\n    \"city\": \"MIRACATU\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": \"[learning, cognitive]\"\n  },\n  {\n    \"multiplier_id\": 323,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 324,\n    \"city\": \"CAMETA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 325,\n    \"city\": \"BELEM\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 326,\n    \"city\": \"JACOBINA\",\n    \"household_type\": \"rural\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 327,\n    \"city\": \"FRANCA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 5,\n    \"city\": \"SAO PAULO\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 36,\n    \"city\": \"RIO DE JANEIRO\",\n    \"household_type\": \"urban\",\n    \"has_children\": true,\n    \"how_many_children\": 2,\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 151,\n    \"city\": \"BELEM\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 197,\n    \"city\": \"RECIFE\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 201,\n    \"city\": \"BELEM\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 224,\n    \"city\": \"OLINDA\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 263,\n    \"city\": \"RECIFE\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  },\n  {\n    \"multiplier_id\": 290,\n    \"city\": \"BREVES\",\n    \"household_type\": \"urban\",\n    \"has_children\": false,\n    \"how_many_children\": \"\",\n    \"disability_type\": []\n  }\n]\nreturn output"
      },
      "id": "f881d6ef-3e63-496b-b63b-43812aba9328",
      "name": "dados do csv",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.disability_type = item.json.disability_type.toString().replace(\"[\", \"\").replace(\"]\", \"\").replace(\" \", \"\").split(\",\");\n}\n\nreturn $input.all();"
      },
      "id": "edb9c3bc-1155-4cf1-af01-a230d3f9a76a",
      "name": "conserta array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE mobilization.multipliers\nSET disability_type = '{ {{ $json.disability_type }} }'\nWHERE multiplier_id = {{ $json.multiplier_id }}",
        "options": {}
      },
      "id": "10a19232-7179-40f5-a130-f0581d8048d5",
      "name": "Update array",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1600,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multipliers",
          "mode": "list",
          "cachedResultName": "multipliers"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "multiplier_id": "={{ $json.multiplier_id }}",
            "how_many_children": "={{ $json.how_many_children }}",
            "updated_at": "2024-04-01T22:51:32",
            "city": "={{ $json.city }}",
            "has_children": "={{ $json.has_children }}",
            "household_type": "={{ $json.household_type }}"
          },
          "matchingColumns": [
            "multiplier_id"
          ],
          "schema": [
            {
              "id": "multiplier_id",
              "displayName": "multiplier_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "cis_woman",
                  "value": "cis_woman"
                },
                {
                  "name": "trans_woman",
                  "value": "trans_woman"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ],
              "removed": true
            },
            {
              "id": "age",
              "displayName": "age",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "region",
              "displayName": "region",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "norte",
                  "value": "norte"
                },
                {
                  "name": "nordeste",
                  "value": "nordeste"
                },
                {
                  "name": "centro_oeste",
                  "value": "centro_oeste"
                },
                {
                  "name": "sudeste",
                  "value": "sudeste"
                },
                {
                  "name": "sul",
                  "value": "sul"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ],
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "race",
              "displayName": "race",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "black",
                  "value": "black"
                },
                {
                  "name": "brown",
                  "value": "brown"
                },
                {
                  "name": "indigenous",
                  "value": "indigenous"
                },
                {
                  "name": "yellow",
                  "value": "yellow"
                },
                {
                  "name": "white",
                  "value": "white"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ],
              "removed": true
            },
            {
              "id": "sexuality",
              "displayName": "sexuality",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "lesbian",
                  "value": "lesbian"
                },
                {
                  "name": "bisexual",
                  "value": "bisexual"
                },
                {
                  "name": "heterosexual",
                  "value": "heterosexual"
                },
                {
                  "name": "asexual",
                  "value": "asexual"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ],
              "removed": true
            },
            {
              "id": "religion",
              "displayName": "religion",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "atheist",
                  "value": "atheist"
                },
                {
                  "name": "candomble",
                  "value": "candomble"
                },
                {
                  "name": "catholic",
                  "value": "catholic"
                },
                {
                  "name": "spiritist",
                  "value": "spiritist"
                },
                {
                  "name": "evangelical",
                  "value": "evangelical"
                },
                {
                  "name": "umbanda",
                  "value": "umbanda"
                },
                {
                  "name": "others",
                  "value": "others"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ],
              "removed": true
            },
            {
              "id": "has_disability",
              "displayName": "has_disability",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "has_internet_access",
              "displayName": "has_internet_access",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_available",
              "displayName": "is_available",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "education_level",
              "displayName": "education_level",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "basic_education",
                  "value": "basic_education"
                },
                {
                  "name": "high_school",
                  "value": "high_school"
                },
                {
                  "name": "completed_undergraduate",
                  "value": "completed_undergraduate"
                },
                {
                  "name": "incomplete_undergraduate",
                  "value": "incomplete_undergraduate"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ],
              "removed": true
            },
            {
              "id": "is_university_student",
              "displayName": "is_university_student",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "university_type",
              "displayName": "university_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "public",
                  "value": "public"
                },
                {
                  "name": "private",
                  "value": "private"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ],
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "shift_availability",
              "displayName": "shift_availability",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "disability_type",
              "displayName": "disability_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "has_children",
              "displayName": "has_children",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "household_type",
              "displayName": "household_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "urban",
                  "value": "urban"
                },
                {
                  "name": "rural",
                  "value": "rural"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ],
              "removed": false
            },
            {
              "id": "how_many_children",
              "displayName": "how_many_children",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "bd56c04c-8573-4d90-ae83-5ccfb87ae1f3",
      "name": "Atualiza tabela multipliers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1360,
        220
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2024-04-01T21:54:22.891Z",
      "updatedAt": "2024-04-01T21:54:22.891Z",
      "role": "workflow:owner",
      "workflowId": "4OvXrhS4lHsGX23e",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2026-01-13T23:13:22.000Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-04-02T13:45:22.000Z",
  "versionId": "da5e62ba-53b8-44bd-93a2-fcb8184d003f"
}