[PROD]_Volunteer_register_integrations_-_Moodle__Zendesk__DB
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Busca voluntária pelo moodle ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntária pelo moodle ID": {
      "main": [
        [
          {
            "node": "Se retornou a voluntária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se retornou a voluntária": {
      "main": [
        [
          {
            "node": "Determina se acessou módulo ou conclusão de curso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca email no Moodle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntária pelo email": {
      "main": [
        [
          {
            "node": "Se retornou a voluntária do Zendesk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta o assunto do ticket de acordo com a organização da voluntária": {
      "main": [
        [
          {
            "node": "Cria o ticket de entrada da voluntária pela API do Zendesk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta os campos para atualizar a voluntária no BD": {
      "main": [
        [
          {
            "node": "Atualiza voluntária no BD1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insere  o registro na volunteer_status_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca os tickets da voluntária no Zendesk": {
      "main": [
        [
          {
            "node": "Separa os tickets do objeto retornado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa os tickets do objeto retornado": {
      "main": [
        [
          {
            "node": "Se o campo \"Status da Inscrição\" for igual a \"capacitacao\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se retornou a voluntária do Zendesk": {
      "main": [
        [
          {
            "node": "Atualiza status da voluntária no Zendesk1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Seta os campos para atualizar a voluntária no BD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop And Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza status da voluntária no Zendesk": {
      "main": [
        [
          {
            "node": "Monta o assunto do ticket de acordo com a organização da voluntária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza status da voluntária no Zendesk1": {
      "main": [
        [
          {
            "node": "Busca os tickets da voluntária no Zendesk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta os campos para atualizar voluntária no BD": {
      "main": [
        [
          {
            "node": "Atualiza voluntária no BD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insere o novo status na tabela volunteer_status_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se o campo \"Status da Inscrição\" for igual a \"capacitacao\"": {
      "main": [
        [
          {
            "node": "Seleciona o ticket mais antigo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleciona o ticket mais antigo": {
      "main": [
        [
          {
            "node": "Atualiza o ticket para \"aprovada\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza voluntária no BD": {
      "main": [
        [
          {
            "node": "Envia email início capacitação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determina se acessou módulo ou conclusão de curso": {
      "main": [
        [
          {
            "node": "O atual status da mulher é cadastrada?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca voluntária pelo email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntária pelo email1": {
      "main": [
        [
          {
            "node": "Se retornou a voluntária do Zendesk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se retornou a voluntária do Zendesk1": {
      "main": [
        [
          {
            "node": "Atualiza status da voluntária no Zendesk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Seta os campos para atualizar voluntária no BD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop And Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "O atual status da mulher é cadastrada?": {
      "main": [
        [
          {
            "node": "Busca voluntária pelo email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca email no Moodle": {
      "main": [
        [
          {
            "node": "Se o email for do Mapa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se o email for do Mapa": {
      "main": [
        [],
        [
          {
            "node": "Stop And Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza voluntária no BD1": {
      "main": [
        [
          {
            "node": "Envia email aprovada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-01-24T01:52:22.279Z",
  "id": "0hojIhmzSHjJnPDe",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PROD] Volunteer register integrations - Moodle / Zendesk / DB",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "moodle-zendesk",
        "options": {}
      },
      "id": "ba6f89c2-fb7c-40da-9478-092610472b1f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -820,
        1600
      ],
      "webhookId": "3e06675f-aa55-42cd-bfa1-be979b64b575"
    },
    {
      "parameters": {
        "errorMessage": "=Não achou a voluntária\nmoodle_id:  {{$node[\"Webhook\"].json[\"body\"][\"userid\"]}}"
      },
      "id": "0aa46bea-a62d-45da-b00c-a65698b86722",
      "name": "Stop And Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        180,
        2120
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Não achou a voluntária\nvollunteer_id:  {{$node[\"Busca voluntária pelo moodle ID\"].json[\"internal_id\"]}}"
      },
      "id": "3c9df06d-49e0-4664-9ef9-191bcc4fcef8",
      "name": "Stop And Error1",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        660,
        1900
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=select * from volunteers v\nwhere moodle_id = {{$node[\"Webhook\"].json[\"body\"][\n\"userid\"]}}",
        "additionalFields": {}
      },
      "id": "b938d562-2ab2-48df-9e8d-0e0e2ba8ab83",
      "name": "Busca voluntária pelo moodle ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -580,
        1600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Busca voluntária pelo moodle ID\"].json}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "6f13d5a1-b690-4cff-8bf1-d41281867d26",
      "name": "Se retornou a voluntária",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -380,
        1600
      ]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "search",
        "limit": 30,
        "filters": {
          "query": "={{ $json.email }}"
        }
      },
      "id": "3519880c-3a95-43dd-9a0f-36d4e5e302c0",
      "name": "Busca voluntária pelo email",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        200,
        1620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  if (item.json.organization_id == 360269610652) {\n  \titem.json.subject =`[Advogada] ${item.json.name} - ${item.json.user_fields.registration_number}`;\n  } else {\n    item.json.subject =`[Psicóloga] ${item.json.name} - ${item.json.user_fields.registration_number}`;\n  }\n}\n\nreturn $input.all();"
      },
      "id": "a0d12286-492c-4e87-8972-b2e026bceef4",
      "name": "Monta o assunto do ticket de acordo com a organização da voluntária",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1060,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mapadoacolhimento.zendesk.com/api/v2/tickets/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticket\": {\n\t\t\"requester_id\":{{$node[\"Atualiza status da voluntária no Zendesk\"].json[\"id\"]}},\n\t\t\"organization_id\": {{$node[\"Atualiza status da voluntária no Zendesk\"].json[\"organization_id\"]}},\n\t\t\"description\": \"Importado via N8N\",\n\t\t\"subject\": \"{{ $node[\"Monta o assunto do ticket de acordo com a organização da voluntária\"].json[\"subject\"] }}\",\n\t\t\"comment\": {\n\t\t\t\"body\": \"Cadastrada\",\n\t\t\t\"public\": false\n\t\t},\n\t\t\"status\": \"pending\",\n\t\t\"custom_fields\": [\n\t\t\t{\n\t\t\t\t\"id\": 360021879811, \n\t\t\t\t\"value\": \"{{ $node[\"Monta o assunto do ticket de acordo com a organização da voluntária\"].json[\"user_fields\"][\"city\"] }}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\": 360021812712, \n\t\t\t\t\"value\": \"{{ $node[\"Monta o assunto do ticket de acordo com a organização da voluntária\"].json[\"phone\"] }}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\": 360016631592, \n\t\t\t\t\"value\": \"{{ $node[\"Monta o assunto do ticket de acordo com a organização da voluntária\"].json[\"name\"] }}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\": 360021665652, \n\t\t\t\t\"value\": \"{{ $node[\"Monta o assunto do ticket de acordo com a organização da voluntária\"].json[\"user_fields\"][\"condition\"] }}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\": 360021879791,\n\t\t\t\t\"value\": \"{{ $node[\"Monta o assunto do ticket de acordo com a organização da voluntária\"].json[\"user_fields\"][\"state\"] }}\"\n\t\t\t}\n\t\t]\n\t}\n}",
        "options": {}
      },
      "id": "6d4ffb93-e504-427c-bb6c-68859d657d5e",
      "name": "Cria o ticket de entrada da voluntária pela API do Zendesk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1260,
        540
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "aprovada"
            },
            {
              "name": "created_at",
              "value": "={{$now}}"
            }
          ],
          "number": [
            {
              "name": "volunteer_id",
              "value": "={{$node[\"Busca voluntária pelo moodle ID\"].json[\"id\"]}}"
            },
            {
              "name": "zendesk_user_id",
              "value": "={{ $json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7c9660dc-83b7-4cea-812f-ab3b19996fe8",
      "name": "Seta os campos para atualizar a voluntária no BD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        660,
        1420
      ]
    },
    {
      "parameters": {
        "url": "=https://mapadoacolhimento.zendesk.com/api/v2/users/{{$node[\"Busca voluntária pelo email\"].json[\"id\"]}}/tickets/requested",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "0a56b7b1-e86c-4147-9549-61b20fa0ff50",
      "name": "Busca os tickets da voluntária no Zendesk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        840,
        1680
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "tickets",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "68dd5f20-e9db-420e-9127-fb5642d355d9",
      "name": "Separa os tickets do objeto retornado",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1020,
        1680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Busca voluntária pelo email\"].json}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "dfa5f792-6b2b-407d-b28f-7b07fa9af45a",
      "name": "Se retornou a voluntária do Zendesk",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        360,
        1620
      ]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "update",
        "id": "={{ $json[\"id\"] }}",
        "updateFields": {
          "userFieldsUi": {
            "userFieldValues": [
              {
                "field": "condition",
                "value": "capacitacao"
              }
            ]
          }
        }
      },
      "id": "463e372b-338c-4891-bdb6-1ac1be395d89",
      "name": "Atualiza status da voluntária no Zendesk",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        860,
        540
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "update",
        "id": "={{ $json[\"id\"] }}",
        "updateFields": {
          "userFieldsUi": {
            "userFieldValues": [
              {
                "field": "condition",
                "value": "aprovada"
              }
            ]
          }
        }
      },
      "id": "ed81b227-efe3-47d9-9cb8-ee80cba245c7",
      "name": "Atualiza status da voluntária no Zendesk1",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        660,
        1680
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "capacitacao"
            },
            {
              "name": "created_at",
              "value": "={{$now}}"
            }
          ],
          "number": [
            {
              "name": "volunteer_id",
              "value": "={{$node[\"Busca voluntária pelo moodle ID\"].json[\"id\"]}}"
            },
            {
              "name": "zendesk_user_id",
              "value": "={{$json[\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f2731c76-96e7-4c3b-a4e1-a9508574f18b",
      "name": "Seta os campos para atualizar voluntária no BD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        880,
        780
      ]
    },
    {
      "parameters": {
        "table": "volunteer_status_history",
        "columns": "volunteer_id,status,created_at",
        "additionalFields": {}
      },
      "id": "85307523-4cff-4ef4-999f-a72d9d588b04",
      "name": "Insere o novo status na tabela volunteer_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1080,
        980
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tickets.custom_fields[6].value }}",
              "value2": "capacitacao"
            }
          ]
        }
      },
      "id": "637bca3d-f7ab-4647-8b3b-63d6cf5eea3c",
      "name": "Se o campo \"Status da Inscrição\" for igual a \"capacitacao\"",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1220,
        1680
      ]
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "7ebdc810-cd74-4522-a280-28050065ab8e",
      "name": "Seleciona o ticket mais antigo",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1420,
        1680
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json[\"tickets\"][\"id\"] }}",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360021665652,
                "value": "aprovada"
              }
            ]
          }
        }
      },
      "id": "10b1cd39-0cab-40d8-b892-461ef6227ee5",
      "name": "Atualiza o ticket para \"aprovada\"",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1600,
        1680
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "table": "volunteer_status_history",
        "columns": "volunteer_id,status,created_at",
        "additionalFields": {}
      },
      "id": "ce138019-936c-465d-a4ff-d2ebc23d8d18",
      "name": "Insere  o registro na volunteer_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        860,
        1260
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.volunteers\nSET condition = '{{ $json[\"status\"] }}', updated_at = NOW(), zendesk_user_id={{ $json[\"zendesk_user_id\"] }}\nWHERE id = {{ $json[\"volunteer_id\"] }};\nSELECT first_name, email from public.volunteers\nWHERE id = {{ $json[\"volunteer_id\"] }};",
        "options": {}
      },
      "id": "db8ae640-6e3f-46c7-988f-524c789fcfdb",
      "name": "Atualiza voluntária no BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1080,
        780
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE volunteers\nSET condition = '{{ $json.status }}', updated_at = NOW()\nWHERE id = {{ $json.volunteer_id }};\nSELECT first_name, email from public.volunteers\nWHERE id = {{ $json.volunteer_id }};",
        "options": {}
      },
      "id": "2486c296-ed1b-4a7a-8815-2f1613ee2e07",
      "name": "Atualiza voluntária no BD1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        860,
        1440
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Webhook\"].json[\"body\"][\"eventname\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "\\mod_page\\event\\course_module_viewed"
            },
            {
              "value2": "\\core\\event\\course_completed",
              "output": 1
            }
          ]
        }
      },
      "id": "7f5088ab-4140-44b9-a895-201221ec4214",
      "name": "Determina se acessou módulo ou conclusão de curso",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -120,
        1300
      ]
    },
    {
      "parameters": {
        "errorMessage": "=Não achou a voluntária\nvollunteer_id:  {{$node[\"Busca voluntária pelo moodle ID\"].json[\"internal_id\"]}}"
      },
      "id": "2bfc36a0-daff-4eea-a5d4-6a57ecda31ce",
      "name": "Stop And Error2",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        780,
        1080
      ]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "search",
        "limit": 30,
        "filters": {
          "query": "={{ $json.email }}"
        }
      },
      "id": "25ccb9da-37a2-49f3-847a-7955136f485a",
      "name": "Busca voluntária pelo email1",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        460,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Busca voluntária pelo email1\"].json}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "8ca5df01-c0a3-468f-b36d-66ebf1d7df1b",
      "name": "Se retornou a voluntária do Zendesk1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        640,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b4c9bdc8-6d21-48ea-88c4-6fed9800ea33",
              "leftValue": "={{ $json[\"condition\"] }}",
              "rightValue": "cadastrada",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0f5f12e9-5454-43e1-8807-d342b2a8573c",
      "name": "O atual status da mulher é cadastrada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        200,
        900
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT email from mdl_user where id = {{$node[\"Webhook\"].json[\"body\"][\n\"userid\"]}}",
        "options": {}
      },
      "id": "5ea21a00-96e9-4822-b932-5cc6211b31f0",
      "name": "Busca email no Moodle",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -220,
        2040
      ],
      "credentials": {
        "postgres": {
          "id": "KHoy20BFgrBIpHYR",
          "name": "[PROD] Moodle"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8dd0a966-c838-4b5e-b396-a811775c6478",
              "leftValue": "={{ $json[\"email\"] }}",
              "rightValue": "@mapa.org.br",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "89bec419-e850-428a-8e22-3b9fbf7c7404",
      "name": "Se o email for do Mapa",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -20,
        2040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{ $json.email }}\",\n \"transactionalId\": \"clt4d3xhp00j0y38uusnypgc0\",\n \"dataVariables\": {\n    \"name\": \"{{ $json.first_name }}\"\n  }\n}",
        "options": {}
      },
      "id": "5c073dfc-3206-44fb-81e0-48662e4b8170",
      "name": "Envia email início capacitação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        780
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{ $json.email }}\",\n \"transactionalId\": \"clt4ozsfp00ei114rjfkwwav1\",\n \"dataVariables\": {\n    \"name\": \"{{ $json.first_name }}\"\n  }\n}",
        "options": {}
      },
      "id": "3a631c7c-f00f-4d93-81f7-497bb6d185bc",
      "name": "Envia email aprovada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1060,
        1440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "mapadoacolhimento.app.n8n.cloud",
            "x-request-id": "5ff8ce79973d7972841d9bc97879ff66",
            "x-real-ip": "54.85.56.248",
            "x-forwarded-for": "54.85.56.248",
            "x-forwarded-host": "mapadoacolhimento.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-scheme": "https",
            "x-scheme": "https",
            "content-length": "416",
            "accept": "*/*",
            "content-type": "application/json",
            "user-agent": "MoodleBot/4.1 (+https://capacitacao.mapa.org.br)"
          },
          "params": {},
          "query": {},
          "body": {
            "eventname": "\\core\\event\\course_completed",
            "component": "core",
            "action": "completed",
            "target": "course",
            "objecttable": "course_completions",
            "objectid": "272",
            "crud": "u",
            "edulevel": 2,
            "contextid": 14,
            "contextlevel": 50,
            "contextinstanceid": "2",
            "userid": "105",
            "courseid": "2",
            "relateduserid": "105",
            "anonymous": 0,
            "other": {
              "relateduserid": "105"
            },
            "timecreated": 1709215121,
            "host": "capacitacao.mapa.org.br",
            "token": "",
            "extra": ""
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HYstwqyTrzYsvJ2P"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-24T01:51:54.592Z",
      "updatedAt": "2024-01-24T01:51:54.592Z",
      "id": "9qHi7Mg3P0urkBHm",
      "name": "volunteer"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-02-29T14:13:23.000Z",
  "versionId": "e8ee009e-b8eb-4725-9727-f60379d38680"
}