[PROD]_Padroniza_phone_de_MSRs
{
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Busca voluntárias e telefones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntárias e telefones": {
      "main": [
        [
          {
            "node": "Valida telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida telefone": {
      "main": [
        [
          {
            "node": "Precisa atualizar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa atualizar?": {
      "main": [
        [
          {
            "node": "Atualiza phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-09T19:43:20.542Z",
  "id": "U3ZBIxvn9nEDBJMb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PROD] Padroniza phone de MSRs",
  "nodes": [
    {
      "parameters": {},
      "id": "8cd7b5ea-0ef3-4c57-b398-ef46e419d611",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        720,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  msr_id,\n  phone\nFROM pii_sec.msr_pii\nWHERE \n  phone != 'not_found'\nORDER BY created_at DESC",
        "options": {}
      },
      "id": "0fae1710-da18-4709-989d-0216d27b7ae8",
      "name": "Busca voluntárias e telefones",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        940,
        340
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nfunction cleanPhone(originalPhone) {\n  if (originalPhone.length === 11 || originalPhone.length === 10)\n    return originalPhone\n\n  if ((originalPhone.length === 12) && originalPhone.substring(0, 1) === '0') \n    return originalPhone.substring(1, 12)\n\n  if(originalPhone.length === 13 && originalPhone.substring(0, 2) === '55')\n    return originalPhone.substring(2, 13)\n  \n  return 'not_found'\n \n}\n\nfor (const item of $input.all()) {\n  const originalPhone = item.json.phone.replace(/\\D/g,'');\n  const cleanedPhone = cleanPhone(originalPhone)\n\n  \n  item.json.cleaned_phone = cleanedPhone\n\n}\n\n\n\nreturn $input.all();"
      },
      "id": "f8f08d3d-5807-4385-8d72-f60d8c335e44",
      "name": "Valida telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a2a8b81d-2417-4552-8588-955be9518141",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "={{ $json.cleaned_phone }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a280e032-8cfd-41df-a63f-ddc186261845",
      "name": "Precisa atualizar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1380,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pii_sec.msr_pii\nSET phone = '{{ $json.cleaned_phone }}'\nWHERE msr_id = {{ $json.msr_id }}",
        "options": {}
      },
      "id": "62b2d27a-4e9f-46cb-9f48-180bba60ad9b",
      "name": "Atualiza phone",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1680,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2024-09-09T19:43:20.547Z",
      "updatedAt": "2024-09-09T19:43:20.547Z",
      "role": "workflow:owner",
      "workflowId": "U3ZBIxvn9nEDBJMb",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2026-01-14T23:13:22.000Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-14",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-09-09T19:48:16.000Z",
  "versionId": "ed4222e0-55a0-4a9c-8ad2-1c75f7a34e52"
}