[PROD]_Recebe_respostas_dos_Instrumentais
{
  "active": true,
  "connections": {
    "Obtém os dados": {
      "main": [
        [
          {
            "node": "Insere na survey_quality_of_life_d0",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca tickets no Zendesk e email da MSR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtém os dados1": {
      "main": [
        [
          {
            "node": "Insere na survey_quality_of_life_d90",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca tickets no Zendesk e email da MSR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtém os dados2": {
      "main": [
        [
          {
            "node": "Insere na survey_quality_of_life_d180",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca tickets no Zendesk e email da MSR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualidade de Vida - d0": {
      "main": [
        [
          {
            "node": "Obtém os dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualidade de Vida - d90": {
      "main": [
        [
          {
            "node": "Obtém os dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualidade de Vida - d180": {
      "main": [
        [
          {
            "node": "Obtém os dados2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Adiciona comentário interno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca tickets no Zendesk e email da MSR": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona comentário interno": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Adiciona comentário interno1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca tickets no Zendesk e email da MSR1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona comentário interno1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Adiciona comentário interno2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca tickets no Zendesk e email da MSR2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona comentário interno2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliação do Atendimento - Psicológico": {
      "main": [
        [
          {
            "node": "Obtém os dados3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtém os dados3": {
      "main": [
        [
          {
            "node": "Insere na psychological_support_evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliação do Atendimento - Jurídico": {
      "main": [
        [
          {
            "node": "Obtém os dados4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtém os dados4": {
      "main": [
        [
          {
            "node": "Insere na legal_support_evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-19T18:18:10.371Z",
  "id": "LKwgNGg7olUZhIGF",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PROD] Recebe respostas dos Instrumentais",
  "nodes": [
    {
      "parameters": {
        "content": "### Instrumental de Qualidade de Vida - d0",
        "height": 80,
        "width": 356.8337467037675
      },
      "id": "27365a71-1d9c-4169-93a2-047ce0bc1a23",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "function getHiddenFieldValue(item, fieldLabel){\n  return item.json.body.data.fields.find(\n    (element) => element.label === fieldLabel\n  ).value;\n}\n\nfunction getUniqueAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  if(!field.value) return null\n  \n  const answer = field.options.find(\n    (element) => element.id == field.value\n  ).text;\n\n  return answer\n}\n\nfunction getArrayAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  const valuesArray = field.value\n\n  if(!valuesArray) return null\n\n  const answersArray = valuesArray.map((value) => {\n    const answer = field.options.find(\n      (element) => element.id == value\n    ).text;\n\n    return answer\n    \n  })\n\n  return answersArray\n}\n\n\noutput = []\nfor (const item of $input.all()) {\n  const msrId = getHiddenFieldValue(item, \"msr_id\")\n  const msrFirstName = getHiddenFieldValue(item, \"msr_first_name\")\n  const qualityOfLife = getUniqueAnswer(item, \"qualidade_de_vida\")\n  const security = getUniqueAnswer(item, \"seguranca\")\n  const controllingSituations = getArrayAnswer(item, \"situacoes_controle\")\n  const selfEsteem = getUniqueAnswer(item, \"percepcao_si_mesma\")\n  const feelings = getArrayAnswer(item, \"sentimentos_sensacoes_emocoes\")\n  const handleViolenceImpact = getUniqueAnswer(item, \"lidar_impactos_da_violencia\")\n\n\n  output.push(\n    {\n      msr_id: msrId,\n      msr_first_name: msrFirstName,\n      quality_of_life: qualityOfLife,\n      security: security,\n      controlling_situations: controllingSituations,\n      self_esteem: selfEsteem,\n      feelings: feelings,\n      handle_violence_impact: handleViolenceImpact\n    }\n  )\n}\n\nreturn output;"
      },
      "id": "3b7eecc3-9e64-42ba-89de-11f0915f7a62",
      "name": "Obtém os dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        340
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "survey",
          "mode": "list",
          "cachedResultName": "survey"
        },
        "table": {
          "__rl": true,
          "value": "survey_quality_of_life_d0",
          "mode": "list",
          "cachedResultName": "survey_quality_of_life_d0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "msr_id": "={{ $json.msr_id }}",
            "quality_of_life": "={{ $json.quality_of_life }}",
            "security": "={{ $json.security }}",
            "self_esteem": "={{ $json.self_esteem }}",
            "controlling_situations": "={{ $json.controlling_situations }}",
            "feelings": "={{ $json.feelings }}",
            "handle_violence_impact": "={{ $json.handle_violence_impact }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "answer_id",
              "displayName": "answer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "quality_of_life",
              "displayName": "quality_of_life",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "security",
              "displayName": "security",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "controlling_situations",
              "displayName": "controlling_situations",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "self_esteem",
              "displayName": "self_esteem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feelings",
              "displayName": "feelings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handle_violence_impact",
              "displayName": "handle_violence_impact",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "ae811895-3591-4893-aaf4-31236ff7782c",
      "name": "Insere na survey_quality_of_life_d0",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1220,
        340
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "content": "### Instrumental de Qualidade de Vida - d90",
        "height": 80,
        "width": 356.8337467037675
      },
      "id": "737eb7f4-de13-4fa7-9fde-d4c7c72fd23e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "function getHiddenFieldValue(item, fieldLabel){\n  return item.json.body.data.fields.find(\n    (element) => element.label === fieldLabel\n  ).value;\n}\n\nfunction getUniqueAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  if(!field.value) return null\n  \n  const answer = field.options.find(\n    (element) => element.id == field.value\n  ).text;\n\n  return answer\n}\n\nfunction getArrayAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  const valuesArray = field.value\n\n  if(!valuesArray) return null\n\n  const answersArray = valuesArray.map((value) => {\n    const answer = field.options.find(\n      (element) => element.id == value\n    ).text;\n\n    return answer\n    \n  })\n\n  return answersArray\n}\n\n\noutput = []\nfor (const item of $input.all()) {\n  const msrId = getHiddenFieldValue(item, \"msr_id\")\n  const msrFirstName = getHiddenFieldValue(item, \"msr_first_name\")\n  const qualityOfLife = getUniqueAnswer(item, \"qualidade_de_vida\")\n  const security = getUniqueAnswer(item, \"seguranca\")\n  const controllingSituations = getArrayAnswer(item, \"situacoes_controle\")\n  const selfEsteem = getUniqueAnswer(item, \"percepcao_si_mesma\")\n  const feelings = getArrayAnswer(item, \"sentimentos_sensacoes_emocoes\")\n  const handleViolenceImpact = getUniqueAnswer(item, \"lidar_impactos_da_violencia\")\n\n\n  output.push(\n    {\n      msr_id: msrId,\n      msr_first_name: msrFirstName,\n      quality_of_life: qualityOfLife,\n      security: security,\n      controlling_situations: controllingSituations,\n      self_esteem: selfEsteem,\n      feelings: feelings,\n      handle_violence_impact: handleViolenceImpact\n    }\n  )\n}\n\nreturn output;"
      },
      "id": "b932f09b-bf85-496c-93e0-706eb65043b2",
      "name": "Obtém os dados1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        960
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "survey",
          "mode": "list",
          "cachedResultName": "survey"
        },
        "table": {
          "__rl": true,
          "value": "survey_quality_of_life_d90",
          "mode": "list",
          "cachedResultName": "survey_quality_of_life_d90"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "msr_id": "={{ $json.msr_id }}",
            "quality_of_life": "={{ $json.quality_of_life }}",
            "security": "={{ $json.security }}",
            "controlling_situations": "={{ $json.controlling_situations }}",
            "self_esteem": "={{ $json.self_esteem }}",
            "feelings": "={{ $json.feelings }}",
            "handle_violence_impact": "={{ $json.handle_violence_impact }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "answer_id",
              "displayName": "answer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "quality_of_life",
              "displayName": "quality_of_life",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "security",
              "displayName": "security",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "controlling_situations",
              "displayName": "controlling_situations",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "self_esteem",
              "displayName": "self_esteem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feelings",
              "displayName": "feelings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handle_violence_impact",
              "displayName": "handle_violence_impact",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "9321da02-51fb-4564-85e9-5a18e62c03f6",
      "name": "Insere na survey_quality_of_life_d90",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1160,
        960
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "content": "### Instrumental de Qualidade de Vida - d180",
        "height": 80,
        "width": 356.8337467037675
      },
      "id": "df1cb4f4-6ab9-4e1c-b231-7c9f9ea05252",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        1560
      ]
    },
    {
      "parameters": {
        "jsCode": "function getHiddenFieldValue(item, fieldLabel){\n  return item.json.body.data.fields.find(\n    (element) => element.label === fieldLabel\n  ).value;\n}\n\nfunction getUniqueAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  if(!field.value) return null\n  \n  const answer = field.options.find(\n    (element) => element.id == field.value\n  ).text;\n\n  return answer\n}\n\nfunction getArrayAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  const valuesArray = field.value\n\n  if(!valuesArray) return null\n\n  const answersArray = valuesArray.map((value) => {\n    const answer = field.options.find(\n      (element) => element.id == value\n    ).text;\n\n    return answer\n    \n  })\n\n  return answersArray\n}\n\n\noutput = []\nfor (const item of $input.all()) {\n  const msrId = getHiddenFieldValue(item, \"msr_id\")\n  const msrFirstName = getHiddenFieldValue(item, \"msr_first_name\")\n  const qualityOfLife = getUniqueAnswer(item, \"qualidade_de_vida\")\n  const security = getUniqueAnswer(item, \"seguranca\")\n  const controllingSituations = getArrayAnswer(item, \"situacoes_controle\")\n  const selfEsteem = getUniqueAnswer(item, \"percepcao_si_mesma\")\n  const feelings = getArrayAnswer(item, \"sentimentos_sensacoes_emocoes\")\n  const handleViolenceImpact = getUniqueAnswer(item, \"lidar_impactos_da_violencia\")\n  const substanceUse = getUniqueAnswer(item, \"uso_de_drogas\")\n\n\n  output.push(\n    {\n      msr_id: msrId,\n      msr_first_name: msrFirstName,\n      quality_of_life: qualityOfLife,\n      security: security,\n      controlling_situations: controllingSituations,\n      self_esteem: selfEsteem,\n      feelings: feelings,\n      handle_violence_impact: handleViolenceImpact,\n      substance_use: substanceUse\n    }\n  )\n}\n\nreturn output;"
      },
      "id": "481749e1-9192-4e3a-ae9f-7e3c4b2c4be6",
      "name": "Obtém os dados2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        1680
      ]
    },
    {
      "parameters": {
        "content": "# Instrumentais de Qualidade de Vida (MSR)",
        "height": 80,
        "width": 809.4240912520488
      },
      "id": "d4d726bf-3c06-4338-87cf-989cb9516021",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        40
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "survey",
          "mode": "list",
          "cachedResultName": "survey"
        },
        "table": {
          "__rl": true,
          "value": "survey_quality_of_life_d180",
          "mode": "list",
          "cachedResultName": "survey_quality_of_life_d180"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "msr_id": "={{ $json.msr_id }}",
            "quality_of_life": "={{ $json.quality_of_life }}",
            "security": "={{ $json.security }}",
            "controlling_situations": "={{ $json.controlling_situations }}",
            "self_esteem": "={{ $json.self_esteem }}",
            "feelings": "={{ $json.feelings }}",
            "handle_violence_impact": "={{ $json.handle_violence_impact }}",
            "substance_use": "={{ $json.substance_use }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "answer_id",
              "displayName": "answer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "quality_of_life",
              "displayName": "quality_of_life",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "security",
              "displayName": "security",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "controlling_situations",
              "displayName": "controlling_situations",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "self_esteem",
              "displayName": "self_esteem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "feelings",
              "displayName": "feelings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handle_violence_impact",
              "displayName": "handle_violence_impact",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "substance_use",
              "displayName": "substance_use",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "849fefe2-db4a-4535-abfe-592d86960083",
      "name": "Insere na survey_quality_of_life_d180",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1140,
        1680
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey-quality-of-life-d0",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "d7a0e47e-3788-4d1b-a91b-fd7b793319f9",
      "name": "Qualidade de Vida - d0",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        720,
        340
      ],
      "webhookId": "81fe1c4a-2e1e-4099-bb8a-1beabef67b12",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey-quality-of-life-d90",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "53befad4-c25b-492d-bf68-04192379b83b",
      "name": "Qualidade de Vida - d90",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        720,
        960
      ],
      "webhookId": "81fe1c4a-2e1e-4099-bb8a-1beabef67b12",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "survey-quality-of-life-d180",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "90d0d314-fae9-45a5-b220-e9da15f29d88",
      "name": "Qualidade de Vida - d180",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        700,
        1680
      ],
      "webhookId": "81fe1c4a-2e1e-4099-bb8a-1beabef67b12",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a75d0fff-cf2f-4c68-a188-9040b33c78cf",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1440,
        560
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "be0bd91f-98d7-403a-b0ba-cc47f4491304",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1660,
        580
      ],
      "webhookId": "56853d24-2179-472a-a765-51f4ca9adf77"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  REPLACE(email, '@', '%40') AS email,\n  zendesk_ticket_id\nFROM match.support_requests\nINNER JOIN pii_sec.msr_pii USING(msr_id)\nWHERE msr_id = {{ $json.msr_id }}\nAND status != 'closed'",
        "options": {}
      },
      "id": "e0b29d98-593e-4b29-9b9f-8b45f16edf37",
      "name": "Busca tickets no Zendesk e email da MSR",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1220,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.zendesk_ticket_id }}",
        "updateFields": {
          "internalNote": "=A MSR preencheu o <a href=\"https://app.hex.tech/b5ca4b0e-47ba-4dee-a2be-6acac72f7305/app/13034fe3-c927-42b2-abd8-eebf0c8c3b13/latest?_msr_email=%22{{ $json.email }}%22\">Instrumental de Qualidade de Vida - dia de cadastro</a>"
        }
      },
      "id": "33e46ccb-7d7f-430c-8fc1-9a159fa39c50",
      "name": "Adiciona comentário interno",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1820,
        580
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c307d70c-8ede-4562-ba82-8cb3f0f7216b",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1420,
        1200
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "f83c9619-e734-4d7e-b1d8-b0b1a2e2a993",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1640,
        1220
      ],
      "webhookId": "56853d24-2179-472a-a765-51f4ca9adf77"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  REPLACE(email, '@', '%40') AS email,\n  zendesk_ticket_id\nFROM match.support_requests\nINNER JOIN pii_sec.msr_pii USING(msr_id)\nWHERE msr_id = {{ $json.msr_id }}\nAND status != 'closed'",
        "options": {}
      },
      "id": "51fce8d8-9487-4c9c-b89b-56e5b74f9e30",
      "name": "Busca tickets no Zendesk e email da MSR1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1180,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.zendesk_ticket_id }}",
        "updateFields": {
          "internalNote": "=A MSR preencheu o <a href=\"https://app.hex.tech/b5ca4b0e-47ba-4dee-a2be-6acac72f7305/app/13034fe3-c927-42b2-abd8-eebf0c8c3b13/latest?_msr_email=%22{{ $json.email }}%22\">Instrumental de Qualidade de Vida - 90 dias</a>"
        }
      },
      "id": "66721579-8925-44a2-8e5c-7ad37eef5c3b",
      "name": "Adiciona comentário interno1",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1800,
        1220
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d08b86c2-bd5a-40b1-b9c8-8d243e85faec",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1380,
        1920
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "0685cb1d-da8e-4b8e-b86f-69197909e330",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1600,
        1940
      ],
      "webhookId": "56853d24-2179-472a-a765-51f4ca9adf77"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  REPLACE(email, '@', '%40') AS email,\n  zendesk_ticket_id\nFROM match.support_requests\nINNER JOIN pii_sec.msr_pii USING(msr_id)\nWHERE msr_id = {{ $json.msr_id }}\nAND status != 'closed'",
        "options": {}
      },
      "id": "3cea1f44-b92a-48c3-bb40-910640a31377",
      "name": "Busca tickets no Zendesk e email da MSR2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1140,
        1920
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.zendesk_ticket_id }}",
        "updateFields": {
          "internalNote": "=A MSR preencheu o <a href=\"https://app.hex.tech/b5ca4b0e-47ba-4dee-a2be-6acac72f7305/app/13034fe3-c927-42b2-abd8-eebf0c8c3b13/latest?_msr_email=%22{{ $json.email }}%22\">Instrumental de Qualidade de Vida - 180 dias</a>"
        }
      },
      "id": "82fed991-8a86-4904-84b2-17ea62d335a0",
      "name": "Adiciona comentário interno2",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1760,
        1940
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# Instrumentais de Avaliação do Atendimento (MSR)",
        "height": 80,
        "width": 970.5490398269451
      },
      "id": "36e63f4d-4456-4af0-8a32-f365f7ebe56f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3640,
        0
      ]
    },
    {
      "parameters": {
        "content": "### Instrumental de Avaliação do Atendimento - Psicológico",
        "height": 80,
        "width": 356.8337467037675
      },
      "id": "4f5e9e15-8510-4994-8fe6-0d0afe88b8f4",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3660,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "function getHiddenFieldValue(item, fieldLabel){\n  return item.json.body.data.fields.find(\n    (element) => element.label === fieldLabel\n  ).value;\n}\n\nfunction getUniqueAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  if(!field.value) return null\n  \n  const answer = field.options.find(\n    (element) => element.id == field.value\n  ).text;\n\n  return answer\n}\n\nfunction getArrayAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  const valuesArray = field.value\n\n  if(!valuesArray) return null\n\n  const answersArray = valuesArray.map((value) => {\n    const answer = field.options.find(\n      (element) => element.id == value\n    ).text;\n\n    return answer\n    \n  })\n\n  return answersArray\n}\n\nfunction getTextAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'TEXTAREA' && element.label === fieldLabel\n  );\n\n  if(!field.value) return null\n  \n  const answer = field.value;\n\n  return answer\n}\n\n\noutput = []\nfor (const item of $input.all()) {\n  const matchId = getHiddenFieldValue(item, \"match_id\")\n  const msrFirstName = getHiddenFieldValue(item, \"msr_first_name\")\n  const volunteerFirstName = getHiddenFieldValue(item, \"volunteer_first_name\")\n  const hadToPayForSupport = getUniqueAnswer(item, \"had_to_pay_for_support\")\n  const isStrategyUseful = getUniqueAnswer(item, \"is_strategy_useful\")\n  const handleStressAnxiety = getUniqueAnswer(item, \"handle_stress_anxiety\")\n  const satisfactionLevel = getUniqueAnswer(item, \"satisfaction_level\")\n  const expectationsMet = getUniqueAnswer(item, \"expectations_met\")\n  const writtenEvaluation = getTextAnswer(item, \"written_evaluation\")\n\n\n  output.push(\n    {\n      match_id: matchId,\n      msr_first_name: msrFirstName,\n      volunteer_first_name: volunteerFirstName,\n      had_to_pay_for_support: hadToPayForSupport,\n      is_strategy_useful: isStrategyUseful,\n      handle_stress_anxiety: handleStressAnxiety,\n      satisfaction_level: satisfactionLevel,\n      expectations_met: expectationsMet,\n      written_evaluation: writtenEvaluation\n    }\n  )\n}\n\nreturn output;"
      },
      "id": "c1306ee2-ceca-4e74-aa2f-3115a825fc4f",
      "name": "Obtém os dados3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3880,
        360
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "psychological-support-evaluation",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "da3a525c-a16b-4d49-b018-0a3b35677a95",
      "name": "Avaliação do Atendimento - Psicológico",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3680,
        360
      ],
      "webhookId": "81fe1c4a-2e1e-4099-bb8a-1beabef67b12",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "survey",
          "mode": "list",
          "cachedResultName": "survey"
        },
        "table": {
          "__rl": true,
          "value": "psychological_support_evaluation",
          "mode": "list",
          "cachedResultName": "psychological_support_evaluation"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "match_id": "={{ $json.match_id }}",
            "had_to_pay_for_support": "={{ $json.had_to_pay_for_support }}",
            "is_strategy_useful": "={{ $json.is_strategy_useful }}",
            "handle_stress_anxiety": "={{ $json.handle_stress_anxiety }}",
            "satisfaction_level": "={{ $json.satisfaction_level }}",
            "expectations_met": "={{ $json.expectations_met }}",
            "written_evaluation": "={{ $json.written_evaluation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "answer_id",
              "displayName": "answer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "match_id",
              "displayName": "match_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "had_to_pay_for_support",
              "displayName": "had_to_pay_for_support",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_strategy_useful",
              "displayName": "is_strategy_useful",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handle_stress_anxiety",
              "displayName": "handle_stress_anxiety",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "satisfaction_level",
              "displayName": "satisfaction_level",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expectations_met",
              "displayName": "expectations_met",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "written_evaluation",
              "displayName": "written_evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "2c73ccec-19c7-407b-8701-3ed37097b5ce",
      "name": "Insere na psychological_support_evaluation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4080,
        360
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "content": "### Instrumental de Avaliação do Atendimento - Jurídico",
        "height": 80,
        "width": 356.8337467037675
      },
      "id": "bc5e8aa8-8b71-49db-b961-b18f0da9e222",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3660,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "function getHiddenFieldValue(item, fieldLabel){\n  return item.json.body.data.fields.find(\n    (element) => element.label === fieldLabel\n  ).value;\n}\n\nfunction getUniqueAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  if(!field.value) return null\n  \n  const answer = field.options.find(\n    (element) => element.id == field.value\n  ).text;\n\n  return answer\n}\n\nfunction getArrayAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  const valuesArray = field.value\n\n  if(!valuesArray) return null\n\n  const answersArray = valuesArray.map((value) => {\n    const answer = field.options.find(\n      (element) => element.id == value\n    ).text;\n\n    return answer\n    \n  })\n\n  return answersArray\n}\n\nfunction getTextAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'TEXTAREA' && element.label === fieldLabel\n  );\n\n  if(!field.value) return null\n  \n  const answer = field.value;\n\n  return answer\n}\n\n\noutput = []\nfor (const item of $input.all()) {\n  const matchId = getHiddenFieldValue(item, \"match_id\")\n  const msrFirstName = getHiddenFieldValue(item, \"msr_first_name\")\n  const volunteerFirstName = getHiddenFieldValue(item, \"volunteer_first_name\")\n  const hadToPayForSupport = getUniqueAnswer(item, \"had_to_pay_for_support\")\n  const hasReceivedClearInformation = getUniqueAnswer(item, \"has_received_clear_information\")\n  const handleStressAnxiety = getUniqueAnswer(item, \"handle_stress_anxiety\")\n  const caseProgress = getUniqueAnswer(item, \"case_progress\")\n  const satisfactionLevel = getUniqueAnswer(item, \"satisfaction_level\")\n  const expectationsMet = getUniqueAnswer(item, \"expectations_met\")\n  const writtenEvaluation = getTextAnswer(item, \"written_evaluation\")\n\n\n  output.push(\n    {\n      match_id: matchId,\n      msr_first_name: msrFirstName,\n      volunteer_first_name: volunteerFirstName,\n      had_to_pay_for_support: hadToPayForSupport,\n      has_received_clear_information: hasReceivedClearInformation,\n      handle_stress_anxiety: handleStressAnxiety,\n      case_progress: caseProgress,\n      satisfaction_level: satisfactionLevel,\n      expectations_met: expectationsMet,\n      written_evaluation: writtenEvaluation\n    }\n  )\n}\n\nreturn output;"
      },
      "id": "baa92b91-6fc4-42d8-b1eb-37c477f4f2ad",
      "name": "Obtém os dados4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3880,
        780
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "legal-support-evaluation",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "64bf6dd4-6a71-4b2a-beff-9c6495babbb9",
      "name": "Avaliação do Atendimento - Jurídico",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3680,
        780
      ],
      "webhookId": "81fe1c4a-2e1e-4099-bb8a-1beabef67b12",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "survey",
          "mode": "list",
          "cachedResultName": "survey"
        },
        "table": {
          "__rl": true,
          "value": "legal_support_evaluation",
          "mode": "list",
          "cachedResultName": "legal_support_evaluation"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "match_id": "={{ $json.match_id }}",
            "had_to_pay_for_support": "={{ $json.had_to_pay_for_support }}",
            "has_received_clear_information": "={{ $json.has_received_clear_information }}",
            "handle_stress_anxiety": "={{ $json.handle_stress_anxiety }}",
            "case_progress": "={{ $json.case_progress }}",
            "satisfaction_level": "={{ $json.satisfaction_level }}",
            "expectations_met": "={{ $json.expectations_met }}",
            "written_evaluation": "={{ $json.written_evaluation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "answer_id",
              "displayName": "answer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "match_id",
              "displayName": "match_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "had_to_pay_for_support",
              "displayName": "had_to_pay_for_support",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_received_clear_information",
              "displayName": "has_received_clear_information",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "handle_stress_anxiety",
              "displayName": "handle_stress_anxiety",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "case_progress",
              "displayName": "case_progress",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "satisfaction_level",
              "displayName": "satisfaction_level",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expectations_met",
              "displayName": "expectations_met",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "written_evaluation",
              "displayName": "written_evaluation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "04ebd0bc-0079-49f3-b511-0006cfa38bfe",
      "name": "Insere na legal_support_evaluation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4080,
        780
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    }
  ],
  "pinData": {
    "Qualidade de Vida - d0": [
      {
        "json": {
          "headers": {
            "host": "mapadoacolhimento.app.n8n.cloud",
            "user-agent": "Tally Webhooks",
            "content-length": "6391",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "authorization": "uoqQUEpq&&C5$AL22k3PWN4j3dMd&&",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.96.41.236",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "907257b7f2abcd22-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.96.41.236, 172.70.91.161",
            "x-forwarded-host": "mapadoacolhimento.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-3-6db8488cf7-vz9hf",
            "x-is-trusted": "yes",
            "x-real-ip": "34.96.41.236"
          },
          "params": {},
          "query": {},
          "body": {
            "eventId": "11e87fc7-c160-4e65-a912-4c8be2aaf761",
            "eventType": "FORM_RESPONSE",
            "createdAt": "2025-01-24T19:13:45.997Z",
            "data": {
              "responseId": "04bppZ",
              "submissionId": "04bppZ",
              "respondentId": "QABR6A",
              "formId": "mD0agZ",
              "formName": "[MSR] Instrumental de Qualidade de Vida - dia 0",
              "createdAt": "2025-01-24T19:13:45.000Z",
              "fields": [
                {
                  "key": "question_JdlKXz_c3e63eb1-d275-4adc-b5f8-0413fe280560",
                  "label": "msr_first_name",
                  "type": "HIDDEN_FIELDS",
                  "value": "Camila"
                },
                {
                  "key": "question_JdlKXz_f11fad48-3722-45a5-931b-b5abee7b3aae",
                  "label": "msr_id",
                  "type": "HIDDEN_FIELDS",
                  "value": "22858077211028"
                },
                {
                  "key": "question_geqjYM",
                  "label": "qualidade_de_vida",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "8ff12753-cce9-4179-87f9-c98760214c9e"
                  ],
                  "options": [
                    {
                      "id": "3f192a76-8e3e-4233-b345-b6f1539799a0",
                      "text": "Muito ruim"
                    },
                    {
                      "id": "8ff12753-cce9-4179-87f9-c98760214c9e",
                      "text": "Ruim"
                    },
                    {
                      "id": "5333fb5e-2ce6-417b-9ad5-dceda23e6a94",
                      "text": "Mediana"
                    },
                    {
                      "id": "d6dfec3e-5384-4fa5-85d6-12c2336c1239",
                      "text": "Muito Boa"
                    },
                    {
                      "id": "0e0ba159-97ae-4be0-b960-5ad44f1eab51",
                      "text": "Boa"
                    }
                  ]
                },
                {
                  "key": "question_PD9lz1",
                  "label": "seguranca",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "7d8934bc-44ed-486f-a7be-12bed0f0d0e5"
                  ],
                  "options": [
                    {
                      "id": "116667e0-ba6a-40f4-8d88-60d0438d405c",
                      "text": "Nada segura"
                    },
                    {
                      "id": "7d8934bc-44ed-486f-a7be-12bed0f0d0e5",
                      "text": "Muito pouco segura"
                    },
                    {
                      "id": "9609b74b-69b5-4540-b67a-2563fd9d459b",
                      "text": "Medianamente segura"
                    },
                    {
                      "id": "987ef535-0e5d-453b-8b13-1845c89e73bc",
                      "text": "Bastante segura"
                    },
                    {
                      "id": "7b029f9a-3568-4971-8623-c014416c0acc",
                      "text": "Extremamente segura"
                    }
                  ]
                },
                {
                  "key": "question_E5lLxl",
                  "label": "situacoes_controle",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "37574d0c-b310-4d0f-9bb7-2db8c60d46cb"
                  ],
                  "options": [
                    {
                      "id": "2abfa872-53b2-4bfd-8659-1e95efbcfec3",
                      "text": "Me sinto controlada em meus acessos a recursos financeiros essenciais, como salários, contas bancárias, ou investimentos"
                    },
                    {
                      "id": "37574d0c-b310-4d0f-9bb7-2db8c60d46cb",
                      "text": "Me sinto controlada na forma como interajo com as pessoas no meu ambiente de trabalho, escola ou demais círculos sociais"
                    },
                    {
                      "id": "8c6abdc4-f610-42bf-84db-69bb9469ac0d",
                      "text": "Me sinto controlada/impedida de realizar os atos de cidadania, como votar, me candidatar a cargos eletivos ou ocupar posições de influência"
                    },
                    {
                      "id": "63cad273-9ef4-4ff0-9188-972b6480caec",
                      "text": "Me sinto controlada dentro da perspectiva religiosa"
                    },
                    {
                      "id": "4822b747-9556-4bb0-a503-dd929cdf1279",
                      "text": "Não me vejo inserida em nenhuma situação de controle neste momento."
                    }
                  ]
                },
                {
                  "key": "question_rBOVoo",
                  "label": "percepcao_si_mesma",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "076711c4-171e-4c60-85ec-9473064f7317"
                  ],
                  "options": [
                    {
                      "id": "bffd67a5-49f9-4207-9693-817f33044f5c",
                      "text": "Muito ruim"
                    },
                    {
                      "id": "e57624e2-025a-4d02-a784-c13d3ccf8c2b",
                      "text": "Ruim"
                    },
                    {
                      "id": "d98a8be1-e77d-46db-aa27-eda64ec646b3",
                      "text": "Mediana"
                    },
                    {
                      "id": "076711c4-171e-4c60-85ec-9473064f7317",
                      "text": "Boa"
                    },
                    {
                      "id": "68cb7f50-3ec3-442e-a443-d22ce7a8140d",
                      "text": "Muito boa"
                    }
                  ]
                },
                {
                  "key": "question_4B7LKr",
                  "label": "sentimentos_sensacoes_emocoes",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "7886a4e0-41e4-43b7-a0df-d94b16c97c7e"
                  ],
                  "options": [
                    {
                      "id": "7a7e3057-df72-40fb-a353-d7b702b53ff6",
                      "text": "Insônia"
                    },
                    {
                      "id": "7886a4e0-41e4-43b7-a0df-d94b16c97c7e",
                      "text": "Pesadelos"
                    },
                    {
                      "id": "8463e094-ac27-4a61-81ba-70b586b70510",
                      "text": "Falta de concentração"
                    },
                    {
                      "id": "b8568999-196b-42ea-9a31-0600a54f940d",
                      "text": "Irritabilidade"
                    },
                    {
                      "id": "5edcd071-9232-4663-9b9b-ac2ded31e6a0",
                      "text": "Pouco interesse ou pouco prazer em fazer as coisas"
                    },
                    {
                      "id": "cb9614cd-35d6-4595-b1dd-79a694f6ccd1",
                      "text": "Me sinto \"para baixo\", deprimido/a ou sem perspectiva"
                    },
                    {
                      "id": "2514e838-9ce5-40a5-84a9-5d6d988e682c",
                      "text": "Me sinto nervosa, ansiosa ou muito tensa"
                    },
                    {
                      "id": "72f14790-fea7-4fa0-8f9c-ce27b4a6f816",
                      "text": "Me sinto incapaz de impedir ou controlar as próprias emoções"
                    },
                    {
                      "id": "6037f80d-63e6-4931-a759-a8c405e4fdb5",
                      "text": "Distúrbio alimentar"
                    },
                    {
                      "id": "b94b2491-ee42-49df-a78a-ec15ed560137",
                      "text": "Sérios impactos na saúde mental como: depressão, ansiedade e/ou síndrome do pânico"
                    },
                    {
                      "id": "b7ea4bbc-c2d5-4e38-baa9-2ff4f629209b",
                      "text": "Comprometimento da autoestima"
                    },
                    {
                      "id": "28164ee3-8311-438d-9467-b0e978eaa970",
                      "text": "Distorção dos pensamentos e crenças de desvalia"
                    },
                    {
                      "id": "0fca6769-b0d3-486f-8fff-728f6b36374c",
                      "text": "Autodepreciação"
                    },
                    {
                      "id": "9273729d-99ac-422c-aed0-76e1f9fead44",
                      "text": "Sentimentos de culpa"
                    },
                    {
                      "id": "59b60cf8-ef95-499c-8a69-966605f4a7d2",
                      "text": "Dependência afetiva/emocional"
                    },
                    {
                      "id": "1ab6046a-0b07-43ff-b6b8-1f240bcd22da",
                      "text": "Dependência financeira"
                    },
                    {
                      "id": "c660d2c1-e038-48bc-9bf9-f5357595a577",
                      "text": "Uso de álcool e drogas"
                    },
                    {
                      "id": "d837001c-1458-45ff-a41c-3d8d6b74bf6d",
                      "text": "Desmaios"
                    },
                    {
                      "id": "87f7ada1-2c5f-4acd-a340-ef7046d5a36d",
                      "text": "Tontura"
                    },
                    {
                      "id": "bb8870ad-b7d1-4445-97e7-aa23eb9154c8",
                      "text": "Aborto espontâneo"
                    },
                    {
                      "id": "05cc0a69-d576-4554-9278-216e6e060386",
                      "text": "Partos prematuros"
                    },
                    {
                      "id": "1e9fd920-fe39-4fe0-b1fa-b8fb91cc056a",
                      "text": "Fraturas"
                    },
                    {
                      "id": "f7958420-4fd4-4ad4-ae71-f352714f3718",
                      "text": "Hematomas"
                    },
                    {
                      "id": "a3c78162-be50-47e4-b0a5-efaac1bf1d99",
                      "text": "Sangramentos"
                    },
                    {
                      "id": "1e4dc9fe-89c9-4723-970d-3a38e7185b16",
                      "text": "Infecção urinária"
                    },
                    {
                      "id": "42ef8b84-34f9-466b-85bd-0a430b1ec592",
                      "text": "Diarreia"
                    },
                    {
                      "id": "9793a707-6316-4288-bee3-b61b9d561851",
                      "text": "Dores musculares incapacitantes"
                    },
                    {
                      "id": "9990fecf-cbb1-418a-b8c9-ac7b3ab6a5c5",
                      "text": "Dores e ardência no estômago"
                    },
                    {
                      "id": "ba9e1793-0dc3-4ba3-9833-8fc7235165eb",
                      "text": "Infecções sexualmente transmissíveis"
                    },
                    {
                      "id": "3899fb2c-0154-4b0a-af0a-01a2b77bda31",
                      "text": "Não me identifico com nenhum neste momento"
                    }
                  ]
                },
                {
                  "key": "question_jboLlQ",
                  "label": "lidar_impactos_da_violencia",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "19880824-b2d5-4c35-ab61-ac83bf390e84"
                  ],
                  "options": [
                    {
                      "id": "19880824-b2d5-4c35-ab61-ac83bf390e84",
                      "text": "Ainda não me sinto capaz de lidar com os impactos da violência nem de lidar com os desafios do dia a dia"
                    },
                    {
                      "id": "41024562-9f6b-4a57-95ee-41d7eb846765",
                      "text": "Tenho conseguido lidar melhor com os impactos da violência e com os desafios do dia a dia, mas ainda é muito difícil"
                    },
                    {
                      "id": "a6cbb3e8-de69-4c57-9093-9be1f79a7e95",
                      "text": "Tem sido cada vez mais fácil/possível lidar com os impactos da violência e com os desafios do dia a dia"
                    },
                    {
                      "id": "700a5cec-355e-4d39-8a11-7d5bb1c3759a",
                      "text": "Me sinto totalmente capaz de lidar com os impactos da violência com os desafios do dia a dia de forma segura, sem muitas dificuldades"
                    }
                  ]
                }
              ]
            }
          },
          "webhookUrl": "https://mapadoacolhimento.app.n8n.cloud/webhook/survey-quality-of-life-d0",
          "executionMode": "production"
        }
      }
    ],
    "Avaliação do Atendimento - Psicológico": [
      {
        "json": {
          "headers": {
            "host": "mapadoacolhimento.app.n8n.cloud",
            "user-agent": "Tally Webhooks",
            "content-length": "3778",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "authorization": "uoqQUEpq&&C5$AL22k3PWN4j3dMd&&",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.96.41.232",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9091702a757df23e-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.96.41.232, 172.71.178.15",
            "x-forwarded-host": "mapadoacolhimento.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-3-6db8488cf7-5k6rh",
            "x-is-trusted": "yes",
            "x-real-ip": "34.96.41.232"
          },
          "params": {},
          "query": {},
          "body": {
            "eventId": "8d6c521a-752f-4ab9-a8f9-6fb2b1e1d647",
            "eventType": "FORM_RESPONSE",
            "createdAt": "2025-01-28T13:48:05.876Z",
            "data": {
              "responseId": "22gpGV",
              "submissionId": "22gpGV",
              "respondentId": "QABR6A",
              "formId": "3xRJvo",
              "formName": "[MSR] Instrumental de Avaliação do Atendimento - Psicológico",
              "createdAt": "2025-01-28T13:48:05.000Z",
              "fields": [
                {
                  "key": "question_oD0PXO_b17b9ec0-c032-489e-bd4a-3d4a1b51c46d",
                  "label": "msr_first_name",
                  "type": "HIDDEN_FIELDS",
                  "value": "Camila"
                },
                {
                  "key": "question_oD0PXO_3ee0cf43-914b-46e3-b417-ecb578252b7d",
                  "label": "match_id",
                  "type": "HIDDEN_FIELDS",
                  "value": "0"
                },
                {
                  "key": "question_oD0PXO_baac9c9d-c204-42fe-a22b-a2cc2878aeed",
                  "label": "volunteer_first_name",
                  "type": "HIDDEN_FIELDS",
                  "value": "Maria"
                },
                {
                  "key": "question_GKoG8L",
                  "label": "had_to_pay_for_support",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "0a4cb9ee-b977-4a26-9e3b-dc6b934948cc"
                  ],
                  "options": [
                    {
                      "id": "90a8df6f-e682-44e9-b8bb-cc95c109c76e",
                      "text": "Sim"
                    },
                    {
                      "id": "0a4cb9ee-b977-4a26-9e3b-dc6b934948cc",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_Olj2OY",
                  "label": "is_strategy_useful",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "b77af259-e792-479e-8fad-12097b2ffb04"
                  ],
                  "options": [
                    {
                      "id": "b77af259-e792-479e-8fad-12097b2ffb04",
                      "text": "Não, estratégias e ferramentas discutidas nas sessões não  têm sido úteis"
                    },
                    {
                      "id": "21094204-4c0e-422e-abc0-1a4c9c2b89ff",
                      "text": "As estratégias e ferramentas discutidas nas sessões têm sido parcialmente úteis"
                    },
                    {
                      "id": "8f27e99c-3bbd-4aba-9df5-cf72c89ea02f",
                      "text": "As estratégias e ferramentas discutidas nas sessões têm sido úteis, mas eu ainda não consigo criar outras estratégias além das desenvolvidas nas sessões"
                    },
                    {
                      "id": "831b33e3-94f2-4c1e-82f6-389142099197",
                      "text": "As estratégias e ferramentas discutidas nas sessões têm sido totalmente úteis, e eu já consigo criar outras estratégias além das desenvolvidas nas sessões"
                    }
                  ]
                },
                {
                  "key": "question_Vj9e2M",
                  "label": "handle_stress_anxiety",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "c1efc891-cba0-4699-b33e-af17309baf4c"
                  ],
                  "options": [
                    {
                      "id": "c1efc891-cba0-4699-b33e-af17309baf4c",
                      "text": "Não notei nenhuma melhora no meu nível de estresse e  ansiedade relacionados ao meu caso, pois não me sinto segura e assistida através do atendimento que venho recebendo pelo Mapa do Acolhimento."
                    },
                    {
                      "id": "c55d2bd4-fd73-4204-8fb5-0909a2ccb2b0",
                      "text": "Continuo estressada e ansiosa, mas agora me sinto segura e assistida através do atendimento que venho recebendo pelo Mapa do Acolhimento."
                    },
                    {
                      "id": "99709aaa-361b-4c7c-852e-1c72420f0d7b",
                      "text": "Notei redução no meu nível de estresse e ansiedade pois me sinto segura e assistida por causa do atendimento que venho recebendo pelo Mapa do Acolhimento."
                    },
                    {
                      "id": "841f03e9-beee-4522-8fbd-4f490afa9413",
                      "text": "Não me sinto mais ansiosa nem estressada com relação ao caso, e me sinto segura e assistida através do atendimento que venho recebendo pelo Mapa do Acolhimento."
                    }
                  ]
                },
                {
                  "key": "question_PD2xVB",
                  "label": "satisfaction_level",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "8f17fa2e-2c6a-4026-80db-f6434efff604"
                  ],
                  "options": [
                    {
                      "id": "1fe6e3a4-4e64-4c47-9b12-1945d5666fbb",
                      "text": "Muito insatisfeita"
                    },
                    {
                      "id": "8f17fa2e-2c6a-4026-80db-f6434efff604",
                      "text": "Insatisfeita"
                    },
                    {
                      "id": "b321a82b-9a0f-47e1-a30a-be032ac6ddb0",
                      "text": "Neutra"
                    },
                    {
                      "id": "33123cf9-7b91-4682-8ca6-89a2e07dfa47",
                      "text": "Satisfeita"
                    },
                    {
                      "id": "8161547e-63c9-4e19-88f9-d8c5981cf1c5",
                      "text": "Muito satisfeita"
                    }
                  ]
                },
                {
                  "key": "question_E5BRyB",
                  "label": "expectations_met",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "43942bca-8d0b-4dc4-a36d-9bcddb79e6e7"
                  ],
                  "options": [
                    {
                      "id": "43942bca-8d0b-4dc4-a36d-9bcddb79e6e7",
                      "text": "Sim, a psicóloga é atenciosa."
                    },
                    {
                      "id": "9f6e8257-16f7-4311-b705-ba859a335ce8",
                      "text": "Não, tenho dificuldade em manter contato com a voluntária."
                    }
                  ]
                },
                {
                  "key": "question_Olj648",
                  "label": "written_evaluation",
                  "type": "TEXTAREA",
                  "value": "jdosaijidoa"
                }
              ]
            }
          },
          "webhookUrl": "https://mapadoacolhimento.app.n8n.cloud/webhook/psychological-support-evaluation",
          "executionMode": "production"
        }
      }
    ],
    "Avaliação do Atendimento - Jurídico": [
      {
        "json": {
          "headers": {
            "host": "mapadoacolhimento.app.n8n.cloud",
            "user-agent": "Tally Webhooks",
            "content-length": "4180",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "authorization": "uoqQUEpq&&C5$AL22k3PWN4j3dMd&&",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.96.41.40",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9091bb4eb09af24a-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.96.41.40, 172.71.241.90",
            "x-forwarded-host": "mapadoacolhimento.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-3-6db8488cf7-5k6rh",
            "x-is-trusted": "yes",
            "x-real-ip": "34.96.41.40"
          },
          "params": {},
          "query": {},
          "body": {
            "eventId": "cb01b9b4-7bbc-49da-bf3d-663f6f38f09e",
            "eventType": "FORM_RESPONSE",
            "createdAt": "2025-01-28T14:39:23.745Z",
            "data": {
              "responseId": "gBXeaM",
              "submissionId": "gBXeaM",
              "respondentId": "QABR6A",
              "formId": "mZ12e0",
              "formName": "[MSR] Instrumental de Avaliação do Atendimento - Jurídico",
              "createdAt": "2025-01-28T14:39:23.000Z",
              "fields": [
                {
                  "key": "question_AK6Epk_107e478a-0356-4eb4-b9ae-5856746a2a81",
                  "label": "msr_first_name",
                  "type": "HIDDEN_FIELDS",
                  "value": "Camila"
                },
                {
                  "key": "question_AK6Epk_cd531320-399f-4c1b-aa23-159f71d3419c",
                  "label": "match_id",
                  "type": "HIDDEN_FIELDS",
                  "value": "16191"
                },
                {
                  "key": "question_AK6Epk_caf85c09-7dd3-4ee7-a9a7-3930d3b1529d",
                  "label": "volunteer_first_name",
                  "type": "HIDDEN_FIELDS",
                  "value": "Maria"
                },
                {
                  "key": "question_BKLrpN",
                  "label": "had_to_pay_for_support",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "62bf295a-3be8-4ab3-8750-f5f6c7da28fa"
                  ],
                  "options": [
                    {
                      "id": "1f9b980a-07e3-4b3b-9b6a-9f25ef310a45",
                      "text": "Sim"
                    },
                    {
                      "id": "62bf295a-3be8-4ab3-8750-f5f6c7da28fa",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_k902GM",
                  "label": "has_received_clear_information",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "465bad2d-3f72-422c-908d-b4a4bcaa9db1"
                  ],
                  "options": [
                    {
                      "id": "20f13ea4-6188-4690-8667-cf0f64a82679",
                      "text": "Não me sinto informada sobre o caso e fico totalmente preocupada."
                    },
                    {
                      "id": "465bad2d-3f72-422c-908d-b4a4bcaa9db1",
                      "text": "As informações que recebo sobre o caso são parcialmente claras e compreensíveis, e por isso me mantenho preocupada."
                    },
                    {
                      "id": "8dcd75e9-a598-44c5-9f5a-9844fc51db6c",
                      "text": "Tenho recebido informações claras e compreensíveis sobre o andamento do meu caso, mas ainda sim me mantenho preocupada."
                    },
                    {
                      "id": "575f7c59-29ee-47bd-aa01-a2c10454313d",
                      "text": "Tenho recebido informações claras e compreensíveis sobre o andamento do meu caso, e por isso não me sinto mais preocupada."
                    }
                  ]
                },
                {
                  "key": "question_vr0lDQ",
                  "label": "handle_stress_anxiety",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "fcb9d66a-7bc5-4358-8282-58a8428ab5b5"
                  ],
                  "options": [
                    {
                      "id": "77d9dfb3-6cab-4667-9010-8724800f866b",
                      "text": "Não notei nenhuma melhora no meu nível de estresse e  ansiedade relacionados ao meu caso, pois não me sinto segura e assistida através do atendimento que venho recebendo pelo Mapa do Acolhimento."
                    },
                    {
                      "id": "fcb9d66a-7bc5-4358-8282-58a8428ab5b5",
                      "text": "Continuo estressada e ansiosa, mas agora me sinto segura e assistida através do atendimento que venho recebendo pelo Mapa do Acolhimento."
                    },
                    {
                      "id": "38d0764e-e416-4cc4-8406-5f16358fce98",
                      "text": "Notei redução no meu nível de estresse e ansiedade pois me sinto segura e assistida por causa do atendimento que venho recebendo pelo Mapa do Acolhimento."
                    },
                    {
                      "id": "1a65cd49-382e-45cc-adc4-56a123e39882",
                      "text": "Não me sinto mais ansiosa nem estressada com relação ao caso, e me sinto segura e assistida através do atendimento que venho recebendo pelo Mapa do Acolhimento."
                    }
                  ]
                },
                {
                  "key": "question_07bKPQ",
                  "label": "case_progress",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "f1c8b710-e73f-4ebf-9f7c-bac8d2ae40eb"
                  ],
                  "options": [
                    {
                      "id": "199273bb-3301-4888-9c18-6cda5e49e4a9",
                      "text": "Ainda não houve progresso nem avanço no meu caso."
                    },
                    {
                      "id": "f1c8b710-e73f-4ebf-9f7c-bac8d2ae40eb",
                      "text": "Houve avanço no meu caso, mas ainda não foi solucionado."
                    },
                    {
                      "id": "a48d9fd9-f59c-4d2a-9028-35ea83dc7513",
                      "text": "Meu caso já está solucionado"
                    }
                  ]
                },
                {
                  "key": "question_KeP9x7",
                  "label": "satisfaction_level",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "99e1d0c5-82ba-4967-9872-ed20915eac16"
                  ],
                  "options": [
                    {
                      "id": "0da5e107-2a93-4651-aef2-81e7a4efa75e",
                      "text": "Muito insatisfeita"
                    },
                    {
                      "id": "13608208-8603-42e9-b477-0caeb6507973",
                      "text": "Insatisfeita"
                    },
                    {
                      "id": "99e1d0c5-82ba-4967-9872-ed20915eac16",
                      "text": "Neutra"
                    },
                    {
                      "id": "64bdf86c-205c-413b-ba34-6ebb0558f427",
                      "text": "Satisfeita"
                    },
                    {
                      "id": "ac7cc17d-9bbb-4fb3-974c-5f9c19ce099a",
                      "text": "Muito satisfeita"
                    }
                  ]
                },
                {
                  "key": "question_LzEeP1",
                  "label": "expectations_met",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "187fd33b-4613-4592-ab4e-9c4febb34af6"
                  ],
                  "options": [
                    {
                      "id": "d321299a-32ed-41ff-93d2-95bd12d36ca9",
                      "text": "Sim, a advogada é atenciosa."
                    },
                    {
                      "id": "187fd33b-4613-4592-ab4e-9c4febb34af6",
                      "text": "Não, tenho dificuldade em manter contato com a voluntária."
                    }
                  ]
                },
                {
                  "key": "question_1kbL9W",
                  "label": "written_evaluation",
                  "type": "TEXTAREA",
                  "value": "dksopadsap"
                }
              ]
            }
          },
          "webhookUrl": "https://mapadoacolhimento.app.n8n.cloud/webhook/legal-support-evaluation",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HYstwqyTrzYsvJ2P"
  },
  "shared": [
    {
      "createdAt": "2024-12-19T18:18:10.376Z",
      "updatedAt": "2024-12-19T18:18:10.376Z",
      "role": "workflow:owner",
      "workflowId": "LKwgNGg7olUZhIGF",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2025-12-31T23:13:37.000Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-31",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 5,
  "updatedAt": "2025-01-28T18:33:31.000Z",
  "versionId": "a547795c-c62c-489e-ad86-0dc91c4a57d3"
}