[PROD]_Descadastro_de_Voluntarias_desengajadas_pós_Recadastro
{
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Busca voluntárias desengajadas do grupo 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia e-mail avisando sobre o Descadastro": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Envia e-mail avisando sobre o Descadastro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntárias desengajadas do grupo 3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Realiza Descadastro no banco de dados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Realiza Descadastro no Zendesk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-05T18:49:09.444Z",
  "id": "ReiKQSf5FiBIZHfc",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[PROD] Descadastro de Voluntárias desengajadas pós Recadastro",
  "nodes": [
    {
      "parameters": {},
      "id": "b964a6cd-b2ad-44e3-8f2b-3e3a11a2e060",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        720,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{ $json.email }}\",\n \"transactionalId\": \"clyd1yoot00l05pjbuazhadx8\",\n \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\"\n  }\n}",
        "options": {}
      },
      "id": "14477c39-6c80-4176-9372-3519bb41da4f",
      "name": "Envia e-mail avisando sobre o Descadastro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2080,
        680
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE volunteers\nSET condition = 'descadastrada', updated_at = NOW()\nWHERE id = {{ $json.volunteer_id }};\n\nINSERT INTO volunteer_status_history (volunteer_id, status, created_at)\nVALUES ({{ $json.volunteer_id }}, 'descadastrada', NOW());\n\nUPDATE volunteer_availability\nSET is_available = FALSE, updated_at = NOW()\nWHERE volunteer_id = {{ $json.volunteer_id }};",
        "options": {}
      },
      "id": "48d329fd-601c-43e0-b8aa-3e43c4203892",
      "name": "Realiza Descadastro no banco de dados",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1680,
        40
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "update",
        "id": "={{ $json.zendesk_user_id }}",
        "updateFields": {
          "userFieldsUi": {
            "userFieldValues": [
              {
                "field": "condition",
                "value": "descadastrada"
              }
            ]
          }
        }
      },
      "id": "d9175adb-1d22-4505-8f02-db279c41f25f",
      "name": "Realiza Descadastro no Zendesk",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1680,
        340
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8dd284ba-a69c-4f08-8c80-0d950074372e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1680,
        660
      ]
    },
    {
      "parameters": {},
      "id": "eaa007ac-bab9-45c5-9116-dca064f8af60",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1880,
        680
      ],
      "webhookId": "dcd94051-e414-4100-b25c-b178adcc24f1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    id AS volunteer_id,\n    email,\n    INITCAP(first_name) AS first_name,\n    zendesk_user_id\nFROM volunteers\nWHERE id IN (20110, 17525, 22262, 22316, 20081, 19915, 18160, 19971, 18562, 18323, 19806, 18842, 21438, 20340, 27012, 23057, 15221, 19117, 15190, 15380, 22175, 15189, 19955, 18140, 19526, 18392, 14980, 24318, 19963, 19634, 17666, 14954, 19564, 23869, 22234, 19399, 18159, 23420, 23872, 22632, 26878, 19176, 15009, 15521, 22281, 20941, 21510, 15254, 15454, 19933, 19204, 15448, 15392, 24274, 22340, 15376, 20956, 18308, 14888, 17742, 21971, 19757, 21346, 21168, 21943, 17802, 17836, 25820, 15226, 26867, 15044, 15145, 27093, 21645, 23855, 15422, 15052, 19556, 24313, 15049, 22680, 19265, 17785, 18761, 24653, 26259, 19869, 18574, 20590, 21336, 15239, 18782, 14927, 20194, 21459, 26942, 20431, 20880, 22063, 24312, 18619, 15008, 16323, 22675, 17810, 21456, 21017, 20790, 20613, 23701, 17813, 19907, 22707, 22164, 17823, 17799, 20181, 24321, 21752, 15075, 24586, 23250, 19913, 20926, 24072, 23366, 14953, 24671, 21286, 18788, 19206, 24228, 23237, 22165, 17840, 23553, 20159, 26152, 24535, 15235, 14958, 15291, 23781, 14926, 22742, 24047, 18854, 25253, 22943, 22745, 14790, 26982, 21624, 19287, 21085, 22064, 20165, 19682, 14938, 19059, 26602, 21275, 21210, 19297, 15337, 19547, 15330, 14895, 24281, 19417, 20008, 24154, 20005, 20162, 15334, 26428, 23418, 15435, 17510, 21933, 22118, 21471, 18534, 23882, 23429, 23953, 26020, 24165, 18594, 14977, 22588, 20025, 22321, 20028, 20175, 21475, 22187, 14994, 21257, 14917, 17451, 20254, 24345, 19783, 15398, 20444, 23439, 21098, 19190, 22226, 21316, 17784, 23248, 22789, 21391, 19163, 23048, 22798, 22210, 23524, 20420, 22117, 17822, 15295, 23617, 23143, 15403, 20438, 15320, 19407, 15067, 18702, 15450, 17970, 21896, 21435, 20759, 19237, 19172, 18964, 21541, 15426, 18805, 20405, 18381, 21345, 26856, 15366, 15080, 19154, 20406, 26464, 19574, 21691, 19997, 15047, 18302, 24095, 22042, 22887, 18595, 22570, 23266, 18155, 21657, 19321, 23678, 25758, 14952, 21441, 24064, 23586, 18029, 21615, 14930, 23210, 18104, 17808, 21416, 19843, 20923, 17791, 14924, 19018, 14947, 14916, 20127, 17792, 21778, 21150, 21449, 22677, 24454, 21296, 19313, 22326, 27187, 20015, 23874, 18101, 20307, 24656, 25460, 23690, 24534, 21038, 24469, 23694, 15452, 26146, 20421, 19156, 19160, 17765, 21092, 23040, 15518, 17629, 20105, 15210, 14960, 27351, 21518, 18823, 15146, 22007, 19529, 26843, 24579, 20911, 15063, 19338, 14944, 24060, 21999, 17551, 24320, 19808, 21014, 17881, 15034, 18564, 18821, 20425, 17974, 22300, 18948, 22741, 19280, 22945, 15085, 15322, 26391, 22918, 14970, 18608, 22116, 20887, 15204, 27100, 23285, 24649, 24455, 22565, 18458, 18456, 19834, 23810, 24387, 18162, 18780, 21172, 26728, 19230, 21662, 18995, 15068, 21982, 23700, 21966, 15424, 21077, 22423, 15428, 19902, 18349, 22699, 22070, 20542, 19275, 15282, 15225, 17995, 15079, 19429, 19140, 26549, 22797, 19122, 21473, 15476, 16529, 22358, 15433, 19035, 18133, 20364, 19322, 15045, 15258, 20936, 23740, 23320, 17847, 18030, 23359, 26463, 22778, 22413, 17907, 21388, 20131, 24122, 21472, 19303, 19030, 22012, 21018, 25872, 17901, 23916, 18670, 21444, 23445, 26603, 21008, 19032, 24403, 15470, 18094, 19431, 15461, 26145, 21815, 24214, 26006, 23487, 25516, 21696, 15036, 19264, 18905, 15429, 19178, 22280, 25861, 17850, 23777, 17478, 22209, 25974, 21082, 19292, 23645, 15474, 20429, 22239, 15227, 23347, 21121, 21819, 15278, 20017, 22290, 19896, 19606, 26406, 23177, 25714, 15054, 20085, 19450, 23609, 18926, 24414, 19825, 20772, 15144, 15310, 21661, 25697, 23825, 22846, 22091, 27133, 18959, 20412, 14949, 18647, 20099, 21343, 19903, 21124, 23021, 18298, 26896, 24993, 15046, 24437, 13914, 22904, 21215, 23682, 19632, 19290, 23241, 24099, 19317, 15195, 27257, 19000, 20125, 19324, 18934, 20029, 20027, 24417, 21813, 23453, 18798, 25923, 20006, 18050, 17805, 21373, 21384, 20400, 22647, 18044, 26100, 17971, 19639, 19398, 21505, 23228, 19683, 15035, 20077, 15406, 22059, 27459, 23372, 20549, 24619, 15055, 20176, 19558, 23568, 24119, 19637, 19212, 22766, 21957, 24235, 26633, 22879, 21899, 19469, 20909, 24337, 24374, 14913, 20109, 24401, 26763, 23118, 15084, 19438, 23495, 21408, 20366, 17908, 20401, 15397, 17714, 21680, 14937, 20480, 27826, 20183, 19184, 23571, 23545, 22459, 21513, 22825, 17897, 24416, 22134, 22123, 20104, 19390, 22106, 16536, 23529, 20967, 24369, 20075, 23858, 22663, 20937, 18052, 19392, 26845, 27163, 23485, 26903, 25212, 15529, 17694, 22967, 21822, 21893, 19301, 20150, 20079, 23565, 22684, 19711, 20102, 21805, 19217, 16398, 15436, 27218, 18588, 26820, 21211, 19306, 20148, 14922, 20820, 15404, 20826, 21002, 24290, 23828, 20434, 17831, 23416, 23430, 22153, 24526, 15394, 22103, 21948, 19247, 16164, 20824, 25115, 21723, 21052, 21086, 15547, 22491, 25988, 23333, 21934, 21466, 17710, 23532, 18897, 16641, 17815, 20139, 15460, 22596, 19285, 19145, 19654, 15437, 20948, 22325, 17821, 14788, 19449, 17695, 14929, 17936, 20179, 26475, 18956, 20197, 19831, 20145, 14923, 18587, 18100, 17842, 15423, 20149, 22504, 20968, 20449, 15341, 19314, 21687, 22131, 19213, 24425, 15442, 17986, 22334, 18576, 20084, 21792, 23851, 22327, 19937, 21051, 23408, 17991, 19098, 15065, 14920, 14918, 19272, 24708, 20095, 19099, 19330, 24513, 27320, 14925, 21047, 18921, 17818, 17837, 15196, 22582, 21895, 15048, 23436, 25223, 26580, 26359, 22347, 19221, 19467, 20234, 19165, 21355, 22983, 18016, 20041, 23253, 21969, 19525, 19478, 15388, 20119, 18088, 18869, 19293, 20924, 21656, 15475, 19551, 24445, 15349, 14978, 26198, 22892, 22589, 19409, 21890, 21332, 20408, 21946, 14891, 15001, 14940, 20446, 17788, 24054, 15501, 24058, 19895, 26246, 25499, 19100, 22557, 26000, 17930, 21060, 21785, 21436, 15473, 14948, 23706, 18849, 21754, 15053, 18981, 16776, 20113, 21399, 26734, 19579, 18078, 19269, 21000, 26798, 20918, 26047, 20898, 18951, 26433, 21347, 19175, 18584, 26852, 20103, 23440, 15427, 19557, 22299, 18105, 22934, 21653, 24617, 18806, 22787, 27089, 23638, 21056, 21856, 25392, 21320, 17773, 27036, 21671, 17858, 19331, 24319, 17978, 15211, 21392, 17827, 23161, 22952, 26316, 19334, 22336, 20690, 22320, 14936, 22829, 20810, 21678, 14792, 22564, 18958, 26253, 18096, 21654, 18136, 19255, 26871, 18261, 17906, 22139, 15245, 19703, 15086, 20981, 22052, 20470, 24601, 15191, 18810, 15027, 17965, 20338, 25882, 22690, 18485, 23413, 17787, 20153, 21910, 20122, 25126, 26427, 21064, 22997, 23925, 23456, 15457, 18040, 24194, 22548, 22486, 23086, 27108, 20821, 14997, 19750, 15483, 25289, 26416, 22148, 15367, 20161, 15400, 23025, 14903, 20116, 15307, 26312, 19524, 20950, 19307, 18568, 17480, 19075, 20399, 15395, 19106, 20915, 22219, 18093, 22381, 23644, 17762, 19244, 18379, 19410, 18412, 14779, 20142, 17814, 22492, 15405, 25468, 21250, 20281, 19378, 15212, 22265, 20174, 22807, 17798, 21825, 26186, 26821, 23596, 21489, 20143, 20117, 26630, 24865, 20089, 20100, 17491, 23620, 22353, 22269, 22017, 22508, 23912, 19241, 19214, 23486, 20939, 21122, 15061, 14901, 21462, 20023, 21013, 20789, 27051, 24087, 15077, 20107, 20986, 23741, 22668, 15010, 20907, 18683, 23987, 21727, 26634, 14914, 15244, 18147, 19289, 19224, 23093, 14959, 19274, 24440, 22669, 22361, 26466, 17492, 20971, 18939, 17797, 20011, 14943, 18583, 22490, 22341, 24870, 22689, 17870, 23947, 24149, 20151, 22130, 27453, 23543, 18177, 22066, 25575, 20032, 21177, 20167, 27057, 27095, 13916, 24509, 21238, 15246, 21936, 26951, 20839, 26851, 22509, 20612, 23356, 22671, 27269, 23454, 21989, 21011, 23425, 25747, 21690, 18168, 23651, 27291, 22179, 17911, 26138, 19185, 18134, 21104, 14939, 20432, 27439, 26928, 23973, 17781, 26291, 17844, 23508, 18987, 22664, 15257, 17820, 21821, 20988, 23169, 14945, 22667, 18891, 14967, 14976, 26496, 18674, 25098, 22115, 19325, 17880, 15019, 19270, 19220, 27240, 15594, 20140, 23006, 23251, 20199, 22098, 26690, 22293, 20242, 15537, 21291, 24144, 19516, 19302, 20669, 17914, 14784, 20965, 18329, 18293, 23681, 21928, 17749, 18189, 14910, 19452, 18775, 25492, 21067, 23533, 14996, 14928, 18820, 15016, 22291, 19161, 26414, 21268, 18464, 21463, 21123, 14911, 15255, 16209, 21469, 20096, 21625, 20861, 27237, 22379, 15506, 19867, 22872, 16960, 26362, 21921, 14932, 25086, 19350, 24517, 22910, 23450, 22895, 21149, 27069, 22289, 23498, 23599, 18067, 20931, 26530, 23415, 20026, 17795, 21143, 17829, 22799, 19223, 18310, 23661, 20476, 21725, 23699, 18111, 19335, 21903, 17509, 20445, 18198, 17975, 20944, 20741, 22734, 14995, 23703, 15459, 25011, 15391, 20163, 16089, 23019, 23358, 18209, 21090, 20115, 21419, 19686, 25567, 19829, 22172, 22083, 19568, 21812, 25749, 24284, 18744, 22067, 18593, 20184, 22195, 22919, 19522, 15342, 20548, 20033, 19454, 17915, 15591, 24537, 15451, 23233, 24327, 26465, 24285, 23257, 19371, 15449, 15509, 20833, 19418, 20428, 24759, 20443, 15056, 20402, 18526, 22909, 17825, 21470, 18041, 20817, 15446, 20488, 26284, 20018, 26010, 23592, 21439, 21930, 18387, 15401, 21826, 19503, 19328, 19188, 22292, 19765, 18853, 21113, 24296, 22366, 19612, 15377, 23504, 14968, 14979, 20166, 24421, 21633, 19388, 22370, 21491, 20112, 26684, 15263, 19251, 21814, 27177, 20093, 21072, 20593, 20978, 22075, 15005, 27833, 24613, 17848, 15153, 17759, 22955, 19553, 17817, 17611, 26250, 17367, 20645, 22128, 17750, 21603, 19570, 20009, 23505, 19141, 19277, 23948, 17656, 20373, 25890, 26822, 23653, 14894, 19167, 23141, 19064, 24120, 17761, 23527, 19033, 19152, 13915, 18089, 15587, 19451, 21458, 14951, 20171, 24243, 19249, 18071, 18098, 20120, 16352, 20087, 20850, 18039, 15766, 15205, 21148, 23234, 23885, 21894, 19092, 17796, 23927, 21629, 25227, 18883, 18268, 18130, 22642, 15487, 21689, 17851, 23787, 24372, 24003, 19136, 19857, 21112, 19965, 15219, 19822, 17899)\nORDER BY id",
        "options": {}
      },
      "id": "0438ce3f-8e9e-40d0-8801-de95df50637c",
      "name": "Busca voluntárias desengajadas do grupo 3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1240,
        340
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-10-07T14:15:42.000Z",
  "versionId": "9eaaac8c-b6a5-4953-b837-4a528abd47f8"
}