[STG]_Recebe_respostas_dos_Instrumentais_-_Voluntarias
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Respostas7": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca tickets IDs7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Insert rows in a table7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca registro de envio10": {
      "main": [
        [
          {
            "node": "Encontrou?10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontrou?10": {
      "main": [
        [
          {
            "node": "Atualiza status10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get tags da MSR ticket7": {
      "main": [
        [
          {
            "node": "Atualiza ticket do pedido de acolhimento (MSR)7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table7": {
      "main": [
        [
          {
            "node": "Busca registro de envio10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca tickets IDs7": {
      "main": [
        [
          {
            "node": "Atualiza ticket do match (Voluntaria)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get tags da MSR ticket7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook6": {
      "main": [
        [
          {
            "node": "Respostas7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-25T20:33:14.905Z",
  "description": null,
  "id": "ghdm1pXOVkqnqv2H",
  "isArchived": false,
  "meta": null,
  "name": "[STG] Recebe respostas dos Instrumentais - Voluntárias",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nfunction getHiddenFieldValue(item, fieldLabel){\n  return item.json.body.data.fields.find(\n    (element) => element.label === fieldLabel\n  ).value;\n}\n\nfunction getUniqueAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n  //if(!field) return 'not_found'\n  if(!field.value || field.value.length === 0) return null\n  \n  const answer = field.options.find(\n    (element) => element.id == field.value\n  )?.text ;\n\n  return answer\n}\n\nfunction getArrayAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === fieldLabel\n  );\n\n  const valuesArray = field.value\n\n  if(!valuesArray) return []\n\n  const answersArray = valuesArray.map((value) => {\n    const answer = field.options.find(\n      (element) => element.id == value\n    ).text;\n\n    return answer\n    \n  })\n\n  return answersArray\n}\n\nfunction getTextAnswer(item, fieldLabel){\n  const field = item.json.body.data.fields.find(\n    (element) => element.type === 'TEXTAREA' && element.label === fieldLabel\n  );\n  //if(!field) return 'not_found'\n  if(!field.value) return null\n  \n  const answer = field.value;\n\n  return answer\n}\n\nfunction getInputAnswer(item, fieldLabel){\n    const value =  item.json.body.data.fields.find(objeto => objeto.label == fieldLabel).value\n  //if(!field) return 'not_found'\n  if(!value) return null\n  return value\n}\n\nconst changeDateFormatTo = dateStr => {\n    const [year, month, day] = dateStr.split('-');\n    return `${day}/${month}/${year}`;\n};\nlet answers = {}\nfor (const item of $input.all()) {\n  \n  const matchId = getHiddenFieldValue(item, \"match_id\")\n  const msrFirstName = getHiddenFieldValue(item, \"msr_first_name\")\n  const volunteerFirstName = getHiddenFieldValue(item, \"volunteer_first_name\")\n\n  const encaminhamento = {\n    has_different_demand_info: getUniqueAnswer(item, 'has_different_demand_info'),\n    different_demand_description: getTextAnswer(item,'different_demand_description'),\n    interruption_reason: getArrayAnswer(item, 'interruption_reason'),\n    redirect_area_needed: getUniqueAnswer(item, 'redirect_area_needed'),\n    public_services_referral: getArrayAnswer(item,'public_services_referral')\n  }\n\n  const disponibilidade  = {\n    stay_in_project: getUniqueAnswer(item, 'stay_in_project'),\n    exit_or_suspend: getUniqueAnswer(item, 'exit_or_suspend'),\n    suspension_category: getUniqueAnswer(item, 'suspension_category'),\n    suspension_reason: getUniqueAnswer(item, 'suspension_reason'),\n    exit_reason: getTextAnswer(item, 'exit_reason')\n  }\n\n  answers = {\n    encaminhamento,\n    disponibilidade,\n    matchId,\n    volunteerFirstName,\n    msrFirstName\n  }\n}\n\nreturn answers;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        272
      ],
      "id": "2e9d607c-59d1-46af-b18e-8996a566ec35",
      "name": "Respostas7"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst redirectAreaNeeded = {\n  \"Cível\":\"civil\",\n  \"Família\": \"family\",\n  \"Trabalhista\":\"labor\",\n  \"Criminal\":\"criminal\",\n\n}\n\nconst exitOrSuspend = {\n  \"Se desligar do projeto\": \"exit\",\n  \"Suspender temporariamente o seu cadastro\":\"suspend\"\n}\n\nconst suspensionCategory = {\n  \"Suspensão - 01 mês\": \"one_month\",\n  \"Suspensão - 03 meses\": \"three_months\",\n  \"Suspensão - 06 meses\": \"six_months\",\n}\n\nconst suspensionReason = {\n  \"Férias\":\"vacation\",\n  \"Trabalho e/ou estudo\":\"work_or_study\",\n  \"Maternidade\":\"maternity\",\n  \"Saúde\":\"health\",\n  \"Outros\":\"other\",\n}\nfor (const item of $input.all()) {\n  \n  item.json.encaminhamento.redirect_area_needed = redirectAreaNeeded[item.json.encaminhamento.redirect_area_needed]??null\n  item.json.disponibilidade.exit_or_suspend = exitOrSuspend[item.json.disponibilidade.exit_or_suspend]\n  item.json.disponibilidade.suspension_category = suspensionCategory[item.json.disponibilidade.suspension_category]??null\n  item.json.disponibilidade.suspension_reason = suspensionReason[item.json.disponibilidade.suspension_reason]??null\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        0
      ],
      "id": "3cc3ad8a-51cc-4187-8e90-fe2cea67d26c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFROM survey.volunteer_instrumental_record \nWHERE \n   match_id = {{ $json.match_id }} \n  AND instrumental_type = 'support_interruption' \n  AND status = 'sent'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        0
      ],
      "id": "92a4d134-cabf-465f-96e5-af6a3b98519d",
      "name": "Busca registro de envio10",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lveNjRL3anzREWd8",
          "name": "[STG] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "45f63a02-f6e2-4278-bfde-da9e864cfb6d",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        0
      ],
      "id": "84ca6d42-19c9-44be-ab68-bde734769d9f",
      "name": "Encontrou?10"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE survey.volunteer_instrumental_record\nSET status = 'answered', answered_at = '{{ $now }}', updated_at = '{{ $now }}' WHERE volunteer_instrumental_record_id = {{ $json.volunteer_instrumental_record_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1472,
        -16
      ],
      "id": "4c3d01a6-efec-433c-99c4-07d199ad34a9",
      "name": "Atualiza status10",
      "credentials": {
        "postgres": {
          "id": "lveNjRL3anzREWd8",
          "name": "[STG] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.volunteer_zendesk_ticket_id }}",
        "updateFields": {
          "internalNote": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; color: #333;\">\n\n  <div style=\"margin-bottom: 16px;\">\n    A voluntária {{ $json.volunteer_name }} respondeu o Instrumental de Interrupção. Respostas no <a href='https://mapadoacolhimento.zendesk.com/agent/tickets/{{ $json.msr_zendesk_ticket_id }}'>ticket do match</a>\n  </div>\n\n\n</div>",
          "publicReply": "=Olá {{ $('Busca tickets IDs7').item.json.volunteer_name }} \n\nEstamos te enviando uma cópia das respostas registradas no Instrumental de Acompanhamento/conclusão, para que você possa manter esse histórico salvo e consultá-lo sempre que necessário.\n\nAgradecemos pelo preenchimento e pelo cuidado dedicado ao acompanhamento dessa acolhida \nUm abraço,\nEquipe Mapa do Acolhimento\n\n**ENCAMINHAMENTO**\n* **Identificou alguma informação na demanda da acolhida diferente das informações recebidas na triagem que precisa ser compartilhada:** {{ $('Respostas7').item.json.encaminhamento.has_different_demand_info }}\n* **Descrição:** {{ $('Respostas7').item.json.encaminhamento.different_demand_description }}\n* **Motivo da interrupção:** {{ $('Respostas7').item.json.encaminhamento.interruption_reason }}\n{{ $('Respostas7').item.json.encaminhamento.redirect_area_needed !== null ? \"* **Qual área a acolhida precisa ser reencaminhada:** \" + $('Respostas7').item.json.encaminhamento.redirect_area_needed : \"\" }}\n{{ $('Respostas7').item.json.encaminhamento.public_services_referral.length > 0 ? \"* **Qual equipamento deve ser eencaminhada:** \" + $('Respostas7').item.json.encaminhamento.public_services_referral : \"\" }}\n\n**DISPONIBILIDADE**\n* **Continua disponível para próximos atendimentos:** {{ $('Respostas7').item.json.disponibilidade.stay_in_project }}\n{{ $('Respostas7').item.json.disponibilidade.exit_or_suspend === null ? '' : \"* **Deseja:** \" + $('Respostas7').item.json.disponibilidade.exit_or_suspend }}\n{{ $('Respostas7').item.json.disponibilidade.suspension_category === null ? '' : \"* **Duração da suspensão:** \" + $('Respostas7').item.json.disponibilidade.suspension_category }}\n{{ $('Respostas7').item.json.disponibilidade.suspension_reason === null ? '' : \"* **Catagoria da segurança:** \" + $('Respostas7').item.json.disponibilidade.suspension_reason }}\n{{ $('Respostas7').item.json.disponibilidade.exit_reason === null ? '' : \"* **Motivo do desligamento:** \" + $('Respostas7').item.json.disponibilidade.exit_reason }}"
        }
      },
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        784,
        240
      ],
      "id": "b2858a3c-e6e0-41c1-acae-cd46237dffa5",
      "name": "Atualiza ticket do match (Voluntaria)",
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $('Busca tickets IDs7').item.json.msr_zendesk_ticket_id }}",
        "updateFields": {
          "internalNote": "=<div style=\"font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; color: #333;\">\n\n  <div style=\"margin-bottom: 16px;\">\n    A voluntária {{ $('Busca tickets IDs7').item.json.volunteer_name }} respondeu o Instrumental de Interrupção\n  </div>\n  <div style=\"margin-bottom: 16px;\">\n    <strong>ENCAMINHAMENTO</strong><br>\n    • <strong>Identificou alguma informação na demanda da acolhida diferente das informações recebidas na triagem que precisa ser compartilhada:</strong> {{ $('Respostas7').item.json.encaminhamento.has_different_demand_info }}<br>\n    • <strong>Descrição:</strong>{{ $('Respostas7').item.json.encaminhamento.different_demand_description }}<br>\n    • <strong>Motivo da interrupção:</strong>{{ $('Respostas7').item.json.encaminhamento.interruption_reason }}<br>\n    {{ $('Respostas7').item.json.encaminhamento.redirect_area_needed !== null? \"• <strong>Qual área a acolhida precisa ser reencaminhada:</strong> \" + $('Respostas7').item.json.encaminhamento.redirect_area_needed + \"<br>\": \"\"}}\n{{ $('Respostas7').item.json.encaminhamento.public_services_referral.lentgh > 0? \"• <strong>Qual equipamento deve ser eencaminhada:</strong> \" + $('Respostas7').item.json.encaminhamento.public_services_referral + \"<br>\": \"\"}}\n  </div>\n\n\n  <div style=\"margin-bottom: 16px;\">\n    <strong>DISPONIBILIDADE</strong><br>\n    • <strong>Continua disponível para próximos atendimentos:</strong>{{ $('Respostas7').item.json.disponibilidade.stay_in_project }}<br>\n    {{ $('Respostas7').item.json.disponibilidade.exit_or_suspend === null\n      ? ''\n      : \"• <strong>Deseja:</strong> \" + $('Respostas7').item.json.disponibilidade.exit_or_suspend + \"<br>\"}}\n    {{ $('Respostas7').item.json.disponibilidade.suspension_category === null\n      ? ''\n      : \"• <strong>Duração da suspensão:</strong> \" + $('Respostas7').item.json.disponibilidade.suspension_category + \"<br>\"}}\n    {{ $('Respostas7').item.json.disponibilidade.suspension_reason === null\n      ? ''\n      : \"• <strong>Catagoria da suspensão:</strong> \" + $('Respostas7').item.json.disponibilidade.suspension_reason + \"<br>\"}}\n  {{ $('Respostas7').item.json.disponibilidade.exit_reason === null? '':\n   \"• <strong>Motivo do desligamento:</strong> \" + $('Respostas7').item.json.disponibilidade.exit_reason + \"<br>\"}}\n  </div>\n\n\n\n\n</div>",
          "status": "open",
          "tags": "={{ $json.tags.concat([\"atendimento-interrupção\"]) }}"
        }
      },
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        880,
        496
      ],
      "id": "26681868-9b22-4ed5-a1ab-e0863e2a7987",
      "name": "Atualiza ticket do pedido de acolhimento (MSR)7",
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.msr_zendesk_ticket_id }}"
      },
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        640,
        496
      ],
      "id": "8631c736-998e-428f-a895-a4a227a6a008",
      "name": "Get tags da MSR ticket7",
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "survey",
          "mode": "list",
          "cachedResultName": "survey"
        },
        "table": {
          "__rl": true,
          "value": "support_interruption",
          "mode": "list",
          "cachedResultName": "support_interruption"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "has_different_demand_info": "={{ $json.encaminhamento.has_different_demand_info === 'Sim' }}",
            "stay_in_project": "={{ $json.disponibilidade.stay_in_project === 'Sim' }}",
            "match_id": "={{ $json.matchId }}",
            "different_demand_description": "={{ $json.encaminhamento.different_demand_description }}",
            "redirect_area_needed": "={{ $json.encaminhamento.redirect_area_needed }}",
            "public_services_referral": "={{ $json.encaminhamento.public_services_referral }}",
            "exit_or_suspend": "={{ $json.disponibilidade.exit_or_suspend }}",
            "suspension_category": "={{ $json.disponibilidade.suspension_category }}",
            "suspension_reason": "={{ $json.disponibilidade.suspension_reason }}",
            "exit_reason": "={{ $json.disponibilidade.exit_reason }}",
            "interruption_reason": "={{ $json.encaminhamento.interruption_reason }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "answer_id",
              "displayName": "answer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "match_id",
              "displayName": "match_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_different_demand_info",
              "displayName": "has_different_demand_info",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "different_demand_description",
              "displayName": "different_demand_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "redirect_area_needed",
              "displayName": "redirect_area_needed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "civil",
                  "value": "civil"
                },
                {
                  "name": "family",
                  "value": "family"
                },
                {
                  "name": "labor",
                  "value": "labor"
                },
                {
                  "name": "criminal",
                  "value": "criminal"
                }
              ]
            },
            {
              "id": "public_services_referral",
              "displayName": "public_services_referral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "stay_in_project",
              "displayName": "stay_in_project",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "exit_or_suspend",
              "displayName": "exit_or_suspend",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "exit",
                  "value": "exit"
                },
                {
                  "name": "suspend",
                  "value": "suspend"
                }
              ]
            },
            {
              "id": "suspension_category",
              "displayName": "suspension_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "one_month",
                  "value": "one_month"
                },
                {
                  "name": "three_months",
                  "value": "three_months"
                },
                {
                  "name": "six_months",
                  "value": "six_months"
                }
              ]
            },
            {
              "id": "suspension_reason",
              "displayName": "suspension_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "vacation",
                  "value": "vacation"
                },
                {
                  "name": "work_or_study",
                  "value": "work_or_study"
                },
                {
                  "name": "maternity",
                  "value": "maternity"
                },
                {
                  "name": "health",
                  "value": "health"
                },
                {
                  "name": "other",
                  "value": "other"
                }
              ]
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "exit_reason",
              "displayName": "exit_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interruption_reason",
              "displayName": "interruption_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        0
      ],
      "id": "55d35d35-a86d-4c43-8746-db14f62f575a",
      "name": "Insert rows in a table7",
      "credentials": {
        "postgres": {
          "id": "lveNjRL3anzREWd8",
          "name": "[STG] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT  \n  m.match_id,\n  m.msr_zendesk_ticket_id,\n  m.volunteer_zendesk_ticket_id,\n  v.first_name AS volunteer_name, \n  mp.first_name AS msr_first_name\nFROM match.matches m \n  INNER JOIN public.volunteers v ON m.volunteer_id = v.id\n  INNER JOIN pii_sec.msr_pii mp  ON mp.msr_id = m.msr_id\nWHERE m.match_id = {{ $json.matchId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        384
      ],
      "id": "9a35886f-e5f1-4adb-ab46-a563c3f9761f",
      "name": "Busca tickets IDs7",
      "credentials": {
        "postgres": {
          "id": "lveNjRL3anzREWd8",
          "name": "[STG] Mapa"
        }
      }
    },
    {
      "parameters": {
        "content": "## Fluxo teste de envio das respostas dos instrumentais para voluntárias",
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -176
      ],
      "id": "694d0f81-b6d4-4d3f-bc5f-2af7641bcab4",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "interrupcao-novo",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        272
      ],
      "id": "8bcee1a3-f11c-4341-b9e0-f3d14b2a1e42",
      "name": "Webhook6",
      "webhookId": "d1cb0856-2641-47a3-954f-2bf9ad0ba715",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-05-25T20:33:14.909Z",
      "createdAt": "2026-05-25T20:33:14.909Z",
      "role": "workflow:owner",
      "workflowId": "ghdm1pXOVkqnqv2H",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "createdAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "createdAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "updatedAt": "2026-05-30T23:13:14.000Z",
              "createdAt": "2024-01-09T22:21:28.810Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-27T12:48:20.602Z",
  "versionCounter": 4,
  "versionId": "cd3c6319-444b-4431-b2ba-8a2bfd13316d"
}