[STG]_Insere_dados_da_jornada_da_multiplicadora_no_banco
{
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Gera eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera eventos": {
      "main": [
        [
          {
            "node": "Insere na tablea multiplier_journey_events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-06-03T14:11:31.155Z",
  "id": "3BxCLFPOFYltdspE",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[STG] Insere dados da jornada da multiplicadora no banco",
  "nodes": [
    {
      "parameters": {},
      "id": "4ea60694-66fa-4de4-b8b1-ef4dcb076acd",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        720,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = [\n  {\n    \"multiplier_id\": 25,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-27 23:58:13\"\n  },\n  {\n    \"multiplier_id\": 31,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-27 23:58:42\"\n  },\n  {\n    \"multiplier_id\": 2,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-27 23:58:48\"\n  },\n  {\n    \"multiplier_id\": 310,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-27 23:58:48\"\n  },\n  {\n    \"multiplier_id\": 323,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-27 23:58:57\"\n  },\n  {\n    \"multiplier_id\": 73,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-27 23:59:14\"\n  },\n  {\n    \"multiplier_id\": 193,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-27 23:59:29\"\n  },\n  {\n    \"multiplier_id\": 109,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-27 23:59:46\"\n  },\n  {\n    \"multiplier_id\": 144,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-27 23:59:57\"\n  },\n  {\n    \"multiplier_id\": 39,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-27 23:59:58\"\n  },\n  {\n    \"multiplier_id\": 167,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-27 23:59:59\"\n  },\n  {\n    \"multiplier_id\": 44,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:00:03\"\n  },\n  {\n    \"multiplier_id\": 17,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:00:05\"\n  },\n  {\n    \"multiplier_id\": 108,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:00:06\"\n  },\n  {\n    \"multiplier_id\": 8,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:00:21\"\n  },\n  {\n    \"multiplier_id\": 128,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:00:53\"\n  },\n  {\n    \"multiplier_id\": 172,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:00:58\"\n  },\n  {\n    \"multiplier_id\": 162,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:00:59\"\n  },\n  {\n    \"multiplier_id\": 13,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:02:30\"\n  },\n  {\n    \"multiplier_id\": 80,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:02:50\"\n  },\n  {\n    \"multiplier_id\": 116,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:03:17\"\n  },\n  {\n    \"multiplier_id\": 255,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:03:26\"\n  },\n  {\n    \"multiplier_id\": 97,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:03:30\"\n  },\n  {\n    \"multiplier_id\": 117,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:04:38\"\n  },\n  {\n    \"multiplier_id\": 6,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:04:54\"\n  },\n  {\n    \"multiplier_id\": 102,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:07:42\"\n  },\n  {\n    \"multiplier_id\": 168,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:07:45\"\n  },\n  {\n    \"multiplier_id\": 15,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:07:51\"\n  },\n  {\n    \"multiplier_id\": 327,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:11:18\"\n  },\n  {\n    \"multiplier_id\": 5,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:11:26\"\n  },\n  {\n    \"multiplier_id\": 294,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:13:33\"\n  },\n  {\n    \"multiplier_id\": 171,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:13:35\"\n  },\n  {\n    \"multiplier_id\": 297,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:14:32\"\n  },\n  {\n    \"multiplier_id\": 72,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:14:44\"\n  },\n  {\n    \"multiplier_id\": 174,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 02:43:04\"\n  },\n  {\n    \"multiplier_id\": 210,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 17:13:53\"\n  },\n  {\n    \"multiplier_id\": 10,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 21:45:09\"\n  },\n  {\n    \"multiplier_id\": 31,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:03:03\"\n  },\n  {\n    \"multiplier_id\": 216,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:03:32\"\n  },\n  {\n    \"multiplier_id\": 254,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:03:52\"\n  },\n  {\n    \"multiplier_id\": 129,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:04:24\"\n  },\n  {\n    \"multiplier_id\": 55,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:05:28\"\n  },\n  {\n    \"multiplier_id\": 18,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:05:32\"\n  },\n  {\n    \"multiplier_id\": 307,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:05:38\"\n  },\n  {\n    \"multiplier_id\": 56,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:05:43\"\n  },\n  {\n    \"multiplier_id\": 286,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:06:51\"\n  },\n  {\n    \"multiplier_id\": 223,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:07:04\"\n  },\n  {\n    \"multiplier_id\": 11,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:07:11\"\n  },\n  {\n    \"multiplier_id\": 12,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:07:35\"\n  },\n  {\n    \"multiplier_id\": 287,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:08:11\"\n  },\n  {\n    \"multiplier_id\": 305,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:09:14\"\n  },\n  {\n    \"multiplier_id\": 322,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:09:25\"\n  },\n  {\n    \"multiplier_id\": 62,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:11:09\"\n  },\n  {\n    \"multiplier_id\": 298,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:11:54\"\n  },\n  {\n    \"multiplier_id\": 280,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:12:00\"\n  },\n  {\n    \"multiplier_id\": 121,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:13:05\"\n  },\n  {\n    \"multiplier_id\": 316,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:13:19\"\n  },\n  {\n    \"multiplier_id\": 59,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:17:00\"\n  },\n  {\n    \"multiplier_id\": 237,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 01:56:49\"\n  },\n  {\n    \"multiplier_id\": 106,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 13:04:39\"\n  },\n  {\n    \"multiplier_id\": 26,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 13:37:01\"\n  },\n  {\n    \"multiplier_id\": 207,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 15:01:55\"\n  },\n  {\n    \"multiplier_id\": 112,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 20:36:27\"\n  },\n  {\n    \"multiplier_id\": 212,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 22:45:51\"\n  },\n  {\n    \"multiplier_id\": 187,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-04-03 19:25:14\"\n  },\n  {\n    \"multiplier_id\": 86,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-04-10 23:32:07\"\n  },\n  {\n    \"multiplier_id\": 189,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-04-11 23:02:25\"\n  },\n  {\n    \"multiplier_id\": 326,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-04-25 23:25:37\"\n  },\n  {\n    \"multiplier_id\": 40,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-29 23:51:45\"\n  },\n  {\n    \"multiplier_id\": 149,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-29 23:51:57\"\n  },\n  {\n    \"multiplier_id\": 297,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-29 23:52:34\"\n  },\n  {\n    \"multiplier_id\": 149,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-29 23:55:50\"\n  },\n  {\n    \"multiplier_id\": 171,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-29 23:56:39\"\n  },\n  {\n    \"multiplier_id\": 324,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-30 00:00:16\"\n  },\n  {\n    \"multiplier_id\": 168,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-30 00:03:19\"\n  },\n  {\n    \"multiplier_id\": 13,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-30 00:10:59\"\n  },\n  {\n    \"multiplier_id\": 204,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-30 00:18:26\"\n  },\n  {\n    \"multiplier_id\": 80,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-30 00:24:11\"\n  },\n  {\n    \"multiplier_id\": 6,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-30 00:49:12\"\n  },\n  {\n    \"multiplier_id\": 174,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-30 01:54:16\"\n  },\n  {\n    \"multiplier_id\": 31,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-30 18:10:51\"\n  },\n  {\n    \"multiplier_id\": 109,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-31 01:13:06\"\n  },\n  {\n    \"multiplier_id\": 237,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-05-31 13:38:09\"\n  },\n  {\n    \"multiplier_id\": 305,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-06-02 21:23:13\"\n  },\n  {\n    \"multiplier_id\": 5,\n    \"event\": \"ii_jornada_formativa\",\n    \"created_at\": \"2024-06-02 23:57:27\"\n  },\n  {\n    \"multiplier_id\": 106,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 00:01:20\"\n  },\n  {\n    \"multiplier_id\": 280,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 00:02:19\"\n  },\n  {\n    \"multiplier_id\": 149,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 00:02:49\"\n  },\n  {\n    \"multiplier_id\": 31,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 00:04:10\"\n  },\n  {\n    \"multiplier_id\": 216,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 00:04:21\"\n  },\n  {\n    \"multiplier_id\": 121,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 00:05:21\"\n  },\n  {\n    \"multiplier_id\": 40,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 00:05:52\"\n  },\n  {\n    \"multiplier_id\": 262,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 00:08:23\"\n  },\n  {\n    \"multiplier_id\": 297,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 00:08:31\"\n  },\n  {\n    \"multiplier_id\": 86,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 00:09:16\"\n  },\n  {\n    \"multiplier_id\": 18,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 00:13:13\"\n  },\n  {\n    \"multiplier_id\": 189,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 00:18:29\"\n  },\n  {\n    \"multiplier_id\": 168,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 13:32:49\"\n  },\n  {\n    \"multiplier_id\": 171,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 13:35:34\"\n  },\n  {\n    \"multiplier_id\": 223,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 13:43:39\"\n  },\n  {\n    \"multiplier_id\": 207,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 13:52:50\"\n  },\n  {\n    \"multiplier_id\": 174,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 14:28:15\"\n  },\n  {\n    \"multiplier_id\": 192,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 14:45:44\"\n  },\n  {\n    \"multiplier_id\": 323,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 15:24:28\"\n  },\n  {\n    \"multiplier_id\": 23,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 17:03:09\"\n  },\n  {\n    \"multiplier_id\": 316,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 17:12:49\"\n  },\n  {\n    \"multiplier_id\": 204,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 17:25:33\"\n  },\n  {\n    \"multiplier_id\": 305,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 18:33:52\"\n  },\n  {\n    \"multiplier_id\": 132,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-17 23:46:58\"\n  },\n  {\n    \"multiplier_id\": 108,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-20 14:58:14\"\n  },\n  {\n    \"multiplier_id\": 6,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-20 15:56:28\"\n  },\n  {\n    \"multiplier_id\": 237,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-29 15:01:48\"\n  },\n  {\n    \"multiplier_id\": 5,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-06-03 00:27:20\"\n  },\n  {\n    \"multiplier_id\": 44,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 00:00:52\"\n  },\n  {\n    \"multiplier_id\": 327,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 00:03:47\"\n  },\n  {\n    \"multiplier_id\": 149,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 00:04:06\"\n  },\n  {\n    \"multiplier_id\": 18,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 00:04:34\"\n  },\n  {\n    \"multiplier_id\": 6,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 00:05:50\"\n  },\n  {\n    \"multiplier_id\": 171,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 00:06:34\"\n  },\n  {\n    \"multiplier_id\": 297,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 00:07:01\"\n  },\n  {\n    \"multiplier_id\": 121,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 00:11:20\"\n  },\n  {\n    \"multiplier_id\": 323,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 00:11:52\"\n  },\n  {\n    \"multiplier_id\": 106,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 17:48:45\"\n  },\n  {\n    \"multiplier_id\": 116,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 18:07:52\"\n  },\n  {\n    \"multiplier_id\": 192,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 20:34:38\"\n  },\n  {\n    \"multiplier_id\": 174,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 22:02:48\"\n  },\n  {\n    \"multiplier_id\": 72,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-26 11:49:29\"\n  },\n  {\n    \"multiplier_id\": 204,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-26 12:29:56\"\n  },\n  {\n    \"multiplier_id\": 287,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-26 12:35:44\"\n  },\n  {\n    \"multiplier_id\": 307,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-26 19:13:05\"\n  },\n  {\n    \"multiplier_id\": 23,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-26 21:24:47\"\n  },\n  {\n    \"multiplier_id\": 294,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-26 22:34:41\"\n  },\n  {\n    \"multiplier_id\": 318,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-28 05:31:28\"\n  },\n  {\n    \"multiplier_id\": 44,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 00:20:31\"\n  },\n  {\n    \"multiplier_id\": 128,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 00:20:31\"\n  },\n  {\n    \"multiplier_id\": 8,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 00:21:07\"\n  },\n  {\n    \"multiplier_id\": 6,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 00:23:04\"\n  },\n  {\n    \"multiplier_id\": 40,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 00:23:20\"\n  },\n  {\n    \"multiplier_id\": 72,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 00:27:10\"\n  },\n  {\n    \"multiplier_id\": 18,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 00:30:35\"\n  },\n  {\n    \"multiplier_id\": 305,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 01:14:38\"\n  },\n  {\n    \"multiplier_id\": 121,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 01:43:20\"\n  },\n  {\n    \"multiplier_id\": 31,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 13:02:10\"\n  },\n  {\n    \"multiplier_id\": 292,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 13:03:09\"\n  },\n  {\n    \"multiplier_id\": 22,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 13:11:14\"\n  },\n  {\n    \"multiplier_id\": 56,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 13:44:59\"\n  },\n  {\n    \"multiplier_id\": 5,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 14:05:54\"\n  },\n  {\n    \"multiplier_id\": 80,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 14:06:38\"\n  },\n  {\n    \"multiplier_id\": 294,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 15:35:03\"\n  },\n  {\n    \"multiplier_id\": 144,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 16:02:04\"\n  },\n  {\n    \"multiplier_id\": 129,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 17:03:31\"\n  },\n  {\n    \"multiplier_id\": 104,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-10 20:37:10\"\n  },\n  {\n    \"multiplier_id\": 149,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-11 00:36:56\"\n  },\n  {\n    \"multiplier_id\": 117,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-11 12:39:51\"\n  },\n  {\n    \"multiplier_id\": 109,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 00:16:02\"\n  },\n  {\n    \"multiplier_id\": 216,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 00:16:14\"\n  },\n  {\n    \"multiplier_id\": 242,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 00:19:22\"\n  },\n  {\n    \"multiplier_id\": 316,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 00:19:30\"\n  },\n  {\n    \"multiplier_id\": 189,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 00:19:36\"\n  },\n  {\n    \"multiplier_id\": 168,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 00:19:43\"\n  },\n  {\n    \"multiplier_id\": 13,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 00:20:00\"\n  },\n  {\n    \"multiplier_id\": 237,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 00:22:39\"\n  },\n  {\n    \"multiplier_id\": 262,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 00:25:36\"\n  },\n  {\n    \"multiplier_id\": 12,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 00:33:21\"\n  },\n  {\n    \"multiplier_id\": 204,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 00:51:53\"\n  },\n  {\n    \"multiplier_id\": 286,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 12:07:37\"\n  },\n  {\n    \"multiplier_id\": 132,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 14:16:01\"\n  },\n  {\n    \"multiplier_id\": 187,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 15:21:43\"\n  },\n  {\n    \"multiplier_id\": 59,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 16:06:32\"\n  },\n  {\n    \"multiplier_id\": 212,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 16:34:47\"\n  },\n  {\n    \"multiplier_id\": 174,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 23:43:37\"\n  },\n  {\n    \"multiplier_id\": 167,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-14 12:21:38\"\n  },\n  {\n    \"multiplier_id\": 310,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-14 19:10:59\"\n  },\n  {\n    \"multiplier_id\": 171,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-16 14:17:16\"\n  },\n  {\n    \"multiplier_id\": 326,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-25 23:23:54\"\n  },\n  {\n    \"multiplier_id\": 197,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:03:37\"\n  },\n  {\n    \"multiplier_id\": 290,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:03:42\"\n  },\n  {\n    \"multiplier_id\": 283,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:04:38\"\n  },\n  {\n    \"multiplier_id\": 263,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-28 00:07:54\"\n  },\n  {\n    \"multiplier_id\": 147,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:07:00\"\n  },\n  {\n    \"multiplier_id\": 153,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:09:24\"\n  },\n  {\n    \"multiplier_id\": 325,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 00:09:41\"\n  },\n  {\n    \"multiplier_id\": 151,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-30 09:57:36\"\n  },\n  {\n    \"multiplier_id\": 151,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-04-11 00:40:41\"\n  },\n  {\n    \"multiplier_id\": 290,\n    \"event\": \"i_jornada_formativa\",\n    \"created_at\": \"2024-05-16 00:05:56\"\n  },\n  {\n    \"multiplier_id\": 283,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 00:05:11\"\n  },\n  {\n    \"multiplier_id\": 197,\n    \"event\": \"i_encontro_da_rede\",\n    \"created_at\": \"2024-04-25 00:05:29\"\n  },\n  {\n    \"multiplier_id\": 283,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-11 00:31:24\"\n  },\n  {\n    \"multiplier_id\": 151,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-11 00:35:32\"\n  },\n  {\n    \"multiplier_id\": 153,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-11 00:35:46\"\n  },\n  {\n    \"multiplier_id\": 263,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 17:20:49\"\n  },\n  {\n    \"multiplier_id\": 325,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-15 11:48:38\"\n  },\n  {\n    \"multiplier_id\": 224,\n    \"event\": \"embarque_geral\",\n    \"created_at\": \"2024-03-29 13:10:42\"\n  },\n  {\n    \"multiplier_id\": 70,\n    \"event\": \"embarque_regional\",\n    \"created_at\": \"2024-04-12 12:18:08\"\n  }\n]\n\nreturn output;"
      },
      "id": "e2b5fde9-f55f-403c-9dcc-93da8f51a813",
      "name": "Gera eventos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        340
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multiplier_journey_events",
          "mode": "list",
          "cachedResultName": "multiplier_journey_events"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "multiplier_id": "={{ $json.multiplier_id }}",
            "event": "={{ $json.event }}",
            "created_at": "={{ $json.created_at }}",
            "multiplier_journey_event_id": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "multiplier_journey_event_id",
              "displayName": "multiplier_journey_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "multiplier_id",
              "displayName": "multiplier_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "event",
              "displayName": "event",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "registration",
                  "value": "registration"
                },
                {
                  "name": "general_onboarding",
                  "value": "general_onboarding"
                }
              ]
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "683059d4-7c75-49ed-9546-e5236815b9c0",
      "name": "Insere na tablea multiplier_journey_events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1160,
        340
      ],
      "credentials": {
        "postgres": {
          "id": "lveNjRL3anzREWd8",
          "name": "[STG] Mapa"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-06-03T14:33:18.000Z",
  "versionId": "bb5a7d37-9b2e-49ff-bb60-deff0a9eb4df"
}