[STG]_Migraçao_do_Banco_de_Dados
{
  "active": false,
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "volunteer_status_history",
            "type": "main",
            "index": 0
          },
          {
            "node": "volunteer_availability",
            "type": "main",
            "index": 0
          },
          {
            "node": "volunteer_training_history",
            "type": "main",
            "index": 0
          },
          {
            "node": "support_requests",
            "type": "main",
            "index": 0
          },
          {
            "node": "support_request_status_history",
            "type": "main",
            "index": 0
          },
          {
            "node": "matches",
            "type": "main",
            "index": 0
          },
          {
            "node": "match_status_history",
            "type": "main",
            "index": 0
          },
          {
            "node": "match_surveys",
            "type": "main",
            "index": 0
          },
          {
            "node": "volunteers_formdata",
            "type": "main",
            "index": 0
          },
          {
            "node": "cities",
            "type": "main",
            "index": 0
          },
          {
            "node": "volunteer_segments",
            "type": "main",
            "index": 0
          },
          {
            "node": "volunteer_unsubscriptions",
            "type": "main",
            "index": 0
          },
          {
            "node": "feature_flag",
            "type": "main",
            "index": 0
          },
          {
            "node": "busara_hashes",
            "type": "main",
            "index": 0
          },
          {
            "node": "multipliers",
            "type": "main",
            "index": 0
          },
          {
            "node": "multiplier_pii",
            "type": "main",
            "index": 0
          },
          {
            "node": "multiplier_registration_open_questions",
            "type": "main",
            "index": 0
          },
          {
            "node": "multiplier_journey_events",
            "type": "main",
            "index": 0
          },
          {
            "node": "public_services",
            "type": "main",
            "index": 0
          },
          {
            "node": "auth_permission",
            "type": "main",
            "index": 0
          },
          {
            "node": "auth_user",
            "type": "main",
            "index": 0
          },
          {
            "node": "django_content_type",
            "type": "main",
            "index": 0
          },
          {
            "node": "django_session",
            "type": "main",
            "index": 0
          },
          {
            "node": "integrations_logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "volunteers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "integrations_logs": {
      "main": [
        [
          {
            "node": "Insert integrations_logs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Atualiza coluna data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza coluna data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-05-13T15:58:43.597Z",
  "id": "6rvFGIuhYmGpB2RY",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[STG] Migração do Banco de Dados",
  "nodes": [
    {
      "parameters": {},
      "id": "63c7b285-be32-43a7-9f76-eaac8ac27aad",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        500,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteers",
        "options": {}
      },
      "id": "3cf8b71b-fc75-4d42-a30f-c66af0c16e53",
      "name": "volunteers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -940
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteer_status_history",
        "options": {}
      },
      "id": "49a91dd0-3a36-4afe-afab-9b6e1d59e7b8",
      "name": "volunteer_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -180
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteer_availability",
        "options": {}
      },
      "id": "fce508c6-5c3e-469c-8d62-45829a5d12bf",
      "name": "volunteer_availability",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        20
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteer_training_history",
        "options": {}
      },
      "id": "dac09fa3-8561-4533-9eca-977ac62b8bea",
      "name": "volunteer_training_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -380
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.support_requests",
        "options": {}
      },
      "id": "b9b2f1d7-8d81-4e1f-8763-9f856eb9ad22",
      "name": "support_requests",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        1160
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.matches",
        "options": {}
      },
      "id": "fa70d6a2-24bb-4d73-a798-ee7e19e8c52a",
      "name": "matches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        1640
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.match_status_history",
        "options": {}
      },
      "id": "569322e2-0e5d-4423-956a-52026fbdb45f",
      "name": "match_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        1820
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.match_surveys",
        "options": {}
      },
      "id": "d38a7e89-7c46-4953-ad9a-5e57a45d8e8a",
      "name": "match_surveys",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        2000
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteers_formdata",
        "options": {}
      },
      "id": "f0d3c79a-afad-4b12-924a-c190c5eec1cf",
      "name": "volunteers_formdata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        -1140
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM cities",
        "options": {}
      },
      "id": "a77b037b-8a57-4872-9a0e-db12858eb901",
      "name": "cities",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteer_segments",
        "options": {}
      },
      "id": "2865bf88-90c5-4dc5-ab5d-f0dbad0ce7b6",
      "name": "volunteer_segments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -580
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM volunteer_unsubscriptions",
        "options": {}
      },
      "id": "04690750-14ea-465c-afea-a1a0f4f9b3af",
      "name": "volunteer_unsubscriptions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        -760
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.feature_flag",
        "options": {}
      },
      "id": "c5544322-41c9-4f07-9f6c-9f9117ccacf7",
      "name": "feature_flag",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        440
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.busara_hashes",
        "options": {}
      },
      "id": "5ab69978-6fba-43bd-bb3e-dce62b374a6d",
      "name": "busara_hashes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM mobilization.multipliers",
        "options": {}
      },
      "id": "6dd6a650-2d93-4993-ac48-a40d12655468",
      "name": "multipliers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        2300
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM mobilization.multiplier_pii",
        "options": {}
      },
      "id": "26b822dc-a12d-46fb-b30f-79252bd2410a",
      "name": "multiplier_pii",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        2500
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM mobilization.multiplier_registration_open_questions",
        "options": {}
      },
      "id": "a2eb135e-662c-4b34-add2-c9d61b6bfbb3",
      "name": "multiplier_registration_open_questions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        2720
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM mobilization.multiplier_journey_events",
        "options": {}
      },
      "id": "ed39d85b-5f04-4844-aec2-17d4ca506ce5",
      "name": "multiplier_journey_events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        2940
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteers_formdata",
          "mode": "list",
          "cachedResultName": "volunteers_formdata"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "type_form",
              "displayName": "type_form",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "values",
              "displayName": "values",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_steps",
              "displayName": "total_steps",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6ae97751-80d4-4fc6-995a-73fb2c732b4d",
      "name": "Insert volunteers_formdata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -1140
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_unsubscriptions",
          "mode": "list",
          "cachedResultName": "volunteer_unsubscriptions"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "volunteer_unsubscription_id",
              "displayName": "volunteer_unsubscription_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "volunteer_id",
              "displayName": "volunteer_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "unsubscription_reason",
              "displayName": "unsubscription_reason",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unsubscription_description",
              "displayName": "unsubscription_description",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d1cdfc4d-2b4b-467a-865a-92a396b58cba",
      "name": "Insert volunteer_unsubscriptions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -760
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_segments",
          "mode": "list",
          "cachedResultName": "volunteer_segments"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "volunteer_segment_id",
              "displayName": "volunteer_segment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segment_name",
              "displayName": "segment_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "volunteer_id",
              "displayName": "volunteer_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "volunteer_segment_group",
              "displayName": "volunteer_segment_group",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "ba1979c3-8b6c-48a7-8973-a72865fb8bcf",
      "name": "Insert volunteer_segments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -580
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_training_history",
          "mode": "list",
          "cachedResultName": "volunteer_training_history"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "volunteer_training_history_id",
              "displayName": "volunteer_training_history_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "volunteer_id",
              "displayName": "volunteer_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "moodle_user_id",
              "displayName": "moodle_user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event",
              "displayName": "event",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "started_training",
                  "value": "started_training"
                },
                {
                  "name": "finished_training",
                  "value": "finished_training"
                }
              ],
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "403da667-a211-4d78-b483-2688bb60d7c4",
      "name": "Insert volunteer_training_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -380
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_status_history",
          "mode": "list",
          "cachedResultName": "volunteer_status_history"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "volunteer_id",
              "displayName": "volunteer_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6a269db3-82bf-4259-89cb-71befd3fe1e8",
      "name": "Insert volunteer_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -180
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteers",
          "mode": "list",
          "cachedResultName": "volunteers"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "offers_libras_support": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "condition",
              "displayName": "condition",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "zipcode",
              "displayName": "zipcode",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "neighborhood",
              "displayName": "neighborhood",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "latitude",
              "displayName": "latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "longitude",
              "displayName": "longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "register_number",
              "displayName": "register_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "birth_date",
              "displayName": "birth_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "color",
              "displayName": "color",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modality",
              "displayName": "modality",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fields_of_work",
              "displayName": "fields_of_work",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "years_of_experience",
              "displayName": "years_of_experience",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approach",
              "displayName": "approach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "form_data_id",
              "displayName": "form_data_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "occupation",
              "displayName": "occupation",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "moodle_id",
              "displayName": "moodle_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "form_entries_id",
              "displayName": "form_entries_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "zendesk_user_id",
              "displayName": "zendesk_user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "availability",
              "displayName": "availability",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "offers_libras_support",
              "displayName": "offers_libras_support",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "street",
              "displayName": "street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "97bd366d-7dd3-4bf8-8b8f-5773e3ee586b",
      "name": "Insert volunteers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        -940
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteer_availability",
          "mode": "list",
          "cachedResultName": "volunteer_availability"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "is_available": false,
            "offers_online_support": false,
            "offers_libras_support": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "volunteer_id",
              "displayName": "volunteer_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_matches",
              "displayName": "current_matches",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "max_matches",
              "displayName": "max_matches",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_available",
              "displayName": "is_available",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "support_type",
              "displayName": "support_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "support_expertise",
              "displayName": "support_expertise",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "offers_online_support",
              "displayName": "offers_online_support",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "lat",
              "displayName": "lat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "lng",
              "displayName": "lng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "offers_libras_support",
              "displayName": "offers_libras_support",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "25f13aae-08df-40ae-aa1a-21077289ab9c",
      "name": "Insert volunteer_availability",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        20
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cities",
          "mode": "list",
          "cachedResultName": "cities"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "city_id",
              "displayName": "city_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "city_value",
              "displayName": "city_value",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city_label",
              "displayName": "city_label",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ibge_code",
              "displayName": "ibge_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6e700ad2-e34a-4979-b1a1-716658feb5a6",
      "name": "Insert cities",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        260
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "feature_flag",
          "mode": "list",
          "cachedResultName": "feature_flag"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "f077b2a3-b567-408f-8fb7-35360003c481",
      "name": "Insert feature_flag",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        440
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "busara_hashes",
          "mode": "list",
          "cachedResultName": "busara_hashes"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "msr_email",
              "displayName": "msr_email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hash",
              "displayName": "hash",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "25cf1fae-d9be-419e-afc2-54fcbf86de6e",
      "name": "Insert busara_hashes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        620
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "support_requests",
          "mode": "list",
          "cachedResultName": "support_requests"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "has_disability": false,
            "requires_libras": false,
            "accepts_online_support": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "support_request_id",
              "displayName": "support_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "zendesk_ticket_id",
              "displayName": "zendesk_ticket_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "support_type",
              "displayName": "support_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "psychological",
                  "value": "psychological"
                },
                {
                  "name": "legal",
                  "value": "legal"
                }
              ]
            },
            {
              "id": "support_expertise",
              "displayName": "support_expertise",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_disability",
              "displayName": "has_disability",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "requires_libras",
              "displayName": "requires_libras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "accepts_online_support",
              "displayName": "accepts_online_support",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "lat",
              "displayName": "lat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "lng",
              "displayName": "lng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "open",
                  "value": "open"
                },
                {
                  "name": "matched",
                  "value": "matched"
                },
                {
                  "name": "social_worker",
                  "value": "social_worker"
                },
                {
                  "name": "public_service",
                  "value": "public_service"
                },
                {
                  "name": "duplicated",
                  "value": "duplicated"
                },
                {
                  "name": "closed",
                  "value": "closed"
                },
                {
                  "name": "special_case",
                  "value": "special_case"
                },
                {
                  "name": "public_service_with_social_worker",
                  "value": "public_service_with_social_worker"
                },
                {
                  "name": "scheduled_social_worker",
                  "value": "scheduled_social_worker"
                },
                {
                  "name": "expired_social_worker",
                  "value": "expired_social_worker"
                }
              ]
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "073273f2-aff5-4f25-8c51-1359591f3a22",
      "name": "Insert support_requests",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        1160
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM match.support_request_status_history",
        "options": {}
      },
      "id": "130d229e-3651-41c9-8685-af2dc7ad8784",
      "name": "support_request_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        1340
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "support_request_status_history",
          "mode": "list",
          "cachedResultName": "support_request_status_history"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "support_request_status_history_id",
              "displayName": "support_request_status_history_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "support_request_id",
              "displayName": "support_request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "open",
                  "value": "open"
                },
                {
                  "name": "matched",
                  "value": "matched"
                },
                {
                  "name": "social_worker",
                  "value": "social_worker"
                },
                {
                  "name": "public_service",
                  "value": "public_service"
                },
                {
                  "name": "duplicated",
                  "value": "duplicated"
                },
                {
                  "name": "closed",
                  "value": "closed"
                },
                {
                  "name": "special_case",
                  "value": "special_case"
                },
                {
                  "name": "public_service_with_social_worker",
                  "value": "public_service_with_social_worker"
                },
                {
                  "name": "scheduled_social_worker",
                  "value": "scheduled_social_worker"
                },
                {
                  "name": "expired_social_worker",
                  "value": "expired_social_worker"
                }
              ]
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "195611b2-6e08-4d7d-abef-41bc13ea922f",
      "name": "Insert support_request_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        1340
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "matches",
          "mode": "list",
          "cachedResultName": "matches"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "match_id",
              "displayName": "match_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "support_request_id",
              "displayName": "support_request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "volunteer_id",
              "displayName": "volunteer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "msr_zendesk_ticket_id",
              "displayName": "msr_zendesk_ticket_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "volunteer_zendesk_ticket_id",
              "displayName": "volunteer_zendesk_ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "support_type",
              "displayName": "support_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "psychological",
                  "value": "psychological"
                },
                {
                  "name": "legal",
                  "value": "legal"
                }
              ],
              "removed": false
            },
            {
              "id": "match_type",
              "displayName": "match_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "msr",
                  "value": "msr"
                },
                {
                  "name": "daily",
                  "value": "daily"
                },
                {
                  "name": "manual",
                  "value": "manual"
                },
                {
                  "name": "old",
                  "value": "old"
                }
              ],
              "removed": false
            },
            {
              "id": "match_stage",
              "displayName": "match_stage",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "manual",
                  "value": "manual"
                },
                {
                  "name": "ideal",
                  "value": "ideal"
                },
                {
                  "name": "expanded",
                  "value": "expanded"
                },
                {
                  "name": "online",
                  "value": "online"
                },
                {
                  "name": "old",
                  "value": "old"
                }
              ],
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "completed",
                  "value": "completed"
                },
                {
                  "name": "expired",
                  "value": "expired"
                },
                {
                  "name": "in_contact",
                  "value": "in_contact"
                },
                {
                  "name": "interrupted_after_support",
                  "value": "interrupted_after_support"
                },
                {
                  "name": "interrupted_before_support",
                  "value": "interrupted_before_support"
                },
                {
                  "name": "waiting_contact",
                  "value": "waiting_contact"
                },
                {
                  "name": "started_contact",
                  "value": "started_contact"
                }
              ],
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "a10a63b6-1d19-47d7-8ad9-e722b4eedea8",
      "name": "Insert matches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        1640
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "match_status_history",
          "mode": "list",
          "cachedResultName": "match_status_history"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "match_status_history_id",
              "displayName": "match_status_history_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "match_id",
              "displayName": "match_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "completed",
                  "value": "completed"
                },
                {
                  "name": "expired",
                  "value": "expired"
                },
                {
                  "name": "in_contact",
                  "value": "in_contact"
                },
                {
                  "name": "interrupted_after_support",
                  "value": "interrupted_after_support"
                },
                {
                  "name": "interrupted_before_support",
                  "value": "interrupted_before_support"
                },
                {
                  "name": "waiting_contact",
                  "value": "waiting_contact"
                },
                {
                  "name": "started_contact",
                  "value": "started_contact"
                }
              ],
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "f7d516e5-810d-4c9d-a38d-d323121fc487",
      "name": "Insert match_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        1820
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "match",
          "mode": "list",
          "cachedResultName": "match"
        },
        "table": {
          "__rl": true,
          "value": "match_surveys",
          "mode": "list",
          "cachedResultName": "match_surveys"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "match_survey_id",
              "displayName": "match_survey_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "match_id",
              "displayName": "match_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "survey_type",
              "displayName": "survey_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "triagem_1",
                  "value": "triagem_1"
                },
                {
                  "name": "triagem_2",
                  "value": "triagem_2"
                },
                {
                  "name": "acompanhamento_1",
                  "value": "acompanhamento_1"
                },
                {
                  "name": "acompanhamento_2",
                  "value": "acompanhamento_2"
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "64d63429-12f7-45d7-b3a5-ddc87826da6c",
      "name": "Insert match_surveys",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        2000
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multipliers",
          "mode": "list",
          "cachedResultName": "multipliers"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "has_disability": false,
            "has_internet_access": false,
            "is_available": false,
            "is_university_student": false,
            "has_children": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "multiplier_id",
              "displayName": "multiplier_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "gender",
              "displayName": "gender",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "cis_woman",
                  "value": "cis_woman"
                },
                {
                  "name": "trans_woman",
                  "value": "trans_woman"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "age",
              "displayName": "age",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "region",
              "displayName": "region",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "norte",
                  "value": "norte"
                },
                {
                  "name": "nordeste",
                  "value": "nordeste"
                },
                {
                  "name": "centro_oeste",
                  "value": "centro_oeste"
                },
                {
                  "name": "sudeste",
                  "value": "sudeste"
                },
                {
                  "name": "sul",
                  "value": "sul"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "state",
              "displayName": "state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "race",
              "displayName": "race",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "black",
                  "value": "black"
                },
                {
                  "name": "brown",
                  "value": "brown"
                },
                {
                  "name": "indigenous",
                  "value": "indigenous"
                },
                {
                  "name": "yellow",
                  "value": "yellow"
                },
                {
                  "name": "white",
                  "value": "white"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "sexuality",
              "displayName": "sexuality",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "lesbian",
                  "value": "lesbian"
                },
                {
                  "name": "bisexual",
                  "value": "bisexual"
                },
                {
                  "name": "heterosexual",
                  "value": "heterosexual"
                },
                {
                  "name": "asexual",
                  "value": "asexual"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "religion",
              "displayName": "religion",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "atheist",
                  "value": "atheist"
                },
                {
                  "name": "candomble",
                  "value": "candomble"
                },
                {
                  "name": "catholic",
                  "value": "catholic"
                },
                {
                  "name": "spiritist",
                  "value": "spiritist"
                },
                {
                  "name": "evangelical",
                  "value": "evangelical"
                },
                {
                  "name": "umbanda",
                  "value": "umbanda"
                },
                {
                  "name": "others",
                  "value": "others"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "has_disability",
              "displayName": "has_disability",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_internet_access",
              "displayName": "has_internet_access",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_available",
              "displayName": "is_available",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "education_level",
              "displayName": "education_level",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "basic_education",
                  "value": "basic_education"
                },
                {
                  "name": "high_school",
                  "value": "high_school"
                },
                {
                  "name": "completed_undergraduate",
                  "value": "completed_undergraduate"
                },
                {
                  "name": "incomplete_undergraduate",
                  "value": "incomplete_undergraduate"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "is_university_student",
              "displayName": "is_university_student",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "university_type",
              "displayName": "university_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "public",
                  "value": "public"
                },
                {
                  "name": "private",
                  "value": "private"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "shift_availability",
              "displayName": "shift_availability",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disability_type",
              "displayName": "disability_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_children",
              "displayName": "has_children",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "household_type",
              "displayName": "household_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "urban",
                  "value": "urban"
                },
                {
                  "name": "rural",
                  "value": "rural"
                },
                {
                  "name": "not_found",
                  "value": "not_found"
                }
              ]
            },
            {
              "id": "how_many_children",
              "displayName": "how_many_children",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "97211442-e938-4af2-8b17-9250bfd22c7b",
      "name": "Insert multipliers",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        2300
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multiplier_pii",
          "mode": "list",
          "cachedResultName": "multiplier_pii"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "multiplier_pii_id",
              "displayName": "multiplier_pii_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "multiplier_id",
              "displayName": "multiplier_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "zip_code",
              "displayName": "zip_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "280c692c-680d-4193-9dfb-72a83fb64786",
      "name": "Insert multiplier_pii",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        2500
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multiplier_registration_open_questions",
          "mode": "list",
          "cachedResultName": "multiplier_registration_open_questions"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "multiplier_registration_open_questions_id",
              "displayName": "multiplier_registration_open_questions_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "multiplier_id",
              "displayName": "multiplier_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "university_name",
              "displayName": "university_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "university_course",
              "displayName": "university_course",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "how_she_heard_about_us",
              "displayName": "how_she_heard_about_us",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reasons_for_participating",
              "displayName": "reasons_for_participating",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "9285652b-9e9b-4911-876e-da076c3d2ac8",
      "name": "Insert multiplier_registration_open_questions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        2720
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "mobilization",
          "mode": "list",
          "cachedResultName": "mobilization"
        },
        "table": {
          "__rl": true,
          "value": "multiplier_journey_events",
          "mode": "list",
          "cachedResultName": "multiplier_journey_events"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "multiplier_journey_event_id",
              "displayName": "multiplier_journey_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "multiplier_id",
              "displayName": "multiplier_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "event",
              "displayName": "event",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "registration",
                  "value": "registration"
                },
                {
                  "name": "general_onboarding",
                  "value": "general_onboarding"
                }
              ]
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "040d29c4-34d4-45db-b022-72b32108ec75",
      "name": "Insert multiplier_journey_events",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        2940
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM public_services.public_services",
        "options": {}
      },
      "id": "cae8c58d-cfe5-4125-a1ed-b5374d300fc6",
      "name": "public_services",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public_services",
          "mode": "list",
          "cachedResultName": "public_services"
        },
        "table": {
          "__rl": true,
          "value": "public_services",
          "mode": "list",
          "cachedResultName": "public_services"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "public_service_id",
              "displayName": "public_service_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_name",
              "displayName": "service_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "zipcode",
              "displayName": "zipcode",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "region",
              "displayName": "region",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lat",
              "displayName": "lat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "lng",
              "displayName": "lng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "f2f629e0-b209-4bc6-a32f-e6d8fdb29d0b",
      "name": "Insert public_services",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM auth_permission",
        "options": {}
      },
      "id": "4322c9e7-ef00-4612-92ed-642215d0b487",
      "name": "auth_permission",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        -1440
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "auth_permission",
          "mode": "list",
          "cachedResultName": "auth_permission"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content_type_id",
              "displayName": "content_type_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "codename",
              "displayName": "codename",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "b1637ad8-666e-4728-a823-df933c017b1a",
      "name": "Insert auth_permission",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1260,
        -1440
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM auth_user",
        "options": {}
      },
      "id": "74bd98fb-fa63-4765-b09f-41ea71578a9a",
      "name": "auth_user",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        -1620
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "auth_user",
          "mode": "list",
          "cachedResultName": "auth_user"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "is_superuser": false,
            "is_staff": false,
            "is_active": false
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "password",
              "displayName": "password",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_login",
              "displayName": "last_login",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_superuser",
              "displayName": "is_superuser",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "username",
              "displayName": "username",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_staff",
              "displayName": "is_staff",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_active",
              "displayName": "is_active",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_joined",
              "displayName": "date_joined",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "ea634c81-6a51-4b2b-822f-d41392f54ec5",
      "name": "Insert auth_user",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1260,
        -1620
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM django_content_type",
        "options": {}
      },
      "id": "85914b16-2134-4ea8-9f5d-d45b23c11ccf",
      "name": "django_content_type",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        -1800
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "django_content_type",
          "mode": "list",
          "cachedResultName": "django_content_type"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "0f322f26-26fd-48e1-892f-4ca67c55f0fa",
      "name": "Insert django_content_type",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1260,
        -1800
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM django_session",
        "options": {}
      },
      "id": "4640063e-bb3f-4029-b601-348da92938e4",
      "name": "django_session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        -1980
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "django_session",
          "mode": "list",
          "cachedResultName": "django_session"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "session_key",
              "displayName": "session_key",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "session_data",
              "displayName": "session_data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expire_date",
              "displayName": "expire_date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "5044f156-d478-46fb-bbfa-e1bdf5ff1b29",
      "name": "Insert django_session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1260,
        -1980
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3db68bb1-df64-42e3-b6a9-79eb0d10777f",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1240,
        -2280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *,\n  data::TEXT AS string_data\nFROM integrations_logs\n",
        "options": {}
      },
      "id": "3624947e-5903-4e71-83c2-ec69489ece43",
      "name": "integrations_logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        920,
        -2160
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "integrations_logs",
          "mode": "list",
          "cachedResultName": "integrations_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "external_id": "={{ $json.external_id }}",
            "internal_id": "={{ $json.internal_id }}",
            "id": "={{ $json.id }}",
            "type": "={{ $json.type }}",
            "created_at": "={{ $json.created_at }}",
            "status": "={{ $json.status }}",
            "error": "='{{ $json.error }}'",
            "data": "={{ {} }}",
            "integration": "={{ $json.integration }}",
            "form_type": "={{ $json.form_type }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "integration",
              "displayName": "integration",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "external_id",
              "displayName": "external_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "form_type",
              "displayName": "form_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "internal_id",
              "displayName": "internal_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "31fde7ea-31a7-4dc3-8935-a73ea9d30ffe",
      "name": "Insert integrations_logs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1260,
        -2540
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE integrations_logs\nSET data = {{ $json.string_data }}::JSONB\nWHERE id = {{ $json.id }}",
        "options": {}
      },
      "id": "b0db6eaa-d393-470b-84ef-6b25d4397919",
      "name": "Atualiza coluna data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1480,
        -2260
      ],
      "credentials": {
        "postgres": {
          "id": "hmtpJos4Dfg11o1T",
          "name": "[STG] Novo Mapa"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2024-05-13T15:58:43.600Z",
      "updatedAt": "2024-05-13T15:58:43.600Z",
      "role": "workflow:owner",
      "workflowId": "6rvFGIuhYmGpB2RY",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2026-01-01T23:13:37.000Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-05-24T16:00:40.000Z",
  "versionId": "8b3c13d3-eb78-43a0-86e4-901272753ef6"
}