[STG_-_NEW]_Integrações_Tally
{
  "active": false,
  "connections": {
    "Possui match?": {
      "main": [
        [
          {
            "node": "Envia e-mail pedindo que ela entre em contato",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descadastra a voluntária no BD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualiza status da voluntária no Zendesk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Envia e-mail confirmando o descadastro",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salva os dados do descadastro na tabela volunteer_unsubscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntária no BD": {
      "main": [
        [
          {
            "node": "Possui match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra apenas as infos que importam": {
      "main": [
        [
          {
            "node": "Busca voluntária no BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca match": {
      "main": [
        [
          {
            "node": "Encontrou o match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Encontrou o match?": {
      "main": [
        [
          {
            "node": "O status atual é waiting_contact?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtém o transactionaId da Voluntária": {
      "main": [
        [
          {
            "node": "email Voluntária - atendimento iniciado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ticket MSR - encaminhamento interrompido": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "ticket MSR - aguardando match sem prioridade",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca support_request_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca infos da MSR e da Voluntária": {
      "main": [
        [
          {
            "node": "email MSR - nova voluntária sem prioridade",
            "type": "main",
            "index": 0
          },
          {
            "node": "email Voluntária - encaminhamento interrompido",
            "type": "main",
            "index": 0
          },
          {
            "node": "Status da Mulher = Indisponivel - Agenda",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualiza status da Voluntária",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca current_matches",
            "type": "main",
            "index": 0
          },
          {
            "node": "ticket MSR - encaminhamento interrompido",
            "type": "main",
            "index": 0
          },
          {
            "node": "ticket Voluntária - encaminhamento interrompido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca infos da MSR e da Voluntária1": {
      "main": [
        [
          {
            "node": "email MSR - atendimento iniciado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualiza status do match1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtém o transactionaId da Voluntária",
            "type": "main",
            "index": 0
          },
          {
            "node": "ticket Voluntária - atendimento iniciado",
            "type": "main",
            "index": 0
          },
          {
            "node": "ticket MSR - atendimento iniciado2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra apenas as infos que importam1": {
      "main": [
        [
          {
            "node": "Deve seguir?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "O status atual é waiting_contact?": {
      "main": [
        [
          {
            "node": "Devemos atualizar o status?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Devemos atualizar o status?": {
      "main": [
        [
          {
            "node": "Qual o novo status?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca infos da MSR e da Voluntária2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca infos da MSR e da Voluntária2": {
      "main": [
        [
          {
            "node": "email MSR - Voluntária não respondeu",
            "type": "main",
            "index": 0
          },
          {
            "node": "ticket Voluntária - observação interna",
            "type": "main",
            "index": 0
          },
          {
            "node": "ticket Voluntária - Voluntária não respondeu",
            "type": "main",
            "index": 0
          },
          {
            "node": "ticket MSR - observação interna",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca support_request_id": {
      "main": [
        [
          {
            "node": "Atualiza support_request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSR ou Voluntária preencheu o formulário": {
      "main": [
        [
          {
            "node": "Filtra apenas as infos que importam1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voluntária deseja se descadastrar": {
      "main": [
        [
          {
            "node": "Filtra apenas as infos que importam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca current_matches": {
      "main": [
        [
          {
            "node": "Deve atualizar o current_matches?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deve atualizar o current_matches?": {
      "main": [
        [
          {
            "node": "Atualiza current_matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deve seguir?": {
      "main": [
        [
          {
            "node": "Busca match",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem SR jurídico": {
      "main": [
        [
          {
            "node": "ainda quer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem SR psicológico": {
      "main": [
        [
          {
            "node": "ainda quer1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Verifica se precisa de atendimento e qual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ainda quer": {
      "main": [
        [
          {
            "node": "Atualiza status para waiting_for_match",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza support_request para closed8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ainda quer1": {
      "main": [
        [
          {
            "node": "Atualiza status para waiting_for_match4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza support_request para closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza status para waiting_for_match": {
      "main": [
        [
          {
            "node": "status: Aguardando Match: Sem Prioridade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza status para waiting_for_match4": {
      "main": [
        [
          {
            "node": "status: Aguardando Match: Sem Prioridade4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza support_request para closed": {
      "main": [
        [
          {
            "node": "Atualizar ticket para solicitação encerrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza support_request para closed8": {
      "main": [
        [
          {
            "node": "Atualizar ticket para solicitação encerrada8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Busca support_request_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca support_request_id1": {
      "main": [
        [
          {
            "node": "Atualiza support_request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ticket MSR - MSR desistiu do atendimento": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca infos da MSR e da Voluntária3": {
      "main": [
        [
          {
            "node": "Busca current_matches1",
            "type": "main",
            "index": 0
          },
          {
            "node": "ticket Voluntária - msr desistiu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca current_matches1": {
      "main": [
        [
          {
            "node": "Deve atualizar o current_matches?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deve atualizar o current_matches?1": {
      "main": [
        [
          {
            "node": "Atualiza current_matches1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualiza o status da voluntária?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza o status da voluntária?": {
      "main": [
        [
          {
            "node": "Atualiza status da Voluntária1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Status da Mulher = Disponivel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Busca infos da MSR e da Voluntária3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qual o novo status?": {
      "main": [
        [
          {
            "node": "Busca infos da MSR e da Voluntária1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca infos da MSR e da Voluntária",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ticket MSR - MSR desistiu do atendimento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualiza status do match2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-08-28T18:23:21.189Z",
  "id": "9MJCYPBfQw9JyEhA",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[STG - NEW] Integrações Tally",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "8c295d83-7a45-4d59-b875-8756f37f49da",
              "leftValue": "={{ $json.current_matches }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "90115a7d-d073-4c2b-a591-0932871ac908",
      "name": "Possui match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1380,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE volunteers \nSET condition = 'descadastrada', updated_at = NOW()\nWHERE id = {{ $json.volunteer_id }};\n\nINSERT INTO volunteer_status_history (volunteer_id, status, created_at)\nVALUES ({{ $json.volunteer_id }}, 'descadastrada', NOW());\n\nUPDATE volunteer_availability\nSET is_available = FALSE\nWHERE volunteer_id = {{ $json.volunteer_id }}\n",
        "options": {}
      },
      "id": "7684107a-65ca-4292-be61-cb7a7ffe67d8",
      "name": "Descadastra a voluntária no BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2100,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id AS volunteer_id,\n  email,\n  first_name,\n  phone,\n  zendesk_user_id,\n  COALESCE(current_matches, 0) AS current_matches,\n  '{{ $json.unsubscription_reason }}' AS unsubscription_reason,\n  '{{ $json.unsubscription_description }}' AS unsubscription_description\nFROM volunteers\nLEFT JOIN volunteer_availability ON id = volunteer_id\nWHERE email = '{{ $json.email }}'",
        "options": {}
      },
      "id": "7c2257e3-9460-4c6a-bb75-e2fe10ee5a94",
      "name": "Busca voluntária no BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1160,
        340
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "update",
        "id": "={{ $json.zendesk_user_id }}",
        "updateFields": {
          "userFieldsUi": {
            "userFieldValues": [
              {
                "field": "condition",
                "value": "descadastrada"
              }
            ]
          }
        }
      },
      "id": "366cfd0e-7732-48aa-ac62-aac043338cba",
      "name": "Atualiza status da voluntária no Zendesk",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2100,
        1060
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{ $json.email }}\",\n \"transactionalId\": \"clu8sn93v003e145jlfb9gf67\",\n \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\"\n  }\n}",
        "options": {}
      },
      "id": "f223751c-14a1-4725-8557-d6b54d0f1130",
      "name": "Envia e-mail pedindo que ela entre em contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2120,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{ $json.email }}\",\n \"transactionalId\": \"clu8up5lj0005iyhgjmq7qtqi\",\n \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\"\n  }\n}",
        "options": {}
      },
      "id": "24cc297b-b194-4a27-8ddd-76f8427b61e8",
      "name": "Envia e-mail confirmando o descadastro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2100,
        840
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C06R9JPDEQN",
          "mode": "list",
          "cachedResultName": "alertas-tech-provisao"
        },
        "text": "=:no_entry_sign: Voluntária Descadastrada automaticamente pelo formulário de descadastro :no_entry_sign:\n\nvolunteer_id: {{ $json.volunteer_id }}\nemail: {{ $json.email }}\ntelefone: {{ $json.phone }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "55787767-bdc5-410d-9e9f-15687b597539",
      "name": "Avisa o time de provisão de serviços",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        2100,
        1280
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "01G85hUbLT4VlY92",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO volunteer_unsubscriptions (volunteer_id, unsubscription_reason, unsubscription_description, created_at, updated_at)\nVALUES ({{ $json.volunteer_id }}, '{{ $json.unsubscription_reason }}', '{{ $json.unsubscription_description }}', NOW(), NOW())",
        "options": {}
      },
      "id": "b990ce07-cb1b-4eac-8d9c-f5739f13cf4c",
      "name": "Salva os dados do descadastro na tabela volunteer_unsubscriptions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2100,
        640
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\noutput = []\n\nfor (const item of $input.all()) {\n  const volunteerEmail = item.json.body.data.fields[1].value;\n  const unsubscriptionReasonValue = item.json.body.data.fields[2].value;\n\n  const unsubscriptionReasonLabel = item.json.body.data.fields[2].options.find((element) => element.id == unsubscriptionReasonValue).text;\n\n  const unsubscriptionDescription = item.json.body.data.fields[3].value;\n  \n  output.push(\n    {\n      \"email\": volunteerEmail,\n      \"unsubscription_reason\": unsubscriptionReasonLabel,\n      \"unsubscription_description\": unsubscriptionDescription\n    }\n  )\n}\n\nreturn output;"
      },
      "id": "d2ae66a8-f125-4fc7-8c6c-9af60d9b4a1d",
      "name": "Filtra apenas as infos que importam",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        340
      ]
    },
    {
      "parameters": {
        "content": "## Atualizações do pedido de acolhimento",
        "height": 125.37595776585795,
        "width": 340.2325169896819
      },
      "id": "c787dfaf-1340-4d4f-a44d-932330dced24",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        2460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE match.matches\nSET status = '{{ $json.new_status }}', updated_at = NOW()\nWHERE match_id = {{ $json.match_id }};\n\nINSERT INTO match.match_status_history (match_id, status, created_at)\nVALUES ({{ $json.match_id }}, '{{ $json.new_status }}', NOW());",
        "options": {}
      },
      "id": "3d9acf8a-e8c2-4320-89be-4c33cf6198d3",
      "name": "Atualiza status do match",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3180,
        2020
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  match_id,\n  support_request_id,\n  support_type,\n  msr_id,\n  volunteer_id,\n  first_name AS volunteer_first_name,\n  zendesk_user_id AS volunteer_zendesk_user_id,\n  email AS volunteer_email,\n  msr_zendesk_ticket_id,\n  volunteer_zendesk_ticket_id,\n  status AS current_status,\n  '{{ $json.match_status }}' AS new_status,\n  '{{ $json.who_answered }}' AS who_answered,\n  SUBSTRING(m.created_at::VARCHAR, 0, 11) AS match_created_at,\n  '{{ $json.form_answer }}' AS form_answer\nFROM match.matches m\nLEFT JOIN volunteers v ON id = volunteer_id\nWHERE match_id = {{ $json.match_id }}",
        "options": {}
      },
      "id": "b8822f6b-f874-4e4f-96d3-180a760106b7",
      "name": "Busca match",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1220,
        2620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dd3678ee-3ca4-4887-8696-ed25abe79551",
              "leftValue": "={{ $json.match_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5bf99e5-023d-45a9-b42b-556227671c7c",
      "name": "Encontrou o match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1420,
        2620
      ]
    },
    {
      "parameters": {
        "errorMessage": "match não encontrado"
      },
      "id": "25f89e7e-423b-4a7a-aefe-abaccc8b25a5",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1700,
        2800
      ]
    },
    {
      "parameters": {},
      "id": "230622ba-b418-488b-aa34-e3de4ec59737",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1880,
        2860
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.volunteer_zendesk_ticket_id }}",
        "updateFields": {
          "assigneeEmail": "marcia@nossas.org",
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360014379412,
                "value": "atendimento__iniciado"
              }
            ]
          },
          "internalNote": "={{ $json.who_answered }} informou pelo formulário que o atendimento foi iniciado.\n</br>\n</br>\n<strong>Nome da MSR:</strong> {{ $json.msr_first_name }} </br>\n<strong>Contato:</strong> <a href=\"https://mapadoacolhimento.zendesk.com/agent/tickets/{{ $json.msr_zendesk_ticket_id }}\">https://mapadoacolhimento.zendesk.com/agent/tickets/{{ $json.msr_zendesk_ticket_id }}</a></br>\n<strong>Data de encaminhamento:</strong> {{ $json.match_created_at }} </br>\n<strong>Resposta do formulário:</strong> {{ $json.form_answer }}\n",
          "status": "pending",
          "tags": [
            "atualizar-data-atendimento",
            "instrumental_triagem_1",
            "triagem-1-enviado"
          ]
        }
      },
      "id": "4af530fd-74b2-43bb-b76c-a5f6e22565e4",
      "name": "ticket Voluntária - atendimento iniciado",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        3560,
        1840
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.msr_zendesk_ticket_id }}",
        "updateFields": {
          "assigneeEmail": "marcia@nossas.org",
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360014379412,
                "value": "atendimento__iniciado"
              }
            ]
          },
          "internalNote": "={{ $json.who_answered }} informou pelo formulário que o atendimento foi iniciado.\n</br>\n</br>\n<strong>Nome da voluntária:</strong> {{ $json.volunteer_first_name }} </br>\n<strong>Contato:</strong> <a href=\"https://mapadoacolhimento.zendesk.com/agent/tickets/{{ $json.volunteer_zendesk_ticket_id }}\">https://mapadoacolhimento.zendesk.com/agent/tickets/{{ $json.volunteer_zendesk_ticket_id }}</a></br>\n<strong>Data de encaminhamento:</strong> {{ $json.match_created_at }} </br>\n<strong>Resposta do formulário:</strong> {{ $json.form_answer }}\n",
          "status": "pending",
          "tags": [
            "atualizar-data-atendimento"
          ]
        }
      },
      "id": "f5acc942-2643-4bc3-a736-311a51b68ad4",
      "name": "ticket MSR - atendimento iniciado2",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        3540,
        1620
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{ $json.msr_email }}\",\n \"transactionalId\": \"clve8mcba01ehw7t4j7z3pswx\",\n \"dataVariables\": {\n    \"msr_first_name\": \"{{ $json.msr_first_name }}\",\n    \"volunteer_first_name\": \"{{ $json.volunteer_first_name }}\",\n    \"volunteer_type\": {{ $json.volunteer_type }}\n  }\n}",
        "options": {}
      },
      "id": "2f210a1f-824b-446e-a700-e4f936acc7f5",
      "name": "email MSR - atendimento iniciado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3560,
        2040
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{ $json.volunteer_email }}\",\n \"transactionalId\": \"{{ $json.transactional_id }}\",\n \"dataVariables\": {\n    \"msr_first_name\": \"{{ $json.msr_first_name }}\",\n    \"volunteer_first_name\": \"{{ $json.volunteer_first_name }}\"\n  }\n}",
        "options": {}
      },
      "id": "750d27e1-154b-481d-a106-81ade7694ae0",
      "name": "email Voluntária - atendimento iniciado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3820,
        2280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n\n  const supportType = item.json.support_type;\n  const transactionalId = supportType === 'legal' ? 'clve91yrh006zn5kbfmaeabcv' : 'clve9g19d00h2lk7s7uh7510h';\n\n  item.json.transactional_id = transactionalId;\n\n}\n\nreturn $input.all();"
      },
      "id": "b3f7dc84-e391-42e0-b84b-3755eeb88da9",
      "name": "Obtém o transactionaId da Voluntária",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        2280
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.msr_zendesk_ticket_id }}",
        "updateFields": {
          "assigneeEmail": "marcia@nossas.org",
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360014379412,
                "value": "encaminhamento_interrompido"
              }
            ]
          },
          "internalNote": "={{ $json.who_answered }} informou pelo formulário que o encaminhamento foi interrompido.\n</br>\n</br>\n<strong>Nome da voluntária:</strong> {{ $json.volunteer_first_name }} </br>\n<strong>Contato:</strong> <a href=\"https://mapadoacolhimento.zendesk.com/agent/tickets/{{ $json.volunteer_zendesk_ticket_id }}\">https://mapadoacolhimento.zendesk.com/agent/tickets/{{ $json.volunteer_zendesk_ticket_id }}</a></br>\n<strong>Data de encaminhamento:</strong> {{ $json.match_created_at }} </br>\n<strong>Resposta do formulário:</strong> {{ $json.form_answer }}\n",
          "status": "open",
          "tags": [
            "atualizar-data-encaminhamento"
          ]
        }
      },
      "id": "b06bf7db-c018-4469-9bc6-a48e27abbe53",
      "name": "ticket MSR - encaminhamento interrompido",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        4200,
        2480
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{ $json.volunteer_email }}\",\n \"transactionalId\": \"clvh3x98300621fpkx8is5zyj\",\n \"dataVariables\": {\n    \"msr_first_name\": \"{{ $json.msr_first_name }}\",\n    \"volunteer_first_name\": \"{{ $json.volunteer_first_name }}\",\n    \"volunteer_email\": \"{{ $json.volunteer_email }}\"\n  }\n}",
        "options": {}
      },
      "id": "12dbd457-1f6b-4112-ab82-94afd343ac82",
      "name": "email Voluntária - encaminhamento interrompido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4320,
        3300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {},
      "id": "afc17da5-d11e-4735-97ce-9a22a4350574",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4460,
        2480
      ],
      "webhookId": "17959d3a-aaf9-4c33-b0c5-fc1f5178b2f7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{ $json.msr_email }}\",\n \"transactionalId\": \"clvjzaan500moauwib4clwqah\",\n \"dataVariables\": {\n    \"msr_first_name\": \"{{ $json.msr_first_name }}\",\n    \"volunteer_first_name\": \"{{ $json.volunteer_first_name }}\",\n    \"volunteer_type\": \"{{ $json.volunteer_type }}\"\n  }\n}",
        "options": {}
      },
      "id": "b835089c-2549-4c6b-88f9-1410bfbea9d3",
      "name": "email MSR - nova voluntária sem prioridade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4320,
        3060
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    email AS msr_email,\n    first_name AS msr_first_name,\n    {{ $json.msr_zendesk_ticket_id }} AS msr_zendesk_ticket_id,\n    {{ $json.volunteer_id }} AS volunteer_id,\n    '{{ $json.volunteer_email }}' AS volunteer_email,  \n    INITCAP('{{ $json.volunteer_first_name }}') AS volunteer_first_name,\n    {{ $json.volunteer_zendesk_user_id }} AS volunteer_zendesk_user_id,\n    {{ $json.volunteer_zendesk_ticket_id }} AS volunteer_zendesk_ticket_id,\n    '{{ $json.support_type }}' AS support_type,\n    '{{ $json.who_answered }}' AS who_answered,\n    '{{ $json.match_created_at }}' AS match_created_at,\n    '{{ $json.form_answer }}' AS form_answer,\n    CASE\n      WHEN '{{ $json.support_type }}' = 'legal' THEN 'advogada'\n      ELSE 'psicóloga'\n    END AS volunteer_type\nFROM pii_sec.msr_pii\nWHERE msr_id = {{ $json.msr_id }}",
        "options": {}
      },
      "id": "4b80ed19-cb21-4973-a407-4ad5b686f805",
      "name": "Busca infos da MSR e da Voluntária",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3880,
        2900
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    email AS msr_email,\n    first_name AS msr_first_name,\n    {{ $json.msr_zendesk_ticket_id }} AS msr_zendesk_ticket_id,\n    '{{ $json.volunteer_email }}' AS volunteer_email,  \n    INITCAP('{{ $json.volunteer_first_name }}') AS volunteer_first_name,\n    {{ $json.volunteer_zendesk_ticket_id }} AS volunteer_zendesk_ticket_id,\n    '{{ $json.support_type }}' AS support_type,\n    '{{ $json.who_answered }}' AS who_answered,\n    '{{ $json.match_created_at }}' AS match_created_at,\n    '{{ $json.form_answer }}' AS form_answer,\n    CASE\n      WHEN '{{ $json.support_type }}' = 'legal' THEN 'advogada'\n      ELSE 'psicóloga'\n    END AS volunteer_type\nFROM pii_sec.msr_pii\nWHERE msr_id = {{ $json.msr_id }}",
        "options": {}
      },
      "id": "40c579f2-6227-4c93-a707-b1976445ab5f",
      "name": "Busca infos da MSR e da Voluntária1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3240,
        2240
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "update",
        "id": "={{ $json.volunteer_zendesk_user_id }}",
        "updateFields": {
          "userFieldsUi": {
            "userFieldValues": [
              {
                "field": "condition",
                "value": "indisponível_agenda"
              }
            ]
          }
        }
      },
      "id": "b9282a5d-9029-44c4-bef2-5c66140b274b",
      "name": "Status da Mulher = Indisponivel - Agenda",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        4320,
        3600
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.volunteers\nSET condition = 'indisponível_agenda', updated_at = NOW()\nWHERE id = {{$json[\"volunteer_id\"]}};\n\nINSERT INTO public.volunteer_status_history (volunteer_id, status, created_at)\nVALUES ({{$json[\"volunteer_id\"]}}, 'indisponível_agenda', NOW());\n\nUPDATE public.volunteer_availability\nSET is_available = FALSE, updated_at = NOW()\nWHERE volunteer_id = {{$json[\"volunteer_id\"]}}",
        "options": {}
      },
      "id": "560e44b5-44db-4006-b5d8-94051cce2da3",
      "name": "Atualiza status da Voluntária",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        4320,
        3800
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE match.support_requests\nSET status = 'waiting_for_match', updated_at = NOW()\nWHERE support_request_id = {{ $json.support_request_id }};\n\nINSERT INTO match.support_request_status_history (support_request_id, status, created_at)\nVALUES ({{ $json.support_request_id }}, 'waiting_for_match', NOW());",
        "options": {}
      },
      "id": "f0fd849c-a65f-44bc-b1c4-06a3633c99e4",
      "name": "Atualiza support_request",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        4960,
        2520
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\noutput = []\n\nfunction getHiddenFieldValue(item, fieldLabel){\n  return item.json.body.data.fields.find(\n    (element) => element.label === fieldLabel\n  ).value;\n}\n\nfunction getMatchStatus(item){\n  const matchStatusField = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === 'match_status'\n  );\n\n  if(!matchStatusField.value) return null\n\n  const matchStatusLookUp = {\n    \"Já iniciamos o atendimento\": \"in_contact\",\n    \"A voluntária não me respondeu\": \"waiting_contact\",\n    \"A voluntária me respondeu, mas não está disponível para me atender\": \"interrupted_before_support\",\n    \"Não conseguirei atendê-la\": \"interrupted_before_support\",\n    \"Escolho não seguir com o atendimento\": \"waived\"\n  }\n  \n  const matchStatusText = matchStatusField.options.find(\n    (element) => element.id == matchStatusField.value\n  ).text;\n\n  return matchStatusLookUp[matchStatusText]\n}\n\nfunction getShouldDoSomething(item){\n  const matchStatusField = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === 'match_status'\n  );\n\n  if(!matchStatusField.value) return null\n\n  const matchStatusText = matchStatusField.options.find(\n    (element) => element.id == matchStatusField.value\n  ).text;\n\n  return matchStatusText === \"Ela não entrou em contato comigo\" ? false : true\n}\n\nfor (const item of $input.all()) {\n  \n  const matchId = getHiddenFieldValue(item, 'match_id');\n  const matchStatus = getMatchStatus(item);\n  const shouldDoSomething = getShouldDoSomething(item);\n  const whoAnswered = item.json.body.data.formId === 'nrlEq5' ? 'Voluntária' : 'MSR'\n\n  const matchStatusField = item.json.body.data.fields.find(\n    (element) => element.type === 'MULTIPLE_CHOICE' && element.label === 'match_status'\n  );\n  const matchStatusText = matchStatusField.options.find(\n    (element) => element.id == matchStatusField.value\n  ).text;\n  \n  output.push(\n    {\n      \"match_id\": matchId,\n      \"match_status\": matchStatus,\n      \"should_do_something\": shouldDoSomething,\n      \"who_answered\": whoAnswered,\n      \"form_answer\": matchStatusText\n    }\n  )\n}\n\nreturn output;"
      },
      "id": "1fcc14bb-04f4-48ee-a717-33aa96561ac6",
      "name": "Filtra apenas as infos que importam1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        2640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "24c712a9-5da0-47cf-85ab-3b8d6795bb22",
              "leftValue": "={{ $json.current_status }}",
              "rightValue": "=waiting_contact",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f36651c4-26c7-40f0-b951-89b520a43bf5",
      "name": "O status atual é waiting_contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1700,
        2600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "592e5ea7-2949-4db7-b42a-039ded0fd25c",
              "leftValue": "={{ $json.new_status }}",
              "rightValue": "waiting_contact",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a7ef1f00-139d-4961-b6cb-8cc27105a617",
      "name": "Devemos atualizar o status?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2020,
        2580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{ $json.msr_email }}\",\n \"transactionalId\": \"clvldhxm001hy7b5dbbi8oprs\",\n \"dataVariables\": {\n    \"msr_first_name\": \"{{ $json.msr_first_name }}\",\n    \"volunteer_first_name\": \"{{ $json.volunteer_first_name }}\",\n    \"volunteer_type\": \"{{ $json.volunteer_type }}\"\n  }\n}",
        "options": {}
      },
      "id": "9bed4ff7-5250-4d0b-81ac-6069ad2cb6ef",
      "name": "email MSR - Voluntária não respondeu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2400,
        3340
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    email AS msr_email,\n    first_name AS msr_first_name,\n    {{ $json.msr_zendesk_ticket_id }} AS msr_zendesk_ticket_id,\n    '{{ $json.volunteer_email }}' AS volunteer_email,  \n    INITCAP('{{ $json.volunteer_first_name }}') AS volunteer_first_name,\n    {{ $json.volunteer_zendesk_user_id }} AS volunteer_zendesk_user_id,\n    {{ $json.volunteer_zendesk_ticket_id }} AS volunteer_zendesk_ticket_id,\n    '{{ $json.support_type }}' AS support_type,\n    '{{ $json.match_created_at }}' AS match_created_at,\n    '{{ $json.form_answer }}' AS form_answer,\n    CASE\n      WHEN '{{ $json.support_type }}' = 'legal' THEN 'advogada'\n      ELSE 'psicóloga'\n    END AS volunteer_type\nFROM pii_sec.msr_pii\nWHERE msr_id = {{ $json.msr_id }}",
        "options": {}
      },
      "id": "275eaabb-423b-4cc0-8e37-bfbc39048775",
      "name": "Busca infos da MSR e da Voluntária2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2180,
        2780
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  support_request_id\nFROM match.matches\nWHERE msr_zendesk_ticket_id = {{ $json.id }}",
        "options": {}
      },
      "id": "6ce52b69-6e54-4435-9f41-4ce894008fd3",
      "name": "Busca support_request_id",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        4740,
        2520
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.volunteer_zendesk_ticket_id }}",
        "updateFields": {
          "assigneeEmail": "marcia@nossas.org",
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360014379412,
                "value": "encaminhamento_interrompido"
              }
            ]
          },
          "internalNote": "={{ $json.who_answered }} informou pelo formulário que o encaminhamento foi interrompido.\n\n</br>\n</br>\n<strong>Nome da MSR:</strong> {{ $json.msr_first_name }} </br>\n<strong>Contato:</strong> <a href=\"https://mapadoacolhimento.zendesk.com/agent/tickets/{{ $json.msr_zendesk_ticket_id }}\">https://mapadoacolhimento.zendesk.com/agent/tickets/{{ $json.msr_zendesk_ticket_id }}</a></br>\n<strong>Data de encaminhamento:</strong> {{ $json.match_created_at }} </br>\n<strong>Resposta do formulário:</strong> {{ $json.form_answer }}\n",
          "status": "pending"
        }
      },
      "id": "d1160791-4690-4c48-878c-44c39629f529",
      "name": "ticket Voluntária - encaminhamento interrompido",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        4200,
        2720
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Descadastro de Voluntárias"
      },
      "id": "cdc9a159-df40-4ef7-9018-ae97f3ddd307",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        120
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "volunteer-update-match-status",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "d6025601-ef32-4a4e-880e-b4b1399d434c",
      "name": "MSR ou Voluntária preencheu o formulário",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        640,
        2640
      ],
      "webhookId": "897c9137-f0d2-40b9-9082-73d0ccf5cd02",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "volunteer-unsubscribe",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "9173c1cc-0eb1-4c0f-84ed-09a49d925cdd",
      "name": "Voluntária deseja se descadastrar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        720,
        340
      ],
      "webhookId": "270eb187-cc31-477c-9bc8-f8aac309df0c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.volunteer_zendesk_ticket_id }}",
        "jsonParameters": true,
        "updateFieldsJson": "={\n  \"status\": \"open\",\n  \"comment\": {\n    \"public\": true,\n    \"author_id\": 377511446392,\n    \"body\": \"Olá, {{ $json.volunteer_first_name }}! Como você está?!\\n\\nHá um tempo atrás enviamos o seu contato para **{{ $json.msr_first_name}}** e fomos informadas que a mesma está com dificuldade de contatá-la.\\n\\nDiante disso, estamos entrando em contato para saber se está tudo bem? Você se encontra com algum problema tecnológico? **Caso tenha alterado seus dados de contato, é imprescindível que nos mantenha informadas.**\\n\\nPedimos que nos informe se você continua disponível para o atendimento e se segue conosco no projeto. A não resposta deste e-mail será compreendida pela equipe como inatividade e seu cadastro será suspenso.\\n\\nLembramos que as acolhidas são orientadas a entrar em contato via WhatsApp (mensagem de texto ou voz) e também por meio de ligação telefônica. Esteja atenta a essas formas de contato!\\n\\nÉ muito importante contar com a sua participação na nossa rede de voluntárias, obrigada por poder contar com você <3\\n\\nAbraços,\\nEquipe do Mapa do Acolhimento\"\n  }\n}"
      },
      "id": "2b47885e-74e2-488a-aa73-7796c740e8db",
      "name": "ticket Voluntária - Voluntária não respondeu",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2500,
        3080
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH matches_from_volunteer AS (\n    SELECT \n        volunteer_id,\n        match_id\n    FROM match.matches\n    WHERE \n        volunteer_id = {{ $json.volunteer_id }}\n        AND status IN ('waiting_contact', 'in_contact')\n)\nSELECT\n    volunteer_id,\n    zendesk_user_id,\n    current_matches,\n    max_matches,\n    condition,\n    COUNT(DISTINCT match_id) AS calculated_current_matches\nFROM volunteer_availability a\nLEFT JOIN matches_from_volunteer m USING(volunteer_id)\nLEFT JOIN volunteers v ON v.id = a.volunteer_id\nWHERE \n    volunteer_id =  {{ $json.volunteer_id }}\nGROUP BY volunteer_id, zendesk_user_id, current_matches, max_matches, condition",
        "options": {}
      },
      "id": "78b400f0-541b-48f3-9963-f2d003b72197",
      "name": "Busca current_matches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4300,
        4100
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "40361bb8-ee27-4874-8c13-bbaa181aaece",
              "leftValue": "={{ $json.current_matches }}",
              "rightValue": "={{ $json.calculated_current_matches }}",
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "7ee0f0dd-6efd-44d9-8353-a785a8ee3190",
      "name": "Deve atualizar o current_matches?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4520,
        4100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE volunteer_availability\nSET current_matches = {{ $json.calculated_current_matches }}, updated_at = NOW()\nWHERE volunteer_id = {{ $json.volunteer_id }}",
        "options": {}
      },
      "id": "5f75d93a-2342-4523-871d-c1c23ad65bdf",
      "name": "Atualiza current_matches",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4760,
        4080
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5b457790-b9c4-40ad-87fd-f5999ca42211",
              "leftValue": "={{ $json.should_do_something }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0950e018-615c-4eba-9a7f-6fd6d5f3d6ac",
      "name": "Deve seguir?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        2640
      ]
    },
    {
      "parameters": {},
      "id": "598604f7-3e8c-41c7-aa8d-6ed947b2a957",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1220,
        2820
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.volunteer_zendesk_ticket_id }}",
        "updateFields": {
          "internalNote": "=MSR informou pelo formulário que a Voluntária não a respondeu\n</br>\n</br>\n<strong>Nome da MSR:</strong> {{ $json.msr_first_name }} </br>\n<strong>Contato:</strong> <a href=\"https://mapadoacolhimento.zendesk.com/agent/tickets/{{ $json.msr_zendesk_ticket_id }}\">https://mapadoacolhimento.zendesk.com/agent/tickets/{{ $json.msr_zendesk_ticket_id }}</a></br>\n<strong>Data de encaminhamento:</strong> {{ $json.match_created_at }} </br>\n<strong>Resposta do formulário:</strong> {{ $json.form_answer }}"
        }
      },
      "id": "2a5c830a-238b-40dc-9cf8-3ffb955300eb",
      "name": "ticket Voluntária - observação interna",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2400,
        2780
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.msr_zendesk_ticket_id }}",
        "updateFields": {
          "internalNote": "=MSR informou pelo formulário que a Voluntária não a respondeu.\n</br>\n</br>\n<strong>Nome da voluntária:</strong> {{ $json.volunteer_first_name }} </br>\n<strong>Contato:</strong> <a href=\"https://mapadoacolhimento.zendesk.com/agent/tickets/{{ $json.volunteer_zendesk_ticket_id }}\">https://mapadoacolhimento.zendesk.com/agent/tickets/{{ $json.volunteer_zendesk_ticket_id }}</a></br>\n<strong>Data de encaminhamento:</strong> {{ $json.match_created_at }} </br>\n<strong>Resposta do formulário:</strong> {{ $json.form_answer }}\n"
        }
      },
      "id": "eedf99cb-8bfa-408f-b1b0-6d8c5ad7decc",
      "name": "ticket MSR - observação interna",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2320,
        3580
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.id }}",
        "updateFields": {
          "assigneeEmail": "marcia@nossas.org",
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360014379412,
                "value": "aguardando_match__sem_prioridade"
              }
            ]
          },
          "internalNote": "MSR está aguardando um novo match",
          "status": "open",
          "tags": [
            "nova-voluntaria-sem-prioridade"
          ]
        }
      },
      "id": "81a079dd-b9c6-438e-a216-9f9acb8676e5",
      "name": "ticket MSR - aguardando match sem prioridade",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        4680,
        2320
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body;\n// TODO: buscar support_request_id;\nconst fields = body.data.fields;\n\nlet legalSupportRequest = null;\nlet psychologicalSupportRequest = null;\nlet legalSupportResponseText = '';\nlet psychologicalSupportResponseText = '';\nlet supportRequestId = items[0].json.support_request_id;\nlet psychological_support_request_id = items[0].json.body.data.fields[1].value;\nlet legal_support_request_id = items[0].json.body.data.fields[2].value;\n\n\nfields.forEach(field => {\n  if (field.label === 'legal_support_request' && field.value) {\n    legalSupportRequest = field.value[0];\n    const legalSupportOptions = field.options;\n    const legalSupportOption = legalSupportOptions.find(option => option.id === legalSupportRequest);\n    if (legalSupportOption) {\n      legalSupportResponseText = legalSupportOption.text;\n    }\n  }\n  if (field.label === 'psychological_support_request' && field.value) {\n    psychologicalSupportRequest = field.value[0];\n    const psychologicalSupportOptions = field.options;\n    const psychologicalSupportOption = psychologicalSupportOptions.find(option => option.id === psychologicalSupportRequest);\n    if (psychologicalSupportOption) {\n      psychologicalSupportResponseText = psychologicalSupportOption.text;\n    }\n  }\n});\n\nreturn [\n  {\n    json: {\n      legal_support_request_id,\n      psychological_support_request_id,\n      legalSupportRequest,\n      legalSupportResponseText,\n      psychologicalSupportRequest,\n      psychologicalSupportResponseText,\n      supportRequestId,\n    },\n  },\n];\n"
      },
      "id": "9e66e091-32e1-4508-bc3b-c72e615eb419",
      "name": "Verifica se precisa de atendimento e qual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        5000
      ]
    },
    {
      "parameters": {
        "content": "## Verifica quais MSRs de 2022/2021 irão para fila do Match Diário\n",
        "height": 124.36523996505218,
        "width": 340.2325169896819
      },
      "id": "b8b97818-59ac-4586-839f-27ac50a22ba0",
      "name": "Sticky Note29",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        4760
      ]
    },
    {
      "parameters": {
        "content": "\n\nTem psi e juridico e vai querer apenas juridico",
        "height": 80,
        "width": 340.2325169896819,
        "color": 4
      },
      "id": "07fc4370-71bd-4853-a822-6626d5b19bf5",
      "name": "Sticky Note32",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        5620
      ]
    },
    {
      "parameters": {
        "content": "\n\nSó tem um juridico e vai querer\n",
        "height": 80,
        "width": 340.2325169896819,
        "color": 4
      },
      "id": "cd7d3619-fc68-46fb-adb5-c8658c64e109",
      "name": "Sticky Note33",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        5320
      ]
    },
    {
      "parameters": {
        "content": "\n\nCasos de testes",
        "height": 80,
        "width": 340.2325169896819,
        "color": 6
      },
      "id": "f09e7151-b08e-46bc-a573-a7b6ff9d07a3",
      "name": "Sticky Note34",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        5200
      ]
    },
    {
      "parameters": {
        "content": "\n\nTem psi e juridico e vai querer apenas psi",
        "height": 80,
        "width": 340.2325169896819,
        "color": 4
      },
      "id": "ceb64df1-e773-4d2b-8178-f658cad122d3",
      "name": "Sticky Note35",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        5720
      ]
    },
    {
      "parameters": {
        "content": "\n\nTem psi e juridico e vai querer nenhum",
        "height": 80,
        "width": 340.2325169896819,
        "color": 4
      },
      "id": "a8fe840d-deea-407c-8fda-caad51ddb9b3",
      "name": "Sticky Note36",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        5820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "afc4c174-958f-4dc7-b1c0-02b4e274ad56",
              "leftValue": "={{ $json.legal_support_request_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8feb8cb6-a4bb-4170-9891-0dbb46ca8d79",
      "name": "Tem SR jurídico",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1300,
        4900
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "afc4c174-958f-4dc7-b1c0-02b4e274ad56",
              "leftValue": "={{ $json.psychological_support_request_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "915c88dc-a288-468e-bda5-f87b2c8ea8c2",
      "name": "Tem SR psicológico",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        5200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6c236e14-2adb-4e84-8e18-ab9a5313c52a",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "8f21e57b-c6f6-45b6-ab64-f02788c0771a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        880,
        5000
      ],
      "webhookId": "3552f173-d00a-4dd4-8f4f-1aad21ed7328",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "39b74e30-dfde-4f60-9007-c8bca3b4da55",
              "leftValue": "={{ $json.legalSupportResponseText }}",
              "rightValue": "Sim, ainda preciso",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4eae95b5-a3d1-4443-a929-a165f4e0692c",
      "name": "ainda quer",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        4740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "39b74e30-dfde-4f60-9007-c8bca3b4da55",
              "leftValue": "={{ $json.psychologicalSupportResponseText }}",
              "rightValue": "Sim, ainda preciso",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "78bd1c93-e2d4-46a4-8efc-f37d7c753e9c",
      "name": "ainda quer1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        5160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE match.support_requests\nSET status = 'waiting_for_match'\nWHERE support_request_id = {{$json.legal_support_request_id}};\nINSERT INTO match.support_request_status_history (support_request_id, status, created_at)\nVALUES ({{$json.legal_support_request_id}}, 'waiting_for_match', NOW());  \nSELECT \n  zendesk_ticket_id\nFROM \n  match.support_requests\nWHERE \n  support_request_id = {{$json.legal_support_request_id}};\n\n",
        "options": {}
      },
      "id": "10f35095-28e6-498b-bfc3-ae9ed8042f52",
      "name": "Atualiza status para waiting_for_match",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1900,
        4580
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{$json[\"zendesk_ticket_id\"]}}",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360014379412,
                "value": "aguardando_match__sem_prioridade"
              }
            ]
          },
          "internalNote": "MSR sinalizou que quer entrar na fila do match diário"
        }
      },
      "id": "5f8e0a63-57ab-47e4-879d-ed0248304031",
      "name": "status: Aguardando Match: Sem Prioridade",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2080,
        4580
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nUPDATE match.support_requests\nSET status = 'waiting_for_match'\nWHERE support_request_id = {{$json.psychological_support_request_id}};\nINSERT INTO match.support_request_status_history (support_request_id, status, created_at)\nVALUES ({{$json.psychological_support_request_id}}, 'waiting_for_match', NOW());  \nSELECT \n  zendesk_ticket_id\nFROM \n  match.support_requests\nWHERE \n  support_request_id = {{$json.psychological_support_request_id}};\n",
        "options": {
          "queryReplacement": ""
        }
      },
      "id": "c8bf3774-d14c-4e59-b5d0-06818ddcf94b",
      "name": "Atualiza status para waiting_for_match4",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1900,
        5140
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{$json[\"zendesk_ticket_id\"]}}",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360014379412,
                "value": "aguardando_match__sem_prioridade"
              }
            ]
          },
          "internalNote": "MSR sinalizou que quer entrar na fila do match diário"
        }
      },
      "id": "32a44054-538d-4010-8991-dd2c14894eb4",
      "name": "status: Aguardando Match: Sem Prioridade4",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2100,
        5140
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{$json[\"zendesk_ticket_id\"]}}",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360014379412,
                "value": "solicitação_encerrada"
              }
            ]
          },
          "internalNote": "MSR sinalizou que não quer mais acolhimento psicológico",
          "status": "solved"
        }
      },
      "id": "b6f37176-70c6-4935-95df-77b76347bfe2",
      "name": "Atualizar ticket para solicitação encerrada",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2100,
        5360
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \n  match.support_requests\nSET \n  status = 'closed'\nWHERE \n  support_request_id = {{$json[\"psychological_support_request_id\"]}};\nINSERT INTO match.support_request_status_history (support_request_id, status, created_at)\nVALUES ({{$json.psychological_support_request_id}}, 'closed', NOW());  \nSELECT \n  zendesk_ticket_id\nFROM \n  match.support_requests\nWHERE \n  support_request_id = {{$json[\"psychological_support_request_id\"]}};\n\n",
        "options": {
          "queryReplacement": ""
        }
      },
      "id": "9f90e505-2eb1-44c8-88a3-0e48cd640313",
      "name": "Atualiza support_request para closed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1920,
        5360
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{$json[\"zendesk_ticket_id\"]}}",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360014379412,
                "value": "solicitação_encerrada"
              }
            ]
          },
          "internalNote": "MSR sinalizou que não quer mais acolhimento jurídico",
          "status": "solved"
        }
      },
      "id": "68f5f312-6993-4f97-832a-cc51cf71b9ac",
      "name": "Atualizar ticket para solicitação encerrada8",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2100,
        4780
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \n  match.support_requests\nSET \n  status = 'closed'\nWHERE \n  support_request_id = {{$json[\"legal_support_request_id\"]}};\nINSERT INTO match.support_request_status_history (support_request_id, status, created_at)\nVALUES ({{$json.legal_support_request_id}}, 'closed', NOW());  \nSELECT \n  zendesk_ticket_id\nFROM \n  match.support_requests\nWHERE \n  support_request_id = {{$json[\"legal_support_request_id\"]}};\n\n",
        "options": {
          "queryReplacement": ""
        }
      },
      "id": "a01019f4-4cc7-4d87-98aa-353947e1aa90",
      "name": "Atualiza support_request para closed8",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1900,
        4780
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "content": "\nPsicológico",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "id": "0835609f-bdd4-4af9-a3e3-f0559586363f",
      "name": "Sticky Note25",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2440,
        5280
      ]
    },
    {
      "parameters": {
        "content": "\n\nSó tem um psicológico e vai querer\n",
        "height": 80,
        "width": 340.2325169896819,
        "color": 4
      },
      "id": "6302fd5b-36fe-4881-a79e-e314bd1f6dc9",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        5420
      ]
    },
    {
      "parameters": {},
      "id": "ad64d1e9-8688-40c3-a343-865b4d3e2507",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1600,
        4920
      ]
    },
    {
      "parameters": {},
      "id": "32d08b8c-0a1b-4d89-9f94-faa02197a77f",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1580,
        5420
      ]
    },
    {
      "parameters": {
        "content": "\nJurídico",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "id": "4aa5592d-6450-44ac-ba70-2ebda4d65540",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2420,
        4680
      ]
    },
    {
      "parameters": {
        "content": "\n\nTem psi e juridico e vai querer os dois",
        "height": 80,
        "width": 340.2325169896819,
        "color": 4
      },
      "id": "3151046f-ad02-4b1b-9523-b86771631ce3",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        5520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE match.matches\nSET status = '{{ $json.new_status }}', updated_at = NOW()\nWHERE match_id = {{ $json.match_id }};\n\nINSERT INTO match.match_status_history (match_id, status, created_at)\nVALUES ({{ $json.match_id }}, '{{ $json.new_status }}', NOW());",
        "options": {}
      },
      "id": "0ed77ecd-ffd5-40af-8ba1-86b6d573efb2",
      "name": "Atualiza status do match1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3420,
        2480
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE match.matches\nSET status = 'interrupted_before_support', updated_at = NOW()\nWHERE match_id = {{ $json.match_id }};\n\nINSERT INTO match.match_status_history (match_id, status, created_at)\nVALUES ({{ $json.match_id }}, 'interrupted_before_support', NOW());",
        "options": {}
      },
      "id": "c1f4ad47-3201-45f9-8217-3d044b20adac",
      "name": "Atualiza status do match2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2960,
        3300
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {},
      "id": "094827d3-3b54-4b5d-895b-5d5ad14c79a3",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3120,
        3020
      ],
      "webhookId": "5e56c2ef-fe86-4d21-9d9b-b345f23dde7d"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  support_request_id\nFROM match.matches\nWHERE msr_zendesk_ticket_id = {{ $json.id }}",
        "options": {}
      },
      "id": "a3e4a514-e13d-4b0a-bcfd-b83ec388af13",
      "name": "Busca support_request_id1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3280,
        3020
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE match.support_requests\nSET status = 'waived', updated_at = NOW()\nWHERE support_request_id = {{ $json.support_request_id }};\n\nINSERT INTO match.support_request_status_history (support_request_id, status, created_at)\nVALUES ({{ $json.support_request_id }}, 'waived', NOW());",
        "options": {}
      },
      "id": "8aed00d0-2d39-489e-ba96-b25a0b7c8aec",
      "name": "Atualiza support_request1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3460,
        3020
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.volunteer_zendesk_ticket_id }}",
        "updateFields": {
          "assigneeEmail": "marcia@nossas.org",
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360014379412,
                "value": "desistencia"
              }
            ]
          },
          "internalNote": "Fomos informadas pelo formulário que a MSR desistiu do atendimento",
          "publicReply": "=Olá {{ $json.volunteer_first_name }}​, espero que esteja bem na medida do possível!\n\nEstamos entrando em contato para informar que a acolhida {{ $json.msr_first_name }} encaminhada a você optou, neste momento, por não seguir nos atendimentos com o Mapa.\n\nInfelizmente, não é raro que haja desistência, pois o caminho para romper o ciclo da violência muitas vezes acontece a passos lentos. Esperamos que ela se cadastre novamente em breve ou que já tenha encontrado outra forma de se fortalecer.\n\nDesta forma, estamos liberando esta vaga para outra mulher que está aguardando na fila de pedidos de ajuda. Voltaremos a entrar em contato caso haja outro encaminhamento. Agradecemos pela participação e disponibilidade!\n\nForte abraço,\nEquipe do Mapa do Acolhimento <3",
          "status": "pending"
        }
      },
      "id": "969774d1-508c-4291-a725-ae3f38237c53",
      "name": "ticket Voluntária - msr desistiu",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        3080,
        3820
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.msr_zendesk_ticket_id }}",
        "updateFields": {
          "assigneeEmail": "marcia@nossas.org",
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360014379412,
                "value": "desistencia"
              }
            ]
          },
          "internalNote": "Fomos informadas pelo formulário que a MSR desistiu do atendimento",
          "status": "pending"
        }
      },
      "id": "48528ca9-bce7-47c5-abaf-800df791ca32",
      "name": "ticket MSR - MSR desistiu do atendimento",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2940,
        3020
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    email AS msr_email,\n    first_name AS msr_first_name,\n    '{{ $json.volunteer_email }}' AS volunteer_email,  \n    {{ $json.volunteer_id }} AS volunteer_id,\n    INITCAP('{{ $json.volunteer_first_name }}') AS volunteer_first_name,\n    {{ $json.volunteer_zendesk_user_id }} AS volunteer_zendesk_user_id,\n    {{ $json.volunteer_zendesk_ticket_id }} AS volunteer_zendesk_ticket_id,\n    '{{ $json.support_type }}' AS support_type\nFROM pii_sec.msr_pii\nWHERE msr_id = {{ $json.msr_id }}",
        "options": {}
      },
      "id": "eb7f3cbf-5ad8-4d50-a24c-4ec220dfa77e",
      "name": "Busca infos da MSR e da Voluntária3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2880,
        3480
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH matches_from_volunteer AS (\n    SELECT \n        volunteer_id,\n        match_id\n    FROM match.matches\n    WHERE \n        volunteer_id = {{ $json.volunteer_id }}\n        AND status IN ('waiting_contact', 'in_contact')\n)\nSELECT\n    volunteer_id,\n    zendesk_user_id,\n    current_matches,\n    max_matches,\n    condition,\n    COUNT(DISTINCT match_id)::INT AS calculated_current_matches\nFROM volunteer_availability a\nLEFT JOIN matches_from_volunteer m USING(volunteer_id)\nLEFT JOIN volunteers v ON v.id = a.volunteer_id\nWHERE \n    volunteer_id =  {{ $json.volunteer_id }}\nGROUP BY volunteer_id, zendesk_user_id, current_matches, max_matches, condition",
        "options": {}
      },
      "id": "b9ca9242-d516-4027-b01e-e8e8347fab55",
      "name": "Busca current_matches1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3080,
        3480
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "40361bb8-ee27-4874-8c13-bbaa181aaece",
              "leftValue": "={{ $json.current_matches }}",
              "rightValue": "={{ $json.calculated_current_matches }}",
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "5065da60-8650-49d5-80d6-49e0a59b25f6",
      "name": "Deve atualizar o current_matches?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3260,
        3480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE volunteer_availability\nSET current_matches = {{ $json.calculated_current_matches }}, updated_at = NOW()\nWHERE volunteer_id = {{ $json.volunteer_id }}",
        "options": {}
      },
      "id": "554d7bf6-cef3-4b86-b3bf-d10971e72b38",
      "name": "Atualiza current_matches1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3540,
        3380
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "bcfcd581-16f2-477b-8351-61a218c56805",
              "leftValue": "={{ $json.condition }}",
              "rightValue": "indisponivel_sem_vagas",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3ef0e89a-2cc6-4fbd-b6fc-8b7dc638dc68",
              "leftValue": "={{ $json.calculated_current_matches }}",
              "rightValue": "={{ $json.max_matches }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fed387da-6f1f-4f88-b09e-36df16fb59d5",
      "name": "Atualiza o status da voluntária?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3560,
        3560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.volunteers\nSET condition = 'disponivel', updated_at = NOW()\nWHERE id = {{$json[\"volunteer_id\"]}};\n\nINSERT INTO public.volunteer_status_history (volunteer_id, status, created_at)\nVALUES ({{$json[\"volunteer_id\"]}}, 'disponivel', NOW());\n\nUPDATE public.volunteer_availability\nSET is_available = TRUE, updated_at = NOW()\nWHERE volunteer_id = {{$json[\"volunteer_id\"]}}",
        "options": {}
      },
      "id": "a29bd8ae-ec74-4330-9267-fa1e09151596",
      "name": "Atualiza status da Voluntária1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3780,
        3540
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "content": "Atualiza status do ticket",
        "height": 80,
        "width": 150
      },
      "id": "503e85e1-f42d-43fb-8fe6-df44fd571fcc",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3240,
        3980
      ]
    },
    {
      "parameters": {
        "content": "Atualiza status do ticket e support_request ",
        "height": 80,
        "width": 310.0031552352676
      },
      "id": "ff286273-2586-4922-9213-193de23d2c9b",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3600,
        3120
      ]
    },
    {
      "parameters": {
        "content": "Atualiza status do match",
        "height": 80,
        "width": 150
      },
      "id": "d55f124a-ceb4-4149-9035-13d685875af3",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3200,
        3300
      ]
    },
    {
      "parameters": {
        "content": "Atualiza quantidade de matches ",
        "height": 80,
        "width": 150
      },
      "id": "e7239b6a-214f-4121-bb6e-9e82071341e1",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3760,
        3380
      ]
    },
    {
      "parameters": {
        "content": "Se o status da voluntária for indiponide_sem)vagas e quantidade de matches for 1 ou mais a passa pra disponível",
        "height": 80,
        "width": 304.92368998970363
      },
      "id": "61aa97a8-81d1-4d54-8fc7-6c2c105c1230",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3720,
        3940
      ]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "update",
        "id": "={{ $json.zendesk_user_id }}",
        "updateFields": {
          "userFieldsUi": {
            "userFieldValues": [
              {
                "field": "condition",
                "value": "disponivel"
              }
            ]
          }
        }
      },
      "id": "0da616a0-8485-457e-858c-e1f27de01715",
      "name": "Status da Mulher = Disponivel",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        3760,
        3740
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {},
      "id": "abd74039-219d-4206-919e-c816d86ae380",
      "name": "No Operation, do nothing4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3700,
        4040
      ]
    },
    {
      "parameters": {},
      "id": "448747d1-584c-4a55-9236-564acb7d672d",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2720,
        3480
      ],
      "webhookId": "af597d98-e5a0-4232-bdca-4ec34e1e87ef"
    },
    {
      "parameters": {},
      "id": "38175fc4-7654-40a4-826d-7959205e129f",
      "name": "No Operation, do nothing5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3400,
        3740
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.new_status }}",
                    "rightValue": "in_contact",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "atendimento iniciado"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4f3fd665-2742-4831-b7d0-d005e78b34e5",
                    "leftValue": "={{ $json.new_status }}",
                    "rightValue": "interrupted_before_support",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "encaminhamento interrompido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e5b7eb66-f482-42f0-acd1-b39f3fa869f3",
                    "leftValue": "={{ $json.new_status }}",
                    "rightValue": "waived",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msr_desistiu"
            }
          ]
        },
        "options": {}
      },
      "id": "95d134a8-6c2f-4931-881c-00c403c85ba8",
      "name": "Qual o novo status?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2560,
        2560
      ]
    }
  ],
  "pinData": {
    "MSR ou Voluntária preencheu o formulário": [
      {
        "json": {
          "headers": {
            "host": "mapadoacolhimento.app.n8n.cloud",
            "user-agent": "Tally Webhooks",
            "content-length": "1516",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "authorization": "uoqQUEpq&&C5$AL22k3PWN4j3dMd&&",
            "baggage": "sentry-environment=production,sentry-public_key=6af4b6673f1648edaa8fef3f2ca43405,sentry-trace_id=84dedc05f22749df8f3245bc9c2e622b",
            "cdn-loop": "cloudflare; subreqs=1",
            "cf-connecting-ip": "34.96.41.102",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "8b432a5b24406521-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sentry-trace": "84dedc05f22749df8f3245bc9c2e622b-9a70331e3a3c91f3",
            "x-forwarded-for": "34.96.41.102, 172.69.195.15",
            "x-forwarded-host": "mapadoacolhimento.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-fb6d78f9-2dzfn",
            "x-is-trusted": "yes",
            "x-real-ip": "34.96.41.102"
          },
          "params": {},
          "query": {},
          "body": {
            "eventId": "15193db2-c99e-40c6-b3a3-a03c422c6a2d",
            "eventType": "FORM_RESPONSE",
            "createdAt": "2024-08-16T17:32:44.509Z",
            "data": {
              "responseId": "pM9pyy",
              "submissionId": "pM9pyy",
              "respondentId": "OjkjNA",
              "formId": "nPAj6V",
              "formName": "[MSR] Atualização de Status do Acolhimento",
              "createdAt": "2024-08-16T17:32:44.000Z",
              "fields": [
                {
                  "key": "question_ArWrjk_d4ec2659-b661-43e5-8634-f188c7b4c111",
                  "label": "msr_first_name",
                  "type": "HIDDEN_FIELDS",
                  "value": "Elenir"
                },
                {
                  "key": "question_ArWrjk_0b8984ff-7e28-45f0-9ba1-01325248a52a",
                  "label": "match_id",
                  "type": "HIDDEN_FIELDS",
                  "value": "24401"
                },
                {
                  "key": "question_ArWrjk_542a2b93-9104-41a3-a710-a57ed33b4f72",
                  "label": "volunteer_first_name",
                  "type": "HIDDEN_FIELDS",
                  "value": "Marina"
                },
                {
                  "key": "question_ArWrjk_a017cb2c-1570-4d42-a72f-ba870e2f7513",
                  "label": "volunteer_type",
                  "type": "HIDDEN_FIELDS",
                  "value": "advogada"
                },
                {
                  "key": "question_ArWrjk_9be5437b-c620-439e-9985-1b158ed54f26",
                  "label": "match_status",
                  "type": "HIDDEN_FIELDS",
                  "value": "Escolho não seguir com o atendimento"
                },
                {
                  "key": "question_Nq8qaO",
                  "label": "match_status",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "a39aca20-6f0f-4784-82a2-0fa89519673c"
                  ],
                  "options": [
                    {
                      "id": "cd3a850f-8151-4db1-8112-cd98ca95d5e5",
                      "text": "Já iniciamos o atendimento"
                    },
                    {
                      "id": "128e22d9-4812-4f59-a389-568909eac9f6",
                      "text": "A voluntária não me respondeu"
                    },
                    {
                      "id": "132e2d65-6135-4d0c-8f8e-a79b77ec0f07",
                      "text": "A voluntária me respondeu, mas não está disponível para me atender"
                    },
                    {
                      "id": "a39aca20-6f0f-4784-82a2-0fa89519673c",
                      "text": "Escolho não seguir com o atendimento"
                    }
                  ]
                }
              ]
            }
          },
          "webhookUrl": "https://mapadoacolhimento.app.n8n.cloud/webhook/volunteer-update-match-status",
          "executionMode": "production"
        }
      }
    ],
    "Busca match": [
      {
        "json": {
          "match_id": 16191,
          "support_request_id": 57694,
          "support_type": "legal",
          "msr_id": "22858077211028",
          "volunteer_id": 27042,
          "volunteer_first_name": "Advogada",
          "volunteer_zendesk_user_id": "423092711812",
          "volunteer_email": "dev.adv.mapa@gmail.com",
          "msr_zendesk_ticket_id": "82262",
          "volunteer_zendesk_ticket_id": "86222",
          "current_status": "waiting_contact",
          "new_status": "in_contact",
          "who_answered": "MSR",
          "match_created_at": "2024-01-16",
          "form_answer": "Já iniciamos o atendimento"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HYstwqyTrzYsvJ2P"
  },
  "shared": [
    {
      "createdAt": "2024-08-28T18:23:21.192Z",
      "updatedAt": "2024-08-28T18:23:21.192Z",
      "role": "workflow:owner",
      "workflowId": "9MJCYPBfQw9JyEhA",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "role": "project:personalOwner",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2024-12-10T20:48:45.029Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1733863720858
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false,
              "isOwner": true
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2024-08-28T18:55:08.000Z",
  "versionId": "85486b52-a745-4ab8-b404-9fe6c91cb7d9"
}