[TEMP]_Integrações_entrada_voluntaria
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "busca voluntárias capacitaçao INICIOU E FINALIZOU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntária pelo email": {
      "main": [
        [
          {
            "node": "Se retornou a voluntária do Zendesk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta os campos para atualizar a voluntária no BD": {
      "main": [
        [
          {
            "node": "Atualiza voluntária no BD1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insere  o registro na volunteer_status_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca os tickets da voluntária no Zendesk": {
      "main": [
        [
          {
            "node": "Separa os tickets do objeto retornado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa os tickets do objeto retornado": {
      "main": [
        [
          {
            "node": "Se o campo \"Status da Inscrição\" for igual a \"capacitacao\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se retornou a voluntária do Zendesk": {
      "main": [
        [
          {
            "node": "Atualiza status da voluntária no Zendesk1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Seta os campos para atualizar a voluntária no BD",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Atualiza status da voluntária no Zendesk1": {
      "main": [
        [
          {
            "node": "Busca os tickets da voluntária no Zendesk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta os campos para atualizar voluntária no BD": {
      "main": [
        []
      ]
    },
    "Seleciona o ticket mais antigo": {
      "main": [
        [
          {
            "node": "Atualiza o ticket para \"aprovada\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntária pelo email1": {
      "main": [
        [
          {
            "node": "Se retornou a voluntária do Zendesk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se retornou a voluntária do Zendesk1": {
      "main": [
        [
          {
            "node": "Atualiza status da voluntária no Zendesk",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "A voluntária ainda não iniciou a capacitação?": {
      "main": [
        [
          {
            "node": "Seta os campos para atualizar  o histórico de capacitação da voluntária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "O status da voluntária é cadastrada": {
      "main": [
        [
          {
            "node": "Busca voluntária pelo email1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca histórico de início da capacitação",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Seta os campos para atualizar  o histórico de capacitação da voluntária": {
      "main": [
        [
          {
            "node": "Insere o novo evento na tabela volunteer_training_history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere o novo evento na tabela volunteer_training_history": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "O status da voluntária é capacitacao": {
      "main": [
        [
          {
            "node": "Busca voluntária pelo email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta os campos para atualizar  o histórico de capacitação da voluntária1": {
      "main": [
        [
          {
            "node": "Insere o novo evento na tabela volunteer_training_history1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere o novo evento na tabela volunteer_training_history1": {
      "main": [
        []
      ]
    },
    "Se o campo \"Status da Inscrição\" for igual a \"capacitacao\"": {
      "main": [
        [
          {
            "node": "Seleciona o ticket mais antigo",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Busca histórico de início da capacitação": {
      "main": [
        [
          {
            "node": "A voluntária ainda não iniciou a capacitação?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se retornou a voluntária1": {
      "main": [
        [
          {
            "node": "O status da voluntária é cadastrada",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Envia email início capacitação",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Envia email início capacitação": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Envia email aprovada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia email aprovada": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntária pelo moodle ID1": {
      "main": [
        [
          {
            "node": "Se retornou a voluntária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntária pelo moodle ID2": {
      "main": [
        [
          {
            "node": "Loop Over Items9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca voluntárias INICIOU 24/03 a 30": {
      "main": [
        []
      ]
    },
    "Se retornou a voluntária": {
      "main": [
        [
          {
            "node": "O status da voluntária é capacitacao",
            "type": "main",
            "index": 0
          },
          {
            "node": "Seta os campos para atualizar  o histórico de capacitação da voluntária1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca voluntárias FINALIZOU": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca voluntárias capacitaçao INICIOU E FINALIZOU": {
      "main": [
        [
          {
            "node": "Busca voluntária pelo moodle ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se retornou a voluntária2": {
      "main": [
        [
          {
            "node": "O status da voluntária é cadastrada1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Seta os campos para atualizar  o histórico de capacitação da voluntária2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca voluntária pelo email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "O status da voluntária é cadastrada1": {
      "main": [
        [
          {
            "node": "Seta os campos para atualizar voluntária no BD2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop Over Items2": {
      "main": [
        []
      ]
    },
    "Insere o novo status na tabela volunteer_status_history": {
      "main": [
        []
      ]
    },
    "Busca voluntária pelo email2": {
      "main": [
        [
          {
            "node": "Se retornou a voluntária do Zendesk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta os campos para atualizar a voluntária no BD1": {
      "main": [
        [
          {
            "node": "Atualiza voluntária no BD",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insere  o registro na volunteer_status_history1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca os tickets da voluntária no Zendesk1": {
      "main": [
        [
          {
            "node": "Separa os tickets do objeto retornado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa os tickets do objeto retornado1": {
      "main": [
        [
          {
            "node": "Se o campo \"Status da Inscrição\" for igual a \"capacitacao\"1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se retornou a voluntária do Zendesk2": {
      "main": [
        [
          {
            "node": "Atualiza status da voluntária no Zendesk2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Seta os campos para atualizar a voluntária no BD1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza status da voluntária no Zendesk2": {
      "main": [
        [
          {
            "node": "Busca os tickets da voluntária no Zendesk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia email aprovada1": {
      "main": [
        [
          {
            "node": "Loop Over Items9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "O status da voluntária é capacitacao1": {
      "main": [
        [],
        []
      ]
    },
    "Seta os campos para atualizar  o histórico de capacitação da voluntária2": {
      "main": [
        [
          {
            "node": "Insere o novo evento na tabela volunteer_training_history2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se o campo \"Status da Inscrição\" for igual a \"capacitacao\"1": {
      "main": [
        [
          {
            "node": "Seleciona o ticket mais antigo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        []
      ]
    },
    "Busca histórico de início da capacitação1": {
      "main": [
        []
      ]
    },
    "A voluntária ainda não iniciou a capacitação?1": {
      "main": [
        []
      ]
    },
    "Seta os campos para atualizar voluntária no BD1": {
      "main": [
        [
          {
            "node": "Atualiza voluntária no BD2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insere o novo status na tabela volunteer_status_history1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza status da voluntária no Zendesk": {
      "main": [
        [
          {
            "node": "Seta os campos para atualizar voluntária no BD1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seta os campos para atualizar voluntária no BD2": {
      "main": [
        [
          {
            "node": "Insere o novo status na tabela volunteer_status_history",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insere o novo evento na tabela volunteer_training_history3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere o novo evento na tabela volunteer_training_history2": {
      "main": [
        [
          {
            "node": "Envia email aprovada1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "node": "Busca voluntária pelo moodle ID3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca historico de voluntária pelo moodle ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca historico de capacitacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "node": "Deleta todas as entradas repetidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca historico de voluntária pelo moodle ID": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntária pelo moodle ID3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "insere historico de inicio da capacitacap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Atualiza data de incio da capacitacao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "insere historico de mudança de status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta todas as entradas repetidas": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items6": {
      "main": [
        [],
        [
          {
            "node": "Deleta todas as entradas repetidas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta todas as entradas repetidas1": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca historico de capacitacao": {
      "main": [
        [
          {
            "node": "Loop Over Items6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza data de incio da capacitacao": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        []
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        []
      ]
    },
    "insere historico de mudança de status": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [],
        [
          {
            "node": "Busca historico de voluntária pelo moodle ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca historico de voluntária pelo moodle ID1": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items8": {
      "main": [
        [],
        [
          {
            "node": "Busca historico de voluntária pelo moodle ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca historico de voluntária pelo moodle ID2": {
      "main": [
        [
          {
            "node": "Loop Over Items8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleciona o ticket mais antigo1": {
      "main": [
        [
          {
            "node": "Atualiza o ticket para \"aprovada\"2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items9": {
      "main": [
        [],
        [
          {
            "node": "Se retornou a voluntária2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2026-03-30T19:23:25.930Z",
  "description": null,
  "id": "5AmZu5IGeLeH5exo",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[TEMP] Integrações entrada voluntária",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "7f395a42-71cf-4336-8d6d-850131e69327",
      "name": "Se retornou a voluntária1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        112
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1152,
        1536
      ],
      "id": "2aafac10-9eb2-44b2-b59f-ffcf2ff8c61c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "search",
        "limit": 30,
        "filters": {
          "query": "={{ $json.email }}"
        }
      },
      "id": "002c23a3-a6ac-4ce4-8ddc-4651d2d738e4",
      "name": "Busca voluntária pelo email",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1488,
        256
      ],
      "alwaysOutputData": true,
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "aprovada"
            },
            {
              "name": "created_at",
              "value": "={{ $('busca voluntárias FINALIZOU').item.json.data_fim }}"
            }
          ],
          "number": [
            {
              "name": "volunteer_id",
              "value": "={{$node[\"Busca historico de voluntária pelo moodle ID\"].json[\"id\"]}}"
            },
            {
              "name": "zendesk_user_id",
              "value": "={{ $json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "99616461-3986-4615-8e59-e3ffcd1fc155",
      "name": "Seta os campos para atualizar a voluntária no BD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2080,
        352
      ]
    },
    {
      "parameters": {
        "url": "=https://mapadoacolhimento.zendesk.com/api/v2/users/{{$node[\"Busca voluntária pelo email\"].json[\"id\"]}}/tickets/requested",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "ef0cf0cb-31a4-45a5-8c70-d8c1974191e4",
      "name": "Busca os tickets da voluntária no Zendesk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2256,
        560
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "tickets",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "b18cc4fa-fab8-48a4-9802-f7d2f3c199c0",
      "name": "Separa os tickets do objeto retornado",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2448,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Busca voluntária pelo email\"].json}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "0837a4af-39f3-46a0-9353-79bac89fb997",
      "name": "Se retornou a voluntária do Zendesk",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1728,
        256
      ]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "update",
        "id": "={{ $json[\"id\"] }}",
        "updateFields": {
          "userFieldsUi": {
            "userFieldValues": [
              {
                "field": "condition",
                "value": "capacitacao"
              }
            ]
          }
        }
      },
      "id": "055269ae-0d61-49cd-b966-a6ecf526f483",
      "name": "Atualiza status da voluntária no Zendesk",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2352,
        -1808
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "update",
        "id": "={{ $json[\"id\"] }}",
        "updateFields": {
          "userFieldsUi": {
            "userFieldValues": [
              {
                "field": "condition",
                "value": "aprovada"
              }
            ]
          }
        }
      },
      "id": "7217b02c-ec33-4265-879a-345447d5e28e",
      "name": "Atualiza status da voluntária no Zendesk1",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2080,
        560
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "capacitacao"
            },
            {
              "name": "created_at",
              "value": "={{ $('busca voluntárias capacitaçao INICIOU E FINALIZOU').item.json.data_ini }}"
            }
          ],
          "number": [
            {
              "name": "volunteer_id",
              "value": "={{ $('Busca voluntária pelo moodle ID2').item.json.id }}"
            },
            {
              "name": "zendesk_user_id",
              "value": "={{ $('Busca voluntária pelo moodle ID2').item.json.zendesk_user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7838467a-f1e6-4f4a-bfe4-662fb41d340c",
      "name": "Seta os campos para atualizar voluntária no BD",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        464,
        1664
      ]
    },
    {
      "parameters": {
        "table": "volunteer_status_history",
        "columns": "volunteer_id,status,created_at",
        "additionalFields": {}
      },
      "id": "3097da9c-c907-485e-8c2c-aa3eb0dab0f9",
      "name": "Insere o novo status na tabela volunteer_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1744,
        1376
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "7271f6f4-7374-468a-bdd2-5b88696ecefe",
      "name": "Seleciona o ticket mais antigo",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        3136,
        544
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json[\"tickets\"][\"id\"] }}",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360021665652,
                "value": "aprovada"
              }
            ]
          },
          "status": "open"
        }
      },
      "id": "d3bf2bc7-3a82-410a-a2e5-cceb73d7d9cb",
      "name": "Atualiza o ticket para \"aprovada\"",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        3424,
        544
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "table": "volunteer_status_history",
        "columns": "volunteer_id,status,created_at",
        "additionalFields": {}
      },
      "id": "2e62d55d-0199-44a1-b0f9-0e5d449914fe",
      "name": "Insere  o registro na volunteer_status_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2288,
        192
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE volunteers\nSET condition = '{{ $json.status }}', updated_at = NOW()\nWHERE id = {{ $json.volunteer_id }};\nSELECT first_name, email from public.volunteers\nWHERE id = {{ $json[\"volunteer_id\"] }};",
        "options": {}
      },
      "id": "10476691-bfd4-4a8e-a8cc-c29769eb1f0f",
      "name": "Atualiza voluntária no BD1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2288,
        384
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "search",
        "limit": 30,
        "filters": {
          "query": "={{ $json.email }}"
        }
      },
      "id": "3daf30ed-c641-4daa-aca2-ff737cd48e21",
      "name": "Busca voluntária pelo email1",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1504,
        -1696
      ],
      "alwaysOutputData": true,
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Busca voluntária pelo email1\"].json}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "aa78a2b7-7654-4457-9e4c-e13a3ede4338",
      "name": "Se retornou a voluntária do Zendesk1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1776,
        -1696
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{$node[\"Busca historico de voluntária pelo moodle ID\"].json[\"email\"]}}\",\n \"transactionalId\": \"clt4d3xhp00j0y38uusnypgc0\",\n \"dataVariables\": {\n    \"name\": \"{{$node[\"Busca historico de voluntária pelo moodle ID\"].json[\"first_name\"]}}\",\n    \"email\": \"{{$node[\"Busca historico de voluntária pelo moodle ID\"].json[\"email\"]}}\"\n  }\n}",
        "options": {}
      },
      "id": "06fec819-24e8-4d7f-81bb-c2c09599bdb0",
      "name": "Envia email início capacitação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3152,
        -1120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{$node[\"Busca historico de voluntária pelo moodle ID\"].json[\"email\"]}}\",\n \"transactionalId\": \"clt4ozsfp00ei114rjfkwwav1\",\n \"dataVariables\": {\n    \"name\": \"{{$node[\"Busca historico de voluntária pelo moodle ID\"].json[\"first_name\"]}}\"\n  }\n}",
        "options": {}
      },
      "id": "98efe572-47c0-43a3-976f-92a809b8fff7",
      "name": "Envia email aprovada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2048,
        704
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b4c9bdc8-6d21-48ea-88c4-6fed9800ea33",
              "leftValue": "={{ $json }}",
              "rightValue": "cadastrada",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "65fdd2f1-13ff-4306-8f5d-38f1dfdf8c0a",
      "name": "A voluntária ainda não iniciou a capacitação?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        -816
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "223d2e9d-3926-4499-b422-4cdaf53ff415",
              "leftValue": "={{$node[\"Busca historico de voluntária pelo moodle ID\"].json[\"condition\"]}}",
              "rightValue": "cadastrada",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ae5b5277-dc1e-478d-b77b-2ddf79da555d",
      "name": "O status da voluntária é cadastrada",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        -144
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "event",
              "value": "started_training"
            },
            {
              "name": "created_at",
              "value": "={{ $('busca voluntárias INICIOU 24/03 a 30').item.json.data_ini }}"
            }
          ],
          "number": [
            {
              "name": "volunteer_id",
              "value": "={{$node[\"Busca historico de voluntária pelo moodle ID\"].json[\"id\"]}}"
            },
            {
              "name": "moodle_user_id",
              "value": "={{$node[\"Busca historico de voluntária pelo moodle ID\"].json[\"moodle_id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "58dfe855-d257-4bb0-bb68-e9af97c800dc",
      "name": "Seta os campos para atualizar  o histórico de capacitação da voluntária",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2016,
        -1184
      ]
    },
    {
      "parameters": {
        "table": "volunteer_training_history",
        "columns": "volunteer_id,moodle_user_id,event,created_at",
        "additionalFields": {}
      },
      "id": "c44ed40f-d78b-4760-add1-c2f935afea8f",
      "name": "Insere o novo evento na tabela volunteer_training_history",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2320,
        -1184
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "223d2e9d-3926-4499-b422-4cdaf53ff415",
              "leftValue": "={{$node[\"Busca voluntária pelo moodle ID1\"].json[\"condition\"]}}",
              "rightValue": "capacitacao",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "45a5c2f8-0f14-4587-b6b3-66b5c741a385",
              "leftValue": "={{$node[\"Busca voluntária pelo moodle ID1\"].json[\"condition\"]}}",
              "rightValue": "cadastrada",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "9f5804b4-a844-4a1d-9a66-fe64161317bb",
      "name": "O status da voluntária é capacitacao",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1280,
        272
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "event",
              "value": "finished_training"
            },
            {
              "name": "created_at",
              "value": "={{ $('busca voluntárias FINALIZOU').item.json.data_fim }}"
            }
          ],
          "number": [
            {
              "name": "volunteer_id",
              "value": "={{$node[\"Busca voluntária pelo moodle ID1\"].json[\"id\"]}}"
            },
            {
              "name": "moodle_user_id",
              "value": "={{$node[\"Busca voluntária pelo moodle ID1\"].json[\"moodle_id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "df5fd5a0-0929-421d-bc42-763a8250dfe2",
      "name": "Seta os campos para atualizar  o histórico de capacitação da voluntária1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1280,
        672
      ]
    },
    {
      "parameters": {
        "table": "volunteer_training_history",
        "columns": "volunteer_id,moodle_user_id,event,created_at",
        "additionalFields": {}
      },
      "id": "b01ccaf5-7e94-4eb2-b634-728a51ba0df6",
      "name": "Insere o novo evento na tabela volunteer_training_history1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1536,
        672
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tickets.custom_fields[6].value }}",
              "value2": "cadastrada"
            },
            {
              "value1": "={{ $json.tickets.custom_fields[6].value }}",
              "value2": "capacitacao"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "e1c29551-9bcf-4999-a284-619afebfd781",
      "name": "Se o campo \"Status da Inscrição\" for igual a \"capacitacao\"",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2640,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from volunteer_training_history\nwhere moodle_user_id = {{$node[\"busca voluntárias INICIOU 24/03 a 30\"].json[\n\"userid\"]}} and event = 'started_training'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        -704
      ],
      "id": "7897e38d-62b1-410c-b921-8e8a077d3e12",
      "name": "Busca histórico de início da capacitação",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf83aae5-b5b1-4ac9-9c48-ac27b907ff30",
              "leftValue": "={{ $('busca voluntárias INICIOU 24/03 a 30').item.json.status }}",
              "rightValue": "iniciou",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2528,
        -1104
      ],
      "id": "5dcf1de1-8f49-45b5-9ded-db7706722691",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2896,
        -1104
      ],
      "id": "a595e7f5-bc1b-4b05-ab76-f3e025940708",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1792,
        640
      ],
      "id": "b4c43bd4-c04f-4a4f-a409-1dcea1758840",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "ab85bc80-21b1-45d0-bbc4-94413c06ac80",
      "name": "Se retornou a voluntária",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        320
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteers",
          "mode": "list",
          "cachedResultName": "volunteers"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "moodle_id",
              "value": "={{$json[\"userid\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        320
      ],
      "id": "d6c1b448-dc86-4f11-9ede-bac994c3b62e",
      "name": "Busca voluntária pelo moodle ID1",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "49196b3d-ace5-495d-b7b3-7694af1492f9",
      "name": "Se retornou a voluntária2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        1616
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "volunteers",
          "mode": "list",
          "cachedResultName": "volunteers"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "moodle_id",
              "value": "={{$json[\"userid\"]}}"
            },
            {
              "column": "condition",
              "value": "cadastrada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        1584
      ],
      "id": "7f135079-884f-487a-8afb-76301e9e8fbf",
      "name": "Busca voluntária pelo moodle ID2",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\n  --id,\n  userid, \n  timestarted, \n  timecompleted, \n  to_timestamp(timestarted) data_ini,\n  to_timestamp(timecompleted)  as data_fim\nFROM mdl_course_completions\nWHERE course = 2\n  \n  \nand userid = 6961\n\n",
        "options": {}
      },
      "id": "4c5e5bea-0a30-46f5-9174-650aacd46762",
      "name": "busca voluntárias INICIOU 24/03 a 30",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2944,
        688
      ],
      "credentials": {
        "postgres": {
          "id": "KHoy20BFgrBIpHYR",
          "name": "[PROD] Moodle"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\n  --id,\n  userid, \n  timestarted, \n  timecompleted, \n  to_timestamp(timestarted) data_ini,\n  to_timestamp(timecompleted)  as data_fim\nFROM mdl_course_completions\nWHERE course = 2\n  AND \n    to_timestamp(timestarted) < '2026-03-24' AND\n    to_timestamp(timecompleted) BETWEEN '2026-03-24' AND '2026-03-30 23:59:59'\n  \n\n\n",
        "options": {}
      },
      "id": "8d054045-1393-4ad6-b67a-2f1c78038221",
      "name": "busca voluntárias FINALIZOU",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2832,
        1248
      ],
      "credentials": {
        "postgres": {
          "id": "KHoy20BFgrBIpHYR",
          "name": "[PROD] Moodle"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\n  --id,\n  userid, \n  timestarted, \n  timecompleted, \n  to_timestamp(timestarted) data_ini,\n  to_timestamp(timecompleted)  as data_fim\nFROM mdl_course_completions\nWHERE course = 2\n  AND \n  \n    to_timestamp(timestarted)  BETWEEN '2026-03-31' AND '2026-03-31 23:59:59' and\n    to_timestamp(timecompleted) > '2026-03-31'\n\n",
        "options": {}
      },
      "id": "a347cfb7-8227-47fc-8827-aac2f558afc5",
      "name": "busca voluntárias capacitaçao INICIOU E FINALIZOU",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -864,
        1568
      ],
      "credentials": {
        "postgres": {
          "id": "KHoy20BFgrBIpHYR",
          "name": "[PROD] Moodle"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "223d2e9d-3926-4499-b422-4cdaf53ff415",
              "leftValue": "={{$node[\"Busca voluntária pelo moodle ID2\"].json[\"condition\"]}}",
              "rightValue": "cadastrada",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "69c654d9-28fc-48d3-990e-4d5b210bc336",
      "name": "O status da voluntária é cadastrada1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        176,
        1440
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        992,
        1648
      ],
      "id": "67120bda-0802-4328-88c0-dff12014d0f3",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "search",
        "limit": 30,
        "filters": {
          "query": "={{ $json.email }}"
        }
      },
      "id": "2a66eed1-7062-40bf-8410-a8f64cd116a9",
      "name": "Busca voluntária pelo email2",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        896,
        1856
      ],
      "alwaysOutputData": true,
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "aprovada"
            },
            {
              "name": "created_at",
              "value": "={{ $('busca voluntárias capacitaçao INICIOU E FINALIZOU').item.json.data_fim }}"
            }
          ],
          "number": [
            {
              "name": "volunteer_id",
              "value": "={{ $('Busca voluntária pelo moodle ID2').item.json.id }}"
            },
            {
              "name": "zendesk_user_id",
              "value": "={{ $json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b3ecd64f-8d4a-4224-9186-ceb35b93e5f8",
      "name": "Seta os campos para atualizar a voluntária no BD1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1488,
        1952
      ]
    },
    {
      "parameters": {
        "url": "=https://mapadoacolhimento.zendesk.com/api/v2/users/{{$node[\"Busca voluntária pelo email2\"].json[\"id\"]}}/tickets/requested",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "50648c0e-456d-4819-9b1c-f4728b1518e0",
      "name": "Busca os tickets da voluntária no Zendesk1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1664,
        2160
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "tickets",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "719bd1bb-51fa-4454-8a45-4868e4f4b80c",
      "name": "Separa os tickets do objeto retornado1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1856,
        2160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Busca voluntária pelo email2\"].json}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "ce8e9241-96e3-416f-b98b-49014894e50b",
      "name": "Se retornou a voluntária do Zendesk2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1136,
        1856
      ]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "update",
        "id": "={{ $json[\"id\"] }}",
        "updateFields": {
          "userFieldsUi": {
            "userFieldValues": [
              {
                "field": "condition",
                "value": "aprovada"
              }
            ]
          }
        }
      },
      "id": "fffa38c8-2179-4386-8e4f-0349d5b57481",
      "name": "Atualiza status da voluntária no Zendesk2",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1488,
        2160
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "7ba323cf-fb3c-4ec5-a9e4-4857086667bb",
      "name": "Seleciona o ticket mais antigo1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        2368,
        2176
      ]
    },
    {
      "parameters": {
        "table": "volunteer_status_history",
        "columns": "volunteer_id,status,created_at",
        "additionalFields": {}
      },
      "id": "c0c02c44-43ff-4c4c-89ef-4308c58a69ed",
      "name": "Insere  o registro na volunteer_status_history1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1696,
        1792
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE volunteers\nSET condition = '{{ $json.status }}', updated_at = NOW()\nWHERE id = {{ $json.volunteer_id }};\nSELECT first_name, email from public.volunteers\nWHERE id = {{ $json[\"volunteer_id\"] }};",
        "options": {}
      },
      "id": "6abd6ac0-c4e4-4090-bf12-76b1fca4e8a6",
      "name": "Atualiza voluntária no BD",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1696,
        1984
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{$node[\"Busca voluntária pelo moodle ID2\"].json[\"email\"]}}\",\n \"transactionalId\": \"clt4ozsfp00ei114rjfkwwav1\",\n \"dataVariables\": {\n    \"name\": \"{{ $('Busca voluntária pelo moodle ID2').item.json.first_name }}\"\n  }\n}",
        "options": {}
      },
      "id": "e42bdbb5-ac5d-4b0f-acd5-a9adc138dd53",
      "name": "Envia email aprovada1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1184,
        2288
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "223d2e9d-3926-4499-b422-4cdaf53ff415",
              "leftValue": "={{$node[\"Busca voluntária pelo moodle ID2\"].json[\"condition\"]}}",
              "rightValue": "capacitacao",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "89fbccdb-e064-4c8f-9eae-2a03bf1f8c64",
      "name": "O status da voluntária é capacitacao1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        800,
        2080
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "event",
              "value": "finished_training"
            },
            {
              "name": "created_at",
              "value": "={{ $('busca voluntárias capacitaçao INICIOU E FINALIZOU').item.json.data_fim }}"
            }
          ],
          "number": [
            {
              "name": "volunteer_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "moodle_user_id",
              "value": "={{ $json.moodle_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ef44fb12-3b77-4fcd-9a95-89377160188b",
      "name": "Seta os campos para atualizar  o histórico de capacitação da voluntária2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        688,
        2224
      ]
    },
    {
      "parameters": {
        "table": "volunteer_training_history",
        "columns": "volunteer_id,moodle_user_id,event,created_at",
        "additionalFields": {}
      },
      "id": "e3f181ac-de99-4245-aaf8-0bb8ab0ab13f",
      "name": "Insere o novo evento na tabela volunteer_training_history2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        944,
        2272
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tickets.custom_fields[6].value }}",
              "value2": "cadastrada"
            },
            {
              "value1": "={{ $json.tickets.custom_fields[6].value }}",
              "value2": "capacitacao"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "26f66df9-63ac-4395-963e-cf2b4fc0b71c",
      "name": "Se o campo \"Status da Inscrição\" for igual a \"capacitacao\"1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2048,
        2160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        2448
      ],
      "id": "59f63f02-b29a-4f7a-b277-a76523c10aaf",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "b4c9bdc8-6d21-48ea-88c4-6fed9800ea33",
              "leftValue": "={{ $json }}",
              "rightValue": "cadastrada",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1e8e6b56-9a6f-4714-b294-da57012a9eb4",
      "name": "A voluntária ainda não iniciou a capacitação?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        864,
        1648
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from volunteer_training_history\nwhere moodle_user_id = {{$node[\"busca voluntárias capacitaçao INICIOU E FINALIZOU\"].json[\n\"userid\"]}} and event = 'started_training'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        1552
      ],
      "id": "ac2aba07-d31a-42c6-b3b9-f45b2a6f17f4",
      "name": "Busca histórico de início da capacitação1",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "capacitacao"
            },
            {
              "name": "created_at",
              "value": "={{ $('busca voluntárias INICIOU 24/03 a 30').item.json.data_ini }}"
            }
          ],
          "number": [
            {
              "name": "volunteer_id",
              "value": "={{$node[\"Busca historico de voluntária pelo moodle ID\"].json[\"id\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e2e4d063-7364-4c3c-a8e8-9e86938d8d21",
      "name": "Seta os campos para atualizar voluntária no BD1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2576,
        -1808
      ]
    },
    {
      "parameters": {
        "table": "volunteer_status_history",
        "columns": "volunteer_id,status,created_at",
        "additionalFields": {}
      },
      "id": "1e7829d4-806a-4566-a569-553dbf8fccf1",
      "name": "Insere o novo status na tabela volunteer_status_history1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2960,
        -1568
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.volunteers\nSET condition = '{{ $json[\"status\"] }}', updated_at = NOW()\nWHERE id = {{ $json[\"volunteer_id\"] }};\nSELECT first_name, email from public.volunteers\nWHERE id = {{ $json[\"volunteer_id\"] }};",
        "options": {}
      },
      "id": "b84045fb-2dba-4270-87f8-3ad7bc560750",
      "name": "Atualiza voluntária no BD2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2944,
        -1792
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "capacitacao"
            },
            {
              "name": "created_at",
              "value": "={{ $('busca voluntárias capacitaçao INICIOU E FINALIZOU').item.json.data_ini }}"
            },
            {
              "name": "event",
              "value": "started_training"
            }
          ],
          "number": [
            {
              "name": "volunteer_id",
              "value": "={{ $('Busca voluntária pelo moodle ID2').item.json.id }}"
            },
            {
              "name": "moodle_user_id",
              "value": "={{ $('Busca voluntária pelo moodle ID2').item.json.moodle_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "222ebdd8-bc3a-44fa-a177-365ecca3fc89",
      "name": "Seta os campos para atualizar voluntária no BD2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1520,
        1376
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -336,
        2864
      ],
      "id": "e1fe5763-b8c3-4c83-bd36-88061458e5bf"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2336,
        80
      ],
      "id": "8da69a4f-a47d-431f-bc59-d6c1036c37a6",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1776,
        240
      ],
      "id": "e430eacd-f803-4d43-8689-f8bfa464c2b4",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n   v.id, v.email, \n   v.condition, \n   v.moodle_id, \n   v.zendesk_user_id,\n   '{{ $json.data_ini }}'as data_ini,\n   (SELECT status FROM public.volunteer_status_history vsh where vsh.volunteer_id = v.id AND vsh.created_at <'2026-03-24' order by vsh.created_at desc limit 1) ultimo_status_antes_24,\n   \n    (SELECT status FROM public.volunteer_status_history vsh where vsh.volunteer_id = v.id AND vsh.created_at >= '2026-03-31' order by vsh.created_at desc limit 1) ultimo_status_depois_30, \n   (SELECT vsh.id FROM public.volunteer_status_history vsh where vsh.volunteer_id = v.id AND vsh.created_at >= '2026-03-31' order by vsh.created_at desc limit 1) id_ultimo_status_depois_30\n   FROM public.volunteers v \n   where \n   v.moodle_id = {{ $json.userid }}\n   ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2128,
        576
      ],
      "id": "1a51b20f-145b-449d-9fee-78909bd17aeb",
      "name": "Busca voluntária pelo moodle ID3",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n   v.id, v.email, \n   v.condition, \n   vsh.created_at, \n   vsh.status,\n   vsh.id as vsh_id\n   FROM public.volunteers v \n   INNER JOIN public.volunteer_status_history vsh ON (vsh.volunteer_id = v.id) \n   where \n   v.moodle_id = {{ $json.userid }}\n   AND vsh.created_at >= '2026-03-24'  AND vsh.created_at < '2026-03-31'\n   AND vsh.status in( 'capacitacao', 'aprovada') \n   ORDER bY vsh.created_at",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2000,
        256
      ],
      "id": "8e271836-6ab6-4fec-b05d-7cdb64069a17",
      "name": "Busca historico de voluntária pelo moodle ID",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "table": "volunteer_status_history",
        "columns": "volunteer_id,status,created_at",
        "additionalFields": {}
      },
      "id": "b50bf0a4-258d-499d-8cb8-beca5f3977f2",
      "name": "Insere o novo status na tabela volunteer_status_history2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -144,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "table": "volunteer_status_history",
        "columns": "volunteer_id,status,created_at",
        "additionalFields": {}
      },
      "id": "aa2fb9ad-5770-4664-a2cf-3b0189e9744e",
      "name": "Insere o novo status na tabela volunteer_status_history3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -144,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "update",
        "id": "={{ $json[\"id\"] }}",
        "updateFields": {
          "userFieldsUi": {
            "userFieldValues": [
              {
                "field": "condition",
                "value": "capacitacao"
              }
            ]
          }
        }
      },
      "id": "b61e44c3-c04f-4b06-958f-9c9eb0f61d5c",
      "name": "Atualiza status da voluntária no Zendesk3",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        -1184,
        528
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "09b1c850-276f-4f5e-87ce-9854be57baca",
              "leftValue": "={{ $json.ultimo_status_depois_30 }}",
              "rightValue": "capacitacao",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1888,
        672
      ],
      "id": "e5456eb2-691b-4556-be96-ff763ad0062b",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE public.volunteer_status_history\nSET created_at= '{{ $json.data_ini }}'\nWHERE volunteer_id = {{ $json.id }} AND status = 'capacitacao' and id = {{ $json.id_ultimo_status_depois_30 }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1552,
        656
      ],
      "id": "12aca588-cfc2-40d8-b7ad-50b8c7a2595b",
      "name": "Atualiza data de incio da capacitacao",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.volunteer_status_history\nWHERE id= {{ $json.vsh_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1424,
        224
      ],
      "id": "11de79b1-1d75-433b-9881-14a7b3ffd13d",
      "name": "Deleta todas as entradas repetidas",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "027a44de-280a-46af-98cb-184029afcac2",
              "leftValue": "={{ $json.condition }}",
              "rightValue": "capacitacao",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "55f5e1fd-9216-4d15-9306-d40239c2c2a5",
              "leftValue": "={{ $json.ultimo_status_depois_30 }}",
              "rightValue": "capacitacao",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1232,
        1232
      ],
      "id": "3d5d1478-9946-408c-b652-c53e83302a8d",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1728,
        -176
      ],
      "id": "a9fd876e-eb17-4742-b46f-542e7f4c18ba",
      "name": "Loop Over Items6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM public.volunteer_training_history\nWHERE  volunteer_training_history_id = {{ $json.volunteer_training_history_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1440,
        -144
      ],
      "id": "26998f12-d78b-40a7-b768-048ff285950f",
      "name": "Deleta todas as entradas repetidas1",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT volunteer_training_history_id, \n  volunteer_id, moodle_user_id, \n  \"event\", \n  created_at\nFROM public.volunteer_training_history vth\n  where moodle_user_id = {{ $json.userid }} and created_at >= '2026-03-24' and created_at < '2026-03-31';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2016,
        -112
      ],
      "id": "b3be58d2-5246-4e13-a09b-d4d7d02e15ee",
      "name": "Busca historico de capacitacao",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.volunteer_training_history\n( volunteer_id, moodle_user_id, \"event\", created_at)\nVALUES( {{ $json.id }},{{ $json.moodle_id }} , 'started_training', '{{ $json.data_ini }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1872,
        464
      ],
      "id": "d25ab5e2-52be-4351-ba0a-26c0823df333",
      "name": "insere historico de inicio da capacitacap",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1200,
        992
      ],
      "id": "95dd13bf-1544-445d-bd69-02934aaac94a",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.volunteer_status_history\n(created_at, volunteer_id, status)\nVALUES( '{{ $json.data_ini }}',{{ $json.id }} , 'capacitacao');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1504,
        832
      ],
      "id": "f7eaf50f-21db-436f-9491-09ef51cccb01",
      "name": "insere historico de mudança de status",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2560,
        1248
      ],
      "id": "271f4276-d7f5-4bc5-9d3e-52a97dd5dd56",
      "name": "Loop Over Items7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n   v.id, v.email, \n   v.condition, \n   v.moodle_id,\n   vsh.created_at, \n   vsh.status,\n   vsh.id as vsh_id\n   FROM public.volunteers v \n   INNER JOIN public.volunteer_status_history vsh ON (vsh.volunteer_id = v.id) \n   where \n   v.moodle_id = {{ $json.userid }}\n   AND vsh.created_at >= '2026-03-24' \n   AND vsh.created_at < '2026-03-31'\n   AND vsh.status in( 'capacitacao', 'aprovada') \n   ORDER bY vsh.created_at",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2288,
        1264
      ],
      "id": "75e325b7-99a8-4248-8cc3-2de294c32c1f",
      "name": "Busca historico de voluntária pelo moodle ID1",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "content": "### poucos casos fazer na mãp",
        "height": 480,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2128,
        1264
      ],
      "typeVersion": 1,
      "id": "702149ec-33fb-44e4-826b-09bb31d60bc2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2544,
        1536
      ],
      "id": "82f3e4e5-0368-4253-8b87-ced32c708e46",
      "name": "Loop Over Items8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT \n   v.id, v.email, \n   v.condition, \n   v.moodle_id,\n   vsh.created_at, \n   vsh.status,\n   vsh.id as vsh_id\n   FROM public.volunteers v \n   INNER JOIN public.volunteer_status_history vsh ON (vsh.volunteer_id = v.id) \n   where \n   v.moodle_id = {{ $json.userid }}\n   --AND vsh.created_at >= '2026-03-24' \n   --AND vsh.created_at < '2026-03-31'\n   --AND vsh.status in( 'capacitacao', 'aprovada') \n   ORDER bY vsh.created_at",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2272,
        1552
      ],
      "id": "b6364df1-a9f3-4d2e-9f0f-d707a1466935",
      "name": "Busca historico de voluntária pelo moodle ID2",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\n  --id,\n  userid, \n  timestarted, \n  timecompleted, \n  to_timestamp(timestarted) data_ini,\n  to_timestamp(timecompleted)  as data_fim\nFROM mdl_course_completions\nWHERE course = 2\n  AND \n    userid = 6810\n  \n\n\n",
        "options": {}
      },
      "id": "23d9192c-bd1f-4e8d-8428-f88592765c87",
      "name": "busca voluntárias FINALIZOU1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2416,
        1040
      ],
      "credentials": {
        "postgres": {
          "id": "KHoy20BFgrBIpHYR",
          "name": "[PROD] Moodle"
        }
      }
    },
    {
      "parameters": {
        "table": "volunteer_training_history",
        "columns": "volunteer_id,moodle_user_id,event,created_at",
        "additionalFields": {}
      },
      "id": "ed485fc1-479e-46ae-83aa-0f90e78db5cb",
      "name": "Insere o novo evento na tabela volunteer_training_history3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1824,
        1568
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json[\"tickets\"][\"id\"] }}",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360021665652,
                "value": "aprovada"
              }
            ]
          },
          "status": "open"
        }
      },
      "id": "7800d840-1e39-4e2f-a5ed-26284d39a95a",
      "name": "Atualiza o ticket para \"aprovada\"1",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2048,
        1312
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json[\"tickets\"][\"id\"] }}",
        "updateFields": {
          "customFieldsUi": {
            "customFieldsValues": [
              {
                "id": 360021665652,
                "value": "aprovada"
              }
            ]
          },
          "status": "open"
        }
      },
      "id": "f9ed5a29-2905-4c5a-aee2-9a65122e6755",
      "name": "Atualiza o ticket para \"aprovada\"2",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2608,
        2192
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        1584
      ],
      "id": "e18c52d9-c29b-48cd-9eeb-bdf32270751e",
      "name": "Loop Over Items9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        -192,
        1792
      ],
      "id": "4be9f476-24d8-4216-923c-14f9a3f43869"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-30T19:23:25.932Z",
      "createdAt": "2026-03-30T19:23:25.932Z",
      "role": "workflow:owner",
      "workflowId": "5AmZu5IGeLeH5exo",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "createdAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "createdAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "updatedAt": "2026-05-04T13:47:00.000Z",
              "createdAt": "2024-01-09T22:21:28.810Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-04",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-09T17:13:21.118Z",
  "versionCounter": 38,
  "versionId": "cd3cdef7-25d6-4445-97e4-1f403a00501d"
}