[WIP][PROD]_Envio_novos_instrumentais_voluntarias
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Envia Instrumental I d45",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Instrumental I d45": {
      "main": [
        [
          {
            "node": "insere voluntária na instrumental_record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Envia Lembrete 15 dias com Instrumental Acomp I",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Lembrete 15 dias com Instrumental Acomp I": {
      "main": [
        [
          {
            "node": "Adiciona comentário interno1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Envia Lembrete 30 dias com Instrumental Acomp I",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Lembrete 30 dias com Instrumental Acomp I": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insere voluntária na instrumental_record": {
      "main": [
        [
          {
            "node": "Adiciona comentário interno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona comentário interno": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "busca volunts PSI com status in_contact ha 45 dias": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "busca volunts PSI com status in_contact ha 45 dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "não responderam instrumental I - 15 dias ": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "não responderam instrumental I - 15 dias ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-09T18:53:47.099Z",
  "description": null,
  "id": "eTQCbbWza7CWSNWB",
  "isArchived": false,
  "meta": null,
  "name": "[WIP][PROD] Envio novos instrumentais voluntárias",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3200,
        -144
      ],
      "id": "fb7eec8e-fc8d-4017-abd9-05f71b3a7d11",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "id": "f4f89f70-f744-4ade-bf7f-53d1705aeb60",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2432,
        -320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a5f8d9ad-9b47-4e62-af4c-ea61664940f5",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2688,
        -144
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "60ce9874-bc76-4d4b-9b3e-31fc651db06c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2432,
        -128
      ],
      "webhookId": "b8b838c4-a8d5-4c55-bc34-deb65ed05eb8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\n    m.match_id,\n    m.msr_id,\n    m.volunteer_id,\n    m.volunteer_zendesk_ticket_id,\n    v.email             AS volunteer_email,\n    v.first_name        AS volunteer_first_name,\n    p.first_name        AS msr_first_name\nFROM match.matches m\nINNER JOIN public.volunteers v             ON v.id = m.volunteer_id\nINNER JOIN pii_sec.msr_pii p               ON p.msr_id = m.msr_id\nINNER JOIN match.match_status_history msh  ON msh.match_id = m.match_id\nWHERE\n    msh.status = 'in_contact'\n    AND msh.created_at::DATE = CURRENT_DATE - INTERVAL '45 DAY'\n    AND m.status = 'in_contact'\n    AND m.support_type = 'legal'\nORDER BY m.match_id",
        "options": {}
      },
      "id": "4c4fc450-e62a-48a3-9592-842afc581f86",
      "name": "busca volunts PSI com status in_contact ha 45 dias",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2976,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "lveNjRL3anzREWd8",
          "name": "[STG] Mapa"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transactionalId\": \"cmmj3hy6n05hb0iwghjyrv3zy\",\n  \"email\": \"{{ $json.volunteer_email }}\",\n  \"dataVariables\": {\n    \"volunteer_first_name\": \"{{ $json.volunteer_first_name }}\",\n    \"msr_id\": \"{{ $json.msr_id }}\",\n    \"match_id\": \"{{ $json.match_id }}\",\n    \"msr_first_name\": \"{{ $json.msr_first_name}}\", \n    \"email\": \"{{ $json.volunteer_email }}\"\n  }\n}",
        "options": {}
      },
      "id": "7cfe0eac-1714-4594-a770-eac30284a0cc",
      "name": "Envia Instrumental I d45",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2224,
        -128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "content": "Fluxo Instrumental Psicológico I ",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3216,
        -320
      ],
      "id": "f2d39e52-e193-4fb2-94a1-310f55a77af4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\n    m.match_id,\n    m.msr_id,\n    m.volunteer_id,\n    v.email             AS volunteer_email,\n    v.first_name        AS volunteer_first_name,\n    p.first_name        AS msr_first_name\nFROM match.matches m\nINNER JOIN public.volunteers v                          ON v.id = m.volunteer_id\nINNER JOIN pii_sec.msr_pii p                            ON p.msr_id = m.msr_id\nINNER JOIN match.match_status_history msh               ON msh.match_id = m.match_id\nINNER JOIN survey.volunteer_instrumental_record vir     ON vir.match_id = m.match_id\nWHERE\n    msh.status = 'in_contact'\n    AND vir.instrumental_type = 'legal_support_follow_up_i'\n    AND vir.sent_at::DATE = CURRENT_DATE - INTERVAL '15 DAY'\n    AND vir.answered_at IS NULL\n    AND m.status = 'in_contact'\n    AND v.occupation = 'lawyer'\nORDER BY m.match_id",
        "options": {}
      },
      "id": "37803cd2-7a36-4b21-a92b-1a11087fe71a",
      "name": "não responderam instrumental I - 15 dias ",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2960,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "lveNjRL3anzREWd8",
          "name": "[STG] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\n    m.match_id,\n    m.volunteer_id,\n    v.email             AS volunteer_email,\n    v.first_name        AS volunteer_first_name,\n    p.first_name        AS msr_first_name\nFROM matches m\nINNER JOIN volunteers v             ON v.id = m.volunteer_id\nINNER JOIN msr_pii p                ON p.msr_id = m.msr_id\nINNER JOIN match_status_history msh ON msh.match_id = m.match_id\nINNER JOIN volunteer_instrumental_record vir ON vir.match_id = m.match_id\nWHERE\n    msh.status = 'in_contact'\n    AND vir.instrumental_type = 'psychological_support_follow_up_i'\n    AND vir.sent_at::DATE = CURRENT_DATE - INTERVAL '30 DAY'\n    AND vir.answered_at IS NULL\n    AND m.status NOT IN (\n        'expired',\n        'interrupted_before_support',\n        'interrupted_after_support',\n        'completed',\n        'waiting_contact'\n    )\n    AND v.occupation = 'psychologist'\nORDER BY m.match_id",
        "options": {}
      },
      "id": "0aa131cf-efe4-47fc-af7f-dade036e73f8",
      "name": "não responderam instrumental I - 30 dias",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2976,
        736
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {},
      "id": "67bbf64e-ce92-47bd-ad26-7479950262cc",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2416,
        128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1cbba9f0-39bf-4823-805d-ae6911888dbd",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2688,
        304
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "3e0fdcad-fe9f-4a9f-9e4b-deb8ac6ce9ba",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2416,
        320
      ],
      "webhookId": "b8b838c4-a8d5-4c55-bc34-deb65ed05eb8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transactionalId\": \"cmmj9f2br0smq0iwlal2snwcu\",\n  \"email\": \"{{ $json.volunteer_email }}\",\n  \"dataVariables\": {\n    \"volunteer_first_name\": \"{{ $json.volunteer_first_name }}\",\n    \"msr_id\": \"{{ $json.msr_id }}\",\n    \"match_id\": \"{{ $json.match_id }}\",\n    \"msr_first_name\": \"{{ $json.msr_first_name}}\", \n    \"email\": \"{{ $json.volunteer_email }}\"\n  }\n}",
        "options": {}
      },
      "id": "da6533c8-50ab-451b-9988-9d13fc6cb1d7",
      "name": "Envia Lembrete 15 dias com Instrumental Acomp I",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2208,
        320
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {},
      "id": "fa02eeb4-de37-4a37-a36b-012db2a286a6",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2416,
        560
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "77005f93-7471-4bcb-aba7-4744816e21cd",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2688,
        736
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "0be489b3-0cbd-4210-ac8d-ac4af75d0be9",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2416,
        752
      ],
      "webhookId": "b8b838c4-a8d5-4c55-bc34-deb65ed05eb8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transactionalId\": \"/cmmj9w4zh17zk0jxxj19485u0\",\n  \"email\": \"{{ $json.email }}\",\n  \"dataVariables\": {\n    \"volunteer_first_name\": \"{{ $json.volunteer_first_name }}\",\n    \"msr_id\": \"{{ $json.msr_id }}\",\n    \"match_id\": \"{{ $json.match_id }}\",\n    \"msr_first_name\": \"{{ $json.msr_first_name}}\", \n    \"email\": \"{{ $json.email }}\"\n  }\n}",
        "options": {}
      },
      "id": "729f000b-61b0-4290-96c1-023e12c10859",
      "name": "Envia Lembrete 30 dias com Instrumental Acomp I",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2208,
        752
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO survey.volunteer_instrumental_record (\n    match_id,\n    volunteer_id,\n    instrumental_type,\n    status,\n    sent_at,\n    created_at,\n    updated_at\n)\nVALUES (\n    {{ $('busca volunts PSI com status in_contact ha 45 dias').item.json.match_id }},\n    {{ $('busca volunts PSI com status in_contact ha 45 dias').item.json.volunteer_id }},\n    'psychological_support_follow_up_i',\n    'sent',\n    NOW(),\n    NOW(),\n    NOW()\n)",
        "options": {}
      },
      "id": "8e9f0c5c-934e-4eba-9be9-da99c9df8fb3",
      "name": "insere voluntária na instrumental_record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2016,
        -128
      ],
      "credentials": {
        "postgres": {
          "id": "lveNjRL3anzREWd8",
          "name": "[STG] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $('busca volunts PSI com status in_contact ha 45 dias').item.json.volunteer_zendesk_ticket_id }}",
        "updateFields": {
          "internalNote": "=A voluntária recebeu o Instrumental de Acompanhamento Psicológico I no dia {{ $now.toFormat('dd/MM/yyyy') }}"
        }
      },
      "id": "d2a2ec95-99ac-4814-abe0-fc129a8269ed",
      "name": "Adiciona comentário interno",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        -1824,
        -128
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $('não responderam instrumental I - 15 dias ').item.json.volunteer_zendesk_ticket_id }}",
        "updateFields": {
          "internalNote": "=A voluntária recebeu o Lembrete para preencher o Instrumental de Acompanhamento Psicológico I no dia {{ $now.toFormat('dd/MM/yyyy') }}"
        }
      },
      "id": "f2d99e08-c71d-467d-a8cf-ad685004986a",
      "name": "Adiciona comentário interno1",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        -1984,
        320
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3216,
        304
      ],
      "id": "4922c5b0-1d7e-4e06-bb0f-0b71fa36f945",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-03-09T18:53:47.101Z",
      "createdAt": "2026-03-09T18:53:47.101Z",
      "role": "workflow:owner",
      "workflowId": "eTQCbbWza7CWSNWB",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "createdAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "createdAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "updatedAt": "2026-03-13T13:05:53.000Z",
              "createdAt": "2024-01-09T22:21:28.810Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-13T15:07:35.401Z",
  "versionCounter": 20,
  "versionId": "859fc2b6-e24f-4ac0-9882-e3be54519fab"
}