Corrigir_voluntarias_aprovadas_-_bug_critérios_moodle
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Voluntárias aprovadas a partir do dia 12/06",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Matches atendimento iniciado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove finalização da capacitação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voluntárias aprovadas a partir do dia 12/06": {
      "main": [
        [
          {
            "node": "Voluntárias que não acessaram o certificado no moodle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voluntárias que não acessaram o certificado no moodle": {
      "main": [
        [
          {
            "node": "Matches atendimento iniciado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status aprovada": {
      "main": [
        []
      ]
    },
    "Reverte voluntária para capacitacao no banco": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca os tickets da voluntária no Zendesk": {
      "main": [
        []
      ]
    },
    "Atualiza status da voluntária no Zendesk": {
      "main": [
        [
          {
            "node": "Cria o ticket de entrada da voluntária pela API do Zendesk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o ticket de entrada da voluntária pela API do Zendesk": {
      "main": [
        []
      ]
    },
    "Matches encaminhamento realizado": {
      "main": [
        [
          {
            "node": "Mensagem Voluntária no ticket do match ENCINI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Voluntária no ticket do match1": {
      "main": [
        [
          {
            "node": "Comentário no ticket do pedido de acolhimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matches atendimento iniciado": {
      "main": [
        [
          {
            "node": "Mensagem Voluntária no ticket do match1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza o status do acolhimento do ticket do match pela API do Zendesk1": {
      "main": [
        [
          {
            "node": "Atualiza o status do acolhimento do ticket do match pela API do Zendesk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza o status do acolhimento do ticket do match pela API do Zendesk2": {
      "main": [
        [
          {
            "node": "email MSR -  sem prioridade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Com um match": {
      "main": [
        []
      ]
    },
    "Voluntárias aprovadas a partir do dia 12/": {
      "main": [
        [
          {
            "node": "Voluntárias que não acessaram o certificado no moodle3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voluntárias que não acessaram o certificado no moodle3": {
      "main": [
        [
          {
            "node": "Com um match expirados ou interrompidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza status da voluntária no Zendesk1": {
      "main": [
        [
          {
            "node": "Cria o ticket de entrada da voluntária pela API do Zendesk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Com um match expirados ou interrompidos": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Atualiza status da voluntária no Zendesk1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reverte voluntária para capacitacao no banco1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mensagem Voluntária no ticket do match INT/EXP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reverte voluntária para capacitacao no banco1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria o ticket de entrada da voluntária pela API do Zendesk1": {
      "main": [
        []
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Matches encaminhamento realizado",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualiza status da voluntária no Zendesk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reverte voluntária para capacitacao no banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email MSR -  sem prioridade": {
      "main": [
        [
          {
            "node": "ticket MSR - comunicação1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comentário no ticket do pedido de acolhimento1": {
      "main": [
        []
      ]
    },
    "Mensagem Voluntária no ticket do match ENCINI": {
      "main": [
        [
          {
            "node": "Atualiza o status do acolhimento do ticket do match pela API do Zendesk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matches atendimento iniciado1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove finalização da capacitação": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-07-07T19:22:37.419Z",
  "description": null,
  "id": "YcbZH3o0nc3DP88R",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Corrigir voluntárias aprovadas - bug critérios moodle",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        1920
      ],
      "id": "4e2bbc8a-ae87-410d-82fa-f737cbeba3c1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        992,
        1920
      ],
      "id": "c3964282-49cd-4fc2-a00e-893d5f30798c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\n  --id,\n  userid, \n  timestarted, \n  timecompleted, \n  to_timestamp(timestarted) data_ini,\n  to_timestamp(timecompleted)  as data_fim\nFROM mdl_course_completions\nWHERE course = 2 and userid = {{ $json.moodle_id }} and timecompleted is null",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1584,
        80
      ],
      "id": "5425cd7e-552f-486b-8ae8-707937b82c42",
      "name": "Execute a SQL query5",
      "credentials": {
        "postgres": {
          "id": "KHoy20BFgrBIpHYR",
          "name": "[PROD] Moodle"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id AS user_id, u.firstname, u.lastname, u.email\nFROM mdl_user u\nJOIN mdl_user_enrolments ue ON ue.userid = u.id\nJOIN mdl_enrol e ON e.id = ue.enrolid AND e.courseid = 2\nJOIN mdl_context ctx ON ctx.instanceid = e.courseid AND ctx.contextlevel = 50\nJOIN mdl_role_assignments ra ON ra.userid = u.id AND ra.contextid = ctx.id \n  --AND ra.roleid = 5 -- student\nLEFT JOIN mdl_logstore_standard_log l\n  ON l.userid = u.id\n  AND l.component = 'mod_customcert'\n  AND l.action = 'viewed'\n  AND l.objectid = (\n    SELECT cm.id\n    FROM mdl_course_modules cm\n    JOIN mdl_modules m ON m.id = cm.module AND m.name = 'customcert'\n    WHERE cm.course = 2\n    LIMIT 1\n  )\nWHERE ue.status = 0\n  AND e.status = 0\n  AND l.id IS NULL\nORDER BY u.lastname, u.firstname;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1808,
        80
      ],
      "id": "02e7851d-ad28-4e76-99d4-d3a17b0c3358",
      "name": "Execute a SQL query6",
      "credentials": {
        "postgres": {
          "id": "KHoy20BFgrBIpHYR",
          "name": "[PROD] Moodle"
        }
      }
    },
    {
      "parameters": {
        "content": "## Matches expirados ou interrompidos já",
        "height": 80,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -128
      ],
      "typeVersion": 1,
      "id": "b274003a-0a0a-47c7-8e3e-20122819855f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\nv.id,\nv.moodle_id,v.email,\nv.condition,\nv.created_at \nfrom volunteers v \ninner JOIN volunteer_status_history vsh on (vsh.volunteer_id = v.id and vsh.status = 'aprovada')\nwhere vsh.created_at >= '2026-06-12'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        272,
        1920
      ],
      "id": "04c847f2-aa9e-4cee-b6b0-cb117cf920de",
      "name": "Voluntárias aprovadas a partir do dia 12/06",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id AS user_id, u.firstname, u.lastname, u.email\nFROM mdl_user u\nJOIN mdl_user_enrolments ue ON ue.userid = u.id\nJOIN mdl_enrol e ON e.id = ue.enrolid AND e.courseid = 2\nJOIN mdl_context ctx ON ctx.instanceid = e.courseid --AND ctx.contextlevel = 50\nJOIN mdl_role_assignments ra ON ra.userid = u.id AND ra.contextid = ctx.id AND ra.roleid = 5 -- student\nLEFT JOIN mdl_logstore_standard_log l\n  ON l.userid = u.id\n  AND l.component = 'mod_customcert'\n  AND l.action = 'viewed'\n  AND l.objectid = (\n    SELECT cm.id\n    FROM mdl_course_modules cm\n    JOIN mdl_modules m ON m.id = cm.module AND m.name = 'customcert'\n    WHERE cm.course = 2 and m.visible = 1\n    LIMIT 1\n  )\nWHERE ue.status = 0\n  AND e.status = 0\n  AND l.id IS NULL\n  AND u.id = {{ $json.moodle_id }}\nORDER BY u.lastname, u.firstname;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        1920
      ],
      "id": "dab90c6b-837f-49f3-a7ee-8c8007cc4e2f",
      "name": "Voluntárias que não acessaram o certificado no moodle",
      "credentials": {
        "postgres": {
          "id": "KHoy20BFgrBIpHYR",
          "name": "[PROD] Moodle"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT distinct\n  v.id,\n  v.email,\n  v.phone,\n  v.city,\n  v.state,\n  CONCAT(v.first_name,  ' ' ,  v.last_name) as name,\n  CONCAT(v.first_name,  ' ' ,  v.last_name) as name,\n  v.moodle_id,\n  v.zendesk_user_id, v.condition, \n  CASE\n    WHEN v.occupation = 'lawyer' THEN CONCAT( '[Advogada] ', v.first_name, ' - ', v.register_number)\n    ELSE CONCAT( '[Psicóloga] ', v.first_name, ' - ', v.register_number )\n  END as subject\n  from volunteers v\n  where email = 'dev.adv.mapa@gmail.com' limit 1",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        1600
      ],
      "id": "c00354f1-3386-4643-b6c2-cc19108f83d5",
      "name": "Status aprovada",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT distinct\n  v.id,\n  v.email,\n  v.moodle_id,\n  v.zendesk_user_id, v.condition\n  , m.volunteer_zendesk_ticket_id ticket_match\n   , m.msr_zendesk_ticket_id ticket_pedido_acolhimento\n  from volunteers v\n  inner join match.matches m on m.volunteer_id = v.id and m.status = 'waiting_contact'\n  where moodle_id = {{ $json.user_id }} order by v.id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1712,
        256
      ],
      "id": "f09d7193-ca15-4d63-8bb8-d3477a7d5742",
      "name": "Com um match aguardando contato",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT distinct\n  v.id,\n  v.email,\n  v.moodle_id,\n  v.zendesk_user_id, v.condition\n    , m.volunteer_zendesk_ticket_id ticket_match\n   , m.msr_zendesk_ticket_id ticket_pedido_acolhimento\n  from volunteers v\n  inner join match.matches m on m.volunteer_id = v.id and m.status  ='in_contact'\n  where moodle_id = {{ $json.user_id }} order by v.id",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1888,
        256
      ],
      "id": "cfd421ec-12e3-4dd2-8e0c-91bbf3406fb6",
      "name": "Com match em contato",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT distinct\n  v.id,\n  v.email,\n  v.moodle_id,\n  v.zendesk_user_id, \n  v.condition, \n  CASE\n    WHEN v.occupation = 'lawyer' THEN 'advogada'\n    ELSE 'psicóloga'\n  END as volunteer_type,\n  m.volunteer_zendesk_ticket_id ticket_match, \n  m.msr_zendesk_ticket_id ticket_pedido_acolhimento, \n  v.first_name        AS volunteer_first_name,\n  p.first_name        AS msr_first_name, \n  p.email             AS msr_email, \n  m.match_id \n  from match.matches m\n  inner join  volunteers v on m.volunteer_id = v.id \n  INNER JOIN pii_sec.msr_pii p  ON p.msr_id = m.msr_id\n  left join match.matches m2 on m2.volunteer_id =   m.volunteer_id and m2.status = 'in_contact'\n  where v.moodle_id = {{ $json.user_id }}\n  and m.status = 'waiting_contact' and m2.match_id is null",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        880
      ],
      "id": "788daba0-9c43-4a1f-8226-20cbabc84b9f",
      "name": "Com um match",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id AS user_id, u.firstname, u.lastname, u.email\nFROM mdl_user u\nJOIN mdl_user_enrolments ue ON ue.userid = u.id\nJOIN mdl_enrol e ON e.id = ue.enrolid AND e.courseid = 2\nJOIN mdl_context ctx ON ctx.instanceid = e.courseid AND ctx.contextlevel = 50\nJOIN mdl_role_assignments ra ON ra.userid = u.id AND ra.contextid = ctx.id AND ra.roleid = 5\nLEFT JOIN mdl_logstore_standard_log l\n  ON l.userid = u.id\n  AND l.component = 'mod_page'\n  AND l.action = 'viewed'\n  AND l.contextinstanceid = 382\nWHERE ue.status = 0\n  AND e.status = 0\n  AND l.id IS NULL\n  AND u.id = {{ $json.moodle_id }}\nORDER BY u.lastname, u.firstname;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1504,
        416
      ],
      "id": "a4daf457-ad99-4861-a929-0108edb6079d",
      "name": "Voluntárias que não acessaram o certificado no moodle1",
      "credentials": {
        "postgres": {
          "id": "KHoy20BFgrBIpHYR",
          "name": "[PROD] Moodle"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  cs.section,\n  cm.id AS cmid,\n  m.name AS module_type,\n  COALESCE(p.name, r.name, b.name, u.name, ass.name, q.name, f.name, fo.name, l.name, h.name, 'sem nome') AS module_name,\n  cm.visible\nFROM mdl_course_modules cm\nJOIN mdl_modules m ON m.id = cm.module\nJOIN mdl_course_sections cs ON cs.id = cm.section\nLEFT JOIN mdl_page p ON m.name = 'page' AND p.id = cm.instance\nLEFT JOIN mdl_resource r ON m.name = 'resource' AND r.id = cm.instance\nLEFT JOIN mdl_book b ON m.name = 'book' AND b.id = cm.instance\nLEFT JOIN mdl_url u ON m.name = 'url' AND u.id = cm.instance\nLEFT JOIN mdl_assign ass ON m.name = 'assign' AND ass.id = cm.instance\nLEFT JOIN mdl_quiz q ON m.name = 'quiz' AND q.id = cm.instance\nLEFT JOIN mdl_folder f ON m.name = 'folder' AND f.id = cm.instance  \nLEFT JOIN mdl_forum fo ON m.name = 'forum' AND fo.id = cm.instance\nLEFT JOIN mdl_lesson l ON m.name = 'lesson' AND l.id = cm.instance\nLEFT JOIN mdl_h5pactivity h ON m.name = 'h5pactivity' AND h.id = cm.instance\nWHERE cm.course = 2\n  AND cm.deletioninprogress = 0 AND cm.visible = 1\nORDER BY cs.section, cm.id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1728,
        416
      ],
      "id": "fd9a5b91-6c7b-4c5f-a6ce-3acb81e46c63",
      "name": "Voluntárias que não acessaram o certificado no moodle2",
      "credentials": {
        "postgres": {
          "id": "KHoy20BFgrBIpHYR",
          "name": "[PROD] Moodle"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE volunteers\nSET condition = 'capacitacao', updated_at = NOW()\nWHERE id = {{ $json.id }};\n\nINSERT INTO public.volunteer_status_history\n( created_at, volunteer_id, status)\nVALUES( CURRENT_TIMESTAMP,{{ $json.id }} , 'capacitacao');\n\nDELETE FROM volunteer_training_history where volunteer_id = {{$json.id}} AND event = 'finished_training';\n\nUPDATE volunteer_availability\nSET current_matches = 0,is_available = FALSE, updated_at = NOW()\nWHERE volunteer_id = {{ $json.id }};\n\nSELECT first_name, email from public.volunteers\nWHERE id = {{ $json[\"id\"] }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        1392
      ],
      "id": "a733bb69-bc2c-44d9-9848-bc5fc9f93cc4",
      "name": "Reverte voluntária para capacitacao no banco",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://mapadoacolhimento.zendesk.com/api/v2/users/{{$json[\"id\"]}}/tickets/requested",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "0fa93509-026d-49d9-aeeb-0cdcc4b00dd2",
      "name": "Busca os tickets da voluntária no Zendesk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1936,
        656
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mapadoacolhimento.zendesk.com/api/v2/tickets/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticket\": {\n\t\t\"requester_id\":{{$json[\"id\"]}},\n\t\t\"organization_id\": {{$json[\"organization_id\"]}},\n\t\t\"description\": \"Ticket recriado\",\n\t\t\"subject\": \"{{ $node[\"Loop Over Items2\"].json[\"subject\"] }}\",\n\t\t\"comment\": {\n\t\t\t\"body\": \"Voluntaria voltou para status de capacitacao bug de aprovação)\",\n\t\t\t\"public\": false\n\t\t},\n\t\t\"status\": \"pending\",\n\t\t\"custom_fields\": [\n\t\t\t{\n\t\t\t\t\"id\": 360021879811, \n\t\t\t\t\"value\": \"{{ $node[\"Loop Over Items2\"].json[\"city\"] }}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\": 360021812712, \n\t\t\t\t\"value\": \"{{ $node[\"Loop Over Items2\"].json[\"phone\"] }}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\": 360016631592, \n\t\t\t\t\"value\": \"{{ $node[\"Loop Over Items2\"].json[\"name\"] }}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\": 360021665652, \n\t\t\t\t\"value\": \"capacitacao\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\": 360021879791,\n\t\t\t\t\"value\": \"{{ $node[\"Loop Over Items2\"].json[\"state\"] }}\"\n\t\t\t}\n\t\t]\n\t}\n}",
        "options": {}
      },
      "id": "78f0cb05-6ae2-4806-9f94-be9970c00fca",
      "name": "Cria o ticket de entrada da voluntária pela API do Zendesk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1584,
        1088
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "update",
        "id": "={{ $json.zendesk_user_id }}",
        "updateFields": {
          "userFieldsUi": {
            "userFieldValues": [
              {
                "field": "condition",
                "value": "capacitacao"
              }
            ]
          }
        }
      },
      "id": "0863a861-c9d0-42ba-8725-a58a5c5334c0",
      "name": "Atualiza status da voluntária no Zendesk",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1360,
        1088
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT distinct\n  v.id,\n  v.email,\n  v.moodle_id,\n  v.zendesk_user_id, v.condition\n  , m.volunteer_zendesk_ticket_id ticket_match\n   , m.msr_zendesk_ticket_id ticket_pedido_acolhimento, \n   v.first_name        AS volunteer_first_name,\n    p.first_name        AS msr_first_name\n  from match.matches m\n  inner join  volunteers v on m.volunteer_id = v.id \n  INNER JOIN pii_sec.msr_pii p  ON p.msr_id = m.msr_id\n  where m.volunteer_id = {{ $json.id }} \n  and m.status = 'waiting_contact'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1568,
        704
      ],
      "id": "5860b898-0fd7-4b52-b5bb-4ec6ad0ce28f",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://mapadoacolhimento.zendesk.com/api/v2/tickets/{{ $node[\"Matches encaminhamento realizado\"].json.ticket_match }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticket\": {\n\t\t\"comment\": {\n\t\t\t\"body\": \"Voluntaria voltou para status de capacitacao (bug de aprovação)\",\n\t\t\t\"public\": \"false\"\n\t\t},\n\t\t\"custom_fields\": [\n\t\t\t{\n\t\t\t\t\"id\": 360014379412, \n\t\t\t\t\"value\": \"encaminhamento_interrompido\"\n\t\t\t}\n\t\t]\n\t}\n}",
        "options": {}
      },
      "id": "77bb0cb5-e95f-4f3c-ae6a-f48b0f6b7da5",
      "name": "Atualiza o status do acolhimento do ticket do match pela API do Zendesk1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1808,
        880
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT distinct\n  v.id,\n  v.email,\n  v.moodle_id,\n  v.zendesk_user_id, \n  v.condition, \n  CASE\n    WHEN v.occupation = 'lawyer' THEN 'advogada'\n    ELSE 'psicóloga'\n  END as volunteer_type,\n  m.volunteer_zendesk_ticket_id ticket_match, \n  m.msr_zendesk_ticket_id ticket_pedido_acolhimento, \n  v.first_name        AS volunteer_first_name,\n  p.first_name        AS msr_first_name, \n  p.email             AS msr_email, \n  m.match_id \n  from match.matches m\n  inner join  volunteers v on m.volunteer_id = v.id \n  INNER JOIN pii_sec.msr_pii p  ON p.msr_id = m.msr_id\n  left join match.matches m2 on m2.volunteer_id =   m.volunteer_id and m2.status = 'in_contact'\n  where m.volunteer_id = {{ $json.id }}\n  and m.status = 'waiting_contact' and m2.match_id is null\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        880
      ],
      "id": "45aed9f2-fbb1-40ed-8c45-fb4af8408961",
      "name": "Matches encaminhamento realizado",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT distinct\n  v.id,\n  v.email,\n  v.moodle_id,\n  v.zendesk_user_id, \n  v.condition, \n  m.volunteer_zendesk_ticket_id ticket_match, \n  m.msr_zendesk_ticket_id ticket_pedido_acolhimento, \n  v.first_name        AS volunteer_first_name,\n  p.first_name        AS msr_first_name, \n  m.match_id\n  from match.matches m\n  inner join  volunteers v on m.volunteer_id = v.id \n  INNER JOIN pii_sec.msr_pii p  ON p.msr_id = m.msr_id\n  where m.volunteer_id = {{ $json.id }} \n  and m.status = 'in_contact'\nlimit 1\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1232,
        1936
      ],
      "id": "f2633dd4-4948-4b5e-a918-2ac54c814d2e",
      "name": "Matches atendimento iniciado",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.ticket_match }}",
        "updateFields": {
          "publicReply": "=Oi  {{$json.volunteer_first_name}}! Tudo bem por aí?\n\nEntramos em contato para informar que identificamos uma falha temporária em nossa plataforma. Por esse motivo, o seu cadastro foi ativado antes da conclusão da capacitação.\n\nRecentemente, o curso de capacitação passou por uma atualização, e as regras para identificar sua conclusão também foram ajustadas. No entanto, após o dia 12/06, o sistema deixou de reconhecer corretamente algumas etapas obrigatórias do curso.\n\nCom isso, algumas voluntárias que ainda estavam realizando a capacitação foram consideradas, de forma equivocada, como tendo concluído o curso, o que resultou na ativação de seus cadastros.\n\nAntes de qualquer coisa, estamos cuidando dessa situação e asseguramos a sua jornada como voluntária da nossa rede.\n\nPara garantir maior segurança e continuidade no cuidado às mulheres acolhidas, recomendamos que você conclua a capacitação pela plataforma online https://capacitacao.mapadoacolhimento.org/ até 20 de julho de 2026.\n\nComo você já iniciou o atendimento a acolhida, caso necessite de suporte técnico, por gentileza,  responda este e-mail para acompanharmos o caso de forma individualizada e apoiarmos vocês no que for necessário.\n\nAlém disso, caso necessário, recomendamos alguns documentos de embarque no atendimento:\n\nGuia do Acolhimento — Orientações gerais sobre como conduzir o atendimento. (https://bit.ly/4x0ANIT)\n\nGuia Prático do Voluntariado — Versão resumida da capacitação para o dia-a-dia das voluntárias. (https://bit.ly/46adaTH)\n\nGuia Como me Proteger — Orientações rápidas de proteção para mulheres em situação de violência doméstica. (https://bit.ly/4wAKJs8)\n\nAssim que concluir a capacitação, você estará plenamente habilitada para atender mulheres acolhidas pelo Mapa do Acolhimento. Estamos felizes em contar com você! 💜\n\nAgradecemos a sua compreensão e seguimos aqui.\n\nUm abraço,\nJussara do Mapa do Acolhimento\n"
        }
      },
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1504,
        1936
      ],
      "id": "97247f67-8a64-476f-a127-766d825c9769",
      "name": "Mensagem Voluntária no ticket do match1",
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://mapadoacolhimento.zendesk.com/api/v2/tickets/{{ $node[\"Matches encaminhamento realizado\"].json.ticket_pedido_acolhimento }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticket\": {\n\t\t\"comment\": {\n\t\t\t\"body\": \"Voluntaria voltou para status de capacitacao (bug de aprovação)\",\n\t\t\t\"public\": \"false\"\n\t\t},\n\t\t\"custom_fields\": [\n\t\t\t{\n\t\t\t\t\"id\": 360014379412, \n\t\t\t\t\"value\": \"aguardando_match__sem_prioridade\"\n\t\t\t}\n\t\t]\n\t}\n}",
        "options": {}
      },
      "id": "04f2e743-0405-4b74-a9d5-47bcf5e116af",
      "name": "Atualiza o status do acolhimento do ticket do match pela API do Zendesk2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2048,
        880
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $node[\"Matches encaminhamento realizado\"].json.ticket_pedido_acolhimento }}",
        "updateFields": {
          "internalNote": "=MSR recebeu a <a href=\"https://app.loops.so/transactional/clvjzaan500moauwib4clwqah\">Comunicação de Encaminhamento Interrompido + Fila do Match Diário</a>"
        }
      },
      "id": "5b390cde-0910-4127-9f8b-7fc049efe057",
      "name": "ticket MSR - comunicação1",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        2512,
        880
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\nv.id,\nv.moodle_id,v.email,\nv.condition,\nv.created_at \nfrom volunteers v \ninner JOIN volunteer_status_history vsh on (vsh.volunteer_id = v.id and vsh.status = 'aprovada')\nwhere vsh.created_at >= '2026-06-12'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        -16
      ],
      "id": "a6d55806-b180-4073-a3a1-814e79a6ec5d",
      "name": "Voluntárias aprovadas a partir do dia 12/",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id AS user_id, u.firstname, u.lastname, u.email\nFROM mdl_user u\nJOIN mdl_user_enrolments ue ON ue.userid = u.id\nJOIN mdl_enrol e ON e.id = ue.enrolid AND e.courseid = 2\nJOIN mdl_context ctx ON ctx.instanceid = e.courseid --AND ctx.contextlevel = 50\nJOIN mdl_role_assignments ra ON ra.userid = u.id AND ra.contextid = ctx.id AND ra.roleid = 5 -- student\nLEFT JOIN mdl_logstore_standard_log l\n  ON l.userid = u.id\n  AND l.component = 'mod_customcert'\n  AND l.action = 'viewed'\n  AND l.objectid = (\n    SELECT cm.id\n    FROM mdl_course_modules cm\n    JOIN mdl_modules m ON m.id = cm.module AND m.name = 'customcert'\n    WHERE cm.course = 2\n    LIMIT 1\n  )\nWHERE ue.status = 0\n  AND e.status = 0\n  AND l.id IS NULL\n  AND u.id = {{ $json.moodle_id }}\nORDER BY u.lastname, u.firstname;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        -16
      ],
      "id": "bbca9106-e192-4606-8c3a-655a1511f0d6",
      "name": "Voluntárias que não acessaram o certificado no moodle3",
      "credentials": {
        "postgres": {
          "id": "KHoy20BFgrBIpHYR",
          "name": "[PROD] Moodle"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT distinct\n  v.id,\n  v.email,\n  v.phone,\n  v.city,\n  v.state,\n  v.first_name,\n  CONCAT(v.first_name,  ' ' ,  v.last_name) as name,\n  v.moodle_id,\n  v.zendesk_user_id, v.condition, \n  CASE\n    WHEN v.occupation = 'lawyer' THEN CONCAT( '[Advogada] ', v.first_name, ' - ', v.register_number)\n    ELSE CONCAT( '[Psicóloga] ', v.first_name, ' - ', v.register_number )\n  END as subject,m2.volunteer_zendesk_ticket_id ticket_match\n  from volunteers v\n  left  join match.matches m1 on m1.volunteer_id = v.id and m1.status in('waiting_contact', 'in_contact')\ninner join match.matches m2 on m2.volunteer_id = v.id and m2.status not in ('waiting_contact', 'in_contact')\n  where moodle_id = {{ $json.user_id }} and v.condition <> 'descadastrada'\n and m1.match_id is null limit 1\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        -16
      ],
      "id": "500db4c3-f9d2-4887-ad08-555dab51b2e9",
      "name": "Com um match expirados ou interrompidos",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mapadoacolhimento.zendesk.com/api/v2/tickets/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zendeskApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ticket\": {\n\t\t\"requester_id\":{{$json[\"id\"]}},\n\t\t\"organization_id\": {{$json[\"organization_id\"]}},\n\t\t\"description\": \"Ticket recriado\",\n\t\t\"subject\": \"{{ $node[\"Loop Over Items1\"].json[\"subject\"] }}\",\n\t\t\"comment\": {\n\t\t\t\"body\": \"Voluntaria voltou para status de capacitacao (bug de aprovação)\",\n\t\t\t\"public\": false\n\t\t},\n\t\t\"status\": \"pending\",\n\t\t\"custom_fields\": [\n\t\t\t{\n\t\t\t\t\"id\": 360021879811, \n\t\t\t\t\"value\": \"{{ $node[\"Loop Over Items1\"].json[\"city\"] }}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\": 360021812712, \n\t\t\t\t\"value\": \"{{ $node[\"Loop Over Items1\"].json[\"phone\"] }}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\": 360016631592, \n\t\t\t\t\"value\": \"{{ $node[\"Loop Over Items1\"].json[\"name\"] }}\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\": 360021665652, \n\t\t\t\t\"value\": \"capacitacao\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"id\": 360021879791,\n\t\t\t\t\"value\": \"{{ $node[\"Loop Over Items1\"].json[\"state\"] }}\"\n\t\t\t}\n\t\t]\n\t}\n}",
        "options": {}
      },
      "id": "6c0c1354-78d0-48da-90f6-76d3f506d021",
      "name": "Cria o ticket de entrada da voluntária pela API do Zendesk1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1440,
        128
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "update",
        "id": "={{ $json.zendesk_user_id }}",
        "updateFields": {
          "userFieldsUi": {
            "userFieldValues": [
              {
                "field": "condition",
                "value": "capacitacao"
              }
            ]
          }
        }
      },
      "id": "ef859bcf-6ffb-423f-aa69-bad460ed20d9",
      "name": "Atualiza status da voluntária no Zendesk1",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1216,
        128
      ],
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Matches encaminhados  realizado",
        "height": 80,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        752
      ],
      "typeVersion": 1,
      "id": "c074e43d-9d36-48cb-aeda-7a62cff2de8d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE volunteers\nSET condition = 'capacitacao', updated_at = NOW()\nWHERE id = {{ $json.id }};\n\nINSERT INTO public.volunteer_status_history\n( created_at, volunteer_id, status)\nVALUES( CURRENT_TIMESTAMP,{{ $json.id }} , 'capacitacao');\n\nDELETE FROM volunteer_training_history where volunteer_id = {{$json.id}} AND event = 'finished_training';\n\nUPDATE volunteer_availability\nSET current_matches = 0,is_available = FALSE, updated_at = NOW()\nWHERE volunteer_id = {{ $json.id }};\n\nSELECT first_name, email from public.volunteers\nWHERE id = {{ $json[\"id\"] }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        384
      ],
      "id": "300f84d9-642e-47b5-896f-f859e45d9b5a",
      "name": "Reverte voluntária para capacitacao no banco1",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        -16
      ],
      "id": "bed8e2f4-9109-4fc3-8861-2bd5a4f64c34",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1104,
        880
      ],
      "id": "65049dfe-0586-4f5b-b6e9-1a98bc83ad73",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"email\": \"{{ $node[\"Matches encaminhamento realizado\"].json.msr_email }}\",\n \"transactionalId\": \"clvjzaan500moauwib4clwqah\",\n \"dataVariables\": {\n    \"msr_first_name\": \"{{ $node[\"Matches encaminhamento realizado\"].json.msr_first_name }}\",\n    \"volunteer_first_name\": \"{{ $node[\"Matches encaminhamento realizado\"].json.volunteer_first_name }}\",\n    \"volunteer_type\": \"{{ $node[\"Matches encaminhamento realizado\"].json.volunteer_type }}\"\n  }\n}",
        "options": {}
      },
      "id": "089076d8-4845-4b5c-82c8-2846a8c5fbca",
      "name": "email MSR -  sem prioridade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2304,
        880
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $node[\"Matches atendimento iniciado\"].json.ticket_pedido_acolhimento }}",
        "updateFields": {
          "internalNote": "=Voluntária {{ $node[\"Matches atendimento iniciado\"].json.volunteer_first_name }} precisa finalizar a capacitação (bug de aprovação) até dia 20/07"
        }
      },
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1728,
        1936
      ],
      "id": "a2260e89-0791-47e8-9905-d8948d340ee9",
      "name": "Comentário no ticket do pedido de acolhimento1",
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Matches atendimentos inciciados",
        "height": 80,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        1760
      ],
      "typeVersion": 1,
      "id": "082ec251-4eef-4382-86fe-bba7936e93bc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.ticket_match }}",
        "updateFields": {
          "publicReply": "=Oi  {{$json.first_name}}! Tudo bem por aí?\n\nEntramos em contato para informar que identificamos uma falha temporária em nossa plataforma. Por esse motivo, o seu cadastro foi ativado antes da conclusão da capacitação.\n\nRecentemente, o curso de capacitação passou por uma atualização, e as regras para identificar sua conclusão também foram ajustadas. No entanto, após o dia 12/06, o sistema deixou de reconhecer corretamente algumas etapas obrigatórias do curso.\n\nCom isso, algumas voluntárias que ainda estavam realizando a capacitação foram consideradas, de forma equivocada, como tendo concluído o curso, o que resultou na ativação de seus cadastros.\n\nAntes de qualquer coisa, estamos cuidando dessa situação e asseguramos a sua jornada como voluntária da nossa rede.\n\nAgora, recomendamos que você retome a capacitação pela plataforma online https://capacitacao.mapadoacolhimento.org/ antes de realizar os atendimentos. Assim que concluir a capacitação, você estará habilitada para atender mulheres acolhidas pelo Mapa do Acolhimento. \n\nComo no momento do match o seu contato foi enviado para a acolhida, caso ela entre em contato com você, por gentileza,  responda este e-mail para acompanharmos o caso de forma individualizada e encaminharemos ela a outra profissional da nossa rede.\n\nAgradecemos a sua compreensão e seguimos aqui. \n\nUm abraço,\nJussara do Mapa do Acolhimento"
        }
      },
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1360,
        -80
      ],
      "id": "e4e7240b-334f-4176-8e56-6cb5472df0a6",
      "name": "Mensagem Voluntária no ticket do match INT/EXP",
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.ticket_match }}",
        "updateFields": {
          "publicReply": "=Oi {{$json.volunteer_first_name}}! Tudo bem por aí?\n\nEntramos em contato para informar que identificamos uma falha temporária em nossa plataforma. Por esse motivo, o seu cadastro foi ativado antes da conclusão da capacitação.\n\nRecentemente, o curso de capacitação passou por uma atualização, e as regras para identificar sua conclusão também foram ajustadas. No entanto, após o dia 12/06, o sistema deixou de reconhecer corretamente algumas etapas obrigatórias do curso.\n\nCom isso, algumas voluntárias que ainda estavam realizando a capacitação foram consideradas, de forma equivocada, como tendo concluído o curso, o que resultou na ativação de seus cadastros.\n\nAntes de qualquer coisa, estamos cuidando dessa situação e asseguramos a sua jornada como voluntária da nossa rede.\n\nAgora, recomendamos que você retome a capacitação pela plataforma online https://capacitacao.mapadoacolhimento.org/ antes de realizar os atendimentos. Assim que concluir a capacitação, você estará habilitada para atender mulheres acolhidas pelo Mapa do Acolhimento. \n\nComo no momento do match o seu contato foi enviado para a acolhida, caso ela entre em contato com você, por gentileza,  responda este e-mail para acompanharmos o caso de forma individualizada e encaminharemos ela a outra profissional da nossa rede.\n\nAgradecemos a sua compreensão e seguimos aqui. 💜\n\nUm abraço,\nJussara do Mapa do Acolhimento\n"
        }
      },
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        1568,
        880
      ],
      "id": "fc6b9585-112e-4cee-993a-ffe8e5b21916",
      "name": "Mensagem Voluntária no ticket do match ENCINI",
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT distinct\n  v.id,\n  v.email,\n  v.moodle_id,\n  v.zendesk_user_id, \n  v.condition, \n  m.volunteer_zendesk_ticket_id ticket_match, \n  m.msr_zendesk_ticket_id ticket_pedido_acolhimento, \n  v.first_name        AS volunteer_first_name,\n  p.first_name        AS msr_first_name, \n  m.match_id\n  from match.matches m\n  inner join  volunteers v on m.volunteer_id = v.id \n  INNER JOIN pii_sec.msr_pii p  ON p.msr_id = m.msr_id\n  where v.moodle_id = {{ $json.user_id }} \n  and m.status = 'in_contact'\nlimit 1\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        1920
      ],
      "id": "7f471ab7-f4ef-43a7-b075-1fa11e1fdfb6",
      "name": "Matches atendimento iniciado1",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM volunteer_training_history where volunteer_id = {{$json.id}} AND event = 'finished_training';\n\nSELECT first_name, email from public.volunteers\nWHERE id = {{ $json[\"id\"] }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1312,
        2128
      ],
      "id": "3022038d-73db-45f2-a916-e6118ccdb13b",
      "name": "Remove finalização da capacitação",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-07-07T19:22:37.430Z",
      "createdAt": "2026-07-07T19:22:37.430Z",
      "role": "workflow:owner",
      "workflowId": "YcbZH3o0nc3DP88R",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "createdAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "createdAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "updatedAt": "2026-07-22T23:13:37.000Z",
              "createdAt": "2024-01-09T22:21:28.810Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1783345971287
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-07-22",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-13T21:28:57.467Z",
  "versionCounter": 45,
  "versionId": "a6534e9e-6d09-43a4-9219-631934e3a458"
}