Envio_dos_convites_do_intensivao
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-06-09T19:40:19.239Z",
    "createdAt": "2026-06-09T19:40:19.239Z",
    "versionId": "065484b5-a2c2-42ae-acba-3e19d7d6192e",
    "workflowId": "3GNKlbgv2XRGdIgN",
    "nodes": [
      {
        "parameters": {
          "batchSize": 2,
          "options": {}
        },
        "id": "073a8ff2-1df8-4685-abc4-3a5c8c36418d",
        "name": "loop whatsapp",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -880,
          -208
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "select id as volunteer_id, condition from public.volunteers where condition in ('cadastrada','capacitacao')",
          "options": {}
        },
        "id": "64195215-0468-45d3-a371-95dfa4e9f7d0",
        "name": "Busca voluntárias que não finalizaram a capacitação",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -1152,
          -480
        ],
        "credentials": {
          "postgres": {
            "id": "c5mNsjWNXx3mw1Fh",
            "name": "[PROD] Mapa"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "58 07 10 06 *"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -1376,
          -480
        ],
        "id": "b4b0447b-086d-4016-bce5-6693a3e8fbd9",
        "name": "Schedule Trigger segment"
      },
      {
        "parameters": {
          "content": "## Convite 10/06",
          "height": 80,
          "width": 400
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1392,
          -608
        ],
        "typeVersion": 1,
        "id": "34271a53-796f-4d2f-9ff9-bd5ed61f7e26",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "79596a56-3c8b-4e63-8c6c-50c5f0dd964f",
        "name": "Loop Over Items10",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -880,
          688
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}' and email in ('psicologaraniellymonteiro@gmail.com', 'alinedrpsi@gmail.com', 'themyspordeus@gmail.com', 'laramguilherme@gmail.com', 'advcarinesilveira@gmail.com', 'carolpinho23@gmail.com', 'marianasantos.adv@outlook.com.br', 'm.macedo.santos.adv@hotmail.com', 'crissfonteslr@gmail.com', 'psicristianesoliveira@gmail.com', 'graziela.vianapm@gmail.com', 'viviannesa@yahoo.com.br', 'madacardoso49@gmail.com', 'maria.rodrigues2@yahoo.com.br', 'camilammgrasso@gmail.com', 'alcioneslf@hotmail.com', 'isabelaalmeida.jus@gmail.com', 'nataliasbarros5@gmail.com', 'yashenrique@hotmail.com', 'maimfaria@gmail.com', 'psi.brendasantana@gmail.com', 'adv.vanusamendes@gmail.com', 'direito.camila.almeida@gmail.com', 'psipatriciaraujo@gmail.com', 'dra_marcilene@marcy.adv.br', 'solange.oliveiras@yahoo.com.br', 'advflaviacristina.souza@gmail.com', 'leticiasias1@gmail.com', 'roberta.aky@gmail.com', 'lidianesaliba.psico@gmail.com', 'sylmarafraga2012@gmail.com', 'rhayladias@gmail.com', 'cristiellen@gmail.com', 'suelisantosjk@gmail.com', 'francielyribeiro32@gmail.com', 'beatrizalmprado.jgb@gmail.com', 'elietesobralpsicologa@gmail.com', 'carla.andrea3877@gmail.com', 'patricianunes.juridica@gmail.com', 'i.faria@hotmail.com', 'daniellebrasil.advpr@gmail.com', 'veronicabarros1993@gmail.com', 'ivanabastos.st@gmail.com', 'robertaboaretto@gmail.com', 'giliannems@gmail.com', 'annaluckcduarte@gmail.com', 'daniellalaso@gmail.com', 'app.rodrigues01@gmail.com', 'adrianarjcury@gmail.com', 'moreirabruna.adv@gmail.com', 'clara@just.trd.br', 'leilacarvalho.g3w@gmail.com', 'karen.r.a.carmo@hotmail.com', 'mss495@gmail.com', 'rejanefreitaspsicologa@gmail.com', 'advfernandabatistapereira@gmail.com', 'laisaraujono@gmail.com', 'lucieneav2017@gmail.com', 'juliaalqueiroz6@gmail.com', 'cfpedroza@hotmail.com', 'reisjulia2002@gmail.com', 'juliana.fcosta@yahoo.com.br', 'waldycleusawall@gmail.com', 'claudiafariadasilva@hotmail.com', 'marla.karenina@hotmail.com', 'anaradc@hotmail.com', 'anacarolinevianamartins@gmail.com', 'maya_2001_us@yahoo.com', 'jacquesouz@gmail.com', 'daiararodrigues20@gmail.com', 'sandraoliveira682025@hotmail.com', 'ednajesuscsiova@gmail.com', 'mdldamaceno@gmail.com', 'karinacordeiro.adv@yahoo.com', 'carla.mpp@icloud.com', 'luizapittalima01@gmail.com', 'vanessa.belchior001@gmail.com', 'edilafar3@gmail.com', 'menegonipsico@outlook.com', 'nat.kuka@gmail.com', 'nataliecatarina@outlook.com', 'beatriz.langa95@gmail.com', 'leidesantana062@gmail.com', 'psicologajessicamilet@gmail.com', 'amanda.silva.moura96@gmail.com', 'marlaalmeidac.adv@gmail.com', '32ellensalvador@gmail.com', 'gioconda.rosales@outlook.com', 'nathaliafernandespsi@gmail.com', 'lucianarodolfogeraldo01@gmail.com', 'anapevan@gmail.com', 'psicologacarolmeireles@hotmail.com', 'karina_sanguanini@hotmail.com', 'nicolly.simioni84@gmail.com', 'edilafar3@gmail.com', 'lilianmendesadvogada@gmail.com', 'colombojanaina@gmail.com', 'amanda.dantas@live.com', 'gjunca1209@gmail.com', 'lucianarodolfogeraldo01@gmail.com', 'ingriddfx@gmail.com', 'mariajociane05@gmail.com', 'jordanaadv.juridico@gmail.comj', 'fernanda.bernardoni@gmail.com', 'advanapaulaperez@gmail.com', 'kenucy@yahoo.com.br', 'roberta_flavia@yahoo.com.br', 'psicologadaynacristines@gmail.com', 'adv.ericavictor@gmail.com', 'alcioneslf@hotmail.com', 'paulagalante10@gmail.com', 'patabraobernardes@gmail.com', 'isabellamonteirovs@gmail.com', 'joana.canano@gmail.com', 'mazziale1996@gmail.com', 'amigarj92@hotmail.com', 'r.caprete@hotmail.com', 'psicabriela@gmail.com', 'kikabarbara@gmail.com', 'mariafmfsr040@gmail.com', 'eduardabiletzki@gmail.com', 'aquinojessica963@gmail.com', 'ednajesuscsiova@gmail.com', 'karia.lves@hotmail.com', 'amandabiao036@gmail.com', 'luanasilva.psi09@gmail.com', 'jenniferribeiroadv@gmail.com', 'monikiecouto@gmail.com', 'carleneadv2017@gmail.com', 'kme.migui@gmail.com', 'mss495@gmail.com', 'anamel.castro@gmail.com', 'daniele.levy.motta@gmail.com', 'juliatripodibenato@gmail.com', 'amanda.o.ponciano@gmail.com', 'laviniafec@gmail.com', 'beatrizevsilva@gmail.com', 'lucianadias26@gmail.com', 'rafavelani@gmail.com', 'luisaburgosx@gmail.com', 'catiapereirasantos3@yahoo.com', 'candidocamila2024@gmail.com', 'brunapelegrinimonteiro@yahoo.com.br', 'candicecsx@gmail.com', 'laurasvazevedo@gmail.com', 'psicologia.larissarubini@gmail.com', 'helenaluae@gmail.com', 'camila733martins@gmail.com', 'milenaborges.adv@gmail.com', 'marinho_marilene@hotmail.com', 'janainasaldanha@gmail.com', 'psi.ortenciaoliveira@gmail.com', 'erimoraispsi@gmail.com', 'hannamayane.adv@gmail.com', 'luciana.bandeira.fraga@gmail.com', 'analuisaanjosc@gmail.com', 'janarocha14@hotmail.com', 'vieira.livia@gmail.com', 'adrianarribeiro@hotmail.com', 'sbrnbenevides@gmail.com', 'camila.luna16@hotmail.com', 'psicologafatimapires@gmail.com', 'lucia.rios4734@gmail.com', 'gleydeadv@gmail.com', 'robertak.adv@gmail.com', 'ebondespacho@gmail.com', 'deboravirginia76@gmail.com', 'psimilenamattos@gmail.com', 'beatrizpimenta90@gmail.com', 'anacarolinaalexandre26@gmail.com', 'advkanandra@gmail.com', 'isabelarangeldasilva@gmail.com', 'adrieliflavia.psico@gmail.com', 'ana.gameleira@gameleirapelagio.com.br', 'ingridmagnoo@gmail.com', 'advmiriangarcia@gmail.com', 'emanuelleage@hotmail.com', 'danielleseraine.adv@gmail.com', 'aa.machado245@gmail.com', 'jannemariella@gmail.com', 'ddra.ana.claudia@gmail.com', 'vannessagalindods@gmail.com', 'lazarinolorena@gmail.com', 'psithelmalima@gmail.com', 'eduardabiletzki@gmail.com', 'dannynacano@gmail.com', 'psi.roberta.souzas@gmail.com', 'brunasthefany94@gmail.com', 'isis.silva@icloud.com', 'pmandrade.psi@gmail.com', 'psithelmalima@gmail.com', 'catiapereirasantos3@yahoo.com', 'magda2712costa@gmail.com', 'i.faria@hotmail.com', 'angelita.ferracini@gmail.com', 'erimoraispsi@gmail.com', 'anavgarciaadv@gmail.com', 'victoriasouza.direito@gmail.com') \n",
          "options": {}
        },
        "id": "eabe4843-ebf4-4a2c-9403-2ea139cd8e6c",
        "name": "Busca segmento de voluntarias em capacitaçao que se NÃO se inscreveram",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -1136,
          688
        ],
        "credentials": {
          "postgres": {
            "id": "c5mNsjWNXx3mw1Fh",
            "name": "[PROD] Mapa"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "5b7d41ba-50cc-4fd2-aec8-7a9661bb365b",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -880,
          352
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}' and email not in ('psicologaraniellymonteiro@gmail.com', 'alinedrpsi@gmail.com', 'themyspordeus@gmail.com', 'laramguilherme@gmail.com', 'advcarinesilveira@gmail.com', 'carolpinho23@gmail.com', 'marianasantos.adv@outlook.com.br', 'm.macedo.santos.adv@hotmail.com', 'crissfonteslr@gmail.com', 'psicristianesoliveira@gmail.com', 'graziela.vianapm@gmail.com', 'viviannesa@yahoo.com.br', 'madacardoso49@gmail.com', 'maria.rodrigues2@yahoo.com.br', 'camilammgrasso@gmail.com', 'alcioneslf@hotmail.com', 'isabelaalmeida.jus@gmail.com', 'nataliasbarros5@gmail.com', 'yashenrique@hotmail.com', 'maimfaria@gmail.com', 'psi.brendasantana@gmail.com', 'adv.vanusamendes@gmail.com', 'direito.camila.almeida@gmail.com', 'psipatriciaraujo@gmail.com', 'dra_marcilene@marcy.adv.br', 'solange.oliveiras@yahoo.com.br', 'advflaviacristina.souza@gmail.com', 'leticiasias1@gmail.com', 'roberta.aky@gmail.com', 'lidianesaliba.psico@gmail.com', 'sylmarafraga2012@gmail.com', 'rhayladias@gmail.com', 'cristiellen@gmail.com', 'suelisantosjk@gmail.com', 'francielyribeiro32@gmail.com', 'beatrizalmprado.jgb@gmail.com', 'elietesobralpsicologa@gmail.com', 'carla.andrea3877@gmail.com', 'patricianunes.juridica@gmail.com', 'i.faria@hotmail.com', 'daniellebrasil.advpr@gmail.com', 'veronicabarros1993@gmail.com', 'ivanabastos.st@gmail.com', 'robertaboaretto@gmail.com', 'giliannems@gmail.com', 'annaluckcduarte@gmail.com', 'daniellalaso@gmail.com', 'app.rodrigues01@gmail.com', 'adrianarjcury@gmail.com', 'moreirabruna.adv@gmail.com', 'clara@just.trd.br', 'leilacarvalho.g3w@gmail.com', 'karen.r.a.carmo@hotmail.com', 'mss495@gmail.com', 'rejanefreitaspsicologa@gmail.com', 'advfernandabatistapereira@gmail.com', 'laisaraujono@gmail.com', 'lucieneav2017@gmail.com', 'juliaalqueiroz6@gmail.com', 'cfpedroza@hotmail.com', 'reisjulia2002@gmail.com', 'juliana.fcosta@yahoo.com.br', 'waldycleusawall@gmail.com', 'claudiafariadasilva@hotmail.com', 'marla.karenina@hotmail.com', 'anaradc@hotmail.com', 'anacarolinevianamartins@gmail.com', 'maya_2001_us@yahoo.com', 'jacquesouz@gmail.com', 'daiararodrigues20@gmail.com', 'sandraoliveira682025@hotmail.com', 'ednajesuscsiova@gmail.com', 'mdldamaceno@gmail.com', 'karinacordeiro.adv@yahoo.com', 'carla.mpp@icloud.com', 'luizapittalima01@gmail.com', 'vanessa.belchior001@gmail.com', 'edilafar3@gmail.com', 'menegonipsico@outlook.com', 'nat.kuka@gmail.com', 'nataliecatarina@outlook.com', 'beatriz.langa95@gmail.com', 'leidesantana062@gmail.com', 'psicologajessicamilet@gmail.com', 'amanda.silva.moura96@gmail.com', 'marlaalmeidac.adv@gmail.com', '32ellensalvador@gmail.com', 'gioconda.rosales@outlook.com', 'nathaliafernandespsi@gmail.com')\n",
          "options": {}
        },
        "id": "b62378ed-3690-4d9e-88af-b14c05710eec",
        "name": "Busca segmento de voluntarias em capacitaçao que se nao inscreveram1",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -1136,
          352
        ],
        "credentials": {
          "postgres": {
            "id": "c5mNsjWNXx3mw1Fh",
            "name": "[PROD] Mapa"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO volunteer_segments (segment_name, volunteer_id, volunteer_segment_group, created_at, updated_at)\nVALUES ('incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}', {{ $json.volunteer_id }}, '{{ $json.condition }}', NOW(), NOW())",
          "options": {}
        },
        "id": "e73523f3-d0ca-477b-8471-fd40a1f25155",
        "name": "Insere na volunteer_segments",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -896,
          -480
        ],
        "credentials": {
          "postgres": {
            "id": "c5mNsjWNXx3mw1Fh",
            "name": "[PROD] Mapa"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}' \n",
          "options": {}
        },
        "id": "c4d8f269-c5ad-426c-967b-613ea48d2f79",
        "name": "Busca segmento de voluntarias em capacitaçao",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -1136,
          -208
        ],
        "credentials": {
          "postgres": {
            "id": "c5mNsjWNXx3mw1Fh",
            "name": "[PROD] Mapa"
          }
        }
      },
      {
        "parameters": {
          "amount": 0.5
        },
        "id": "58030385-a5c4-4a2c-9ae2-9973372bc7f0",
        "name": "Wait1",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -368,
          368
        ],
        "webhookId": "c120bc7a-7333-46b7-bc3b-2f086c7953aa"
      },
      {
        "parameters": {
          "amount": 0.5
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -384,
          -192
        ],
        "id": "eb2dd193-3656-4e9b-9feb-7f9ff3f29909",
        "name": "Wait",
        "webhookId": "2d87d2da-cbd7-46e3-a477-a814cef0922e"
      },
      {
        "parameters": {
          "amount": 0.5
        },
        "id": "e927be7b-4340-428e-adb0-d8703991439f",
        "name": "Wait3",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -352,
          704
        ],
        "webhookId": "c120bc7a-7333-46b7-bc3b-2f086c7953aa"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $vars.TWILIO_ACCOUNT }}/Messages.json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "To",
                "value": "=whatsapp:+55 \"{{ $json.phone }}\""
              },
              {
                "name": "From",
                "value": "MGd8a9962347e338326e9237641454191f"
              },
              {
                "name": "ContentSid",
                "value": "HX4b8960bf30d9d4e4f255c08e56f1c9ed"
              },
              {
                "name": "ContentVariables",
                "value": "={   \"email\": \"{{ $json.email }}\" }"
              }
            ]
          },
          "options": {}
        },
        "id": "db2fc553-3427-48ea-98cd-585e0746523c",
        "name": "Envia mensagem whatsapp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -624,
          -192
        ],
        "retryOnFail": true,
        "credentials": {
          "httpBasicAuth": {
            "id": "SFhrb3m76win1cJr",
            "name": "Twilio API"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://app.loops.so/api/v1/transactional",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"transactionalId\": \"cmq56vlki0bkm0i4hxm2plj9n\",\n  \"email\": \"{{ $json.email }}\",\n  \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"occupation\": \"{{ $json.occupation }}\"\n  }\n}",
          "options": {}
        },
        "id": "3d1e26bb-0a01-4706-bf0c-2199b26f58ae",
        "name": "Envia email INSCRITAS",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -608,
          704
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "XrvtxHAVgwwJ3r6q",
            "name": "Loops API"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://app.loops.so/api/v1/transactional",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"transactionalId\": \"cmpve8bsx00go0j09hupsd2le\",\n  \"email\": \"{{ $json.email }}\",\n  \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"occupation\": \"{{ $json.occupation }}\"\n  }\n}",
          "options": {}
        },
        "id": "e09c2a84-ccc3-48a7-b76e-a48b8ee44265",
        "name": "Envia email NÃO se inscreveram",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -624,
          368
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "XrvtxHAVgwwJ3r6q",
            "name": "Loops API"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "9b71c12a-7fc9-46a8-bfb3-1e891eb45240",
        "name": "Loop Over Items1",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -880,
          80
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}'",
          "options": {}
        },
        "id": "8cebcad4-54ad-4f53-aa6f-07712fdb802c",
        "name": "Busca segmento de voluntarias em capacitaçao que se nao inscreveram",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -1136,
          80
        ],
        "credentials": {
          "postgres": {
            "id": "c5mNsjWNXx3mw1Fh",
            "name": "[PROD] Mapa"
          }
        }
      },
      {
        "parameters": {
          "amount": 0.5
        },
        "id": "987c0d12-5812-4719-8f43-de2e41212553",
        "name": "Wait2",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -368,
          96
        ],
        "webhookId": "c120bc7a-7333-46b7-bc3b-2f086c7953aa"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://app.loops.so/api/v1/transactional",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"transactionalId\": \"cmq7196ag02vx0jyx2546yqw3\",\n  \"email\": \"{{ $json.email }}\",\n  \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"occupation\": \"{{ $json.occupation }}\"\n  }\n}",
          "options": {}
        },
        "id": "ebe56bc6-a958-44b9-8874-d78c14076c38",
        "name": "Envia email base em capacitação",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -624,
          96
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "XrvtxHAVgwwJ3r6q",
            "name": "Loops API"
          }
        },
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "loop whatsapp": {
        "main": [
          [],
          [
            {
              "node": "Envia mensagem whatsapp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca voluntárias que não finalizaram a capacitação": {
        "main": [
          [
            {
              "node": "Insere na volunteer_segments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger segment": {
        "main": [
          [
            {
              "node": "Busca voluntárias que não finalizaram a capacitação",
              "type": "main",
              "index": 0
            },
            {
              "node": "Busca segmento de voluntarias em capacitaçao que se nao inscreveram",
              "type": "main",
              "index": 0
            },
            {
              "node": "Busca segmento de voluntarias em capacitaçao",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items10": {
        "main": [
          [],
          [
            {
              "node": "Envia email INSCRITAS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca segmento de voluntarias em capacitaçao que se NÃO se inscreveram": {
        "main": [
          [
            {
              "node": "Loop Over Items10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Envia email NÃO se inscreveram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca segmento de voluntarias em capacitaçao que se nao inscreveram1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca segmento de voluntarias em capacitaçao": {
        "main": [
          [
            {
              "node": "loop whatsapp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "loop whatsapp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait3": {
        "main": [
          [
            {
              "node": "Loop Over Items10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envia mensagem whatsapp": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envia email INSCRITAS": {
        "main": [
          [
            {
              "node": "Wait3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envia email NÃO se inscreveram": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [],
          [
            {
              "node": "Envia email base em capacitação",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca segmento de voluntarias em capacitaçao que se nao inscreveram": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Envia email base em capacitação": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desenvolvimento Mapa",
    "name": null,
    "description": null
  },
  "activeVersionId": "065484b5-a2c2-42ae-acba-3e19d7d6192e",
  "connections": {
    "loop whatsapp": {
      "main": [
        [],
        [
          {
            "node": "Envia mensagem whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntárias que não finalizaram a capacitação": {
      "main": [
        [
          {
            "node": "Insere na volunteer_segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger segment": {
      "main": [
        [
          {
            "node": "Busca voluntárias que não finalizaram a capacitação",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca segmento de voluntarias em capacitaçao que se nao inscreveram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca segmento de voluntarias em capacitaçao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items10": {
      "main": [
        [],
        [
          {
            "node": "Envia email INSCRITAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca segmento de voluntarias em capacitaçao que se NÃO se inscreveram": {
      "main": [
        [
          {
            "node": "Loop Over Items10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Envia email NÃO se inscreveram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca segmento de voluntarias em capacitaçao que se nao inscreveram1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca segmento de voluntarias em capacitaçao": {
      "main": [
        [
          {
            "node": "loop whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "loop whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Loop Over Items10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia mensagem whatsapp": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia email INSCRITAS": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia email NÃO se inscreveram": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Envia email base em capacitação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca segmento de voluntarias em capacitaçao que se nao inscreveram": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia email base em capacitação": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-21T20:12:09.240Z",
  "description": null,
  "id": "3GNKlbgv2XRGdIgN",
  "isArchived": false,
  "meta": null,
  "name": "Envio dos convites do intensivão",
  "nodes": [
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "id": "073a8ff2-1df8-4685-abc4-3a5c8c36418d",
      "name": "loop whatsapp",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -880,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id as volunteer_id, condition from public.volunteers where condition in ('cadastrada','capacitacao')",
        "options": {}
      },
      "id": "64195215-0468-45d3-a371-95dfa4e9f7d0",
      "name": "Busca voluntárias que não finalizaram a capacitação",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1152,
        -480
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "58 07 10 06 *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1376,
        -480
      ],
      "id": "b4b0447b-086d-4016-bce5-6693a3e8fbd9",
      "name": "Schedule Trigger segment"
    },
    {
      "parameters": {
        "content": "## Convite 10/06",
        "height": 80,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1392,
        -608
      ],
      "typeVersion": 1,
      "id": "34271a53-796f-4d2f-9ff9-bd5ed61f7e26",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "79596a56-3c8b-4e63-8c6c-50c5f0dd964f",
      "name": "Loop Over Items10",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -880,
        688
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}' and email in ('psicologaraniellymonteiro@gmail.com', 'alinedrpsi@gmail.com', 'themyspordeus@gmail.com', 'laramguilherme@gmail.com', 'advcarinesilveira@gmail.com', 'carolpinho23@gmail.com', 'marianasantos.adv@outlook.com.br', 'm.macedo.santos.adv@hotmail.com', 'crissfonteslr@gmail.com', 'psicristianesoliveira@gmail.com', 'graziela.vianapm@gmail.com', 'viviannesa@yahoo.com.br', 'madacardoso49@gmail.com', 'maria.rodrigues2@yahoo.com.br', 'camilammgrasso@gmail.com', 'alcioneslf@hotmail.com', 'isabelaalmeida.jus@gmail.com', 'nataliasbarros5@gmail.com', 'yashenrique@hotmail.com', 'maimfaria@gmail.com', 'psi.brendasantana@gmail.com', 'adv.vanusamendes@gmail.com', 'direito.camila.almeida@gmail.com', 'psipatriciaraujo@gmail.com', 'dra_marcilene@marcy.adv.br', 'solange.oliveiras@yahoo.com.br', 'advflaviacristina.souza@gmail.com', 'leticiasias1@gmail.com', 'roberta.aky@gmail.com', 'lidianesaliba.psico@gmail.com', 'sylmarafraga2012@gmail.com', 'rhayladias@gmail.com', 'cristiellen@gmail.com', 'suelisantosjk@gmail.com', 'francielyribeiro32@gmail.com', 'beatrizalmprado.jgb@gmail.com', 'elietesobralpsicologa@gmail.com', 'carla.andrea3877@gmail.com', 'patricianunes.juridica@gmail.com', 'i.faria@hotmail.com', 'daniellebrasil.advpr@gmail.com', 'veronicabarros1993@gmail.com', 'ivanabastos.st@gmail.com', 'robertaboaretto@gmail.com', 'giliannems@gmail.com', 'annaluckcduarte@gmail.com', 'daniellalaso@gmail.com', 'app.rodrigues01@gmail.com', 'adrianarjcury@gmail.com', 'moreirabruna.adv@gmail.com', 'clara@just.trd.br', 'leilacarvalho.g3w@gmail.com', 'karen.r.a.carmo@hotmail.com', 'mss495@gmail.com', 'rejanefreitaspsicologa@gmail.com', 'advfernandabatistapereira@gmail.com', 'laisaraujono@gmail.com', 'lucieneav2017@gmail.com', 'juliaalqueiroz6@gmail.com', 'cfpedroza@hotmail.com', 'reisjulia2002@gmail.com', 'juliana.fcosta@yahoo.com.br', 'waldycleusawall@gmail.com', 'claudiafariadasilva@hotmail.com', 'marla.karenina@hotmail.com', 'anaradc@hotmail.com', 'anacarolinevianamartins@gmail.com', 'maya_2001_us@yahoo.com', 'jacquesouz@gmail.com', 'daiararodrigues20@gmail.com', 'sandraoliveira682025@hotmail.com', 'ednajesuscsiova@gmail.com', 'mdldamaceno@gmail.com', 'karinacordeiro.adv@yahoo.com', 'carla.mpp@icloud.com', 'luizapittalima01@gmail.com', 'vanessa.belchior001@gmail.com', 'edilafar3@gmail.com', 'menegonipsico@outlook.com', 'nat.kuka@gmail.com', 'nataliecatarina@outlook.com', 'beatriz.langa95@gmail.com', 'leidesantana062@gmail.com', 'psicologajessicamilet@gmail.com', 'amanda.silva.moura96@gmail.com', 'marlaalmeidac.adv@gmail.com', '32ellensalvador@gmail.com', 'gioconda.rosales@outlook.com', 'nathaliafernandespsi@gmail.com', 'lucianarodolfogeraldo01@gmail.com', 'anapevan@gmail.com', 'psicologacarolmeireles@hotmail.com', 'karina_sanguanini@hotmail.com', 'nicolly.simioni84@gmail.com', 'edilafar3@gmail.com', 'lilianmendesadvogada@gmail.com', 'colombojanaina@gmail.com', 'amanda.dantas@live.com', 'gjunca1209@gmail.com', 'lucianarodolfogeraldo01@gmail.com', 'ingriddfx@gmail.com', 'mariajociane05@gmail.com', 'jordanaadv.juridico@gmail.comj', 'fernanda.bernardoni@gmail.com', 'advanapaulaperez@gmail.com', 'kenucy@yahoo.com.br', 'roberta_flavia@yahoo.com.br', 'psicologadaynacristines@gmail.com', 'adv.ericavictor@gmail.com', 'alcioneslf@hotmail.com', 'paulagalante10@gmail.com', 'patabraobernardes@gmail.com', 'isabellamonteirovs@gmail.com', 'joana.canano@gmail.com', 'mazziale1996@gmail.com', 'amigarj92@hotmail.com', 'r.caprete@hotmail.com', 'psicabriela@gmail.com', 'kikabarbara@gmail.com', 'mariafmfsr040@gmail.com', 'eduardabiletzki@gmail.com', 'aquinojessica963@gmail.com', 'ednajesuscsiova@gmail.com', 'karia.lves@hotmail.com', 'amandabiao036@gmail.com', 'luanasilva.psi09@gmail.com', 'jenniferribeiroadv@gmail.com', 'monikiecouto@gmail.com', 'carleneadv2017@gmail.com', 'kme.migui@gmail.com', 'mss495@gmail.com', 'anamel.castro@gmail.com', 'daniele.levy.motta@gmail.com', 'juliatripodibenato@gmail.com', 'amanda.o.ponciano@gmail.com', 'laviniafec@gmail.com', 'beatrizevsilva@gmail.com', 'lucianadias26@gmail.com', 'rafavelani@gmail.com', 'luisaburgosx@gmail.com', 'catiapereirasantos3@yahoo.com', 'candidocamila2024@gmail.com', 'brunapelegrinimonteiro@yahoo.com.br', 'candicecsx@gmail.com', 'laurasvazevedo@gmail.com', 'psicologia.larissarubini@gmail.com', 'helenaluae@gmail.com', 'camila733martins@gmail.com', 'milenaborges.adv@gmail.com', 'marinho_marilene@hotmail.com', 'janainasaldanha@gmail.com', 'psi.ortenciaoliveira@gmail.com', 'erimoraispsi@gmail.com', 'hannamayane.adv@gmail.com', 'luciana.bandeira.fraga@gmail.com', 'analuisaanjosc@gmail.com', 'janarocha14@hotmail.com', 'vieira.livia@gmail.com', 'adrianarribeiro@hotmail.com', 'sbrnbenevides@gmail.com', 'camila.luna16@hotmail.com', 'psicologafatimapires@gmail.com', 'lucia.rios4734@gmail.com', 'gleydeadv@gmail.com', 'robertak.adv@gmail.com', 'ebondespacho@gmail.com', 'deboravirginia76@gmail.com', 'psimilenamattos@gmail.com', 'beatrizpimenta90@gmail.com', 'anacarolinaalexandre26@gmail.com', 'advkanandra@gmail.com', 'isabelarangeldasilva@gmail.com', 'adrieliflavia.psico@gmail.com', 'ana.gameleira@gameleirapelagio.com.br', 'ingridmagnoo@gmail.com', 'advmiriangarcia@gmail.com', 'emanuelleage@hotmail.com', 'danielleseraine.adv@gmail.com', 'aa.machado245@gmail.com', 'jannemariella@gmail.com', 'ddra.ana.claudia@gmail.com', 'vannessagalindods@gmail.com', 'lazarinolorena@gmail.com', 'psithelmalima@gmail.com', 'eduardabiletzki@gmail.com', 'dannynacano@gmail.com', 'psi.roberta.souzas@gmail.com', 'brunasthefany94@gmail.com', 'isis.silva@icloud.com', 'pmandrade.psi@gmail.com', 'psithelmalima@gmail.com', 'catiapereirasantos3@yahoo.com', 'magda2712costa@gmail.com', 'i.faria@hotmail.com', 'angelita.ferracini@gmail.com', 'erimoraispsi@gmail.com', 'anavgarciaadv@gmail.com', 'victoriasouza.direito@gmail.com') \n",
        "options": {}
      },
      "id": "eabe4843-ebf4-4a2c-9403-2ea139cd8e6c",
      "name": "Busca segmento de voluntarias em capacitaçao que se NÃO se inscreveram",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1136,
        688
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5b7d41ba-50cc-4fd2-aec8-7a9661bb365b",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -880,
        352
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}' and email not in ('psicologaraniellymonteiro@gmail.com', 'alinedrpsi@gmail.com', 'themyspordeus@gmail.com', 'laramguilherme@gmail.com', 'advcarinesilveira@gmail.com', 'carolpinho23@gmail.com', 'marianasantos.adv@outlook.com.br', 'm.macedo.santos.adv@hotmail.com', 'crissfonteslr@gmail.com', 'psicristianesoliveira@gmail.com', 'graziela.vianapm@gmail.com', 'viviannesa@yahoo.com.br', 'madacardoso49@gmail.com', 'maria.rodrigues2@yahoo.com.br', 'camilammgrasso@gmail.com', 'alcioneslf@hotmail.com', 'isabelaalmeida.jus@gmail.com', 'nataliasbarros5@gmail.com', 'yashenrique@hotmail.com', 'maimfaria@gmail.com', 'psi.brendasantana@gmail.com', 'adv.vanusamendes@gmail.com', 'direito.camila.almeida@gmail.com', 'psipatriciaraujo@gmail.com', 'dra_marcilene@marcy.adv.br', 'solange.oliveiras@yahoo.com.br', 'advflaviacristina.souza@gmail.com', 'leticiasias1@gmail.com', 'roberta.aky@gmail.com', 'lidianesaliba.psico@gmail.com', 'sylmarafraga2012@gmail.com', 'rhayladias@gmail.com', 'cristiellen@gmail.com', 'suelisantosjk@gmail.com', 'francielyribeiro32@gmail.com', 'beatrizalmprado.jgb@gmail.com', 'elietesobralpsicologa@gmail.com', 'carla.andrea3877@gmail.com', 'patricianunes.juridica@gmail.com', 'i.faria@hotmail.com', 'daniellebrasil.advpr@gmail.com', 'veronicabarros1993@gmail.com', 'ivanabastos.st@gmail.com', 'robertaboaretto@gmail.com', 'giliannems@gmail.com', 'annaluckcduarte@gmail.com', 'daniellalaso@gmail.com', 'app.rodrigues01@gmail.com', 'adrianarjcury@gmail.com', 'moreirabruna.adv@gmail.com', 'clara@just.trd.br', 'leilacarvalho.g3w@gmail.com', 'karen.r.a.carmo@hotmail.com', 'mss495@gmail.com', 'rejanefreitaspsicologa@gmail.com', 'advfernandabatistapereira@gmail.com', 'laisaraujono@gmail.com', 'lucieneav2017@gmail.com', 'juliaalqueiroz6@gmail.com', 'cfpedroza@hotmail.com', 'reisjulia2002@gmail.com', 'juliana.fcosta@yahoo.com.br', 'waldycleusawall@gmail.com', 'claudiafariadasilva@hotmail.com', 'marla.karenina@hotmail.com', 'anaradc@hotmail.com', 'anacarolinevianamartins@gmail.com', 'maya_2001_us@yahoo.com', 'jacquesouz@gmail.com', 'daiararodrigues20@gmail.com', 'sandraoliveira682025@hotmail.com', 'ednajesuscsiova@gmail.com', 'mdldamaceno@gmail.com', 'karinacordeiro.adv@yahoo.com', 'carla.mpp@icloud.com', 'luizapittalima01@gmail.com', 'vanessa.belchior001@gmail.com', 'edilafar3@gmail.com', 'menegonipsico@outlook.com', 'nat.kuka@gmail.com', 'nataliecatarina@outlook.com', 'beatriz.langa95@gmail.com', 'leidesantana062@gmail.com', 'psicologajessicamilet@gmail.com', 'amanda.silva.moura96@gmail.com', 'marlaalmeidac.adv@gmail.com', '32ellensalvador@gmail.com', 'gioconda.rosales@outlook.com', 'nathaliafernandespsi@gmail.com')\n",
        "options": {}
      },
      "id": "b62378ed-3690-4d9e-88af-b14c05710eec",
      "name": "Busca segmento de voluntarias em capacitaçao que se nao inscreveram1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1136,
        352
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO volunteer_segments (segment_name, volunteer_id, volunteer_segment_group, created_at, updated_at)\nVALUES ('incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}', {{ $json.volunteer_id }}, '{{ $json.condition }}', NOW(), NOW())",
        "options": {}
      },
      "id": "e73523f3-d0ca-477b-8471-fd40a1f25155",
      "name": "Insere na volunteer_segments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -896,
        -480
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}' \n",
        "options": {}
      },
      "id": "c4d8f269-c5ad-426c-967b-613ea48d2f79",
      "name": "Busca segmento de voluntarias em capacitaçao",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1136,
        -208
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "id": "58030385-a5c4-4a2c-9ae2-9973372bc7f0",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -368,
        368
      ],
      "webhookId": "c120bc7a-7333-46b7-bc3b-2f086c7953aa"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -384,
        -192
      ],
      "id": "eb2dd193-3656-4e9b-9feb-7f9ff3f29909",
      "name": "Wait",
      "webhookId": "2d87d2da-cbd7-46e3-a477-a814cef0922e"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "id": "e927be7b-4340-428e-adb0-d8703991439f",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -352,
        704
      ],
      "webhookId": "c120bc7a-7333-46b7-bc3b-2f086c7953aa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $vars.TWILIO_ACCOUNT }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "=whatsapp:+55 \"{{ $json.phone }}\""
            },
            {
              "name": "From",
              "value": "MGd8a9962347e338326e9237641454191f"
            },
            {
              "name": "ContentSid",
              "value": "HX4b8960bf30d9d4e4f255c08e56f1c9ed"
            },
            {
              "name": "ContentVariables",
              "value": "={   \"email\": \"{{ $json.email }}\" }"
            }
          ]
        },
        "options": {}
      },
      "id": "db2fc553-3427-48ea-98cd-585e0746523c",
      "name": "Envia mensagem whatsapp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        -192
      ],
      "retryOnFail": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "SFhrb3m76win1cJr",
          "name": "Twilio API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transactionalId\": \"cmq56vlki0bkm0i4hxm2plj9n\",\n  \"email\": \"{{ $json.email }}\",\n  \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"occupation\": \"{{ $json.occupation }}\"\n  }\n}",
        "options": {}
      },
      "id": "3d1e26bb-0a01-4706-bf0c-2199b26f58ae",
      "name": "Envia email INSCRITAS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -608,
        704
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transactionalId\": \"cmpve8bsx00go0j09hupsd2le\",\n  \"email\": \"{{ $json.email }}\",\n  \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"occupation\": \"{{ $json.occupation }}\"\n  }\n}",
        "options": {}
      },
      "id": "e09c2a84-ccc3-48a7-b76e-a48b8ee44265",
      "name": "Envia email NÃO se inscreveram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -624,
        368
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9b71c12a-7fc9-46a8-bfb3-1e891eb45240",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -880,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}'",
        "options": {}
      },
      "id": "8cebcad4-54ad-4f53-aa6f-07712fdb802c",
      "name": "Busca segmento de voluntarias em capacitaçao que se nao inscreveram",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1136,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "id": "987c0d12-5812-4719-8f43-de2e41212553",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -368,
        96
      ],
      "webhookId": "c120bc7a-7333-46b7-bc3b-2f086c7953aa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transactionalId\": \"cmq7196ag02vx0jyx2546yqw3\",\n  \"email\": \"{{ $json.email }}\",\n  \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"occupation\": \"{{ $json.occupation }}\"\n  }\n}",
        "options": {}
      },
      "id": "ebe56bc6-a958-44b9-8874-d78c14076c38",
      "name": "Envia email base em capacitação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -624,
        96
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HYstwqyTrzYsvJ2P"
  },
  "shared": [
    {
      "updatedAt": "2025-08-21T20:12:09.244Z",
      "createdAt": "2025-08-21T20:12:09.244Z",
      "role": "workflow:owner",
      "workflowId": "3GNKlbgv2XRGdIgN",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "createdAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "createdAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "updatedAt": "2026-06-29T14:21:17.000Z",
              "createdAt": "2024-01-09T22:21:28.810Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1782316670965
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-06-29",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger segment": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger segment1": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger2": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-09T19:40:19.238Z",
  "versionCounter": 59,
  "versionId": "065484b5-a2c2-42ae-acba-3e19d7d6192e"
}