Envio_certificados_Multiplicadoras
{
  "active": false,
  "connections": {
    "When clicking \"Test Workflow\"": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Extract From File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia certificado para as multiplicadoras": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email list": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From File": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Envia certificado para as multiplicadoras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Email list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-04-15T19:11:14.842Z",
  "id": "8iSQsrHPhYWmVLNz",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Envio certificados Multiplicadoras",
  "nodes": [
    {
      "parameters": {},
      "id": "a6fab735-818b-42a0-915d-67d7c728dbea",
      "name": "When clicking \"Test Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        500,
        280
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "dataPropertyName": "=data",
        "text": "={{ $json.name }}",
        "fontSize": 60,
        "fontColor": "#622565",
        "positionX": "={{ 1000 - 12 * $json.name.length }}",
        "positionY": 600,
        "lineLength": 120,
        "options": {
          "fileName": "certificado",
          "format": "png"
        }
      },
      "id": "9ae76e2e-4ff6-4cf0-a2ed-7e2ffa088d2c",
      "name": "Edit Image",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        2220,
        180
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1RxqCep0_u4i-oQQomK5O_yI7fftNAwyz",
          "mode": "list",
          "cachedResultName": "[MOB] Certificado do Primeiro Ciclo.png",
          "cachedResultUrl": "https://drive.google.com/file/d/1RxqCep0_u4i-oQQomK5O_yI7fftNAwyz/view?usp=drivesdk"
        },
        "options": {}
      },
      "id": "2eb75a92-f0a0-4c5d-8872-39bf9ae8b44f",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        920,
        540
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "31vgqoSRas2e7TQe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "3b5d6cd2-2a5a-4aa7-b9ee-6c5ae4cb89ca",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "f6fe8707-01cd-4100-a289-0962cbad6db2",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2640,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ab49f799-19fa-46a1-8402-1b0f80393658",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1720,
        300
      ]
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "email",
        "options": {}
      },
      "id": "bcdfcf41-9ff8-4de2-af48-c589b8006cd7",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [
        1220,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $json.email }}\",\n  \"transactionalId\": \"cm5zqme1n01v4bvs0b1fqqcnn\",\n  \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\"\n  },\n  \"attachments\": [\n    {\n      \"filename\": \"certificado.png\",\n      \"contentType\": \"image/png\",\n      \"data\": \"{{ $json.data }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "10400241-7d85-456c-9c34-9ad5938eed52",
      "name": "Envia certificado para as multiplicadoras",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2900,
        440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U06CFBX4MM5",
          "mode": "list",
          "cachedResultName": "vivi"
        },
        "text": "Deu ruim",
        "otherOptions": {}
      },
      "id": "676f722b-e0da-48fd-aa79-f12390739882",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        3160,
        520
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "01G85hUbLT4VlY92",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\nfor (const item of items[0].json.value) {\n  newItems.push({ \n    json: {\n      ...item,\n      first_name: item.name.split(\" \")[0]\n    } \n  });\n}\n\nreturn newItems;"
      },
      "id": "18d6014e-0c22-48e0-b208-9b5b7531b509",
      "name": "Email list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "items[0].json = {\n    value: [\n  // {\n  //   \"name\": \"Manuela Alves Inoc\\u00eancio\",\n  //   \"email\": \"manuelaalves45688@gmail.com\"\n  // },\n  {\n    \"name\": \"Loise Da Costa Santos\",\n    \"email\": \"loisecosta@id.uff.br\"\n  },\n  {\n    \"name\": \"Luciana Alves De Jesus\",\n    \"email\": \"luciana_family@hotmail.com\"\n  },\n  {\n    \"name\": \"Regina Maria Do Nascimento E Silva\",\n    \"email\": \"reginok45@gmail.com\"\n  },\n  {\n    \"name\": \"Bianca Marques Da Silva\",\n    \"email\": \"bianca.marquessilva2016@gmail.com\"\n  },\n  {\n    \"name\": \"Alice Mariana Gomes Franco Costa\",\n    \"email\": \"alicemargfc@gmail.com\"\n  },\n  {\n    \"name\": \"Isabel Flor\\u00eancio Monteiro Tabosa Pinheiro\",\n    \"email\": \"isabelflorenciom@gmail.com\"\n  },\n  {\n    \"name\": \"Maria Laura Pessoa Magalh\\u00e3es\",\n    \"email\": \"laurapessoa804390@gmail.com\"\n  },\n  {\n    \"name\": \"Let\\u00edcia Santos Fran\\u00e7a\",\n    \"email\": \"leticiaseestudos@gmail.com\"\n  },\n  {\n    \"name\": \"Laura Let\\u00edcia Silva Piloto\",\n    \"email\": \"laurasilvaleticia@gmail.com\"\n  },\n  {\n    \"name\": \"Rute Sant Anna De Souza\",\n    \"email\": \"rtsantannads@gmail.com\"\n  },\n  {\n    \"name\": \"Stefanny Paula Pereira Da Silva\",\n    \"email\": \"stefanny@mangueiras.org\"\n  },\n  {\n    \"name\": \"Carolina Souto De Freitas Vieira\",\n    \"email\": \"carolinasfvieira@gmail.com\"\n  },\n  {\n    \"name\": \"Thamires Nogueira Da Silva Santos\",\n    \"email\": \"dumspirospero@outlook.com.br\"\n  },\n  {\n    \"name\": \"La\\u00eds Silva Mariano\",\n    \"email\": \"laissmariano@gmail.com\"\n  },\n  {\n    \"name\": \"Isabela Gon\\u00e7alves De Brito Da Rocha\",\n    \"email\": \"bela@bu.edu\"\n  },\n  {\n    \"name\": \"Ana Luisa Hickmann\",\n    \"email\": \"contato.analuisahickmann@gmail.com\"\n  },\n  {\n    \"name\": \"Lays Do Nascimento Rosa\",\n    \"email\": \"laysn-@hotmail.com\"\n  },\n  {\n    \"name\": \"Bruna Gelangauskas\",\n    \"email\": \"bgelangauskas@gmail.com\"\n  },\n  {\n    \"name\": \"Luana Ribeiro Capela\",\n    \"email\": \"luana.ribeiro.capela@gmail.com\"\n  },\n  {\n    \"name\": \"Glaucy Hellen Herdy Ferreira Gomes\",\n    \"email\": \"glaucyherdy@gmail.com\"\n  },\n  {\n    \"name\": \"Beatriz Silva De Almeida Barros\",\n    \"email\": \"bsdeab@gmail.com\"\n  },\n  {\n    \"name\": \"J\\u00e9ssica De Freitas Moreira\",\n    \"email\": \"jessicadfm@hotmail.com\"\n  },\n  {\n    \"name\": \"Jamile Silva Teixeira\",\n    \"email\": \"jamileslvteixeira@gmail.com\"\n  },\n  {\n    \"name\": \"Marina Ribeiro\",\n    \"email\": \"ribeirooliveiradearaujomarina@gmail.com\"\n  },\n  {\n    \"name\": \"Blessing Chidinma Ifekaibeya\",\n    \"email\": \"blessing.ifekaibeya@gmail.com\"\n  },\n  {\n    \"name\": \"Amanda Viviane Chaves Neres\",\n    \"email\": \"amanda.vivianee@gmail.com\"\n  },\n  {\n    \"name\": \"Andreia Barbosa Dos Santos\",\n    \"email\": \"andreia.santos07@unifesp.br\"\n  },\n  {\n    \"name\": \"Luane Dos Santos Mercuri\",\n    \"email\": \"luanemercuri11@gmail.com\"\n  },\n  {\n    \"name\": \"Helen Cristina Souza De Jesus\",\n    \"email\": \"helencristinasouza@hotmail.com\"\n  },\n  {\n    \"name\": \"Laura Furtado Vitorino\",\n    \"email\": \"lauravitorino@me.com\"\n  },\n  {\n    \"name\": \"Angelica Raimundo Nogueira\",\n    \"email\": \"angelicarnogueira@hotmail.com\"\n  },\n  {\n    \"name\": \"Ana Alice Cabral De Almeida\",\n    \"email\": \"anaalicecbrl@gmail.com\"\n  },\n  {\n    \"name\": \"Ana Beatriz Lopes De Souza\",\n    \"email\": \"anabeatrizlopesdesouza570@gmail.com\"\n  },\n  {\n    \"name\": \"Jhudy Dos Santos Souza\",\n    \"email\": \"jhudysouzza@gmail.com\"\n  },\n  {\n    \"name\": \"Isabela Maria De Resende Cavalcante\",\n    \"email\": \"isabela.mrcavalcante@gmail.com\"\n  },\n  {\n    \"name\": \"Beatriz Rocha De Oliveira\",\n    \"email\": \"bea22.r2004@gmail.com\"\n  },\n  {\n    \"name\": \"Rosana Dorea Castro\",\n    \"email\": \"rosanadrea@yahoo.com\"\n  },\n  {\n    \"name\": \"Iasmin Pires Milfont\",\n    \"email\": \"iasminpiresmilfont@gmail.com\"\n  },\n  {\n    \"name\": \"Jenifer Natasha Sodre Rodrigues\",\n    \"email\": \"jenifer.rodrigues.tjpa@gmail.com\"\n  },\n  {\n    \"name\": \"Ana Paula Neves Lins\",\n    \"email\": \"apnlins099@gmail.com\"\n  },\n  {\n    \"name\": \"Manuela Pires Pirolo\",\n    \"email\": \"manupirespirolo@hotmail.com\"\n  },\n  {\n    \"name\": \"Michelle Romeiro Brito\",\n    \"email\": \"michelle.romeiro.brito@gmail.com\"\n  },\n  {\n    \"name\": \"Mariana Gomes Martins\",\n    \"email\": \"mariana.martins@fm.usp.br\"\n  },\n  {\n    \"name\": \"Rafaela Cristina Da Silva Dos Santos\",\n    \"email\": \"rafa.cris.santtos@gmail.com\"\n  },\n  {\n    \"name\": \"Ellen Caroline Oliveira Das Neves\",\n    \"email\": \"ellendijure@gmail.com\"\n  },\n  {\n    \"name\": \"Irlanna Dias Ramos\",\n    \"email\": \"irlannadias@gmail.com\"\n  },\n  {\n    \"name\": \"Camila Lobo Da Gama Alves\",\n    \"email\": \"camilalobogama@gmail.com\"\n  },\n  {\n    \"name\": \"Caroline Lira Ferreira\",\n    \"email\": \"psicarolinelira@gmail.com\"\n  },\n  {\n    \"name\": \"Mariana Lisboa Cruz\",\n    \"email\": \"lisboamarianac@hotmail.com\"\n  },\n  {\n    \"name\": \"Elaine Eduarda Sampaio Cambraia\",\n    \"email\": \"eduarda.cambraia23@gmail.com\"\n  },\n  {\n    \"name\": \"Raquel Pastor De Santana E Santana\",\n    \"email\": \"raquelpastordesantana@gmail.com\"\n  },\n  {\n    \"name\": \"M\\u00f4nica Taline Reis Santos\",\n    \"email\": \"talinesantosps@gmail.com\"\n  },\n  {\n    \"name\": \"Millena Maria Freitas Leoc\\u00e1dio Vieira\",\n    \"email\": \"millenafreitasv@gmail.com\"\n  },\n  {\n    \"name\": \"Ingrid Gomes Da Silva\",\n    \"email\": \"ingrid.g.ss@hotmail.com\"\n  },\n  {\n    \"name\": \"Isabella Soares Barbosa\",\n    \"email\": \"isabellabarbosaa04@gmail.com\"\n  },\n  {\n    \"name\": \"Tatiane Franco De Melo\",\n    \"email\": \"tatifrancopsi@gmail.com\"\n  },\n  {\n    \"name\": \"Let\\u00edcia Novaes Santos Reis\",\n    \"email\": \"leticiareisnovaes2007@gmail.com\"\n  },\n  {\n    \"name\": \"Juliana Dos Santos Reis\",\n    \"email\": \"juliana.sreis95@gmail.com\"\n  },\n  {\n    \"name\": \"Emanuelle Virginia Dos Santos Costa\",\n    \"email\": \"emanuelle.costa@ufpe.br\"\n  },\n  {\n    \"name\": \"Ester Laura Da Silva Costa\",\n    \"email\": \"tete.laurinha2020@gmail.com\"\n  },\n  {\n    \"name\": \"Camila Gabrielli Gomes Vila Nova\",\n    \"email\": \"camila.vila.nova@hotmail.com\"\n  },\n  {\n    \"name\": \"Maria Daniella Rodrigues De Lima\",\n    \"email\": \"mariadaniella.lima@hotmail.com\"\n  },\n  {\n    \"name\": \"Mariana Rosetti Maia\",\n    \"email\": \"mariana.rosetti.maia.mrm@gmail.com\"\n  },\n  {\n    \"name\": \"Beatriz Barbosa Lopes\",\n    \"email\": \"beatrizbarbosa14@yahoo.com\"\n  },\n  {\n    \"name\": \"Elizama Florencio Jos\\u00e9 Costa\",\n    \"email\": \"lizflorencio12@gmail.com\"\n  },\n  {\n    \"name\": \"Maria Fernanda De Andrade Da Veiga\",\n    \"email\": \"marifefeveiga@gmail.com\"\n  },\n  {\n    \"name\": \"Natali De Moura Nascimento\",\n    \"email\": \"natalimoura.adv@hotmail.com\"\n  },\n  {\n    \"name\": \"Ellen Galv\\u00e3o Araujo De Moura\",\n    \"email\": \"ellengalvao13@gmail.com\"\n  },\n  {\n    \"name\": \"Ana Patricia De Paula Neres\",\n    \"email\": \"paula.anapatricia.17@hotmail.com\"\n  },\n  {\n    \"name\": \"Marcia Candido Issengueld\",\n    \"email\": \"marciaissenguele@gmail.com\"\n  },\n  {\n    \"name\": \"Sthefanny Thays S Guimar\\u00e3es Ara\\u00fajo\",\n    \"email\": \"sthefannyguimaraes2@gmail.com\"\n  },\n  {\n    \"name\": \"Ionara Gabriella Santiago Luna\",\n    \"email\": \"gabrsluna@gmail.com\"\n  },\n  {\n    \"name\": \"Let\\u00edcia Batista Rodrigues Da Silva\",\n    \"email\": \"leticiab.rodrigues@outlook.com\"\n  },\n  {\n    \"name\": \"J\\u00falia Nogueira De Barros\",\n    \"email\": \"julia.nogueirabarros@gmail.com\"\n  },\n  {\n    \"name\": \"Amanda Da Silva Bisquolo\",\n    \"email\": \"amandabisquolo@gmail.com\"\n  },\n  {\n    \"name\": \"Maria Luiza Acosta Dos Santos\",\n    \"email\": \"mariaas.luiza25@outlook.com\"\n  },\n  {\n    \"name\": \"Cl\\u00e1udia Karoline Da Concei\\u00e7\\u00e3o De Oliveira\",\n    \"email\": \"claudiakaroline09@gmail.com\"\n  },\n  {\n    \"name\": \"Larissa Portilho De Oliveira\",\n    \"email\": \"larissaportilho20@gmail.com\"\n  },\n  {\n    \"name\": \"Karen Antonia Dos Santos\",\n    \"email\": \"karen.antonia@hotmail.com\"\n  },\n  {\n    \"name\": \"Carolina Elias De Moura\",\n    \"email\": \"carolinaemoura.adv@gmail.com\"\n  },\n  {\n    \"name\": \"Livia Medeiros Dos Santos\",\n    \"email\": \"03liviamedeiros@gmail.com\"\n  },\n  {\n    \"name\": \"Hevellen De Jesus Bichara Sarges\",\n    \"email\": \"hsarges2004@gmail.com\"\n  },\n  {\n    \"name\": \"Ruane Silva De Jesus\",\n    \"email\": \"ruane_nanny@hotmail.com\"\n  },\n  {\n    \"name\": \"Esteffany Dos Reis\",\n    \"email\": \"stffnreis901@gmail.com\"\n  },\n  {\n    \"name\": \"Fernanda Regina Da Silva\",\n    \"email\": \"fernanda.regina028@gmail.com\"\n  },\n  {\n    \"name\": \"Ana Eduarda Teixeira Seixas De Azevedo\",\n    \"email\": \"aetsaap@gmail.com\"\n  },\n  {\n    \"name\": \"Ana Caroline Oliveira Da Silva\",\n    \"email\": \"anacarolineos53@gmail.com\"\n  },\n  {\n    \"name\": \"Mayele Ribeiro Brand\\u00e3o\",\n    \"email\": \"mayelebrandao@hotmail.com\"\n  },\n  {\n    \"name\": \"Beatriz Nascimento Santana Santos\",\n    \"email\": \"beatriznascimento.santanasantos@gmail.com\"\n  },\n  {\n    \"name\": \"Raquel Souza Franco\",\n    \"email\": \"raquelfranco1@hotmail.com\"\n  },\n  {\n    \"name\": \"Kalliane Estrela\",\n    \"email\": \"kallianeestrela2016@gmail.com\"\n  },\n  {\n    \"name\": \"Kamylla Viana Dantas\",\n    \"email\": \"kamylla.dantas@discente.univasf.edu.br\"\n  },\n  {\n    \"name\": \"Sofia Benzi\",\n    \"email\": \"sbenzi@fordham.edu\"\n  },\n  {\n    \"name\": \"Andressa De Souza Louzada\",\n    \"email\": \"andressasouza030205@gmail.com\"\n  },\n  {\n    \"name\": \"Lana De Castro Souza\",\n    \"email\": \"lanadecastrosou@gmail.com\"\n  },\n  {\n    \"name\": \"Alana Virginia Freire\",\n    \"email\": \"alanafreiresv@gmail.com\"\n  },\n  {\n    \"name\": \"Angela Bandeira Costa\",\n    \"email\": \"cbandeira.angela@gmail.com\"\n  }\n]\n};\nreturn items;"
      },
      "id": "c834a05c-fd7c-4a3b-a712-0b2517cf96cf",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        280
      ]
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "c727f431-0702-4d87-9c5c-6c7dea423919",
      "name": "Extract From File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2440,
        180
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2024-04-15T19:11:14.846Z",
      "updatedAt": "2024-04-15T19:11:14.846Z",
      "role": "workflow:owner",
      "workflowId": "8iSQsrHPhYWmVLNz",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2026-01-12T17:31:52.000Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-16T19:48:23.000Z",
  "versionId": "86b81e55-4c72-4dda-a251-5ec87f23eb0c"
}