Envio_dos_convites_do_intensivao
{
  "active": true,
  "connections": {
    "Busca segmento de voluntarias em capacitaçao1": {
      "main": [
        [
          {
            "node": "loop whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "loop whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait15": {
      "main": [
        [
          {
            "node": "loop email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Busca segmento de voluntarias em capacitaçao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop email": {
      "main": [
        [],
        [
          {
            "node": "Envia email segundo convite não receberam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop whatsapp": {
      "main": [
        [],
        [
          {
            "node": "Envia mensagem whatsapp segundo convite1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntárias que não finalizaram a capacitação": {
      "main": [
        [
          {
            "node": "Insere na volunteer_segments2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger segment": {
      "main": [
        [
          {
            "node": "Busca voluntárias que não finalizaram a capacitação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia email segundo convite não receberam": {
      "main": [
        [
          {
            "node": "Wait15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "loop email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop email1": {
      "main": [
        [],
        [
          {
            "node": "Envia email segundo convite se inscreveram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia email segundo convite se inscreveram": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia mensagem whatsapp segundo convite1": {
      "main": [
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Busca segmento de voluntarias em capacitaçao se inscreveram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Busca segmento de voluntarias em capacitaçao não responderam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca segmento de voluntarias em capacitaçao se inscreveram": {
      "main": [
        [
          {
            "node": "loop email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca segmento de voluntarias em capacitaçao não responderam": {
      "main": [
        [
          {
            "node": "loop email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-21T20:12:09.240Z",
  "id": "3GNKlbgv2XRGdIgN",
  "isArchived": false,
  "meta": null,
  "name": "Envio dos convites do intensivão",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}' \n",
        "options": {}
      },
      "id": "c4d8f269-c5ad-426c-967b-613ea48d2f79",
      "name": "Busca segmento de voluntarias em capacitaçao1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -920,
        140
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        40,
        160
      ],
      "id": "eb2dd193-3656-4e9b-9feb-7f9ff3f29909",
      "name": "Wait14",
      "webhookId": "2d87d2da-cbd7-46e3-a477-a814cef0922e"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "d4e03b7d-3541-4f8a-a5c6-a4ec6985d0b5",
      "name": "Wait15",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -200,
        -120
      ],
      "webhookId": "18fae65f-82d5-4d83-a49f-f97a0dbd6ea3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "13 11 26 8 *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1180,
        140
      ],
      "id": "611b3081-5423-4c0d-a236-f0ff1f528b6a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "batchSize": 6,
        "options": {}
      },
      "id": "59bb9563-2a6a-48ac-9f96-a710acc295ab",
      "name": "loop email",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -740,
        -140
      ]
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "id": "073a8ff2-1df8-4685-abc4-3a5c8c36418d",
      "name": "loop whatsapp",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -540,
        140
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO volunteer_segments (segment_name, volunteer_id, volunteer_segment_group, created_at, updated_at)\nVALUES ('incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}', {{ $json.volunteer_id }}, '{{ $json.condition }}', NOW(), NOW())",
        "options": {}
      },
      "id": "e73523f3-d0ca-477b-8471-fd40a1f25155",
      "name": "Insere na volunteer_segments2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -340,
        -760
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id as volunteer_id, condition from public.volunteers where condition in ('cadastrada','capacitacao')",
        "options": {}
      },
      "id": "64195215-0468-45d3-a371-95dfa4e9f7d0",
      "name": "Busca voluntárias que não finalizaram a capacitação",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -640,
        -760
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "01 11 26 8 *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -880,
        -760
      ],
      "id": "b4b0447b-086d-4016-bce5-6693a3e8fbd9",
      "name": "Schedule Trigger segment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transactionalId\": \"cmerjks9z06wk4e0ijguc1268\",\n  \"email\": \"{{ $json.email }}\",\n  \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"occupation\":\"{{ $json.occupation }}\",\n    \"phone\": \"{{ $json.phone }}\"\n  }\n}",
        "options": {}
      },
      "id": "a737a4df-149b-444c-bf4f-77cc94334d39",
      "name": "Envia email segundo convite não receberam",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -460,
        -120
      ],
      "retryOnFail": true,
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Vixi"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}' \nAND email not in ('fabiola879@gmail.com', 'eumifasanaropsi@gmail.com', 'thabata.campos@terra.com.br', 'psicollopes@gmail.com', 'mariluizacoelhos@gmail.com', 'helen.oliveira@irbm.com.br', 'psi.marinascardo@gmail.com', 'claudialimadireito@gmail.com', 'adrianasviotto@gmail.com', 'suzanagarcia_@hotmail.com', 'nathaliatxt@gmail.com', 'aldicarvalho2@gmail.com', 'psicopaulamachado@gmail.com', 'racheltavareselleres@gmail.com', 'ttmb.estudoeprofissional@gmail.com', 'claratavares.cardoso@hotmail.com', 'psiluciapaz@gmail.com', 'anaferrarespsi@gmail.com', 'alessandraareque@gmail.com', 'sandydaluz.psicologia@gmail.com', 'wagpsicologia@gmail.com', 'laramguilherme@gmail.com', 'amandafurtado.psicologia@gmail.com', 'evelinfreixopsi@gmail.com', 'renataribeirocyrillo@gmail.com', 'tilanas2@gmail.com', 'gabriela.bueno.rodrigues@hotmail.com', 'themyspordeus@gmail.com', 'rhayssaferreirag@gmail.com', 'catarinearaujomoreira@gmail.com', 'psiluanafelix@gmail.com', 'luciam.l.queres@gmail.com', 'nathaliafernandespsi@gmail.com', 'vsilvaalves924@gmail.com', 'tayla.adv@gmail.com', 'annepaivadealencar@hotmail.com', 'alinecn.nasc@gmail.com', 'psico.lorrainy@gmail.com', 'meiryaquino02@gmail.com', 'karlabeatriz54@gmail.com', 'valeriadbdias@gmail.com', 'barbaravicka@gmail.com', 'gislaine_calheiros@hotmail.com', 'mihreis@hotmail.com', 'brunasalgado.adv@gmail.com', 'kamilakyarafb@hotmail.com', 'vanessasantos.psi011@gmail.com', 'helen.oliveira@irbm.com.br', 'mary_sch20@hotmail.com', 'daniellalaso@gmail.com', 'al.rodrigues.psi@gmail.com', 'nataliecatarina@outlook.com', 'daniellalaso@gmail.com', 'renata.vmb@gmail.com', 'fabimonteiro84@gmail.com', 'psicologadaynacristines@gmail.com', 'sidileiaalmeida@hotmail.com', 'melisaborges@uol.com.br')",
        "options": {}
      },
      "id": "3375c239-6e56-49bd-aeec-ba132f02ee08",
      "name": "Busca segmento de voluntarias em capacitaçao não responderam",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -960,
        -140
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "dcca9316-4180-4cd4-adee-fbe14998de47",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -200,
        -420
      ],
      "webhookId": "18fae65f-82d5-4d83-a49f-f97a0dbd6ea3"
    },
    {
      "parameters": {
        "batchSize": 6,
        "options": {}
      },
      "id": "1d738b3a-f93d-419b-9396-7b0ab1feb7d3",
      "name": "loop email1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -740,
        -440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}' \nAND email in ('fabiola879@gmail.com', 'eumifasanaropsi@gmail.com', 'thabata.campos@terra.com.br', 'psicollopes@gmail.com', 'mariluizacoelhos@gmail.com', 'helen.oliveira@irbm.com.br', 'psi.marinascardo@gmail.com', 'claudialimadireito@gmail.com', 'adrianasviotto@gmail.com', 'suzanagarcia_@hotmail.com', 'nathaliatxt@gmail.com', 'aldicarvalho2@gmail.com', 'psicopaulamachado@gmail.com', 'racheltavareselleres@gmail.com', 'ttmb.estudoeprofissional@gmail.com', 'claratavares.cardoso@hotmail.com', 'psiluciapaz@gmail.com', 'anaferrarespsi@gmail.com', 'alessandraareque@gmail.com', 'sandydaluz.psicologia@gmail.com', 'wagpsicologia@gmail.com', 'laramguilherme@gmail.com', 'amandafurtado.psicologia@gmail.com', 'evelinfreixopsi@gmail.com', 'renataribeirocyrillo@gmail.com', 'tilanas2@gmail.com', 'gabriela.bueno.rodrigues@hotmail.com', 'themyspordeus@gmail.com', 'rhayssaferreirag@gmail.com', 'catarinearaujomoreira@gmail.com', 'psiluanafelix@gmail.com', 'luciam.l.queres@gmail.com', 'nathaliafernandespsi@gmail.com', 'vsilvaalves924@gmail.com', 'tayla.adv@gmail.com', 'annepaivadealencar@hotmail.com', 'alinecn.nasc@gmail.com', 'psico.lorrainy@gmail.com', 'meiryaquino02@gmail.com', 'karlabeatriz54@gmail.com', 'valeriadbdias@gmail.com', 'barbaravicka@gmail.com', 'gislaine_calheiros@hotmail.com', 'mihreis@hotmail.com', 'brunasalgado.adv@gmail.com', 'kamilakyarafb@hotmail.com', 'vanessasantos.psi011@gmail.com', 'helen.oliveira@irbm.com.br', 'mary_sch20@hotmail.com', 'daniellalaso@gmail.com', 'al.rodrigues.psi@gmail.com', 'nataliecatarina@outlook.com', 'daniellalaso@gmail.com', 'renata.vmb@gmail.com', 'fabimonteiro84@gmail.com', 'psicologadaynacristines@gmail.com', 'sidileiaalmeida@hotmail.com', 'melisaborges@uol.com.br')",
        "options": {}
      },
      "id": "a79611a8-1650-47c9-bb81-856403f9b3d1",
      "name": "Busca segmento de voluntarias em capacitaçao se inscreveram",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -980,
        -440
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transactionalId\": \"cmer44p4g7gunzc0igmuhmowg\",\n  \"email\": \"{{ $json.email }}\",\n  \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\"\n  }\n}",
        "options": {}
      },
      "id": "935af320-12d2-49c4-8467-0cf985d014e5",
      "name": "Envia email segundo convite se inscreveram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -460,
        -420
      ],
      "retryOnFail": true,
      "notesInFlow": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Vixi"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $vars.TWILIO_ACCOUNT }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "=whatsapp:+55{{ $json.phone }}"
            },
            {
              "name": "From",
              "value": "MGd8a9962347e338326e9237641454191f"
            },
            {
              "name": "ContentSid",
              "value": "HX64565be5362b4f40851be4977d55f578"
            },
            {
              "name": "ContentVariables",
              "value": "={   \"email\": \"{{ $json.email }}\" }"
            }
          ]
        },
        "options": {}
      },
      "id": "db2fc553-3427-48ea-98cd-585e0746523c",
      "name": "Envia mensagem whatsapp segundo convite1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        160
      ],
      "retryOnFail": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "SFhrb3m76win1cJr",
          "name": "Twilio API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        -260
      ],
      "id": "42e6ac6a-2626-47be-a41c-8b11a2188f0b",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HYstwqyTrzYsvJ2P"
  },
  "shared": [
    {
      "createdAt": "2025-08-21T20:12:09.244Z",
      "updatedAt": "2025-08-21T20:12:09.244Z",
      "role": "workflow:owner",
      "workflowId": "3GNKlbgv2XRGdIgN",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "role": "project:personalOwner",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2025-07-22T19:04:05.304Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1749493410027
                },
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger segment": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-08-26T22:30:05.000Z",
  "versionId": "aea18204-15f1-4cc4-a954-663040bec7b4"
}