Envio_dos_convites_do_intensivao
{
  "active": false,
  "connections": {
    "Busca segmento de voluntarias em capacitaçao1": {
      "main": [
        [
          {
            "node": "loop whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait14": {
      "main": [
        [
          {
            "node": "loop whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Busca segmento de voluntarias em capacitaçao1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop whatsapp": {
      "main": [
        [],
        [
          {
            "node": "Envia mensagem whatsapp terceiro convite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntárias que não finalizaram a capacitação": {
      "main": [
        [
          {
            "node": "Insere na volunteer_segments2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger segment": {
      "main": [
        [
          {
            "node": "Busca voluntárias que não finalizaram a capacitação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items9": {
      "main": [
        [],
        [
          {
            "node": "Envia último email convite base de voluntárias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait10": {
      "main": [
        [
          {
            "node": "Loop Over Items9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items10": {
      "main": [
        [],
        [
          {
            "node": "Envia email segundo convite NÃO se increveram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait11": {
      "main": [
        [
          {
            "node": "Loop Over Items10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia email segundo convite NÃO se increveram": {
      "main": [
        [
          {
            "node": "Wait11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca segmento de voluntarias em capacitaçao que se NÃO se inscreveram": {
      "main": [
        [
          {
            "node": "Loop Over Items10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia mensagem whatsapp terceiro convite": {
      "main": [
        [
          {
            "node": "Wait14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Envia email terceiro convite se inscreveram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca segmento de voluntarias em capacitaçao que se inscreveram1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia email terceiro convite se inscreveram1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Busca segmento de voluntarias em capacitaçao que se inscreveram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca segmento de voluntarias em capacitação": {
      "main": [
        [
          {
            "node": "Loop Over Items9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia último email convite base de voluntárias": {
      "main": [
        [
          {
            "node": "Wait10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Busca segmento de voluntarias em capacitação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-21T20:12:09.240Z",
  "id": "3GNKlbgv2XRGdIgN",
  "isArchived": false,
  "meta": null,
  "name": "Envio dos convites do intensivão",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}' \n",
        "options": {}
      },
      "id": "c4d8f269-c5ad-426c-967b-613ea48d2f79",
      "name": "Busca segmento de voluntarias em capacitaçao1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -944,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -192,
        240
      ],
      "id": "eb2dd193-3656-4e9b-9feb-7f9ff3f29909",
      "name": "Wait14",
      "webhookId": "2d87d2da-cbd7-46e3-a477-a814cef0922e"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "00 13 27 10 *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        224
      ],
      "id": "611b3081-5423-4c0d-a236-f0ff1f528b6a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "id": "073a8ff2-1df8-4685-abc4-3a5c8c36418d",
      "name": "loop whatsapp",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -688,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO volunteer_segments (segment_name, volunteer_id, volunteer_segment_group, created_at, updated_at)\nVALUES ('incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}', {{ $json.volunteer_id }}, '{{ $json.condition }}', NOW(), NOW())",
        "options": {}
      },
      "id": "e73523f3-d0ca-477b-8471-fd40a1f25155",
      "name": "Insere na volunteer_segments2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -640,
        -768
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select id as volunteer_id, condition from public.volunteers where condition in ('cadastrada','capacitacao')",
        "options": {}
      },
      "id": "64195215-0468-45d3-a371-95dfa4e9f7d0",
      "name": "Busca voluntárias que não finalizaram a capacitação",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -944,
        -768
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "00 9 27 10 *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1184,
        -768
      ],
      "id": "b4b0447b-086d-4016-bce5-6693a3e8fbd9",
      "name": "Schedule Trigger segment"
    },
    {
      "parameters": {
        "content": "## Convite 27/10",
        "height": 80,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        -896
      ],
      "typeVersion": 1,
      "id": "34271a53-796f-4d2f-9ff9-bd5ed61f7e26",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "52c81d0d-130d-4be3-93f2-0d5b5f1bb54b",
      "name": "Loop Over Items9",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -688,
        -144
      ]
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "id": "66eb9dfa-6454-48ba-813b-f6c9d92e64a4",
      "name": "Wait10",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -192,
        -128
      ],
      "webhookId": "c120bc7a-7333-46b7-bc3b-2f086c7953aa"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "79596a56-3c8b-4e63-8c6c-50c5f0dd964f",
      "name": "Loop Over Items10",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -144,
        -624
      ]
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "id": "e927be7b-4340-428e-adb0-d8703991439f",
      "name": "Wait11",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        464,
        -608
      ],
      "webhookId": "c120bc7a-7333-46b7-bc3b-2f086c7953aa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transactionalId\": \"cmgp6h7lf0a5j0f0i7hi7tp3m\",\n  \"email\": \"{{ $json.email }}\",\n  \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\",\n    \"phone\": \"{{ $json.phone }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"occupation\": \"{{ $json.occupation }}\"\n  }\n}",
        "options": {}
      },
      "id": "3d1e26bb-0a01-4706-bf0c-2199b26f58ae",
      "name": "Envia email segundo convite NÃO se increveram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        160,
        -608
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}' and email NOT in ('luimachado02@hotmail.com', 'michele.lany@hotmail.com', 'alessandraflora26@yahoo.com.br', 'dcr.reis@gmail.com', 'ebmaia08@gmail.com', 'leidiane.lrsc@gmail.com', 'suzanagarcia_@hotmail.com', 'smmaximiliano@gmail.com', 'erisaluana@gmail.com', 'contato@isabelmacedoadv.com.br', 'alinedrpsi@gmail.com', 'lauranier17@gmail.com', 'claudianealmeidapsi@gmail.com', 'advatalinepinheiro@gmail.com', 'leiaadvogada2025@gmail.com', 'gbuffara@bbadv.adv.br', 'maibecastro.advogada@gmail.com', 'thaisdemagalhaesdornelles@gmail.com', 'nevesilviam@gmail.com', 'vdeabreuantoniodeoliveira@gmail.com', 'rayheny_karla@hotmail.com', 'rosangeladomingos.adv@gmail.com', 'sidileiaalmeida@hotmail.com', 'malu_mendes@hotmail.com', 'amanda.o.ponciano@gmail.com', 'apsipalomalima@gmail.com', 'psianaclaubatista@gmail.com', 'andradeivana@yahoo.com.br', 'reginasantos.psicologa@gmail.com', 'luizaneiva89@hotmail.com', 'clara@just.trd.br', 'tamara.rodriguees@gmail.com', 'adv.francianexavier@gmail.com', 'psi.marinamenegondesouza@gmail.com', 'amandaavila83@gmail.com', 'cleide.nakashima@gmail.com', 'mariassoares971@gmail.com', 'leticia.brasil@hotmail.com', 'olgabu29@hotmail.com', 'camilaalmeidafelix@gmail.com', 'natalia.rh.cv@gmail.com', 'psicologiagleyce@gmail.com', 'biancadamattaxavier@gmail.com', 'larissa.carvalho4002@gmail.com', 'leila_barbos@hotmail.com', 'keiti.custodio@gmail.com', 'fabianadefatimacordeiro@gmail.com', 'annamuzio@yahoo.com', 'renata.vmb@gmail.com', 'amandakaren.dias@gmail.com', 'euthamyresmm@outlook.com', 'paulareaprender@gmail.com', 'karlabeatriz54@gmail.com', 'acprudenteadv@gmail.com', 'r_fialho@hotmail.com', 'patricia.macedo2014@yahoo.com.br', 'amelia.tucunduva@gmail.com', 'reiselmadv@hotmail.com', 'akyriaougos3@gmail.com', 'talitalino1985@gmail.com', 'millenalaraujo@hotmail.com', 'lelasant204@gmail.com', 'tatianeprincipal@yahoo.com.br', 'patricianunes.juridica@gmail.com', 'laenamedeiros@gmail.com', 'ilanab.sousa@gmail.com', 'ju_camposvr@hotmail.com', 'i.faria@hotmail.com', 'danny__13@live.com', 'psicologarosamartins@gmail.com', 'luz.cecilia@hotmail.com', 'psicologa.michelerejane@hotmail.com', 'nickymayumi@gmail.com', 'cintiafranciscapaiva29@gmail.com', 'suellenalves.psi@yahoo.com', 'danielli@carneiroefontana.com.br', 'aldicarvalho2@gmail.com', 'luanamarcelino2692@gmail.com', 'vanessa.chavare.psic@gmail.com', 'isabellaemerenciano@hotmail.com', 'nataliagoncalves.psi@gmail.com', 'adrianameschede@gmail.com', 'sn_advocaciaeconsultoria@hotmail.com', 'barbaraadvewers@gmail.com', 'walderleneslimajusadv@hotmail.com', 'jossianabarrosgarcia@hotmail.com', 'mariadasgracaspereira@hotmail.com.br', 'nataliademesadv@gmail.com', 'nathaliamonteiro@gmail.com', 'vandabarreto961@gmail.com', 'reginasantos.psicologa@gmail.com', 'saraoliveirandrade.adv@gmail.com', 'meiriany.adv@gmail.com', 'glauciaprisciladias87@gmail.com', 'maryvieira2008@hotmail.com', 'gabi.tavares.psi@gmail.com', 'agnalda.carneiro@hotmail.com', 'mirelle_cris@hotmail.com', 'maricelmaoliver@gmail.com', 'kocavalcanti@gmail.com', 'psiluizafelix@gmail.com', 'psyche.fatima@gmail.com', 'joanamattia@gmail.com', 'psyche.fatima@gmail.com', 'catia.pereira73@gmail.com', 'ttmb.estudoeprofissional@gmail.com', 'tatiane_g5@yahoo.com.br', 'junara.ribeiro@gmail.com', 'thaliguimaraes1@gmail.com', 'lenarizz@gmail.com', 'lurene.psi@gmail.com', 'vagmakerpsicologia45@hotmail.com', 'paula.scheer@gmail.com', 'marinamjulio@gmail.com', 'tauaratrindadeadv@gmail.com', 'psicologavandablopes@gmail.com', 'elizabetpereiteixeira64@hotmail.com', 'adv.alcantarayasmin@gmail.com', 'vandabarreto961@gmail.com', 'lrss.psico@gmail.com', 'mariaquadros.adv@gmail.com', 'claratavares.cardoso@hotmail.com', 'geovanadapalma.psi@gmail.com') \n",
        "options": {}
      },
      "id": "eabe4843-ebf4-4a2c-9403-2ea139cd8e6c",
      "name": "Busca segmento de voluntarias em capacitaçao que se NÃO se inscreveram",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -320,
        -624
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/{{ $vars.TWILIO_ACCOUNT }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "=whatsapp:+55 \"{{ $json.phone }}\""
            },
            {
              "name": "From",
              "value": "MGd8a9962347e338326e9237641454191f"
            },
            {
              "name": "ContentSid",
              "value": "HX88d7cd625c767d882c021adc9919637d"
            },
            {
              "name": "ContentVariables",
              "value": "={   \"email\": \"{{ $json.email }}\" }"
            }
          ]
        },
        "options": {}
      },
      "id": "db2fc553-3427-48ea-98cd-585e0746523c",
      "name": "Envia mensagem whatsapp terceiro convite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        240
      ],
      "retryOnFail": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "SFhrb3m76win1cJr",
          "name": "Twilio API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5b7d41ba-50cc-4fd2-aec8-7a9661bb365b",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        32
      ]
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "id": "58030385-a5c4-4a2c-9ae2-9973372bc7f0",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1232,
        48
      ],
      "webhookId": "c120bc7a-7333-46b7-bc3b-2f086c7953aa"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}' and email in ('luimachado02@hotmail.com', 'michele.lany@hotmail.com', 'alessandraflora26@yahoo.com.br', 'dcr.reis@gmail.com', 'ebmaia08@gmail.com', 'leidiane.lrsc@gmail.com', 'suzanagarcia_@hotmail.com', 'smmaximiliano@gmail.com', 'erisaluana@gmail.com', 'contato@isabelmacedoadv.com.br', 'alinedrpsi@gmail.com', 'lauranier17@gmail.com', 'claudianealmeidapsi@gmail.com', 'advatalinepinheiro@gmail.com', 'leiaadvogada2025@gmail.com', 'gbuffara@bbadv.adv.br', 'maibecastro.advogada@gmail.com', 'thaisdemagalhaesdornelles@gmail.com', 'nevesilviam@gmail.com', 'vdeabreuantoniodeoliveira@gmail.com', 'rayheny_karla@hotmail.com', 'rosangeladomingos.adv@gmail.com', 'sidileiaalmeida@hotmail.com', 'malu_mendes@hotmail.com', 'amanda.o.ponciano@gmail.com', 'apsipalomalima@gmail.com', 'psianaclaubatista@gmail.com', 'andradeivana@yahoo.com.br', 'reginasantos.psicologa@gmail.com', 'luizaneiva89@hotmail.com', 'clara@just.trd.br', 'tamara.rodriguees@gmail.com', 'adv.francianexavier@gmail.com', 'psi.marinamenegondesouza@gmail.com', 'amandaavila83@gmail.com', 'cleide.nakashima@gmail.com', 'mariassoares971@gmail.com', 'leticia.brasil@hotmail.com', 'olgabu29@hotmail.com', 'camilaalmeidafelix@gmail.com', 'natalia.rh.cv@gmail.com', 'psicologiagleyce@gmail.com', 'biancadamattaxavier@gmail.com', 'larissa.carvalho4002@gmail.com', 'leila_barbos@hotmail.com', 'keiti.custodio@gmail.com', 'fabianadefatimacordeiro@gmail.com', 'annamuzio@yahoo.com', 'renata.vmb@gmail.com', 'amandakaren.dias@gmail.com', 'euthamyresmm@outlook.com', 'paulareaprender@gmail.com', 'karlabeatriz54@gmail.com', 'acprudenteadv@gmail.com', 'r_fialho@hotmail.com', 'patricia.macedo2014@yahoo.com.br', 'amelia.tucunduva@gmail.com', 'reiselmadv@hotmail.com', 'akyriaougos3@gmail.com', 'talitalino1985@gmail.com', 'millenalaraujo@hotmail.com', 'lelasant204@gmail.com', 'tatianeprincipal@yahoo.com.br', 'patricianunes.juridica@gmail.com', 'laenamedeiros@gmail.com', 'ilanab.sousa@gmail.com', 'ju_camposvr@hotmail.com', 'i.faria@hotmail.com', 'danny__13@live.com', 'psicologarosamartins@gmail.com', 'luz.cecilia@hotmail.com', 'psicologa.michelerejane@hotmail.com', 'nickymayumi@gmail.com', 'cintiafranciscapaiva29@gmail.com', 'suellenalves.psi@yahoo.com', 'danielli@carneiroefontana.com.br', 'aldicarvalho2@gmail.com', 'luanamarcelino2692@gmail.com', 'vanessa.chavare.psic@gmail.com', 'isabellaemerenciano@hotmail.com', 'nataliagoncalves.psi@gmail.com', 'adrianameschede@gmail.com', 'sn_advocaciaeconsultoria@hotmail.com', 'barbaraadvewers@gmail.com', 'walderleneslimajusadv@hotmail.com', 'jossianabarrosgarcia@hotmail.com', 'mariadasgracaspereira@hotmail.com.br', 'nataliademesadv@gmail.com', 'nathaliamonteiro@gmail.com', 'vandabarreto961@gmail.com', 'reginasantos.psicologa@gmail.com', 'saraoliveirandrade.adv@gmail.com', 'meiriany.adv@gmail.com', 'glauciaprisciladias87@gmail.com', 'maryvieira2008@hotmail.com', 'gabi.tavares.psi@gmail.com', 'agnalda.carneiro@hotmail.com', 'mirelle_cris@hotmail.com', 'maricelmaoliver@gmail.com', 'kocavalcanti@gmail.com', 'psiluizafelix@gmail.com', 'psyche.fatima@gmail.com', 'joanamattia@gmail.com', 'psyche.fatima@gmail.com', 'catia.pereira73@gmail.com', 'ttmb.estudoeprofissional@gmail.com', 'tatiane_g5@yahoo.com.br', 'junara.ribeiro@gmail.com', 'thaliguimaraes1@gmail.com', 'lenarizz@gmail.com', 'lurene.psi@gmail.com', 'vagmakerpsicologia45@hotmail.com', 'paula.scheer@gmail.com', 'marinamjulio@gmail.com', 'tauaratrindadeadv@gmail.com', 'psicologavandablopes@gmail.com', 'elizabetpereiteixeira64@hotmail.com', 'adv.alcantarayasmin@gmail.com', 'vandabarreto961@gmail.com', 'lrss.psico@gmail.com', 'mariaquadros.adv@gmail.com', 'claratavares.cardoso@hotmail.com', 'geovanadapalma.psi@gmail.com', 'annekarinaf@gmail.com', 'ferminianoadvocacia@gmail.com', 'madelene17@live.com', 'elencvieira@yahoo.com.br', 'ravanholivaz@gmail.com', 'nadianadireito@gmail.com', 'jessica_castro_@hotmail.com', 'veronicajcbalonso@gmail.com', 'leiaadvogada2025@gmail.com', 'dayana.rego@gmail.com', 'lilianmendesadvogada@gmail.com', 'fabiola879@gmail.com', 'beriamassoterapeuta@gmail.com', 'psipatifreitas@gmail.com', 'anelisesgf@gmail.com', 'therezinha.psicologia@hotmail.com', 'isabelesantello.psico@gmail.com', 'psikatiacabral@gmail.com', 'sarahbrant19@hotmail.com', 'yasminmoraesg@gmail.com', 'anamoreno.bless@gmail.com', 'sol28psicologa@gmail.com', 'cintiafranciscapaiva29@gmail.com', 'suchilla.tenorio@gmail.com', 'meiryaquino02@gmail.com', 'andreablancato.adv@gmail.com', 'crinhaleite@hotmail.com', 'lorranyrubem.adv@gmail.com', 'ingrid.mokwa@hotmail.com', 'akyriaougos3@gmail.com', 'clausds2707@gmail.com', 'lorenalopes.pessoal@gmail.com', 'cleide.nakashima@gmail.com', 'monicansilva.psi@gmail.com', 'ligiabrigitt@gmail.com', 'judithrochaadvocacia@gmail.com', 'cristine.psicologia@yahoo.com.br', 'psi.nataliacg@gmail.com', 'apsipalomalima@gmail.com', 'geicysilva13@outlook.pt', 'camillamarttinez@gmail.com', 'dulcineiafsouza@gmail.com', 'leidiane.lrsc@gmail.com', 'patricia.macedo2014@yahoo.com.br', 'karlabeatriz54@gmail.com', 'estergattiborges@gmail.com', 'psicologakaliane@gmail.com', 'adrianajaamorim@gmail.com', 'zeliapsilva@hotmail.com', 'psilita2024@gmail.com', 'kgvcastilho@gmail.com', 'caldeiraedite2@gmail.com', 'elizabar@uol.com.br', 'thalytacarvalho.adv@gmail.com', 'juremaboscardin@gmail.com', 'elmamonteiro@yahoo.com.br', 'tatianeprincipal@yahoo.com.br', 'lurene.psi@gmail.com', 'najarabarbosapimenta@gmail.com', 'adv.irlaneuchoa@yahoo.com', 'mariajosejesus@adv.oabsp.org.br', 'crisarrudas@bol.com.br', 'fabiacr76@gmail.com', 'fernanda_brasileiro@hotmail.com', 'barbaravrcostapsi@hotmail.com', 'psicologiarensoni@gmail.com', 'tatianecostapsi2012@gmail.com', 'paula.ianuck@gmail.com', 'ddra.ana.claudia@gmail.com', 'juuliamoraess4@gmail.com', 'dannynacano@gmail.com', 'claudiafariadasilva@hotmail.com', 'lorenacristinatomaz@gmail.com', 'keywillavenceslau.adv@gmail.com', 'psicologa.claudiasantos@gmail.com', 'lucia.mmoura2017@gmail.com', 'marengomilenepsico959@gmail.com', 'carolinebarreto.psico@gmail.com', 'ebmaia08@gmail.com', 'laenamedeiros@gmail.com', 'sandramoreirapsicologia@gmail.com', 'celiamariaolive@yahoo.com.br', 'psiludmilageneroso@gmail.com', 'lujuridico@uol.com.br', 'ddra.ana.claudia@gmail.com', 'danielacardoso91@yahoo.com.br', 'camilaalmeidafelix@gmail.com', 'gabiappoli@gmail.com', 'psi.lauranorthfleet@gmail.com', 'renatasamaraadv@yahoo.com', 'camila.chedif@gmail.com', 'lenarizz@gmail.com', 'rosangeladomingos.adv@gmail.com', 'aa.machado@terra.com.br', 'psi.karolinesampaiofelipe@gmail.com', 'crisarrudas@bol.com.br', 'julianaadonosilva@gmail.com')\n",
        "options": {}
      },
      "id": "b62378ed-3690-4d9e-88af-b14c05710eec",
      "name": "Busca segmento de voluntarias em capacitaçao que se inscreveram1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        464,
        32
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transactionalId\": \"cmgzhlti8s47qwr0ixortxr1o\",\n  \"email\": \"{{ $json.email }}\",\n  \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\"\n  }\n}",
        "options": {}
      },
      "id": "e09c2a84-ccc3-48a7-b76e-a48b8ee44265",
      "name": "Envia email terceiro convite se inscreveram1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1008,
        48
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        32
      ],
      "id": "0f6b027a-c954-429b-9b0d-e4db86fe919d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  volunteer_segment_id,\n  volunteer_id,\n  first_name,\n  email,\n  phone,\n  occupation,\n  volunteer_segment_group\nFROM volunteer_segments \nLEFT JOIN volunteers ON id = volunteer_id\nWHERE \n  segment_name =  'incomplete_training_{{ new Date().toLocaleDateString('pt-BR').replace(/\\//g, '_') }}' ",
        "options": {}
      },
      "id": "1991f589-c30e-409d-add8-3feb8afee48b",
      "name": "Busca segmento de voluntarias em capacitação",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -960,
        -144
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.loops.so/api/v1/transactional",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transactionalId\": \"cmh3qnhb131tf230inofoip7f\",\n  \"email\": \"{{ $json.email }}\",\n  \"dataVariables\": {\n    \"first_name\": \"{{ $json.first_name }}\"\n  }\n}",
        "options": {}
      },
      "id": "2aa43d7a-0edb-4038-8f47-fcc098849c58",
      "name": "Envia último email convite base de voluntárias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -432,
        -128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "XrvtxHAVgwwJ3r6q",
          "name": "Loops API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "11 09 27 10 *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1216,
        -144
      ],
      "id": "59abc2eb-a62d-4ca9-9bf9-796d01ae2422",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HYstwqyTrzYsvJ2P"
  },
  "shared": [
    {
      "createdAt": "2025-08-21T20:12:09.244Z",
      "updatedAt": "2025-08-21T20:12:09.244Z",
      "role": "workflow:owner",
      "workflowId": "3GNKlbgv2XRGdIgN",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2026-01-24T23:13:22.000Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger segment": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger segment1": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger2": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2026-01-12T18:28:21.000Z",
  "versionId": "b366bc27-4a63-472b-913b-7b6ac4d1917d"
}