Finalizar_cadastro_Msrs_230925
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-24T21:50:53.732Z",
  "id": "AOsI5kDVJadk1JLb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Finalizar cadastro Msrs 23/09/25",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        -16
      ],
      "id": "689d3950-da9f-4190-98ec-d30e0c021367",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/12Aj4XAOXa1PDoSJymOG5a6NV6HehF_qXuCziKaM4AqY/edit?usp=sharing",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        -16
      ],
      "id": "b4f37636-fed6-4cbd-81cc-352bbddde117",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "31vgqoSRas2e7TQe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -64,
        -16
      ],
      "id": "f557faa0-8799-4231-8ad3-82d55afc9201",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        144,
        -32
      ],
      "id": "baa99f24-7214-4ede-b299-0cf1804e5b6d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C06H7GA52A1",
          "mode": "list",
          "cachedResultName": "monitoramento-erros"
        },
        "text": "= msr: {{ $('Extract from File').item.json.msr_id }} {{ $json }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        752,
        0
      ],
      "id": "42ddadcb-96ae-4da6-9df3-0bd42e54c68c",
      "name": "Send a message",
      "webhookId": "cf81c38e-ad7b-4996-a725-44c215898a16",
      "credentials": {
        "slackOAuth2Api": {
          "id": "01G85hUbLT4VlY92",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.PROD_MATCH_LAMBDA_URL }}/compose",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{ \n    \"msrId\": {{$json.msr_id}},\n    \"zendeskTicketId\": {{ $json.zendesk_ticket_id}},\n    \"supportType\": \"{{$json.support_type}}\",\n    \"status\": \"{{$json.status}}\",\n    \"supportExpertise\":  \"{{$json.support_expertise}}\",\n    \"lat\": {{$json.lat}},\n    \"lng\": {{$json.lng}},\n    \"city\":  \"{{$json.city}}\",\n    \"state\":  \"{{$json.state}}\",\n    \"acceptsOnlineSupport\": true,\n    \"supportExpertise\": null,\n\t\"priority\": null,\n\t\"hasDisability\": null,\n\t\"requiresLibras\": null\n}]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -16
      ],
      "id": "bf6600b1-6325-4f4f-a9ca-3e55fb427192",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TSWrUVoMnCR2WuL3",
          "name": "Lambda match 2"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-24T21:50:53.747Z",
      "updatedAt": "2025-09-24T21:50:53.747Z",
      "role": "workflow:owner",
      "workflowId": "AOsI5kDVJadk1JLb",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2026-01-29T11:36:41.000Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-29",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-24T22:51:50.000Z",
  "versionId": "5089a234-a00a-4dee-8aca-b7403b63618f"
}