Instrumentais_Voluntarias_Tally_[TEMP]
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Formata - Triagem Pscologo 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata - Triagem Pscologo 1": {
      "main": [
        [
          {
            "node": "Busca Zendesk User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata - Triagem Jurídico 1": {
      "main": [
        [
          {
            "node": "Busca Zendesk User ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata - Triagem Juridico 2": {
      "main": [
        [
          {
            "node": "Busca Zendesk User ID2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formata - Triagem Psicológico 2": {
      "main": [
        [
          {
            "node": "Busca Zendesk User ID3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar novo ticket (triagem psi 2)": {
      "main": [
        [
          {
            "node": "Salvar Respostas3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar novo ticket (triagem jur 2)": {
      "main": [
        [
          {
            "node": "Salvar Respostas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar novo ticket (triagem jur 1)": {
      "main": [
        [
          {
            "node": "Salvar Respostas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar novo ticket (triagem psi 1)": {
      "main": [
        [
          {
            "node": "Salvar Respostas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Zendesk User ID": {
      "main": [
        [
          {
            "node": "Criar novo ticket (triagem psi 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Zendesk User ID1": {
      "main": [
        [
          {
            "node": "Criar novo ticket (triagem jur 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Zendesk User ID2": {
      "main": [
        [
          {
            "node": "Criar novo ticket (triagem jur 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Zendesk User ID3": {
      "main": [
        [
          {
            "node": "Criar novo ticket (triagem psi 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        []
      ]
    },
    "Webhook2": {
      "main": [
        []
      ]
    },
    "Webhook3": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-08-19T18:57:54.569Z",
  "id": "xbeFBqR5GbsXgiHA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Instrumentais Voluntárias Tally [TEMP]",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -1480,
        440
      ],
      "id": "8a0c3679-6676-4865-b6c6-8bb62b61bd1e"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "triagem-psi-1",
        "authentication": "headerAuth",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -620,
        -180
      ],
      "webhookId": "de99fdcb-9018-4494-9abb-259194d5ad21",
      "id": "389037ca-4cb8-4ff6-9f96-342b3730276d",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nfunction getSelectedTexts(questions, label) {\n  const question = questions.find(q => q.label === label);\n  if (!question) return [];\n\n  return question.value? question.value.map(\n    id => question.options.find(opt => opt.id === id)?.text\n  ).filter(Boolean).join(\", \"): \"\"; // remove undefined se algum id não existir\n}\n\nvar answers,answers_txt;\nfor (item of items) {\n  form_answers = item.json.body.data.fields\n  \n  var dados_voluntaria = {  \n    nome: form_answers.find(objeto => objeto.label == \"nome_completo\").value,\n    email: form_answers.find(objeto => objeto.label == \"email_de_cadastro\").value,\n    whatsapp: form_answers.find(objeto => objeto.label == \"whatsapp\").value\n  };\n\n  var criterios_projeto ={\n    e_maior_18: getSelectedTexts(form_answers, \"acolhida_e_maior_de_18\"),\n    reside_no_brasil: getSelectedTexts(form_answers, \"acolhida_reside_no_br\"),\n    brasileira: getSelectedTexts(form_answers, \"acolhida_e_brasileira\"),\n    situacao_de_violencia: getSelectedTexts(form_answers, \"acolhida_situacao_vbg\"),\n    periodo: getSelectedTexts(form_answers, \"periodo_de_tempo_vbg\"),\n    tipos_de_violencia:getSelectedTexts(form_answers, \"tipos_de_violencia\"),\n    autor_da_violencia: getSelectedTexts(form_answers, \"autor_da_vbg\"),\n    situacao_vulnerabilidade_baixa_renda: getSelectedTexts(form_answers,\"acolhida_vulneravel_socioeconomica\")\n  };\n\n  var dados_acolhida = {\n\n    nome: form_answers.find(objeto => objeto.label == \"nome_da_acolhida\").value,\n    data_de_nascimento: form_answers.find(objeto => objeto.label == \"data_de_nascimento\").value,\n    regime_de_trabalho: getSelectedTexts(form_answers, \"qual_o_regime_de_trabalho_da_acolhida\"),\n    renda_individual: getSelectedTexts(form_answers, \"renda_individual_acolhida\"),\n    tem_independencia_financeira: getSelectedTexts(form_answers, \"acolhida_tem_independencia_financeira\"),\n    tem_cadunico: getSelectedTexts(form_answers,\"acolhida_tem_cadunico\"),\n    recebe_algum_beneficio: getSelectedTexts(form_answers, \"acolhida_tem_benefico\"),\n    responsavel_financeiramente: getSelectedTexts(form_answers, \"acolhida_e_responsavel_financeira\"),\n    divide_responsabilidade_com: getSelectedTexts(form_answers, \"acolhide_divide_responsabilidade_com\"),\n    tem_dependentes_financeiros: getSelectedTexts(form_answers, \"acolhida_tem_dependentes_finaceiros\"),\n    quantidade_de_dependentes: getSelectedTexts(form_answers, \"quantidade_de_dependentes\") === \"\"? \"0\": getSelectedTexts(form_answers, \"quantidade_de_dependentes\"),\n    recebe_pensao_alimenticia:  getSelectedTexts(form_answers, \"acolhida_recebe_pensao_alimenticia\")\n    \n  }\n\n  var moradia = {\n\n    situacao_moradia: getSelectedTexts(form_answers, \"situacao_moradia\"),\n    cedida_por: getSelectedTexts(form_answers, \"cedida_por\"),\n    reside_com_o_autor_da_viloencia: getSelectedTexts(form_answers,\"reside_com_o_autor_da_viloencia\"),\n    sente_seguram_em_casa: getSelectedTexts(form_answers, \"sente_seguram_em_casa\"),\n    situacao_de_carcere: getSelectedTexts(form_answers, \"situacao_de_carcere\")\n  } \n\n  //Determina risco do caso\n  var risco = 'nenhum'\n  var priority = 'low'\n  if(moradia.situacao_de_carcere === 'Sim') {\n    priority = 'urgent'  \n    risco = 'extremo'\n  }\n\n  var servico_publico = {\n    \n    conhece_redes_de_atendimento: getSelectedTexts(form_answers, \"conhece_redes_de_atendimento\"),\n    quais_redes_de_atendimento_conhece: getSelectedTexts(form_answers, \"quais_redes_de_atendimento_conheceu\"),\n    atentendida_em_servico_publico: getSelectedTexts(form_answers, \"atentendida_em_servico_publico\"),\n    quais_servicos_publicos_atentida: getSelectedTexts(form_answers, \"quais_servicos_publicos_atentida\")\n  }\n\n  var processo_psicoterapeutico = {\n\n    demanda_inicial: form_answers.find(objeto => objeto.label == \"demanda_inicial\").value,\n    encaminhamento: getSelectedTexts(form_answers, \"encaminhamento\"),\n    qual_servico_publico: getSelectedTexts(form_answers, \"qual_servico_publico\")\n    }\n  \n  answers = {dados_voluntaria,criterios_projeto, dados_acolhida, moradia, servico_publico, processo_psicoterapeutico, risco: risco}\n  \n  answers_txt = JSON.stringify(answers).replaceAll('Sim',true).replaceAll(\"Não\",false);\n  answers_txt = answers_txt.replaceAll(\"false \", \"Não \").replaceAll(\"false.\",\"Não.\");\n  answers_txt = answers_txt.replaceAll('\"true\"', 'true').replaceAll('\"false\"', 'false');\n  answers_txt = answers_txt.replaceAll(/\\n/g, ' ');  \n  let data = new Date(dados_acolhida.data_de_nascimento);\n  answers.dados_acolhida.data_de_nascimento_br =   ((data.getDate() )) + \"/\" + ((data.getMonth() + 1)) + \"/\" + data.getFullYear(); ;\n\n  answers.risco = answers.risco.toUpperCase(); \n}\nreturn {\n        priority,\n        risco,\n        answers,\n        answers_txt\n       }; "
      },
      "name": "Formata - Triagem Pscologo 1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -380,
        -180
      ],
      "id": "01c93f02-0fee-4ee4-aba1-29c2f003e0f1"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://api-graphql.bonde.org/v1/graphql",
        "requestFormat": "json",
        "query": "=mutation MyMutation($answers: json) {\n  insert_mda_forms_answers(objects: {answers: $answers, form: \"triagem-psicologico-1\", msr_name: \"{{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\", ticket_id: {{$node[\"Criar novo ticket (triagem psi 1)\"].json[\"ticket\"][\"id\"]}}, volunteer_email: \"{{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_voluntaria\"][\"email\"]}}\",organization_id:360282119532, form_id:21\n}) {\n    affected_rows\n  }\n}",
        "variables": "={\n\"answers\": {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers_txt\"]}}\n}"
      },
      "name": "Salvar Respostas",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        180,
        -180
      ],
      "id": "49d8454a-2873-4570-b548-763f72900e78",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nhq3GDSBeWJ5XE1l",
          "name": "[PROD] BONDE api-graphql"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://api-graphql.bonde.org/v1/graphql",
        "requestFormat": "json",
        "query": "=mutation MyMutation($answers: json) {\n  insert_mda_forms_answers(objects: {answers: $answers, form: \"triagem-juridico-1\", msr_name: \"{{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\", ticket_id: {{$node[\"Criar novo ticket (triagem jur 1)\"].json[\"ticket\"][\"id\"]}}, volunteer_email: \"{{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_voluntaria\"][\"email\"]}}\", organization_id:360269610652, form_id: 20\n}) {\n    affected_rows\n  }\n}",
        "variables": "={\n\"answers\": {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers_txt\"]}}\n}"
      },
      "name": "Salvar Respostas1",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        180,
        0
      ],
      "id": "500fdf4a-2718-4e63-b8a8-0601c0404e01",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nhq3GDSBeWJ5XE1l",
          "name": "[PROD] BONDE api-graphql"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nfor (item of items) {\n  var dados_voluntaria = { \n    nome: item.json.submission.results[\"1_nome_completo\"],\n    email: item.json.submission.results[\"2_email_de_cadastro1\"],\n    whatsapp: item.json.submission.results[\"3_whatsapp\"]\n    };\n  \n  \n  var criterios_projeto = {\n    maior_de_18: item.json.submission.results[\"4_a_acolhida_e_maior_de_1\"],\n    reside_no_brasil: item.json.submission.results[\"5_a_acolhida_reside_no_br\"],\n    brasileira: item.json.submission.results[\"6_a_acolhida_e_brasileira\"],\n    situacao_de_violencia: item.json.submission.results[\"7_a_acolhida_passou_ou_es\"],\n    periodo: item.json.submission.results[\"9_por_qual_periodo_de_tem\"],\n    tipos_de_violencia:item.json.submission.results[\"8_quais_os_tipos_de_viole\"],\n    autor_da_violencia: item.json.submission.results[\"10_quem_e_oa_autora_da_vi\"],\n    situacao_vulnerabilidade_baixa_renda: item.json.submission.results[\"11_a_acolhida_esta_em_sit\"],\n    atendida_denfensoria_publica: item.json.submission.results[\"12_a_acolhida_esta_recebe\"],\n    atendida_advogada_particular: item.json.submission.results[\"13_a_acolhida_esta_recebe\"]\n  }\n\n  \n  \n  var dados_acolhida = {\n\n    nome: item.json.submission.results[\"14_nome_da_acolhida\"],\n    data_de_nascimento: item.json.submission.results[\"15_data_de_nascimento\"],\n    regime_de_trabalho: item.json.submission.results[\"16_qual_o_regime_de_traba\"],\n    renda_individual: item.json.submission.results[\"17_assinale_a_opcao_que_c\"],\n    tem_independencia_financeira: item.json.submission.results[\"18_a_acolhida_tem_indepen\"],\n    tem_cadunico: item.json.submission.results[\"19_a_acolhida_esta_inscri\"],\n    recebe_algum_beneficio: item.json.submission.results[\"20_atualmente_a_acolhida\"],\n    responsavel_financeiramente: item.json.submission.results[\"21_a_acolhida_e_responsav\"],\n    divide_responsabilidade_com: item.json.submission.results[\"22_caso_tenha_respondido\"],\n    tem_dependentes_financeiros: item.json.submission.results[\"23_a_acolhida_tem_pessoas\"],\n    quantidade_de_dependentes: item.json.submission.results[\"24_caso_tenha_respondido\"] === \"\"? \"0\":item.json.submission.results[\"24_caso_tenha_respondido\"],\n    recebe_pensao_alimenticia: item.json.submission.results[\"25_a_acolhida_recebe_pens\"]\n  } \n  var moradia = {\n\n    situacao_moradia: item.json.submission.results[\"26_qual_a_situacao_de_mor\"],\n    cedida_por: item.json.submission.results[\"27_caso_tenha_respondido\"],\n    reside_com_o_autor_da_viloencia: item.json.submission.results[\"28_a_acolhida_reside_com\"],\n    sente_segura_em_casa: item.json.submission.results[\"29_a_acolhida_se_sente_se\"],\n    situacao_de_carcere: item.json.submission.results[\"30_a_acolhida_vive_em_sit\"]\n  } \n \n  //Determina risco do caso\n  var risco = 'nenhum'\n  item.json.priority = 'low'\n  if(moradia.situacao_de_carcere === 'Sim') {\n    item.json.priority = 'urgent'  \n    risco = 'extremo'\n  }\n\n  var servico_publico = {\n    \n    conhece_redes_de_atendimento: item.json.submission.results[\"31_a_acolhida_conhece_a_r\"],\n    quais_redes_de_atendimento_conhece: item.json.submission.results[\"32_se_sim_assinale_qualqu\"],\n    atentendida_em_servico_publico: item.json.submission.results[\"33_a_acolhida_esta_em_ate\"],\n    quais_servicos_publicos_atentida: item.json.submission.results[\"34_se_sim_assinale_qualqu\"]  \n  }\n\n  var processo_juridico = {\n    areas_direito_demanda_se_enquadra: item.json.submission.results[\"35_em_qualis_areas_do_dir\"],\n    demanda_inicial: item.json.submission.results[\"36_descreva_resumidamente\"],\n    encaminhamento: item.json.submission.results[\"37_encaminhamentos_do_cas\"],\n    servicos_indicados: item.json.submission.results[\"38_caso_tenha_assinalado\"]\n    \n  }\n  item.json.answers = {dados_voluntaria,criterios_projeto, dados_acolhida, moradia, servico_publico, processo_juridico, risco: risco}\n  item.json.answers_txt = JSON.stringify(item.json.answers).replaceAll('Sim',true).replaceAll(\"Não\",false);\n  //item.json.answers_txt = item.json.answers_txt.replaceAl(\"false se enquadra no perfil\", \"Não se enquadra no perfil\").replaceAll(\"false conhece\",\"Não conhece\").replaceAll(\"false se aplica\",\"Não se aplica\")\n  item.json.answers_txt = item.json.answers_txt.replaceAll(\"false \", \"Não \").replaceAll(\"false.\",\"Não.\");\n  item.json.answers_txt = item.json.answers_txt.replaceAll('\"true\"', 'true').replaceAll('\"false\"', 'false')\n  let data = new Date(item.json.submission.results[\"15_data_de_nascimento\"]);\n  item.json.answers.dados_acolhida.data_de_nascimento_br =   ((data.getDate() )) + \"/\" + ((data.getMonth() + 1)) + \"/\" + data.getFullYear(); \n\n  item.json.answers.risco = item.json.answers.risco.toUpperCase();\n}\nconsole.log('Done!');\n\nreturn items; "
      },
      "name": "Formata - Triagem Jurídico 1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -380,
        0
      ],
      "id": "f3144236-866f-46cc-9cce-3cbb67d5d351"
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nfor (item of items) {\n  var results = item.json.submission.results;\n  \n  Object.keys(results).forEach(key => {\n    if (results[key] === \"\" || results[key] === null) {\n      delete results[key];\n      }\n  });\n  let risco = 'nenhum';\n  let priority = 'low';\n  var dados_voluntaria = {\n\t  nome: results[\"1_nome_completo\"],\n\t  email: results[\"2_email_de_cadastro1\"],\n  }\n  var dados_acolhida = {\n    nome: results[\"3_nome_da_acolhida\"],\n    data_de_nascimento: results[\"4_data_de_nascimento_da_a\"],\n    identidade_racial: results[\"5_como_a_acolhida_se_auto\"],\n    identidade_genero:results[\"6_qual_a_identidade_de_ge\"],\n    deficiencia:results[\"informe_aqui_qual_ou_quai\"],\n    pcd:results[\"7_a_acolhida_tem_alguma_d\"],\n    regime_de_bens:results[\"81_caso_se_aplique_qual_o\"],\n    estado_civil:results[\"8_qual_o_estado_civil_da\"],\n    filhos_faixa_etaria:results[\"91_selecione_em_qual_faix1\"],\n    filhos_pcd: results[\"92_algum_dos_filhos_e_pes1\"],\n    deficiencia_filhos:results[\"93_caso_tenha_respondido1\"],\n    tem_filhos:results[\"9_a_acolhida_tem_filhasos\"],\n    gravida_ou_tem_recem_nascido: results[\"10_a_acolhida_esta_gravid\"],\n  }\n\n  let data = new Date(results[\"4_data_de_nascimento_da_a\"]);\n  let data_de_nascimento_br =   ((data.getDate() )) + \"/\" + ((data.getMonth() + 1)) + \"/\" + data.getFullYear();\n  \n  var aspectos_socioeconomicos = {\n    escolaridade: results[\"11_qual_a_escolaridade_da\"],\n  }\n\n  var moradia = {\n    local_de_risco: results[\"12_a_acolhida_considera_q\"],\n  }\n\n  var historico_violencia = {\n    tipos_violencia: results[\"13_tipos_de_violencia_que\"],\n    violencia_fisica_grave: results[\"14_oa_autora_da_violencia\"],\n    violencia_fisica_extrema: results[\"15_oa_autora_da_violencia\"],\n    se_sente_isolada: results[\"16_a_acolhida_se_sente_is\"],\n    autor_tem_acesso_arma_fogo: results[\"17_oa_autora_da_violencia\"],\n    como_ameacou: results[\"181_como\"],\n    autor_ameacou_familiar: results[\"18_oa_autora_da_violencia\"],\n    autor_obrigou_ato_sexual:results[\"19_oa_autora_da_violencia\"],\n    violencia_durante_gravidez:results[\"20_caso_se_aplique_a_acol\"],\n    autor_comportamentos_abusivos:results[\"21_oa_autora_da_violencia\"],\n    acolhida_atendimento_medico:results[\"22_a_acolhida_necessitou\"],\n    acolhida_teve_interrese_em_separar: results[\"23_caso_se_aplique_a_acol\"],\n    acolhida_tem_dependencia_emocional: results[\"24_a_acolhida_apresenta_d\"],\n    frequencia_violencia_aumentou: results[\"25_as_agressoes_ou_ameaca\"],\n    autor_agrediu_outras_pessoas: results[\"26_oa_autora_da_violencia\"],\n  }\n\n  var autor_da_violencia = {\n    quais_dominios: results[\"271_selecione_as_opcaooes\"],\n    tem_dominio: results[\"27_oa_autora_da_violencia\"],\n    usa_substancias_psicoativas: results[\"28_oa_autora_da_violencia\"],\n    quais_substancias: results[\"281_informe_aqui_qual_ou\"],\n    diagnostico_doenca_psiquiatrica: results[\"29_oa_autora_da_violencia\"],\n  }\n\n  var servico_publico = {\n    acolhida_criticou_servicos_publicos: results[\"30_a_acolhida_ja_manifest\"],\n    quais_servicos_publicos: results[\"301_sobre_quais_servicos\"],\n  }\n\n  var processo_juridico = {\n    objetivo_da_demanda: results[\"31_qual_o_objeto_das_dema\"],\n    lei_maria_da_penha: results[\"32_a_demanda_da_acolhida\"],\n    forma_de_viloencia: results[\"321_em_qual_forma_de_viol\"],\n    lei_que_se_enquadra: results[\"321_entao_em_qualis_outra\"],\n    resumo_demanda: results[\"33_descreva_resumidamente\"],\n    encaminhamento: results[\"34_encaminhamento_do_caso\"],\n  }\n  var contato_contrato_com_acolhida = {\n    inicio_atendimento: results[\"35_data_do_inicio_do_aten\"],\n    contrato_pro_bono: results[\"36_voce_estabeleceu_um_co\"],\n    horas_atendimento_por_semana: results[\"37_quantas_horas_de_atend\"],\n    qual_fluxo_comunicao: results[\"38_voce_e_a_acolhida_esta\"],\n    frequencia_comunicacao: results[\"381_voces_acordaram_uma_f\"],\n    forma_segura_contato_com_acolhida: results[\"39_formas_mais_seguras_de\"],\n  }\n  data = new Date(results[\"35_data_do_inicio_do_aten\"]);\n  let inicio_atendimento_br =   ((data.getDate() )) + \"/\" + ((data.getMonth() + 1)) + \"/\" + data.getFullYear();\n  \n  var assistencia_psicologica = {\n    tem_acompanhamento_psicologico: results[\"40_a_acolhida_esta_em_aco\"],\n    via_mapa_do_acolhimento: results[\"401_esse_acompanhamento_e\"],\n    entrou_em_contato_com_psicologa: results[\"402_voce_profissional_adv\"]\n  }\n\n  //risco moderado \n  if(moradia.local_de_risco === 'Sim' || autor_da_violencia.tem_dominio === 'Sim'){\n    risco = 'moderado'\n    priority = 'normal'\n  }\n  //risco grave\n  if (dados_acolhida.pcd === 'Sim' || \n      dados_acolhida.filhos_pcd === 'Sim' || \n      dados_acolhida.gravida_ou_tem_recem_nascido === 'Sim' || \n      historico_violencia.violencia_fisica_grave !== 'Nenhuma agressão física' ||\n      historico_violencia.autor_obrigou_ato_sexual === 'Sim' || \n      historico_violencia.violencia_durante_gravidez === 'Sim' ||\n      historico_violencia.acolhida_atendimento_medico.includes('Sim') || \n      historico_violencia.frequencia_violencia_aumentou === 'Sim' ||\n      autor_da_violencia.usa_substancias_psicoativas === 'Sim' ||\n      autor_da_violencia.diagnostico_doenca_psiquiatrica === 'Sim'){\n  \n   risco = 'grave'\n   priority = 'high'\n  }\n\n  //risco extremo \n  if (historico_violencia.violencia_fisica_extrema !== 'Nenhuma agressão física' ||\n      historico_violencia.autor_tem_acesso_arma_fogo === 'Sim' ||\n      historico_violencia.autor_ameacou_familiar === 'Sim' ||\n      historico_violencia.autor_comportamentos_abusivos || \n      historico_violencia.autor_agrediu_outras_pessoas.includes('Sim') ){\n    risco = 'extremo'\n    priority = 'urgent'\n  }\n  item.json.priority = priority;\n  item.json.answers = { dados_voluntaria,dados_acolhida,aspectos_socioeconomicos,moradia,historico_violencia,autor_da_violencia,servico_publico,processo_juridico,contato_contrato_com_acolhida,assistencia_psicologica, risco: risco}\n  \n  item.json.body_ticket = 'RISCO: ' + risco.toUpperCase() + '\\\\n\\\\nDADOS VOLUNTARIA\\\\nNome: '+ dados_voluntaria.nome + '\\\\nemail: ' + dados_voluntaria.email +\n  '\\\\n\\\\nDADOS ACOLHIDA\\\\nNome: ' + dados_acolhida.nome+ '\\\\nData de nascimento: ' + data_de_nascimento_br + \n  '\\\\nIdentidade racial: ' + dados_acolhida.identidade_racial + '\\\\nIdentidade de genero: ' + dados_acolhida.identidade_genero +\n  '\\\\nÉ uma pessoa com deficiência: ' + dados_acolhida.pcd + \n  //codicao pcd\n  (dados_acolhida.pcd.toUpperCase() === 'SIM' ? '\\\\nQual deficiencia: ' + dados_acolhida.deficiencia : '') +\n  '\\\\nEstado cívil: ' + dados_acolhida.estado_civil + \n  //condicao estado civil\n  (dados_acolhida.estado_civil === 'Solteira'? '' : '\\\\nRegime de bens: ' + dados_acolhida.regime_de_bens) + '\\\\nTem filhos: ' + dados_acolhida.tem_filhos +\n  //condicao filhos\n  (dados_acolhida.tem_filhos === 'Sim'? '\\\\nFaixa etaria dos filhos(as): ' + dados_acolhida.filhos_faixa_etaria + '\\\\nAlgum dos filhos tem difciência: ' + dados_acolhida.filhos_pcd + \n  //condicao filhos pcd\n  (dados_acolhida.filhos_pcd === 'Sim' ?  '\\\\nDeficiencia do filho: ' + dados_acolhida.deficiencia_filhos: '') : '') +\n  '\\\\nGravida ou esteve grávida nos últimos 18 meses: ' + dados_acolhida.gravida_ou_tem_recem_nascido +\n  '\\\\n\\\\nASPECTOS SOCIOECONÔMICOS\\\\nEscolaridade: ' + aspectos_socioeconomicos.escolaridade +\n  '\\\\n\\\\nMORADIA\\\\nConsidera que mora num local com risco de violência: ' + moradia.local_de_risco + \n  '\\\\n\\\\nHISTÓRICO DE VIOLÊNCIA\\\\nTipos de violência: ' + historico_violencia.tipos_violencia + '\\\\nTipos de viloencia física (grave): ' + historico_violencia.violencia_fisica_grave +\n  '\\\\nTipos de viloencia física (extrema): ' + historico_violencia.violencia_fisica_extrema + '\\\\nSe sente isolada: ' + historico_violencia.se_sente_isolada +\n  '\\\\nO autor da violência tem acesso a uma arma fogo: ' + historico_violencia.autor_tem_acesso_arma_fogo +  \n  '\\\\nO autor da violência já ameaçou algum familiar: ' + historico_violencia.autor_ameacou_familiar +\n  //condicao ja ameacou \n  (historico_violencia.autor_ameacou_familiar === 'Sim'? '\\\\nComo ameaçou: ' + historico_violencia.como_ameacou : '') +\n  '\\\\nO autor da violência obrigou a acolhida a ter relações sexuais ou praticar atos sexuais: ' + historico_violencia.autor_obrigou_ato_sexual + \n  '\\\\nA acolhida sofreu algum tipo de violência durante a gravidez ou nos três meses posteriores ao parto: ' + historico_violencia.violencia_durante_gravidez +\n  '\\\\nO autor da violência teve algum destes comportamentos com a acolhida: ' + historico_violencia.autor_comportamentos_abusivos +\n  '\\\\nA acolhida necessitou de atendimento médico e/ou internação: ' + historico_violencia.acolhida_atendimento_medico +\n  '\\\\nA acolhida se separou ou teve interrese em separar: ' + historico_violencia.acolhida_teve_interrese_em_separar + \n  '\\\\nA acolhida apresenta dependência emocional do autor da violência: ' + historico_violencia.acolhida_tem_dependencia_emocional +\n  '\\\\nAs agressões ou ameaças do autor da violência contra a acolhida se tornaram mais frequentes ou mais graves nos últimos meses: ' + historico_violencia.frequencia_violencia_aumentou +\n  '\\\\nO autor da violência já ameaçou ou agrediu outras pessoas ou animais: ' + historico_violencia.autor_agrediu_outras_pessoas +\n  '\\\\n\\\\nSOBRE O(A) AUTOR(A) DA VIOLÊNCIA\\\\nTem domínio/poder social e/ou financeiro sobre a acolhida: ' + autor_da_violencia.tem_dominio +\n  //condicao dominio socila/financeiro\n  (autor_da_violencia.tem_dominio === 'Sim'? '\\\\nQuais dominios/poderes: ' + autor_da_violencia.quais_dominios : '') +\n  '\\\\nFaz uso de substâncias psicoativas: ' + autor_da_violencia.usa_substancias_psicoativas +\n  //condicao uso substancias\n  (autor_da_violencia.usa_substancias_psicoativas === 'Sim'? '\\\\nQuais substâncias psicoativas: ' + autor_da_violencia.quais_substancias : '') +\n  '\\\\nTem algum diagnóstico (verbal ou laudo) de doença psiquiátrica: ' +  autor_da_violencia.diagnostico_doenca_psiquiatrica +\n  '\\\\n\\\\nSERVIÇO PÚBLICO\\\\nA acolhida já manifestou alguma resistência, má experiência ou estranhamento sobre o atendimento em serviços públicos: ' + servico_publico.acolhida_criticou_servicos_publicos +\n  //condicao servicao publicos\n  (servico_publico.acolhida_criticou_servicos_publicos === 'Sim'? '\\\\nQuais serviços públicos: ' + servico_publico.quais_servicos_publicos : '') +\n  '\\\\n\\\\nPROCESSO JURÍDICO\\\\nObjetivo da demanda: '  + processo_juridico.objetivo_da_demanda + '\\\\nSe enquadra na lei Maria da Penha: ' +  processo_juridico.lei_maria_da_penha +\n  //condicao lei maria da penha \n  (processo_juridico.lei_maria_da_penha === 'Sim'? '\\\\nQual forma de violência se enquadra na lei Maria da Penha: ' + processo_juridico.forma_de_viloencia : \n   '\\\\nEm qual lei_que se enquadra: ' + processo_juridico.lei_que_se_enquadra) +\n  '\\\\nResumo da demanda: ' + processo_juridico.resumo_demanda + '\\\\nEncaminhamento: ' + processo_juridico.encaminhamento +\n  '\\\\n\\\\nCONTATRO E CONTRATO COM A ACOLHIDA\\\\nData do inicio do atendimento: ' + inicio_atendimento_br + \n  '\\\\nEstabeleceu um contrato de serviços pro bono: ' + contato_contrato_com_acolhida.contrato_pro_bono +\n  '\\\\nHoras de atendimento por semana: ' + contato_contrato_com_acolhida.horas_atendimento_por_semana +\n  '\\\\nEstabeleceram um tipo de fluxo de comunição: ' + contato_contrato_com_acolhida.qual_fluxo_comunicao +\n  //condicao fluxo de comunicacao\n  (contato_contrato_com_acolhida.qual_fluxo_comunicao.includes('Sim')? '\\\\nFoi estabelecida uma frequência de comunicacao: ' + contato_contrato_com_acolhida.frequencia_comunicacao : '') +\n  '\\\\nQual a forma segura de entrar em contato com a acolhida: ' + contato_contrato_com_acolhida.forma_segura_contato_com_acolhida +\n  '\\\\n\\\\nASSISTÊNCIA PSICOLÓGICA\\\\nA acolhida está em acompanhamento psicológico: ' + assistencia_psicologica.tem_acompanhamento_psicologico +\n  //condica tem acompanhamento\n  (assistencia_psicologica.tem_acompanhamento_psicologico === 'Sim'? '\\\\nIntermediado pelo Mapa do Acolhimento: ' + assistencia_psicologica.via_mapa_do_acolhimento +\n  '\\\\nA voluntária entrou em contato com a psicologa: ' + assistencia_psicologica.entrou_em_contato_com_psicologa : '')\n  \n  dados_acolhida.deficiencia = dados_acolhida.deficiencia?.replaceAll('Deficiência ','');\n  dados_acolhida.deficiencia_filhos = dados_acolhida.deficiencia_filhos?.replaceAll('Deficiência ','');\n  historico_violencia.como_ameacou = historico_violencia.como_ameacou?.replaceAll('Utilizando ','');\n  historico_violencia.acolhida_atendimento_medico = historico_violencia.acolhida_atendimento_medico?.replaceAll('Sim, ', '');\n  historico_violencia.autor_ameacou_familiar = historico_violencia.autor_ameacou_familiar?.replaceAll('Sim, ', ''); \n  historico_violencia.autor_agrediu_outras_pessoas = historico_violencia.autor_agrediu_outras_pessoas?.replaceAll('Sim, ', ''); \n  historico_violencia.acolhida_tem_dependencia_emocional = historico_violencia.acolhida_tem_dependencia_emocional.replace('Sim', true).replace('Não', false)\n  historico_violencia.violencia_durante_gravidez = historico_violencia.violencia_durante_gravidez?.replace('Sim', true).replace('Não', false);\n  processo_juridico.forma_de_viloencia = processo_juridico.forma_de_viloencia?.replaceAll('Violência ',''); \n  contato_contrato_com_acolhida.qual_fluxo_comunicao = contato_contrato_com_acolhida.qual_fluxo_comunicao\n                                                        .replaceAll('Sim, pelo WhatsApp', 'whatsapp')\n                                                        .replaceAll('Sim, por ligação telefônica', 'ligação telefônica')\n                                                        .replaceAll('Não, a comunicação se dará por livre demanda', 'livre')\n  item.json.answers_txt = '\"dados_voluntaria\": ' + JSON.stringify(dados_voluntaria)\n  item.json.answers_txt = item.json.answers_txt + ', \"dados_acolhida\":'+JSON.stringify(dados_acolhida).replaceAll('Sim', true).replaceAll('Não', false) ; \n  item.json.answers_txt =  item.json.answers_txt + ', \"moradia\":' + JSON.stringify(moradia).replaceAll('Sim', true).replaceAll('Não', false) ; \n  historico_violencia.se_sente_isolada = historico_violencia.se_sente_isolada?.replace('Sim', true).replace('Não', false);\n  historico_violencia.autor_tem_acesso_arma_fogo = historico_violencia.autor_tem_acesso_arma_fogo?.replace('Sim', true).replace('Não', false);\n  historico_violencia.autor_ameacou_familiar = historico_violencia.autor_ameacou_familiar?.replace('Sim', true).replace('Não', false);\n  historico_violencia.autor_obrigou_ato_sexual = historico_violencia.autor_obrigou_ato_sexual?.replace('Sim', true).replace('Não', false);\n  historico_violencia.acolhida_teve_interrese_em_separar = historico_violencia.acolhida_teve_interrese_em_separar?.replace('Sim', true).replace('Não', false);\n  historico_violencia.frequencia_violencia_aumentou = historico_violencia.frequencia_violencia_aumentou?.replace('Sim', true).replace('Não', false);\n  servico_publico.acolhida_criticou_servicos_publicos = servico_publico.acolhida_criticou_servicos_publicos?.replaceAll('Sim', true).replaceAll('Não',false); \n  processo_juridico.lei_maria_da_penha = processo_juridico.lei_maria_da_penha?.replaceAll('Sim',true).replaceAll('Não',false);\n  autor_da_violencia.tem_dominio = autor_da_violencia.tem_dominio.replaceAll('Sim', true).replaceAll('Não',false);\n  autor_da_violencia.usa_substancias_psicoativas = autor_da_violencia.usa_substancias_psicoativas.replaceAll('Sim', true).replaceAll('Não',false);\n  autor_da_violencia.diagnostico_doenca_psiquiatrica = autor_da_violencia.diagnostico_doenca_psiquiatrica.replaceAll('Sim', true).replaceAll('Não',false);\n\n  item.json.answers_txt = '{' + item.json.answers_txt + ',\"historico_violencia\":' + JSON.stringify(historico_violencia) + \n                          ', \"autor_da_violencia\": ' +  JSON.stringify(autor_da_violencia) + \n                          ', \"servico_publico\":' + JSON.stringify(servico_publico) + \n                          ', \"aspectos_socioeconomicos\":' + JSON.stringify(aspectos_socioeconomicos) +\n                          ', \"processo_juridico\":' + JSON.stringify(processo_juridico) +\n                          ', \"contato_contrato_com_acolhida\":' + JSON.stringify(contato_contrato_com_acolhida).replaceAll('Sim', true).replaceAll('Não', false) + \n                          ', \"assistencia_psicologica\":' + JSON.stringify(assistencia_psicologica).replaceAll('Sim', true).replaceAll('Não', false) + ', \"risco\": \"' + risco + '\"}'\n  item.json.answers_txt = item.json.answers_txt.replaceAll('\"true\"', 'true').replaceAll('\"false\"', 'false')\n}\n\n\n// You can write logs to the browser console\nconsole.log('Done!');\n\nreturn items;"
      },
      "id": "95064496-7d5e-4d6b-9ee6-4cece63fd917",
      "name": "Formata - Triagem Juridico 2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -400,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://api-graphql.bonde.org/v1/graphql",
        "requestFormat": "json",
        "query": "=mutation MyMutation($answers: json) {\n  insert_mda_forms_answers(objects: {answers: $answers, form: \"triagem-juridico-2\", msr_name: \"{{$node[\"Formata - Triagem Juridico 2\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\", ticket_id:{{$node[\"Criar novo ticket (triagem jur 2)\"].json[\"ticket\"][\"id\"]}} , volunteer_email: \"{{$node[\"Formata - Triagem Juridico 2\"].json[\"answers\"][\"dados_voluntaria\"][\"email\"]}}\", organization_id:360269610652, form_id: 22\n}) {\n    affected_rows\n  }\n}",
        "variables": "={\n\"answers\": {{$node[\"Formata - Triagem Juridico 2\"].json[\"answers_txt\"]}}\n}"
      },
      "name": "Salvar Respostas2",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        180,
        200
      ],
      "id": "9558fa69-9bda-4151-b34e-e2a8ccdc7c49",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nhq3GDSBeWJ5XE1l",
          "name": "[PROD] BONDE api-graphql"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nfor (item of items) {\n  var results = item.json.submission.results;\n  \n  Object.keys(results).forEach(key => {\n    if (results[key] === \"\" || results[key] === null) {\n      delete results[key];\n      }\n  });\n  \n  let risco = 'nenhum';\n  let priority = 'low';\n  var dados_voluntaria = {\n\t  nome: results[\"1_nome_completo\"],\n\t  email: results[\"2_email_de_cadastro1\"],\n  }\n  var dados_acolhida = {\n    nome: results[\"3_nome_da_acolhida\"],\n    data_de_nascimento: results[\"4_data_de_nascimento_da_a\"],\n    identidade_racial: results[\"5_como_a_acolhida_se_auto1\"],\n    identidade_genero:results[\"6_qual_a_identidade_de_ge1\"],\n    pcd:results[\"7_a_acolhida_tem_alguma_d\"],\n    deficiencia:results[\"71_informe_aqui_qual_ou_q\"],\n    estado_civil:results[\"8_qual_o_estado_civil_da\"],\n    tem_filhos:results[\"9_a_acolhida_tem_filhasos\"],\n    filhos_faixa_etaria:results[\"91_selecione_em_qual_faix1\"],\n    filhos_pcd: results[\"92_algum_dos_filhos_e_pes1\"],\n    deficiencia_filhos:results[\"93_caso_tenha_respondido\"],\n    gravida_ou_tem_recem_nascido: results[\"10_a_acolhida_esta_gravid\"],\n  }\n  \n  let data = new Date(results[\"4_data_de_nascimento_da_a\"]);\n  let data_de_nascimento_br =   ((data.getDate() )) + \"/\" + ((data.getMonth() + 1)) + \"/\" + data.getFullYear();\n  \n  var aspectos_socioeconomicos = {\n    escolaridade: results[\"11_qual_a_escolaridade_da\"],\n  }\n\n  var moradia = {\n    local_de_risco: results[\"12_a_acolhida_considera_q\"],\n  }\n\n  var qualidade_de_vida = {\n    impacto_sofrido_moderado: results[\"13_quais_impactos_a_acolh\"],\n    impacto_sofrido_grave: results[\"14_quais_impactos_a_acolh\"]\n  } \n\n  var historico_viloencia = {\n    tipos_violencia: results[\"15_tipos_de_violencia_que\"],\n    violencia_fisica_grave: results[\"16_oa_autora_da_violencia\"],\n    violencia_fisica_extrema: results[\"17_oa_autora_da_violencia\"],\n    se_sente_isolada: results[\"18_a_acolhida_se_sente_is\"],\n    autor_tem_acesso_arma_fogo: results[\"19_oa_autora_da_violencia\"],\n    autor_ameacou_familiar: results[\"20_oa_autora_da_violencia\"],\n    como_ameacou: results[\"201_como\"],\n    autor_obrigou_ato_sexual:results[\"21_oa_autora_da_violencia\"],\n    violencia_durante_gravidez:results[\"22_caso_se_aplique_a_acol\"],\n    autor_comportamentos_abusivos:results[\"23_oa_autora_da_violencia\"],\n    acolhida_atendimento_medico:results[\"24_a_acolhida_necessitou\"],\n    acolhida_teve_interrese_em_separar: results[\"25_caso_se_aplique_a_acol\"],\n    acolhida_tem_dependencia_emocional: results[\"26_a_acolhida_apresenta_d\"],\n    frequencia_violencia_aumentou: results[\"27_as_agressoes_ou_ameaca\"],\n    autor_agrediu_outras_pessoas: results[\"28_oa_autora_da_violencia\"],\n    quem_o_autor_agrediu: results[\"281_qualis_outros_familia\"]\n  }\n\n  var autor_da_violencia = {\n    tem_dominio: results[\"29_oa_autora_da_violencia\"],\n    quais_dominios: results[\"291_selecione_as_opcaooes\"],\n    usa_substancias_psicoativas: results[\"30_oa_autora_da_violencia\"],\n    quais_substancias: results[\"301_informe_qual_ou_quais\"],\n    diagnostico_doenca_psiquiatrica: results[\"31_oa_autora_da_violencia\"],\n  }\n\n  var servico_publico = {\n    acolhida_criticou_servicos_publicos: results[\"32_a_acolhida_ja_manifest\"],\n    quais_servicos_publicos: results[\"321_sobre_quais_servicos\"],\n  }\n\n  var processo_psicoterapeutico = {\n    resumo_demanda: results[\"33_descreva_resumidamente\"],\n    encaminhamento: results[\"34_encaminhamento_do_caso\"],\n    \n  }\n  var contato_contrato_com_acolhida = {\n    inicio_atendimento: results[\"35_data_do_inicio_do_aten\"],\n    frequencia_atendimento: results[\"37_qual_a_frequencia_do_a\"],\n    forma_segura_contato_com_acolhida: results[\"36_formas_mais_seguras_de\"],\n    contrato: results[\"38_contrato_formato\"],\n    acordou_politica_falta: results[\"39_acordou_a_politica_de\"]\n  }\n\n  data = new Date(results[\"35_data_do_inicio_do_aten\"]);\n  let inicio_atendimento_br =   ((data.getDate() )) + \"/\" + ((data.getMonth() + 1)) + \"/\" + data.getFullYear();\n \n  var assistencia_juridica = {\n    tem_acompanhamento_juridico: results[\"40_a_acolhida_esta_em_aco\"],\n    via_mapa_do_acolhimento: results[\"401_esse_acompanhamento_e\"],\n    processo_juridico_em_andamento: results[\"41_existe_processo_juridi\"],\n    entrou_em_contato_advogada: results[\"42_caso_se_aplique_voce_p\"]    \n  }\n\n  var atualizacoes_emergenciais = {\n     riscos_relacionados_suicidio: results[\"43_voce_se_preocupa_ou_pe\"]\n  }\n\n  //risco moderado\n  if(moradia.local_de_risco === 'Sim' || \n     autor_da_violencia.tem_dominio === 'Sim' ||\n     qualidade_de_vida.impacto_sofrido_moderado !== 'A acolhida não está sofrendo nenhum dos impactos citados acima'){\n    risco = 'moderado';\n    priority = 'normal';\n  }\n\n  //risco grave \n  if(dados_acolhida.pcd === 'Sim' ||\n     dados_acolhida.filhos_pcd === 'Sim' ||\n     dados_acolhida.gravida_ou_tem_recem_nascido === 'Sim' ||\n     qualidade_de_vida.impacto_sofrido_grave !== 'A acolhida não está sofrendo nenhum dos impactos citados acima' ||\n     historico_viloencia.violencia_fisica_grave !== 'Nenhuma agressão física' ||\n     historico_viloencia.autor_obrigou_ato_sexual === 'Sim' ||\n     historico_viloencia.violencia_durante_gravidez === 'Sim' ||\n     historico_viloencia.acolhida_atendimento_medico.includes('Sim') || \n     historico_viloencia.frequencia_violencia_aumentou === 'Sim' ||\n     autor_da_violencia.usa_substancias_psicoativas === 'Sim'||\n     autor_da_violencia.diagnostico_doenca_psiquiatrica === 'Sim'){\n    risco = 'grave';\n    priority = 'high'\n  }\n \n  //risco extremo\n  if(historico_viloencia.violencia_fisica_extrema !== 'Nenhuma agressão física' || \n     historico_viloencia.autor_tem_acesso_arma_fogo === 'Sim' ||\n     historico_viloencia.autor_agrediu_outras_pessoas === 'Sim' ||\n     historico_viloencia.como_ameacou || \n     historico_viloencia.autor_comportamentos_abusivos ||\n     historico_viloencia.autor_ameacou_familiar.includes('Sim')){\n    risco = 'extremo';\n    priority = 'urgent';\n  }\n\n  item.json.priority = priority\n  item.json.answers = { dados_voluntaria,dados_acolhida,aspectos_socioeconomicos,moradia,qualidade_de_vida,historico_viloencia,autor_da_violencia,servico_publico,processo_psicoterapeutico,contato_contrato_com_acolhida,assistencia_juridica,atualizacoes_emergenciais, risco: risco};\n  item.json.body_ticket = 'RISCO: ' + risco.toUpperCase() + '\\\\n\\\\nDADOS VOLUNTARIA\\\\nNome: '+ dados_voluntaria.nome + '\\\\nemail: ' + dados_voluntaria.email +\n  '\\\\n\\\\nDADOS ACOLHIDA\\\\nNome: ' + dados_acolhida.nome + '\\\\nData de nascimento: ' + data_de_nascimento_br + \n  '\\\\nIdentidade racial: ' + dados_acolhida.identidade_racial + '\\\\nIdentidade de genero: ' + dados_acolhida.identidade_genero +\n  '\\\\nÉ uma pessoa com deficiência: ' + dados_acolhida.pcd + \n  //codicao pcd\n  (dados_acolhida.pcd.toUpperCase() === 'SIM' ? '\\\\nQual deficiencia: ' + dados_acolhida.deficiencia : '') +\n  '\\\\nEstado cívil: ' + dados_acolhida.estado_civil +  '\\\\nTem filhos: ' + dados_acolhida.tem_filhos +\n  //condicao filhos\n  (dados_acolhida.tem_filhos === 'Sim'? '\\\\nFaixa etaria dos filhos(as): ' + dados_acolhida.filhos_faixa_etaria + '\\\\nAlgum dos filhos tem difciência: ' + dados_acolhida.filhos_pcd + \n  //condicao filhos pcd\n  (dados_acolhida.filhos_pcd === 'Sim' ?  '\\\\nDeficiencia do filho: ' + dados_acolhida.deficiencia_filhos: '') : '') +\n  '\\\\nGravida ou esteve grávida nos últimos 18 meses: ' + dados_acolhida.gravida_ou_tem_recem_nascido +\n  '\\\\n\\\\nASPECTOS SOCIOECONÔMICOS\\\\nEscolaridade: ' + aspectos_socioeconomicos.escolaridade +\n  '\\\\n\\\\nMORADIA\\\\nConsidera que mora num local com risco de violência: ' + moradia.local_de_risco + \n  '\\\\n\\\\nQUALIDADE DE VIDA\\\\n Impactos que a acolhida está sofrendo em decorrência da violência(moderado): ' + qualidade_de_vida.impacto_sofrido_moderado +\n  '\\\\nImpactos que a acolhida está sofrendo em decorrência da violência(grave): ' + qualidade_de_vida.impacto_sofrido_grave +\n  '\\\\n\\\\nHISTÓRICO DE VIOLÊNCIA\\\\nTipos de violência: ' + historico_viloencia.tipos_violencia + '\\\\nTipos de viloencia física (grave): ' + historico_viloencia.violencia_fisica_grave +\n  '\\\\nTipos de viloencia física (extrema): ' + historico_viloencia.violencia_fisica_extrema + '\\\\nSe sente isolada: ' + historico_viloencia.se_sente_isolada +\n  '\\\\nO autor da violência tem acesso a uma arma fogo: ' + historico_viloencia.autor_tem_acesso_arma_fogo +  \n  '\\\\nO autor da violência já ameaçou algum familiar: ' + historico_viloencia.autor_ameacou_familiar +\n  //condicao ja ameacou \n  (historico_viloencia.autor_ameacou_familiar === 'Sim'? '\\\\nComo ameaçou: ' + historico_viloencia.como_ameacou : '') +\n  '\\\\nO autor da violência obrigou a acolhida a ter relações sexuais ou praticar atos sexuais: ' + historico_viloencia.autor_obrigou_ato_sexual + \n  '\\\\nA acolhida sofreu algum tipo de violência durante a gravidez ou nos três meses posteriores ao parto: ' + historico_viloencia.violencia_durante_gravidez +\n  '\\\\nO autor da violência teve algum destes comportamentos com a acolhida: ' + historico_viloencia.autor_comportamentos_abusivos +\n  '\\\\nA acolhida necessitou de atendimento médico e/ou internação: ' + historico_viloencia.acolhida_atendimento_medico +\n  '\\\\nA acolhida se separou ou teve interrese em separar: ' + historico_viloencia.acolhida_teve_interrese_em_separar + \n  '\\\\nA acolhida apresenta dependência emocional do autor da violência: ' + historico_viloencia.acolhida_tem_dependencia_emocional +\n  '\\\\nAs agressões ou ameaças do autor da violência contra a acolhida se tornaram mais frequentes ou mais graves nos últimos meses: ' + historico_viloencia.frequencia_violencia_aumentou +\n  '\\\\nO autor da violência já ameaçou ou agrediu outras pessoas ou animais: ' + historico_viloencia.autor_agrediu_outras_pessoas +\n  //condição quais outros familiares\n  (historico_viloencia.autor_agrediu_outras_pessoas === 'Sim, outros familiares'? '\\\\nQuais outros familiares: ' + historico_viloencia.quem_o_autor_agrediu : '' ) +\n  '\\\\n\\\\nSOBRE O(A) AUTOR(A) DA VIOLÊNCIA\\\\nTem domínio/poder social e/ou financeiro sobre a acolhida: ' + autor_da_violencia.tem_dominio +\n  //condicao dominio socila/financeiro\n  (autor_da_violencia.tem_dominio === 'Sim'? '\\\\nQuais dominios/poderes: ' + autor_da_violencia.quais_dominios : '') +\n  '\\\\nFaz uso de substâncias psicoativas: ' + autor_da_violencia.usa_substancias_psicoativas +\n  //condicao uso substancias\n  (autor_da_violencia.usa_substancias_psicoativas === 'Sim'? '\\\\nQuais substâncias psicoativas: ' + autor_da_violencia.quais_substancias : '') +\n  '\\\\nTem algum diagnóstico (verbal ou laudo) de doença psiquiátrica: ' +  autor_da_violencia.diagnostico_doenca_psiquiatrica +\n  '\\\\n\\\\nSERVIÇO PÚBLICO\\\\nA acolhida já manifestou alguma resistência, má experiência ou estranhamento sobre o atendimento em serviços públicos: ' + servico_publico.acolhida_criticou_servicos_publicos +\n  //condicao servicao publicos\n  (servico_publico.acolhida_criticou_servicos_publicos === 'Sim'? '\\\\nQuais serviços públicos: ' + servico_publico.quais_servicos_publicos : '') +\n  '\\\\n\\\\nPROCESSO PSICOTERAPÊUTICOS\\\\nResumo da demanda: ' + processo_psicoterapeutico.resumo_demanda + '\\\\nEncaminhamento: ' + processo_psicoterapeutico.encaminhamento +\n  '\\\\n\\\\nCONTATRO E CONTRATO COM A ACOLHIDA\\\\nData do inicio do atendimento: ' + inicio_atendimento_br + \n  '\\\\nQual a forma segura de entrar em contato com a acolhida: ' + contato_contrato_com_acolhida.forma_segura_contato_com_acolhida +\n  '\\\\nFrequência de atendimento: ' + contato_contrato_com_acolhida.frequencia_atendimento +\n  '\\\\nContrato (formato): ' + contato_contrato_com_acolhida.contrato +\n  '\\\\nAcordou a Política de Faltas: ' + contato_contrato_com_acolhida.acordou_politica_falta + \n   '\\\\n\\\\nASSISTÊNCIA JURÍDICA\\\\nA acolhida está em acompanhamento jurídico: ' + assistencia_juridica.tem_acompanhamento_juridico +\n  //condicao tem acompanhamento\n  (assistencia_juridica.tem_acompanhamento_juridico === 'Sim'? '\\\\nIntermediado pelo Mapa do Acolhimento: ' + assistencia_juridica.via_mapa_do_acolhimento : '') +\n  '\\\\nExiste processo jurídico em andamento: ' + assistencia_juridica.processo_juridico_em_andamento + \n  '\\\\nEntrou em contato com a advogada: ' + assistencia_juridica.entrou_em_contato_advogada + \n  '\\\\n\\\\nATUALIZAÇÕES CRÍTICAS OU EMERGENCIAIS\\\\nSe preocupa ou percebe, na condução do processo psicoterapêutico, riscos relacionados ao suicídio: ' + atualizacoes_emergenciais.riscos_relacionados_suicidio\n\n  dados_acolhida.deficiencia = dados_acolhida.deficiencia?.replaceAll('Deficiência ','');\n  dados_acolhida.deficiencia_filhos = dados_acolhida.deficiencia_filhos?.replaceAll('Deficiência ','');\n  historico_viloencia.como_ameacou = historico_viloencia.como_ameacou?.replaceAll('Utilizando ','');\n  historico_viloencia.acolhida_atendimento_medico = historico_viloencia.acolhida_atendimento_medico?.replaceAll('Sim, ', '');\n  //historico_viloencia.autor_ameacou_familiar = historico_viloencia.autor_ameacou_familiar?.replaceAll('Sim, ', ''); \n  historico_viloencia.autor_agrediu_outras_pessoas = historico_viloencia.autor_agrediu_outras_pessoas?.replaceAll('Sim, ', ''); \n  \n  item.json.answers_txt = '\"dados_voluntaria\": ' + JSON.stringify(dados_voluntaria) \n  item.json.answers_txt = item.json.answers_txt + ', \"dados_acolhida\":' + JSON.stringify(dados_acolhida).replaceAll('Sim', true).replaceAll('Não', false) ; \n  item.json.answers_txt = item.json.answers_txt + ', \"moradia\":' + JSON.stringify(moradia).replaceAll('Sim', true).replaceAll('Não', false) + \n                          ',\"qualidade_de_vida\":' + JSON.stringify(qualidade_de_vida); \n  historico_viloencia.se_sente_isolada = historico_viloencia.se_sente_isolada?.replace('Sim', true).replace('Não', false);\n  historico_viloencia.autor_tem_acesso_arma_fogo = historico_viloencia.autor_tem_acesso_arma_fogo?.replace('Sim', true).replace('Não', false);\n  historico_viloencia.autor_ameacou_familiar = historico_viloencia.autor_ameacou_familiar?.replace('Sim', true).replace('Não', false);\n  historico_viloencia.autor_agrediu_outras_pessoas = historico_viloencia.autor_agrediu_outras_pessoas?.replace('Sim', true).replace('Não', false);\n  historico_viloencia.autor_obrigou_ato_sexual = historico_viloencia.autor_obrigou_ato_sexual?.replace('Sim', true).replace('Não', false);\n  historico_viloencia.acolhida_teve_interrese_em_separar = historico_viloencia.acolhida_teve_interrese_em_separar?.replace('Sim', true).replace('Não', false);\n  historico_viloencia.frequencia_violencia_aumentou = historico_viloencia.frequencia_violencia_aumentou?.replace('Sim', true).replace('Não', false);\n  historico_viloencia.violencia_durante_gravidez = historico_viloencia.violencia_durante_gravidez?.replace('Sim', true).replace('Não', false);\n  historico_viloencia.acolhida_tem_dependencia_emocional = historico_viloencia.acolhida_tem_dependencia_emocional?.replace('Sim', true).replace('Não', false);\n  servico_publico.acolhida_criticou_servicos_publicos = servico_publico.acolhida_criticou_servicos_publicos?.replaceAll('Sim', true).replaceAll('Não',false); \n  autor_da_violencia.tem_dominio = autor_da_violencia.tem_dominio.replaceAll('Sim', true).replaceAll('Não',false);\n  autor_da_violencia.usa_substancias_psicoativas = autor_da_violencia.usa_substancias_psicoativas.replaceAll('Sim', true).replaceAll('Não',false);\n  autor_da_violencia.diagnostico_doenca_psiquiatrica = autor_da_violencia.diagnostico_doenca_psiquiatrica.replaceAll('Sim', true).replaceAll('Não',false);\n  item.json.answers_txt = '{' + item.json.answers_txt + ', \"historico_violencia\":' + JSON.stringify(historico_viloencia) + \n                          ', \"autor_da_violencia\": ' +  JSON.stringify(autor_da_violencia) + \n                          ',\"servico_publico\":' + JSON.stringify(servico_publico) + \n                          ', \"aspectos_socioeconomicos\":' + JSON.stringify(aspectos_socioeconomicos) + \n                          ', \"processo_psicoterapeutico\":' + JSON.stringify(processo_psicoterapeutico) +\n                          ', \"contato_contrato_com_acolhida\":' + JSON.stringify(contato_contrato_com_acolhida).replaceAll('Sim', true).replaceAll('Não', false) + \n                          ', \"assistencia_juridica\":' + JSON.stringify(assistencia_juridica).replaceAll('Sim', true).replaceAll('Não', false) + \n                          ', \"atualizacoes_emergenciais\": ' + JSON.stringify(atualizacoes_emergenciais).replace(' (comunique imediatamente à equipe)','').replaceAll('Sim', true).replaceAll('Não', false)\n                           +  ', \"risco\": \"' + risco + '\"}'\n  item.json.answers_txt = item.json.answers_txt.replaceAll('\"true\"', 'true').replaceAll('\"false\"', 'false')\n}\n\n// You can write logs to the browser console\nconsole.log('Done!');\n\nreturn items;"
      },
      "id": "57ab955f-177c-4d40-89a6-be480e5997d6",
      "name": "Formata - Triagem Psicológico 2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -420,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://api-graphql.bonde.org/v1/graphql",
        "requestFormat": "json",
        "query": "=mutation MyMutation($answers: json) {\n  insert_mda_forms_answers(objects: {answers: $answers, form: \"triagem-psicologico-2\", msr_name: \"{{$node[\"Formata - Triagem Psicológico 2\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\", ticket_id: {{$node[\"Criar novo ticket (triagem psi 2)\"].json[\"ticket\"][\"id\"]}}, volunteer_email: \"{{$node[\"Formata - Triagem Psicológico 2\"].json[\"answers\"][\"dados_voluntaria\"][\"email\"]}}\",organization_id:360282119532, form_id:23\n}) {\n    affected_rows\n  }\n}",
        "variables": "={\n\"answers\": {{$node[\"Formata - Triagem Psicológico 2\"].json[\"answers_txt\"]}}\n}"
      },
      "name": "Salvar Respostas3",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        180,
        400
      ],
      "id": "4b885d1f-3a41-4f23-b953-7f6c8955cc99",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nhq3GDSBeWJ5XE1l",
          "name": "[PROD] BONDE api-graphql"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://mapadoacolhimento.zendesk.com/api/v2/tickets",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={ \n\t\"ticket\":{\n \t\t\"requester_id\":{{ $json[\"zendesk_user_id\"] }},\n \t\t\"organization_id\": 360282119532,\n \t\t\"description\": \"Importado via N8N\",\n        \"tags\": [\"triagem-2\"], \n \t\t\"status\": \"new\",\n\t\t\"priority\": \"{{$node[\"Formata - Triagem Psicológico 2\"].json[\"priority\"]}}\",\n \t\t\"subject\": \"[Triagem 2] {{$node[\"Formata - Triagem Psicológico 2\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\",\n \t\t\"comment\": {\n \t\t\t\"body\": \"{{$node[\"Formata - Triagem Psicológico 2\"].json[\"body_ticket\"]}}\",\n \t\t\t\"public\": false\n \t\t}\n\t}\n}"
      },
      "name": "Criar novo ticket (triagem psi 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -20,
        400
      ],
      "id": "ff912c8d-9058-4b8d-a360-8d83c4af37d4",
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://mapadoacolhimento.zendesk.com/api/v2/tickets",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={ \n\t\"ticket\":{\n \t\t\"requester_id\":{{ $json[\"zendesk_user_id\"] }},\n \t\t\"organization_id\": 360269610652,\n \t\t\"description\": \"Importado via N8N\",\n        \"tags\": [\"triagem-2\"], \n \t\t\"status\": \"new\",\n\t\t\"priority\": \"{{$node[\"Formata - Triagem Juridico 2\"].json[\"priority\"]}}\",\n \t\t\"subject\": \"[Triagem 2] {{$node[\"Formata - Triagem Juridico 2\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\",\n \t\t\"comment\": {\n \t\t\t\"body\": \"{{$node[\"Formata - Triagem Juridico 2\"].json[\"body_ticket\"]}}\",\n \t\t\t\"public\": false\n \t\t}\n\t}\n}"
      },
      "name": "Criar novo ticket (triagem jur 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "081da518-7f05-41f1-a6e4-c79eac9c2fad",
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://mapadoacolhimento.zendesk.com/api/v2/tickets",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={ \n\t\"ticket\":{\n \t\t\"requester_id\":{{ $json[\"zendesk_user_id\"] }},\n \t\t\"organization_id\": 360269610652,\n \t\t\"description\": \"Importado via N8N\",\n        \"tags\": [\"triagem-1\"], \n \t\t\"status\": \"new\",\n\t\t\"priority\": \"{{$node[\"Formata - Triagem Jurídico 1\"].json[\"priority\"]}}\",\n \t\t\"subject\": \"[Triagem 1] {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\",\n \t\t\"comment\": {\n \t\t\t\"body\": \"RISCO: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"risco\"]}}\\n\\nDADOS DA VOLUNTÁRIA\\n\\tNome completo: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_voluntaria\"][\"nome\"]}}\\n\\tEmail de cadastro: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_voluntaria\"][\"email\"]}}\\n\\tWhatsapp: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_voluntaria\"][\"whatsapp\"]}}\\n\\n CRITÉRIOS DO PROJETO\\n\\tA acolhida é maior de 18: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"criterios_projeto\"][\"maior_de_18\"]}}\\n\\tA acolhida reside no brasil: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"criterios_projeto\"][\"reside_no_brasil\"]}}\\n\\ta acolhida é brasileira: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"criterios_projeto\"][\"brasileira\"]}}\\n\\tA acolhida passou ou está passando por uma situação de violência baseada no gênero: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"criterios_projeto\"][\"situacao_de_violencia\"]}}\\n\\tPeríodo que está submetida a situação de violência: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"criterios_projeto\"][\"periodo\"]}}\\n\\tTipos de violência que a pessoa acolhida está submetida: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"criterios_projeto\"][\"tipos_de_violencia\"]}}\\n\\tAutor(a) da violencia: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"criterios_projeto\"][\"autor_da_violencia\"]}}\\n\\tEstá em situação de vulnerabilidade socioeconômica: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"criterios_projeto\"][\"situacao_vulnerabilidade_baixa_renda\"]}}\\n\\tA acolhida é atendida pela denfensoria publica: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"criterios_projeto\"][\"atendida_denfensoria_publica\"]}}\\n\\tA acolhida é atendida por advogada(o) particular: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"criterios_projeto\"][\"atendida_advogada_particular\"]}}\\n\\nDADOS DA ACOLHIDA\\n\\tNome da acolhida: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\\n\\tData de nascimento: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"data_de_nascimento_br\"]}}\\n\\tRegime de trabalho da acolhida: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"regime_de_trabalho\"]}}\\n\\tRenda individual da acolihda: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"renda_individual\"]}}\\n\\tIndependência financeira: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"tem_independencia_financeira\"]}}\\n\\tInscrita no Cadastro Único: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"tem_cadunico\"]}}\\n\\tRecebendo algum benefício da assistência social: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"recebe_algum_beneficio\"]}}\\n\\tResponsável financeiramente pela renda familiar: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"responsavel_financeiramente\"]}}\\n\\tCom: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"divide_responsabilidade_com\"]}}\\n\\tTem dependentes financeiros: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"tem_dependentes_financeiros\"]}}\\n\\tquantidade de dependentes: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"quantidade_de_dependentes\"]}}\\n\\tRecebe pensão alimenticia: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"dados_acolhida\"][\"recebe_pensao_alimenticia\"]}}\\n\\nMORADIA\\n\\tSituação de moradia: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"moradia\"][\"situacao_moradia\"]}}\\n\\tCedida por quem: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"moradia\"][\"cedida_por\"]}}\\n\\tReside com o(a) autor(a) da violência: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"moradia\"][\"reside_com_o_autor_da_viloencia\"]}}\\n\\tSente-se segura  em casa: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"moradia\"][\"sente_segura_em_casa\"]}}\\n\\tVive em situação de cárcere: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"moradia\"][\"situacao_de_carcere\"]}}\\n\\nSERVIÇO PÚBLICO\\n\\tA acolhida conhece a rede de atendimento de violência contra as mulheres da região disponíveis: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"servico_publico\"][\"conhece_redes_de_atendimento\"]}}\\n\\tQuais:{{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"servico_publico\"][\"quais_redes_de_atendimento_conhece\"]}}\\n\\tA pessoa acolhida está em atendimento em algum dos serviços públicos da região: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"servico_publico\"][\"atentendida_em_servico_publico\"]}}\\n\\tQuais:{{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"servico_publico\"][\"quais_servicos_publicos_atentida\"]}}\\n\\nPROCESSO JURÍDICO\\n\\tÁreas direito a demanda se enquadra: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"processo_juridico\"][\"areas_direito_demanda_se_enquadra\"]}}\\n\\tDemanda inicial: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"processo_juridico\"][\"demanda_inicial\"]}}\\n\\tEncaminhamento do caso: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"processo_juridico\"][\"encaminhamento\"]}}\\n\\tEncaminhar para estes serviços públicos: {{$node[\"Formata - Triagem Jurídico 1\"].json[\"answers\"][\"processo_juridico\"][\"servicos_indicados\"]}}\",\n \t\t\t\"public\": false\n \t\t}\n\t}\n}"
      },
      "name": "Criar novo ticket (triagem jur 1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "aba32f32-5581-4776-bf2a-3f3262b41793",
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "requestMethod": "POST",
        "url": "https://mapadoacolhimento.zendesk.com/api/v2/tickets",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={ \n\t\"ticket\":{\n \t\t\"requester_id\":{{ $json[\"zendesk_user_id\"] }},\n \t\t\"organization_id\": 360282119532,\n \t\t\"description\": \"Importado via N8N\",\n        \"tags\": [\"triagem-1\"], \n \t\t\"status\": \"new\",\n   \t\t\"priority\": \"{{$node[\"Formata - Triagem Pscologo 1\"].json[\"priority\"]}}\",\n \t\t\"subject\": \"[Triagem 1] {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\",\n \t\t\"comment\": {\n \t\t\t\t\"body\": \"RISCO: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"risco\"]}}\\n\\nDADOS DA VOLUNTÁRIA\\n\\tNome completo: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_voluntaria\"][\"nome\"]}}\\n\\tEmail de cadastro: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_voluntaria\"][\"email\"]}}\\n\\tWhatsapp: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_voluntaria\"][\"whatsapp\"]}}\\n\\nCRITÉRIOS DO PROJETO\\n\\tA acolhida é maior de 18: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"criterios_projeto\"][\"e_maior_18\"]}}\\n\\tA acolhida reside no brasil: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"criterios_projeto\"][\"reside_no_brasil\"]}}\\n\\tA acolhida é brasileira: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"criterios_projeto\"][\"brasileira\"]}}\\n\\tA acolhida passou ou está passando por uma situação de violência baseada no gênero: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"criterios_projeto\"][\"situacao_de_violencia\"]}}\\n\\tPeríodo que está submetida a situação de violência: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"criterios_projeto\"][\"periodo\"]}}\\n\\tTipos de violência que a pessoa acolhida está submetida: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"criterios_projeto\"][\"tipos_de_violencia\"]}}\\n\\tAutor(a) da violência: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"criterios_projeto\"][\"autor_da_violencia\"]}}\\n\\tEstá em situação de vulnerabilidade socioeconômica: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"criterios_projeto\"][\"situacao_vulnerabilidade_baixa_renda\"]}}\\n\\nDADOS DA ACOLHIDA\\n\\tNome da acolhida: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_acolhida\"][\"nome\"]}}\\n\\tData de nascimento: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_acolhida\"][\"data_de_nascimento\"]}}\\n\\tRegime de trabalho da acolhida: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_acolhida\"][\"regime_de_trabalho\"]}}\\n\\tRenda individual da acolhida (per capita): {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_acolhida\"][\"renda_individual\"]}}\\n\\tIndependência financeira: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_acolhida\"][\"tem_independencia_financeira\"]}}\\n\\tInscrita no Cadastro Único (Cadúnico) do governo federal: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_acolhida\"][\"tem_cadunico\"]}}\\n\\tRecebendo algum benefício da assistência social: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_acolhida\"][\"recebe_algum_beneficio\"]}} \\n\\tResponsável financeiramente pela renda familiar: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_acolhida\"][\"responsavel_financeiramente\"]}}\\n\\tCom: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_acolhida\"][\"divide_responsabilidade_com\"]}}\\n\\tTem dependentes financeiros: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_acolhida\"][\"tem_dependentes_financeiros\"]}}\\n\\tQuantidade de dependentes: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"dados_acolhida\"][\"quantidade_de_dependentes\"]}}\\n\\nMORADIA\\n\\tSituação de moradia: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"moradia\"][\"situacao_moradia\"]}}\\n\\tCedida por: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"moradia\"][\"cedida_por\"]}}\\n\\tReside com o(a) autor(a) da violência: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"moradia\"][\"reside_com_o_autor_da_viloencia\"]}}\\n\\tSente-se segura em casa: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"moradia\"][\"sente_seguram_em_casa\"]}}\\n\\tVive em situação de cárcere: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"moradia\"][\"situacao_de_carcere\"]}}\\n\\nSERVIÇO PÚBLICO\\n\\tA pessoa acolhida conhece a rede de atendimento de violência contra as mulheres da região disponíveis: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"servico_publico\"][\"conhece_redes_de_atendimento\"]}}\\n\\tQuais: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"servico_publico\"][\"quais_redes_de_atendimento_conhece\"]}}\\n\\tA pessoa acolhida está em atendimento em algum dos serviços públicos da região: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"servico_publico\"][\"atentendida_em_servico_publico\"]}}\\n\\tQuais: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"servico_publico\"][\"quais_servicos_publicos_atentida\"]}}\\n\\nPROCESSO PSICOTERAPEUTICO\\n\\tDemanda inicial: \"{{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"processo_psicoterapeutico\"][\"demanda_inicial\"]}}\"\\n\\tEncaminhamento do caso: {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"processo_psicoterapeutico\"][\"encaminhamento\"]}}\\n\\tencaminhar para qual(is) serviço(s) público(s): {{$node[\"Formata - Triagem Pscologo 1\"].json[\"answers\"][\"processo_psicoterapeutico\"][\"qual_servico_publico\"]}}\",\n \t\t\t\"public\": false\n \t\t}\n\t}\n}"
      },
      "name": "Criar novo ticket (triagem psi 1)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        -180
      ],
      "id": "dab88138-1ee0-4890-8bf9-34aa9a4e9663",
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select email,zendesk_user_id from volunteers where email = LOWER('{{ $json.answers.dados_voluntaria.email }}')",
        "options": {}
      },
      "id": "652e7d3d-58be-4a21-84e5-67d3f42e0c9c",
      "name": "Busca Zendesk User ID",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -200,
        -180
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select email,zendesk_user_id from volunteers where email = LOWER('{{ $json.submission.lead.fields.core.email.value }}')",
        "options": {}
      },
      "id": "4d650638-0972-4703-a357-c332689ade7e",
      "name": "Busca Zendesk User ID1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select email,zendesk_user_id from volunteers where email = LOWER('{{ $json.submission.lead.fields.core.email.value }}')",
        "options": {}
      },
      "id": "2aecd8b1-2777-4dff-a77e-99f880426416",
      "name": "Busca Zendesk User ID2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -200,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select email,zendesk_user_id from volunteers where email = LOWER('{{ $json.submission.lead.fields.core.email.value }}')",
        "options": {}
      },
      "id": "3d5e8e8c-cb8b-451c-a753-f3a4e9083711",
      "name": "Busca Zendesk User ID3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -200,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "triagem-jur-1",
        "authentication": "headerAuth",
        "options": {}
      },
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -640,
        0
      ],
      "webhookId": "de99fdcb-9018-4494-9abb-259194d5ad21",
      "id": "be55779c-9952-4b96-bf66-b3557b47c376",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "triagem-jur-2",
        "authentication": "headerAuth",
        "options": {}
      },
      "name": "Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -640,
        200
      ],
      "webhookId": "de99fdcb-9018-4494-9abb-259194d5ad21",
      "id": "98fd0609-2a08-4b16-94d6-72dfea756014",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "triagem-psi-2",
        "authentication": "headerAuth",
        "options": {}
      },
      "name": "Webhook3",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -640,
        400
      ],
      "webhookId": "de99fdcb-9018-4494-9abb-259194d5ad21",
      "id": "294a7c19-c62c-4a96-b6cd-6ec182d5dece",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BhcubpnINJanuVaZ",
          "name": "Tally API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n// Tip: You can use luxon for dates and $jmespath for querying JSON structures\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nfor (item of items) {\n  \n  var dados_voluntaria = {  \n    nome: item.json.submission.results[\"1_nome_completo\"],\n    email: item.json.submission.results[\"2_email_de_cadastro1\"],\n    whatsapp: item.json.submission.results[\"3_whatsapp\"]\n  };\n\n  var criterios_projeto ={\n    e_maior_18: item.json.submission.results[\"4_a_acolhida_e_maior_de_1\"],\n    reside_no_brasil: item.json.submission.results[\"5_a_acolhida_reside_no_br\"],\n    brasileira: item.json.submission.results[\"6_a_acolhida_e_brasileira\"],\n    situacao_de_violencia: item.json.submission.results[\"7_a_acolhida_passou_ou_es\"],\n    periodo: item.json.submission.results[\"9_por_qual_periodo_de_tem\"],\n    tipos_de_violencia:item.json.submission.results[\"8_quais_os_tipos_de_viole\"],\n    autor_da_violencia: item.json.submission.results[\"10_quem_e_oa_autora_da_vi\"],\n    situacao_vulnerabilidade_baixa_renda: item.json.submission.results[\"11_a_acolhida_esta_em_sit\"]\n  };\n\n  var dados_acolhida = {\n\n    nome: item.json.submission.results[\"12_nome_da_acolhida\"],\n    data_de_nascimento: item.json.submission.results[\"13_data_de_nascimento_da\"],\n    regime_de_trabalho: item.json.submission.results[\"14_qual_o_regime_de_traba\"],\n    renda_individual: item.json.submission.results[\"15_assinale_a_opcao_que_c\"],\n    tem_independencia_financeira: item.json.submission.results[\"16_a_acolhida_tem_indepen\"],\n    tem_cadunico: item.json.submission.results[\"17_a_acolhida_esta_inscri\"],\n    recebe_algum_beneficio: item.json.submission.results[\"18_atualmente_a_acolhida\"],\n    responsavel_financeiramente: item.json.submission.results[\"19_a_acolhida_e_responsav\"],\n    divide_responsabilidade_com: item.json.submission.results[\"20_caso_tenha_respondido\"],\n    tem_dependentes_financeiros: item.json.submission.results[\"21_a_acolhida_tem_pessoas\"],\n    quantidade_de_dependentes: item.json.submission.results[\"22_caso_tenha_respondido\"] === \"\"? \"0\": item.json.submission.results[\"22_caso_tenha_respondido\"]\n    \n  }\n\n  var moradia = {\n\n    situacao_moradia: item.json.submission.results[\"23_qual_a_situacao_de_mor\"],\n    cedida_por: item.json.submission.results[\"24_caso_tenha_respondido\"],\n    reside_com_o_autor_da_viloencia: item.json.submission.results[\"25_a_acolhida_reside_com\"],\n    sente_seguram_em_casa: item.json.submission.results[\"26_a_acolhida_se_sente_se\"],\n    situacao_de_carcere: item.json.submission.results[\"27_a_acolhida_vive_em_sit\"]\n  } \n\n  //Determina risco do caso\n  var risco = 'nenhum'\n  item.json.priority = 'low'\n  if(moradia.situacao_de_carcere === 'Sim') {\n    item.json.priority = 'urgent'  \n    risco = 'extremo'\n  }\n\n  var servico_publico = {\n    \n    conhece_redes_de_atendimento: item.json.submission.results[\"28_a_acolhida_conhece_a_r\"],\n    quais_redes_de_atendimento_conhece: item.json.submission.results[\"29_se_sim_assinale_qualqu\"],\n    atentendida_em_servico_publico: item.json.submission.results[\"30_a_acolhida_esta_em_ate\"],\n    quais_servicos_publicos_atentida: item.json.submission.results[\"31_se_sim_assinale_qualqu\"]\n  }\n\n  var processo_psicoterapeutico = {\n\n    demanda_inicial: item.json.submission.results[\"32_descreva_resumidamente\"],\n    encaminhamento: item.json.submission.results[\"33_encaminhamentos_do_cas\"],\n    qual_servico_publico: item.json.submission.results[\"34_caso_tenha_assinalado\"]\n  }\n  item.json.answers = {dados_voluntaria,criterios_projeto, dados_acolhida, moradia, servico_publico, processo_psicoterapeutico, risco: risco}\n  \n  item.json.answers_txt = JSON.stringify(item.json.answers).replaceAll('Sim',true).replaceAll(\"Não\",false);\n  item.json.answers_txt = item.json.answers_txt.replaceAll(\"false \", \"Não \").replaceAll(\"false.\",\"Não.\");\n  item.json.answers_txt = item.json.answers_txt.replaceAll('\"true\"', 'true').replaceAll('\"false\"', 'false');\n  let data = new Date(item.json.submission.results[\"13_data_de_nascimento_da\"]);\n  item.json.answers.dados_acolhida.data_de_nascimento_br =   ((data.getDate() )) + \"/\" + ((data.getMonth() + 1)) + \"/\" + data.getFullYear(); ;\n\n  item.json.answers.risco = item.json.answers.risco.toUpperCase();\n}\nreturn items; "
      },
      "name": "Formata - Triagem Pscologo ",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -900,
        -80
      ],
      "id": "b3880037-fdd2-46fc-8400-7a54dd3f0477"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "headers": {
            "host": "n8n.bonde.org",
            "user-agent": "GuzzleHttp/7",
            "content-length": "11785",
            "content-type": "application/json",
            "webhook-signature": "2oi/c4ypZB2/m1QtOKlfcVzxdYke5rbExm/tlbh5fio=",
            "x-forwarded-for": "54.85.56.248",
            "x-forwarded-host": "n8n.bonde.org",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "be13ecc00da6",
            "x-origin-base-url": "https://mautic.nossas.org",
            "x-real-ip": "54.85.56.248",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "mautic.form_on_submit": [
              {
                "submission": {
                  "id": 7952,
                  "ipAddress": {
                    "ipAddress": "201.26.13.32",
                    "id": 60160,
                    "ipDetails": {
                      "city": "",
                      "region": "",
                      "zipcode": "",
                      "country": "",
                      "latitude": "",
                      "longitude": "",
                      "isp": "",
                      "organization": "",
                      "timezone": "",
                      "extra": ""
                    }
                  },
                  "form": {
                    "id": 2,
                    "name": "2.00. Instrumental de Atendimento 1: Advogadas",
                    "alias": "200__instr",
                    "category": null
                  },
                  "lead": {
                    "id": 167774,
                    "points": 0,
                    "color": null,
                    "fields": {
                      "core": {
                        "organization_id": {
                          "id": "61",
                          "label": "Zendesk Organization ID",
                          "alias": "organization_id",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "firstname": {
                          "id": "2",
                          "label": "First Name",
                          "alias": "firstname",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "data_de_inscricao_no_bond1": {
                          "id": "60",
                          "label": "Data de Inscrição no BONDE",
                          "alias": "data_de_inscricao_no_bond1",
                          "type": "date",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "lastname": {
                          "id": "3",
                          "label": "Last Name",
                          "alias": "lastname",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "state1": {
                          "id": "58",
                          "label": "Estado",
                          "alias": "state1",
                          "type": "select",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "cor": {
                          "id": "59",
                          "label": "Cor",
                          "alias": "cor",
                          "type": "select",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "address": {
                          "id": "57",
                          "label": "Endereço",
                          "alias": "address",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "user_id": {
                          "id": "55",
                          "label": "Zendesk User ID",
                          "alias": "user_id",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "email": {
                          "id": "6",
                          "label": "Email",
                          "alias": "email",
                          "type": "email",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": "bruna@fernandareisadvogados.com",
                          "normalizedValue": "bruna@fernandareisadvogados.com"
                        },
                        "tipo_de_acolhimento": {
                          "id": "50",
                          "label": "Tipo de Acolhimento",
                          "alias": "tipo_de_acolhimento",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "mobile": {
                          "id": "7",
                          "label": "Mobile",
                          "alias": "mobile",
                          "type": "tel",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "phone": {
                          "id": "8",
                          "label": "Phone",
                          "alias": "phone",
                          "type": "tel",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "website": {
                          "id": "22",
                          "label": "Website",
                          "alias": "website",
                          "type": "url",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "whatsapp": {
                          "id": "49",
                          "label": "Whatsapp",
                          "alias": "whatsapp",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "f_condition": {
                          "id": "48",
                          "label": "Status da Mulher",
                          "alias": "f_condition",
                          "type": "select",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "",
                          "default_value": "desabilitada",
                          "value": "desabilitada",
                          "normalizedValue": "Desabilitada"
                        },
                        "city": {
                          "id": "13",
                          "label": "City",
                          "alias": "city",
                          "type": "text",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "country": {
                          "id": "16",
                          "label": "Country",
                          "alias": "country",
                          "type": "country",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "last_active": {
                          "id": "19",
                          "label": "Date Last Active",
                          "alias": "last_active",
                          "type": "datetime",
                          "group": "core",
                          "object": "lead",
                          "is_fixed": "1",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": "2023-05-15 17:33:33",
                          "normalizedValue": "2023-05-15 17:33:33"
                        }
                      },
                      "social": {
                        "facebook": {
                          "id": "23",
                          "label": "Facebook",
                          "alias": "facebook",
                          "type": "text",
                          "group": "social",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "foursquare": {
                          "id": "24",
                          "label": "Foursquare",
                          "alias": "foursquare",
                          "type": "text",
                          "group": "social",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "instagram": {
                          "id": "25",
                          "label": "Instagram",
                          "alias": "instagram",
                          "type": "text",
                          "group": "social",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "linkedin": {
                          "id": "26",
                          "label": "LinkedIn",
                          "alias": "linkedin",
                          "type": "text",
                          "group": "social",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "skype": {
                          "id": "27",
                          "label": "Skype",
                          "alias": "skype",
                          "type": "text",
                          "group": "social",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        },
                        "twitter": {
                          "id": "28",
                          "label": "Twitter",
                          "alias": "twitter",
                          "type": "text",
                          "group": "social",
                          "object": "lead",
                          "is_fixed": "0",
                          "properties": "a:0:{}",
                          "default_value": null,
                          "value": null,
                          "normalizedValue": null
                        }
                      },
                      "personal": [],
                      "professional": []
                    }
                  },
                  "trackingId": "f5rm2v1in5jxxnrg8ce4rbg",
                  "dateSubmitted": "2023-05-15T17:51:38+00:00",
                  "referer": "https://mautic.nossas.org/triagem-juridico-1",
                  "page": null,
                  "results": {
                    "1_nome_completo": "Bruna Fernanda Reis e Silva",
                    "2_email_de_cadastro1": "bruna@fernandareisadvogados.com",
                    "3_whatsapp": "11915906620",
                    "4_a_acolhida_e_maior_de_1": "Sim",
                    "5_a_acolhida_reside_no_br": "Sim",
                    "6_a_acolhida_e_brasileira": "Sim",
                    "7_a_acolhida_passou_ou_es": "Sim",
                    "8_quais_os_tipos_de_viole": "Física, Psicológica, Sexual",
                    "9_por_qual_periodo_de_tem": "Entre 6 meses e 1 ano",
                    "10_quem_e_oa_autora_da_vi": "Ex-marido/Ex-esposa/Ex-companheiro(a)",
                    "11_a_acolhida_esta_em_sit": "Sim",
                    "12_a_acolhida_esta_recebe": "Não",
                    "13_a_acolhida_esta_recebe": "Não",
                    "14_nome_da_acolhida": "Bruna Moreira de Sousa",
                    "15_data_de_nascimento": "1993-05-22",
                    "16_qual_o_regime_de_traba": "Informal",
                    "17_assinale_a_opcao_que_c": "De R$ 0,00 a R$ 3.030,00",
                    "18_a_acolhida_tem_indepen": "Não",
                    "19_a_acolhida_esta_inscri": "Não",
                    "20_atualmente_a_acolhida": "Não",
                    "21_a_acolhida_e_responsav": "Sim",
                    "22_caso_tenha_respondido": "Mãe, Pai",
                    "23_a_acolhida_tem_pessoas": "Sim",
                    "24_caso_tenha_respondido": "2",
                    "25_a_acolhida_recebe_pens": "Não",
                    "26_qual_a_situacao_de_mor": "Cedida ou “de favor”",
                    "27_caso_tenha_respondido": "Familiares",
                    "28_a_acolhida_reside_com": "Não",
                    "29_a_acolhida_se_sente_se": "Sim",
                    "30_a_acolhida_vive_em_sit": "Não",
                    "31_a_acolhida_conhece_a_r": "Sim",
                    "32_se_sim_assinale_qualqu": "Delegacia civil",
                    "33_a_acolhida_esta_em_ate": "Sim",
                    "34_se_sim_assinale_qualqu": "Delegacia civil",
                    "35_em_qualis_areas_do_dir": "Cível/Família, Criminal",
                    "36_descreva_resumidamente": "Acolhida narrou ter sofrido violência física, psicológica e sexual por parte do ex-companheiro. Algumas das narrativas incluíam pressões para deixar o trabalho, tapas no rosto, envolvimento dos filhos nas brigas do casal, ameaças, abuso de drogas e violação sexual durante discussão. A acolhida mora com os filhos e o ex-companheiro insiste em encontrá-los. Há medida protetiva em andamento para afastamento do ex-companheiro.",
                    "37_encaminhamentos_do_cas": "Orientações jurídicas, Entrada de ação/ações, Acompanhamento de processo já em curso, Articulação com o serviço público e continuidade de atendimento pelo projeto",
                    "38_caso_tenha_assinalado": "Delegacia especializada da Mulher, Delegacia civil"
                  }
                },
                "timestamp": "2023-05-15T17:51:38+00:00"
              }
            ]
          }
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "mapadoacolhimento.app.n8n.cloud",
            "user-agent": "Tally Webhooks",
            "content-length": "23831",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "authorization": "uoqQUEpq&&C5$AL22k3PWN4j3dMd&&",
            "baggage": "sentry-environment=production,sentry-release=22e7edb209ee6c66fe01d71542019af328714a8f,sentry-public_key=6af4b6673f1648edaa8fef3f2ca43405,sentry-trace_id=9e2f91623299c00e0a3cb14d26ccae3c,sentry-org_id=407628,sentry-sampled=false,sentry-sample_rand=0.9285188621204306,sentry-sample_rate=0.001",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.96.41.14",
            "cf-ew-via": "15",
            "cf-ipcountry": "BE",
            "cf-ray": "972585b0055d94db-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sentry-trace": "9e2f91623299c00e0a3cb14d26ccae3c-a6277c2b913f42db-0",
            "x-forwarded-for": "34.96.41.14, 172.70.162.105",
            "x-forwarded-host": "mapadoacolhimento.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-3-6db8488cf7-g62vb",
            "x-is-trusted": "yes",
            "x-real-ip": "34.96.41.14"
          },
          "params": {},
          "query": {},
          "body": {
            "eventId": "66fa2ff5-6d9e-4304-a2dc-be0245a01c61",
            "eventType": "FORM_RESPONSE",
            "createdAt": "2025-08-20T23:03:07.412Z",
            "data": {
              "responseId": "kd0Yj86",
              "submissionId": "kd0Yj86",
              "respondentId": "JbMD2K",
              "formId": "n9jRBY",
              "formName": "Instrumental Triagem Psicológico I - Voluntárias",
              "createdAt": "2025-08-20T23:03:07.000Z",
              "fields": [
                {
                  "key": "question_RopROQ",
                  "label": "nome_completo",
                  "type": "INPUT_TEXT",
                  "value": "Clava"
                },
                {
                  "key": "question_oRWoJN",
                  "label": "email_de_cadastro",
                  "type": "INPUT_EMAIL",
                  "value": "dev.psi.mapa@gmail.com"
                },
                {
                  "key": "question_GpWLMO",
                  "label": "whatsapp",
                  "type": "INPUT_PHONE_NUMBER",
                  "value": "323232324232"
                },
                {
                  "key": "question_OXvLRM",
                  "label": "acolhida_e_maior_de_18",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "7c531830-fb62-486e-ba17-2beadfd4cb62"
                  ],
                  "options": [
                    {
                      "id": "7c531830-fb62-486e-ba17-2beadfd4cb62",
                      "text": "Sim"
                    },
                    {
                      "id": "e1743853-a46f-4e13-af44-46bfc40d544b",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_VPgVr6",
                  "label": "acolhida_reside_no_br",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "073af8d4-6951-4a6a-8c56-df6db8091618"
                  ],
                  "options": [
                    {
                      "id": "073af8d4-6951-4a6a-8c56-df6db8091618",
                      "text": "Sim"
                    },
                    {
                      "id": "0068c69f-920a-40f9-9b5a-7683f876a445",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_P9Klox",
                  "label": "acolhida_e_brasileira",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "d97bd4de-e9c5-462a-acea-2cb0dd66ae03"
                  ],
                  "options": [
                    {
                      "id": "d97bd4de-e9c5-462a-acea-2cb0dd66ae03",
                      "text": "Sim"
                    },
                    {
                      "id": "a1e38210-80b1-4a2d-945a-6507e16492cd",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_El9Lp2",
                  "label": "acolhida_situacao_vbg",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "3034ffcf-3fd9-4c51-9734-62abc6d851f4"
                  ],
                  "options": [
                    {
                      "id": "3034ffcf-3fd9-4c51-9734-62abc6d851f4",
                      "text": "Sim"
                    },
                    {
                      "id": "6c559bf4-d85a-45da-8d6b-d4db9419f943",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_rO7VXX",
                  "label": "tipos_de_violencia",
                  "type": "CHECKBOXES",
                  "value": [
                    "200f89aa-ecbf-4806-9660-bd7feb09823b",
                    "7e1f44ce-1163-477c-b80f-feb8a97d792b"
                  ],
                  "options": [
                    {
                      "id": "02d8400c-b9de-45d4-bdd0-dc00ce0fbdaa",
                      "text": "Física"
                    },
                    {
                      "id": "2a2fa9e2-aa41-4f89-94c2-cc9e525b7b14",
                      "text": "Psicológica"
                    },
                    {
                      "id": "2fceb939-621a-4ef8-87c7-77136e228856",
                      "text": "Moral"
                    },
                    {
                      "id": "200f89aa-ecbf-4806-9660-bd7feb09823b",
                      "text": "Patrimonial"
                    },
                    {
                      "id": "7e1f44ce-1163-477c-b80f-feb8a97d792b",
                      "text": "Sexual"
                    },
                    {
                      "id": "6e5393df-8e47-4586-8eea-57ed21e77649",
                      "text": "Obstétrica"
                    },
                    {
                      "id": "f904582d-5525-4739-8614-62208eeecf5e",
                      "text": "Institucional"
                    },
                    {
                      "id": "307ec7e2-5d81-489e-9607-a7f427a0db1c",
                      "text": "LGBTFobia"
                    },
                    {
                      "id": "528f78f8-e992-4fb5-a3fd-cacc580bfff2",
                      "text": "Racismo"
                    }
                  ]
                },
                {
                  "key": "question_rO7VXX_02d8400c-b9de-45d4-bdd0-dc00ce0fbdaa",
                  "label": "tipos_de_violencia (Física)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_rO7VXX_2a2fa9e2-aa41-4f89-94c2-cc9e525b7b14",
                  "label": "tipos_de_violencia (Psicológica)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_rO7VXX_2fceb939-621a-4ef8-87c7-77136e228856",
                  "label": "tipos_de_violencia (Moral)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_rO7VXX_200f89aa-ecbf-4806-9660-bd7feb09823b",
                  "label": "tipos_de_violencia (Patrimonial)",
                  "type": "CHECKBOXES",
                  "value": true
                },
                {
                  "key": "question_rO7VXX_7e1f44ce-1163-477c-b80f-feb8a97d792b",
                  "label": "tipos_de_violencia (Sexual)",
                  "type": "CHECKBOXES",
                  "value": true
                },
                {
                  "key": "question_rO7VXX_6e5393df-8e47-4586-8eea-57ed21e77649",
                  "label": "tipos_de_violencia (Obstétrica)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_rO7VXX_f904582d-5525-4739-8614-62208eeecf5e",
                  "label": "tipos_de_violencia (Institucional)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_rO7VXX_307ec7e2-5d81-489e-9607-a7f427a0db1c",
                  "label": "tipos_de_violencia (LGBTFobia)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_rO7VXX_528f78f8-e992-4fb5-a3fd-cacc580bfff2",
                  "label": "tipos_de_violencia (Racismo)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_475LZ5",
                  "label": "periodo_de_tempo_vbg",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "c136cc89-1008-4d88-83db-8672e73500cb"
                  ],
                  "options": [
                    {
                      "id": "bb020cf8-131a-472d-b605-012939d5f239",
                      "text": "Mais de 10 anos"
                    },
                    {
                      "id": "ea2b9b30-5251-4ee5-8074-0d80f7c023c4",
                      "text": "Entre 2 anos e 10 anos"
                    },
                    {
                      "id": "c136cc89-1008-4d88-83db-8672e73500cb",
                      "text": "Entre 1 e 2 anos"
                    },
                    {
                      "id": "53ae9416-542c-452a-ab98-7dcb85d67fc3",
                      "text": "Entre 6 meses e 1 ano"
                    },
                    {
                      "id": "b7294cf8-3ee8-49e0-81cb-170b8454bf87",
                      "text": "Entre 3 e 6 meses"
                    },
                    {
                      "id": "e295a0e5-b2f0-4519-8e5e-416f2468f2fb",
                      "text": "Menos de 3 meses"
                    }
                  ]
                },
                {
                  "key": "question_joNLK1",
                  "label": "autor_da_vbg",
                  "type": "CHECKBOXES",
                  "value": [
                    "78cebaf1-e3f6-46b6-9647-7bd90fd97d0e",
                    "3560b039-2679-45a0-a78d-02f3e1960a68"
                  ],
                  "options": [
                    {
                      "id": "3a6695ad-2c89-42b0-a641-56ffd74fe428",
                      "text": "Pai"
                    },
                    {
                      "id": "539530c1-9e4a-4a67-91fd-6e4fb8c8b363",
                      "text": "Mãe"
                    },
                    {
                      "id": "abebedc3-e352-42b5-b034-2c58ac6a7375",
                      "text": "Irmão"
                    },
                    {
                      "id": "6230f1c3-44f6-4369-9162-acef45e4cfbb",
                      "text": "Tio"
                    },
                    {
                      "id": "3560b039-2679-45a0-a78d-02f3e1960a68",
                      "text": "Primo"
                    },
                    {
                      "id": "78cebaf1-e3f6-46b6-9647-7bd90fd97d0e",
                      "text": "Vizinho"
                    },
                    {
                      "id": "ab5c6cf7-7da3-432e-966c-2f73493b86dc",
                      "text": "Namorado"
                    },
                    {
                      "id": "61d58d6b-92a2-4368-84eb-99101b4a53c8",
                      "text": "Marido"
                    },
                    {
                      "id": "356420ce-fd76-4e44-84ad-f34fd258755e",
                      "text": "Ex-namorado"
                    },
                    {
                      "id": "2a1f2b3b-5f45-4ec0-a998-c146aa121ac6",
                      "text": "Ex-marido"
                    },
                    {
                      "id": "3efa7f76-f12f-494e-a512-28770b04105c",
                      "text": "Amigo"
                    },
                    {
                      "id": "c7a60d8a-ff42-4bc8-bc86-7d94fc58b26c",
                      "text": "Filho"
                    },
                    {
                      "id": "52a92ff2-b108-4829-bb5f-dff435b67ec5",
                      "text": "Outros"
                    }
                  ]
                },
                {
                  "key": "question_joNLK1_3a6695ad-2c89-42b0-a641-56ffd74fe428",
                  "label": "autor_da_vbg (Pai)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_joNLK1_539530c1-9e4a-4a67-91fd-6e4fb8c8b363",
                  "label": "autor_da_vbg (Mãe)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_joNLK1_abebedc3-e352-42b5-b034-2c58ac6a7375",
                  "label": "autor_da_vbg (Irmão)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_joNLK1_6230f1c3-44f6-4369-9162-acef45e4cfbb",
                  "label": "autor_da_vbg (Tio)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_joNLK1_3560b039-2679-45a0-a78d-02f3e1960a68",
                  "label": "autor_da_vbg (Primo)",
                  "type": "CHECKBOXES",
                  "value": true
                },
                {
                  "key": "question_joNLK1_78cebaf1-e3f6-46b6-9647-7bd90fd97d0e",
                  "label": "autor_da_vbg (Vizinho)",
                  "type": "CHECKBOXES",
                  "value": true
                },
                {
                  "key": "question_joNLK1_ab5c6cf7-7da3-432e-966c-2f73493b86dc",
                  "label": "autor_da_vbg (Namorado)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_joNLK1_61d58d6b-92a2-4368-84eb-99101b4a53c8",
                  "label": "autor_da_vbg (Marido)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_joNLK1_356420ce-fd76-4e44-84ad-f34fd258755e",
                  "label": "autor_da_vbg (Ex-namorado)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_joNLK1_2a1f2b3b-5f45-4ec0-a998-c146aa121ac6",
                  "label": "autor_da_vbg (Ex-marido)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_joNLK1_3efa7f76-f12f-494e-a512-28770b04105c",
                  "label": "autor_da_vbg (Amigo)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_joNLK1_c7a60d8a-ff42-4bc8-bc86-7d94fc58b26c",
                  "label": "autor_da_vbg (Filho)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_joNLK1_52a92ff2-b108-4829-bb5f-dff435b67ec5",
                  "label": "autor_da_vbg (Outros)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_2A0L2M",
                  "label": "acolhida_vulneravel_socioeconomica",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "74b0eef8-eaaf-40cd-9cc0-660720912bfa"
                  ],
                  "options": [
                    {
                      "id": "74b0eef8-eaaf-40cd-9cc0-660720912bfa",
                      "text": "Sim"
                    },
                    {
                      "id": "ea6cd713-f6a3-4807-9d5f-385dbbd69504",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_oRWoWb",
                  "label": "nome_da_acolhida",
                  "type": "INPUT_TEXT",
                  "value": "Teste"
                },
                {
                  "key": "question_GpWLWe",
                  "label": "data_de_nascimento",
                  "type": "INPUT_DATE",
                  "value": "2025-08-07"
                },
                {
                  "key": "question_OXvLva",
                  "label": "qual_o_regime_de_trabalho_da_acolhida",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "47b09b3c-855f-4062-8fc1-890a17dc02d3"
                  ],
                  "options": [
                    {
                      "id": "47b09b3c-855f-4062-8fc1-890a17dc02d3",
                      "text": "CLT"
                    },
                    {
                      "id": "a2c1b5bb-28ea-4816-9214-cf8dae6dd0ac",
                      "text": "PJ"
                    },
                    {
                      "id": "7495ef1c-1107-4860-97ef-611039b97a7a",
                      "text": "Temporário"
                    },
                    {
                      "id": "a6ae6647-af94-41c6-9366-eeae779df0dc",
                      "text": "Jovem Aprendiz"
                    },
                    {
                      "id": "30503c3b-d1a8-4212-adc3-d623adf4f91c",
                      "text": "Informal"
                    },
                    {
                      "id": "3e482aae-a39a-4830-ab61-1dda6275a6da",
                      "text": "Não se aplica"
                    }
                  ]
                },
                {
                  "key": "question_VPgVgj",
                  "label": "renda_individual_acolhida",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "56cb0a9f-b43f-4bec-9c80-a4da962176ed"
                  ],
                  "options": [
                    {
                      "id": "56cb0a9f-b43f-4bec-9c80-a4da962176ed",
                      "text": "De R$ 0,00 a R$ 3.030,00"
                    },
                    {
                      "id": "3ebd6f30-39c2-4e28-9707-f3f517bd0089",
                      "text": "De R$ 3.030,00 a R$ 5.000,00"
                    },
                    {
                      "id": "19325db2-3d94-4804-8ef7-5bb74807eaa3",
                      "text": "Acima de R$ 5.000,00"
                    },
                    {
                      "id": "835f4307-d68b-4c2b-bcf0-bb170d40cd2e",
                      "text": "Não se aplica"
                    }
                  ]
                },
                {
                  "key": "question_P9KlK1",
                  "label": "acolhida_tem_independencia_financeira",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "dfa5875a-b757-4ba6-aed4-cd1aa37fd485"
                  ],
                  "options": [
                    {
                      "id": "dfa5875a-b757-4ba6-aed4-cd1aa37fd485",
                      "text": "Sim"
                    },
                    {
                      "id": "23a58fe9-cd67-400f-a757-3591d090eec4",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_El9L9l",
                  "label": "acolhida_tem_cadunico",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "1df609a1-1974-4897-a82c-1475d91b7f5f"
                  ],
                  "options": [
                    {
                      "id": "1df609a1-1974-4897-a82c-1475d91b7f5f",
                      "text": "Sim"
                    },
                    {
                      "id": "b5bcaa66-2ae5-424b-9bc0-31c550369c88",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_rO7V7o",
                  "label": "acolhida_tem_benefico",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "846a19a7-86c3-4861-8067-95ba63614da2"
                  ],
                  "options": [
                    {
                      "id": "846a19a7-86c3-4861-8067-95ba63614da2",
                      "text": "Sim"
                    },
                    {
                      "id": "852b40e9-a5d4-4dfe-9cf5-9e89b80e91e7",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_475L5r",
                  "label": "acolhida_e_responsavel_financeira",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "13844345-7a27-4f40-8cb7-d582308c1288"
                  ],
                  "options": [
                    {
                      "id": "900e1c93-a722-4dac-8266-27fa82cb1bcf",
                      "text": "Sim"
                    },
                    {
                      "id": "13844345-7a27-4f40-8cb7-d582308c1288",
                      "text": "Não"
                    },
                    {
                      "id": "8f4f75e3-3895-4bae-9837-b5fa7a63a208",
                      "text": "Divide com alguém"
                    }
                  ]
                },
                {
                  "key": "question_joNLNQ",
                  "label": "acolhide_divide_responsabilidade_com",
                  "type": "CHECKBOXES",
                  "value": null,
                  "options": [
                    {
                      "id": "5ac0d436-ae5b-463a-935d-dc5125de9d30",
                      "text": "Mãe"
                    },
                    {
                      "id": "b2a4852b-62dd-4f6a-9311-2abc5b25dc5f",
                      "text": "Pai"
                    },
                    {
                      "id": "05007494-b2ac-490c-afa1-9388a0ea3de1",
                      "text": "Familiares"
                    },
                    {
                      "id": "86c1121d-66d0-437b-9317-f06feb744127",
                      "text": "Marido(a), Namorado(a), Genitor(a) das(os) filhas(os)"
                    },
                    {
                      "id": "9a3d7c44-d97a-4760-85b1-d46a05a2c28d",
                      "text": "Filhas(os)"
                    },
                    {
                      "id": "1cba7b22-f4c0-475c-be65-309a6b858eb2",
                      "text": "Amigas"
                    },
                    {
                      "id": "3d0bbceb-6e20-4bdd-90ca-a5192ef04acb",
                      "text": "Outros"
                    }
                  ]
                },
                {
                  "key": "question_joNLNQ_5ac0d436-ae5b-463a-935d-dc5125de9d30",
                  "label": "acolhide_divide_responsabilidade_com (Mãe)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_joNLNQ_b2a4852b-62dd-4f6a-9311-2abc5b25dc5f",
                  "label": "acolhide_divide_responsabilidade_com (Pai)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_joNLNQ_05007494-b2ac-490c-afa1-9388a0ea3de1",
                  "label": "acolhide_divide_responsabilidade_com (Familiares)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_joNLNQ_86c1121d-66d0-437b-9317-f06feb744127",
                  "label": "acolhide_divide_responsabilidade_com (Marido(a), Namorado(a), Genitor(a) das(os) filhas(os))",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_joNLNQ_9a3d7c44-d97a-4760-85b1-d46a05a2c28d",
                  "label": "acolhide_divide_responsabilidade_com (Filhas(os))",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_joNLNQ_1cba7b22-f4c0-475c-be65-309a6b858eb2",
                  "label": "acolhide_divide_responsabilidade_com (Amigas)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_joNLNQ_3d0bbceb-6e20-4bdd-90ca-a5192ef04acb",
                  "label": "acolhide_divide_responsabilidade_com (Outros)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_2A0L0e",
                  "label": "acolhida_tem_dependentes_finaceiros",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "59010458-5ebc-48c4-9c55-23d0e8ba9a99"
                  ],
                  "options": [
                    {
                      "id": "59010458-5ebc-48c4-9c55-23d0e8ba9a99",
                      "text": "Sim"
                    },
                    {
                      "id": "004e3321-8235-4f38-9d2d-60966952b814",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_xDK2Kd",
                  "label": "quantidade_de_dependentes",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "b7b9f6fa-35c2-4478-9ba1-adec32b214e0"
                  ],
                  "options": [
                    {
                      "id": "60062a2e-1651-487d-a71f-07895bfef9c2",
                      "text": "1"
                    },
                    {
                      "id": "bb161604-3fb5-4526-ad6a-950fe2f30ed7",
                      "text": "2"
                    },
                    {
                      "id": "b0f60546-688e-44be-b874-3ef00fd302b9",
                      "text": "3"
                    },
                    {
                      "id": "b7b9f6fa-35c2-4478-9ba1-adec32b214e0",
                      "text": "4"
                    },
                    {
                      "id": "2e877f72-4b60-4bd9-94c6-0035858a2a1c",
                      "text": "5+"
                    }
                  ]
                },
                {
                  "key": "question_ZO0l0V",
                  "label": "acolhida_recebe_pensao_alimenticia",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "a1851590-9f54-4cea-bd95-1809c066e48a"
                  ],
                  "options": [
                    {
                      "id": "a1851590-9f54-4cea-bd95-1809c066e48a",
                      "text": "Sim"
                    },
                    {
                      "id": "c34d9262-92a9-42db-860b-f06ef32f72c8",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_NXkLk0",
                  "label": "situacao_moradia",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "45405629-1cb0-47c6-bee8-967fc5daf9cb"
                  ],
                  "options": [
                    {
                      "id": "45405629-1cb0-47c6-bee8-967fc5daf9cb",
                      "text": "Própria"
                    },
                    {
                      "id": "685d6c02-4b69-405d-a2b9-2c5dd4ff7b5b",
                      "text": "Alugada"
                    },
                    {
                      "id": "2d637d23-b8e1-4aaa-83fb-24a5bfd4ed2d",
                      "text": "Cedida ou “de favor”"
                    }
                  ]
                },
                {
                  "key": "question_qG6O6O",
                  "label": "cedida_por",
                  "type": "MULTIPLE_CHOICE",
                  "value": null,
                  "options": [
                    {
                      "id": "719a7b8f-893a-43ae-9135-5b7d7c94d336",
                      "text": "Ex-Companheiro"
                    },
                    {
                      "id": "22c413bb-198f-443e-9a36-7784a5ac06ab",
                      "text": "Patroa ou Empregador(a)"
                    },
                    {
                      "id": "29d621f9-47ca-41fb-8b01-36e8615e42e8",
                      "text": "Familiares"
                    },
                    {
                      "id": "17daec1b-afa6-4938-8602-9079659f547e",
                      "text": "Outros"
                    }
                  ]
                },
                {
                  "key": "question_QRLdLY",
                  "label": "reside_com_o_autor_da_viloencia",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "1d8ef711-d1c6-4b84-b445-fbb539badb27"
                  ],
                  "options": [
                    {
                      "id": "1d8ef711-d1c6-4b84-b445-fbb539badb27",
                      "text": "Sim"
                    },
                    {
                      "id": "4bbe424d-836c-46c5-885a-1ed64b50bb83",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_9ZVOVE",
                  "label": "sente_seguram_em_casa",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "8ba21a96-1cbb-4992-b38f-671a5d2f4bf9"
                  ],
                  "options": [
                    {
                      "id": "8ba21a96-1cbb-4992-b38f-671a5d2f4bf9",
                      "text": "Sim"
                    },
                    {
                      "id": "96f2acff-b750-444a-b605-b360259fca05",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_er4L4x",
                  "label": "situacao_de_carcere",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "08c5cdeb-bb77-41c1-ab44-2c55cfe68c62"
                  ],
                  "options": [
                    {
                      "id": "08c5cdeb-bb77-41c1-ab44-2c55cfe68c62",
                      "text": "Sim"
                    },
                    {
                      "id": "747ab09d-69bf-45a5-abdf-8df1572891b4",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_WRyPye",
                  "label": "conhece_redes_de_atendimento",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "51d4bddd-3ce5-4607-86cd-74bcbd360527"
                  ],
                  "options": [
                    {
                      "id": "51d4bddd-3ce5-4607-86cd-74bcbd360527",
                      "text": "Sim"
                    },
                    {
                      "id": "c1282e12-515c-4593-baf5-c101d98b5545",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_a4V0VZ",
                  "label": "quais_redes_de_atendimento_conheceu",
                  "type": "CHECKBOXES",
                  "value": [
                    "7a9da858-7e2f-49d2-8924-05259ea00cf4"
                  ],
                  "options": [
                    {
                      "id": "edfb08a9-b658-4518-af2c-caa362c50c68",
                      "text": "CREAS"
                    },
                    {
                      "id": "911a53bf-a8f9-41f5-96de-ab50d90b5c0c",
                      "text": "CRAS"
                    },
                    {
                      "id": "7a9da858-7e2f-49d2-8924-05259ea00cf4",
                      "text": "UBS"
                    },
                    {
                      "id": "e88d2da9-60bb-4f18-94cb-72e456d020f1",
                      "text": "CRM; CDCM; CRAM; CIAM"
                    },
                    {
                      "id": "38edcb72-19b6-4505-bd0e-08ed7c44bfff",
                      "text": "Delegacia especializada da Mulher"
                    },
                    {
                      "id": "43829f18-c416-47aa-be25-2c5db49ee3d2",
                      "text": "Delegacia civil"
                    },
                    {
                      "id": "b0d532be-a95b-4f6d-aab8-8a83845eb4f3",
                      "text": "Hospital de abortamento legal"
                    },
                    {
                      "id": "a90eca1c-eb0a-4d23-b83a-a5d41566dc0a",
                      "text": "Defensoria pública/ NUDEM"
                    },
                    {
                      "id": "f834cdee-4a33-4238-a9c9-80e277e8801b",
                      "text": "Ministério público"
                    },
                    {
                      "id": "25baef28-d4f6-42d7-adfb-3a5a8c50ea0d",
                      "text": "CAPS"
                    },
                    {
                      "id": "8594e403-619c-4156-85cb-c2737752b4f6",
                      "text": "Não conhece"
                    }
                  ]
                },
                {
                  "key": "question_a4V0VZ_edfb08a9-b658-4518-af2c-caa362c50c68",
                  "label": "quais_redes_de_atendimento_conheceu (CREAS)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_a4V0VZ_911a53bf-a8f9-41f5-96de-ab50d90b5c0c",
                  "label": "quais_redes_de_atendimento_conheceu (CRAS)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_a4V0VZ_7a9da858-7e2f-49d2-8924-05259ea00cf4",
                  "label": "quais_redes_de_atendimento_conheceu (UBS)",
                  "type": "CHECKBOXES",
                  "value": true
                },
                {
                  "key": "question_a4V0VZ_e88d2da9-60bb-4f18-94cb-72e456d020f1",
                  "label": "quais_redes_de_atendimento_conheceu (CRM; CDCM; CRAM; CIAM)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_a4V0VZ_38edcb72-19b6-4505-bd0e-08ed7c44bfff",
                  "label": "quais_redes_de_atendimento_conheceu (Delegacia especializada da Mulher)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_a4V0VZ_43829f18-c416-47aa-be25-2c5db49ee3d2",
                  "label": "quais_redes_de_atendimento_conheceu (Delegacia civil)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_a4V0VZ_b0d532be-a95b-4f6d-aab8-8a83845eb4f3",
                  "label": "quais_redes_de_atendimento_conheceu (Hospital de abortamento legal)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_a4V0VZ_a90eca1c-eb0a-4d23-b83a-a5d41566dc0a",
                  "label": "quais_redes_de_atendimento_conheceu (Defensoria pública/ NUDEM)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_a4V0VZ_f834cdee-4a33-4238-a9c9-80e277e8801b",
                  "label": "quais_redes_de_atendimento_conheceu (Ministério público)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_a4V0VZ_25baef28-d4f6-42d7-adfb-3a5a8c50ea0d",
                  "label": "quais_redes_de_atendimento_conheceu (CAPS)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_a4V0VZ_8594e403-619c-4156-85cb-c2737752b4f6",
                  "label": "quais_redes_de_atendimento_conheceu (Não conhece)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_6KoRoA",
                  "label": "atentendida_em_servico_publico",
                  "type": "MULTIPLE_CHOICE",
                  "value": [
                    "f186fd07-171e-493d-9294-c494385b1eeb"
                  ],
                  "options": [
                    {
                      "id": "f186fd07-171e-493d-9294-c494385b1eeb",
                      "text": "Sim"
                    },
                    {
                      "id": "7c5e529d-b02a-4b17-b2da-b69fd3d3a4bd",
                      "text": "Não"
                    }
                  ]
                },
                {
                  "key": "question_7KGoGa",
                  "label": "quais_servicos_publicos_atentida",
                  "type": "CHECKBOXES",
                  "value": [
                    "f2fc8f2e-1fc5-47fd-a333-ae23489e0a19"
                  ],
                  "options": [
                    {
                      "id": "4f170e55-8d18-47c6-b11e-41d9197fc53e",
                      "text": "CREAS"
                    },
                    {
                      "id": "dac5aa5a-06e6-4413-a7cd-0a233845bb3a",
                      "text": "CRAS"
                    },
                    {
                      "id": "c5e63a9d-32c1-41f8-a018-9f1928851d32",
                      "text": "UBS"
                    },
                    {
                      "id": "97c5f1e9-ec34-4cf9-862d-931ebb9bf024",
                      "text": "CRM; CDCM; CRAM; CIAM"
                    },
                    {
                      "id": "f2fc8f2e-1fc5-47fd-a333-ae23489e0a19",
                      "text": "Delegacia especializada da Mulher"
                    },
                    {
                      "id": "53f2ea0d-a463-4a4a-a8e7-4ab2decceba5",
                      "text": "Delegacia civil"
                    },
                    {
                      "id": "4c833aa5-3b29-4aff-97b5-1645fd471157",
                      "text": "Hospital de abortamento legal"
                    },
                    {
                      "id": "fd490a3b-9fa8-45ce-984e-6eb31588ab90",
                      "text": "Defensoria pública/ NUDEM"
                    },
                    {
                      "id": "a11d8baa-1ec2-4346-85bd-fdd66b83d546",
                      "text": "Ministério público"
                    },
                    {
                      "id": "102761da-b12e-4429-8c0c-4fc479e4a8c6",
                      "text": "CAPS"
                    }
                  ]
                },
                {
                  "key": "question_7KGoGa_4f170e55-8d18-47c6-b11e-41d9197fc53e",
                  "label": "quais_servicos_publicos_atentida (CREAS)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_7KGoGa_dac5aa5a-06e6-4413-a7cd-0a233845bb3a",
                  "label": "quais_servicos_publicos_atentida (CRAS)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_7KGoGa_c5e63a9d-32c1-41f8-a018-9f1928851d32",
                  "label": "quais_servicos_publicos_atentida (UBS)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_7KGoGa_97c5f1e9-ec34-4cf9-862d-931ebb9bf024",
                  "label": "quais_servicos_publicos_atentida (CRM; CDCM; CRAM; CIAM)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_7KGoGa_f2fc8f2e-1fc5-47fd-a333-ae23489e0a19",
                  "label": "quais_servicos_publicos_atentida (Delegacia especializada da Mulher)",
                  "type": "CHECKBOXES",
                  "value": true
                },
                {
                  "key": "question_7KGoGa_53f2ea0d-a463-4a4a-a8e7-4ab2decceba5",
                  "label": "quais_servicos_publicos_atentida (Delegacia civil)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_7KGoGa_4c833aa5-3b29-4aff-97b5-1645fd471157",
                  "label": "quais_servicos_publicos_atentida (Hospital de abortamento legal)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_7KGoGa_fd490a3b-9fa8-45ce-984e-6eb31588ab90",
                  "label": "quais_servicos_publicos_atentida (Defensoria pública/ NUDEM)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_7KGoGa_a11d8baa-1ec2-4346-85bd-fdd66b83d546",
                  "label": "quais_servicos_publicos_atentida (Ministério público)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_7KGoGa_102761da-b12e-4429-8c0c-4fc479e4a8c6",
                  "label": "quais_servicos_publicos_atentida (CAPS)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_ApZxZy",
                  "label": "demanda_inicial",
                  "type": "TEXTAREA",
                  "value": "hthtyrhryjtyjytjynfghn\ngfhfghfgh\nfhfgh\nfg"
                },
                {
                  "key": "question_BpNZNe",
                  "label": "encaminhamento",
                  "type": "CHECKBOXES",
                  "value": [
                    "b741e5ab-255d-4c2d-8602-36f403282599"
                  ],
                  "options": [
                    {
                      "id": "b741e5ab-255d-4c2d-8602-36f403282599",
                      "text": "Acompanhamento uma vez na semana"
                    },
                    {
                      "id": "59e7db35-a4aa-43ce-83b9-42866ca9a2e2",
                      "text": "Acompanhamento duas vezes na semana"
                    },
                    {
                      "id": "b2cff87e-86ae-449e-b2d0-491393fdb5bc",
                      "text": "Encaminhamento para serviço público e interrupção do atendimento pelo Mapa do Acolhimento"
                    },
                    {
                      "id": "e53c508a-a643-4ee5-82d4-82f3c617ad73",
                      "text": "Articulação com o serviço público e continuidade de atendimento pelo Mapa do Acolhimento"
                    },
                    {
                      "id": "d5e4db56-4ab8-4509-915d-967aa37fbd6b",
                      "text": "Não se enquadra no perfil do Mapa do Acolhimento (é menor de 18 anos, não está em vulnerabilidade econômica, não está no Brasil/não é brasileira, não sofreu ou está sofrendo violência de gênero)"
                    }
                  ]
                },
                {
                  "key": "question_BpNZNe_b741e5ab-255d-4c2d-8602-36f403282599",
                  "label": "encaminhamento (Acompanhamento uma vez na semana)",
                  "type": "CHECKBOXES",
                  "value": true
                },
                {
                  "key": "question_BpNZNe_59e7db35-a4aa-43ce-83b9-42866ca9a2e2",
                  "label": "encaminhamento (Acompanhamento duas vezes na semana)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_BpNZNe_b2cff87e-86ae-449e-b2d0-491393fdb5bc",
                  "label": "encaminhamento (Encaminhamento para serviço público e interrupção do atendimento pelo Mapa do Acolhimento)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_BpNZNe_e53c508a-a643-4ee5-82d4-82f3c617ad73",
                  "label": "encaminhamento (Articulação com o serviço público e continuidade de atendimento pelo Mapa do Acolhimento)",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_BpNZNe_d5e4db56-4ab8-4509-915d-967aa37fbd6b",
                  "label": "encaminhamento (Não se enquadra no perfil do Mapa do Acolhimento (é menor de 18 anos, não está em vulnerabilidade econômica, não está no Brasil/não é brasileira, não sofreu ou está sofrendo violência de gênero))",
                  "type": "CHECKBOXES",
                  "value": false
                },
                {
                  "key": "question_kGq5qr",
                  "label": "qual_servico_publico",
                  "type": "CHECKBOXES",
                  "value": null,
                  "options": [
                    {
                      "id": "a50c5db8-71a9-44f6-8e68-28e554dbdf32",
                      "text": "CREAS"
                    },
                    {
                      "id": "7671b20e-2ca4-4bfb-9a90-7d3e14ee9386",
                      "text": "CRAS"
                    },
                    {
                      "id": "68bd26f3-d196-412b-831f-01434b6eb8b5",
                      "text": "UBS"
                    },
                    {
                      "id": "05496ae4-b424-45c5-82f4-416cf50e1b21",
                      "text": "CRM;CDCM; CRAM; CIAM"
                    },
                    {
                      "id": "4e9a1a55-fd98-42ae-920d-f9021851c85f",
                      "text": "Delegacia especializada da Mulher"
                    },
                    {
                      "id": "4dfc0554-18a6-46d8-b16b-3ee452360bba",
                      "text": "Delegacia civil"
                    },
                    {
                      "id": "4d06fd05-af72-4749-bca2-e7e9bd19ff24",
                      "text": "Hospital de abortamento legal"
                    },
                    {
                      "id": "96e632aa-4d79-4c19-a36a-4401116dc274",
                      "text": "Defensoria pública/ NUDEM"
                    },
                    {
                      "id": "5e035528-ab23-4e3b-872b-8074adda140e",
                      "text": "Ministério público"
                    },
                    {
                      "id": "bc4fd63c-0b3e-455a-aed0-45b06d6b55c8",
                      "text": "CAPS"
                    }
                  ]
                },
                {
                  "key": "question_kGq5qr_a50c5db8-71a9-44f6-8e68-28e554dbdf32",
                  "label": "qual_servico_publico (CREAS)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_kGq5qr_7671b20e-2ca4-4bfb-9a90-7d3e14ee9386",
                  "label": "qual_servico_publico (CRAS)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_kGq5qr_68bd26f3-d196-412b-831f-01434b6eb8b5",
                  "label": "qual_servico_publico (UBS)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_kGq5qr_05496ae4-b424-45c5-82f4-416cf50e1b21",
                  "label": "qual_servico_publico (CRM;CDCM; CRAM; CIAM)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_kGq5qr_4e9a1a55-fd98-42ae-920d-f9021851c85f",
                  "label": "qual_servico_publico (Delegacia especializada da Mulher)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_kGq5qr_4dfc0554-18a6-46d8-b16b-3ee452360bba",
                  "label": "qual_servico_publico (Delegacia civil)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_kGq5qr_4d06fd05-af72-4749-bca2-e7e9bd19ff24",
                  "label": "qual_servico_publico (Hospital de abortamento legal)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_kGq5qr_96e632aa-4d79-4c19-a36a-4401116dc274",
                  "label": "qual_servico_publico (Defensoria pública/ NUDEM)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_kGq5qr_5e035528-ab23-4e3b-872b-8074adda140e",
                  "label": "qual_servico_publico (Ministério público)",
                  "type": "CHECKBOXES",
                  "value": null
                },
                {
                  "key": "question_kGq5qr_bc4fd63c-0b3e-455a-aed0-45b06d6b55c8",
                  "label": "qual_servico_publico (CAPS)",
                  "type": "CHECKBOXES",
                  "value": null
                }
              ]
            }
          },
          "webhookUrl": "https://mapadoacolhimento.app.n8n.cloud/webhook-test/triagem-psi-1",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-19T18:57:54.578Z",
      "updatedAt": "2025-08-19T18:57:54.578Z",
      "role": "workflow:owner",
      "workflowId": "xbeFBqR5GbsXgiHA",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "role": "project:personalOwner",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2025-07-22T19:04:05.304Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1749493410027
                },
                "easyAIWorkflowOnboarded": true
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-21T14:00:35.000Z",
  "versionId": "6b8f00d3-cd62-47c3-8f65-2f8cd57b09da"
}