Migrar_dados_Socieconomicos_do_Mongo_para_Postgres_[OTIMIZADO]
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Buscar MSRs antigas no Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Buscar MSR no MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar MSRs antigas no Postgres1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSR existe no MongoDB?": {
      "main": [
        [
          {
            "node": "Verificar registros no Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar MSR no MongoDB": {
      "main": [
        [
          {
            "node": "MSR existe no MongoDB?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar registros no Postgres": {
      "main": [
        [
          {
            "node": "Mapear DE-PARA (Mongo → Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear DE-PARA (Mongo → Postgres)": {
      "main": [
        [
          {
            "node": "Precisa inserir histórico de violência?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa inserir histórico de violência?": {
      "main": [
        [
          {
            "node": "Inserir violence_history",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Precisa inserir dados socioeconômicos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir violence_history": {
      "main": [
        [
          {
            "node": "Precisa inserir dados socioeconômicos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa inserir dados socioeconômicos?": {
      "main": [
        [
          {
            "node": "Inserir socioeconomic_data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir socioeconomic_data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-11T19:22:24.699Z",
  "description": null,
  "id": "iF4RJUeSdXs2V7xB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Migrar dados Socieconomicos do Mongo para Postgres [OTIMIZADO]",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2768,
        1664
      ],
      "id": "6d8f8c25-636e-4176-aca4-612563e38748",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2320,
        1664
      ],
      "id": "27ad6e8a-c621-4875-b94d-8dea28e1175b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    m.msr_id,\n    m.status,\n    m.created_at,\n    pii.email AS msr_email\nFROM msr.msrs m\nINNER JOIN pii_sec.msr_pii pii ON m.msr_id = pii.msr_id\nWHERE m.status != 'unregistered'\n  AND m.created_at < '2024-01-01T00:00:00Z'\nORDER BY m.created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2544,
        1664
      ],
      "id": "83266ba1-1e43-4ce5-826b-e7ac66da4840",
      "name": "Buscar MSRs antigas no Postgres1",
      "credentials": {
        "postgres": {
          "id": "lveNjRL3anzREWd8",
          "name": "[STG] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-mongo-exists",
              "leftValue": "={{ $node[\"Buscar MSR no MongoDB\"].json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1872,
        1392
      ],
      "id": "05d060ba-35bc-4946-80a7-611351768792",
      "name": "MSR existe no MongoDB?"
    },
    {
      "parameters": {
        "collection": "MsrRegisterData",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -2096,
        1392
      ],
      "id": "b5c7da55-621b-4042-b5c0-1c93b494f8cf",
      "name": "Buscar MSR no MongoDB",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "9IJGiNaHCwLNS7Lz",
          "name": "[STG] MongoDB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    pii.msr_id,\n    pii.email,\n    socio.msr_socioeconomic_id AS socio_id,\n    violence.msr_violence_history_id AS violence_id\nFROM pii_sec.msr_pii pii\nLEFT JOIN msr.msr_socioeconomic_data socio ON pii.msr_id = socio.msr_id\nLEFT JOIN msr.msr_violence_history violence ON pii.msr_id = violence.msr_id\nWHERE pii.email = '{{ $json.email }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1648,
        1376
      ],
      "id": "a77e60ce-7812-46b7-9cf2-2ea76a885218",
      "name": "Verificar registros no Postgres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "lveNjRL3anzREWd8",
          "name": "[STG] Mapa"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Este nó recebe o resultado do Postgres (socio_id / violence_id)\n// e busca os dados do MongoDB via contexto do nó anterior.\n// IMPORTANTE: O nó MongoDB deve ser referenciado pelo nome correto abaixo.\n\nconst pgResult = $input.first().json;\nconst mongo = $items(\"Buscar MSR no MongoDB\")[0].json;\n\nconst msr_id = pgResult.msr_id;\nconst needsSocioInsert = !pgResult.socio_id;\nconst needsViolenceInsert = !pgResult.violence_id;\n\n// Helper: normaliza booleano de string\nconst toBool = (val) => {\n  if (val === 'yes' || val === true) return true;\n  if (val === 'no' || val === false) return false;\n  return null;\n};\n\n// Helper: garante array\nconst toArray = (val) => Array.isArray(val) ? val : (val ? [val] : []);\n\nconst socio_payload = needsSocioInsert ? {\n  msr_id,\n  has_monthly_income: mongo.monthlyIncome || null,\n  monthly_income_range: mongo.monthlyIncomeRange || null,\n  employment_status: mongo.employmentStatus || null,\n  has_financial_dependents: toBool(mongo.dependants),\n  family_provider: mongo.familyProvider || null,\n  property_ownership: toBool(mongo.propertyOwnership)\n} : null;\n\nconst violence_payload = needsViolenceInsert ? {\n  msr_id,\n  violence_occurred_in_brazil: true,\n  violence_type: toArray(mongo.violenceType),\n  violence_location: toArray(mongo.violenceLocation),\n  violence_perpetrator: toArray(mongo.violencePerpetrator),\n  legal_actions_taken: toArray(mongo.legalActionsTaken),\n  protective_factors: toArray(mongo.protectiveFactors),\n  risk_factors: toArray(mongo.riskFactors),\n  legal_action_difficulty: toArray(mongo.legalActionDifficulty),\n  violence_time: mongo.violenceTime || null,\n  perpetrator_gender: mongo.perpetratorGender || null,\n  lives_with_perpetrator: mongo.livesWithPerpetrator || null\n} : null;\n\nreturn [{\n  json: {\n    msr_id,\n    needs_socio_insert: needsSocioInsert,\n    needs_violence_insert: needsViolenceInsert,\n    socio_payload,\n    violence_payload\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        1376
      ],
      "id": "6a68eb6e-ba68-4bd5-ba5a-2ef6f4f4ed91",
      "name": "Mapear DE-PARA (Mongo → Postgres)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-needs-violence",
              "leftValue": "={{ $node[\"Mapear DE-PARA (Mongo → Postgres)\"].json.needs_violence_insert }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1200,
        1296
      ],
      "id": "443e380b-1e4c-46a8-9525-107e6e8ac575",
      "name": "Precisa inserir histórico de violência?"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "msr",
          "mode": "list",
          "cachedResultName": "msr"
        },
        "table": {
          "__rl": true,
          "value": "msr_violence_history",
          "mode": "list",
          "cachedResultName": "msr_violence_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "msr_id": "={{ $json.violence_payload.msr_id }}",
            "updated_at": "={{ $now }}",
            "violence_occurred_in_brazil": "={{ $json.violence_payload.violence_occurred_in_brazil }}",
            "violence_location": "={{ $json.violence_payload.violence_location }}",
            "legal_action_difficulty": "={{ $json.violence_payload.legal_action_difficulty }}",
            "perpetrator_gender": "={{ $json.violence_payload.perpetrator_gender }}",
            "violence_perpetrator": "={{ $json.violence_payload.violence_perpetrator }}",
            "violence_time": "={{ $json.violence_payload.violence_time }}",
            "violence_type": "={{ $json.violence_payload.violence_type }}",
            "legal_actions_taken": "={{ $json.violence_payload.legal_actions_taken }}",
            "protective_factors": "={{ $json.violence_payload.protective_factors }}",
            "risk_factors": "={{ $json.violence_payload.risk_factors }}",
            "lives_with_perpetrator": "={{ $json.violence_payload.lives_with_perpetrator }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "msr_violence_history_id",
              "displayName": "msr_violence_history_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "violence_occurred_in_brazil",
              "displayName": "violence_occurred_in_brazil",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "violence_location",
              "displayName": "violence_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legal_action_difficulty",
              "displayName": "legal_action_difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "perpetrator_gender",
              "displayName": "perpetrator_gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "woman",
                  "value": "woman"
                },
                {
                  "name": "man",
                  "value": "man"
                },
                {
                  "name": "non_binary",
                  "value": "non_binary"
                }
              ],
              "removed": false
            },
            {
              "id": "violence_perpetrator",
              "displayName": "violence_perpetrator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "violence_time",
              "displayName": "violence_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "last_week",
                  "value": "last_week"
                },
                {
                  "name": "less_than_3_months",
                  "value": "less_than_3_months"
                },
                {
                  "name": "between_3_months_and_1_year",
                  "value": "between_3_months_and_1_year"
                },
                {
                  "name": "between_1_and_3_years",
                  "value": "between_1_and_3_years"
                },
                {
                  "name": "between_3_and_6_years",
                  "value": "between_3_and_6_years"
                },
                {
                  "name": "between_6_and_10_years",
                  "value": "between_6_and_10_years"
                },
                {
                  "name": "more_than_10_years",
                  "value": "more_than_10_years"
                }
              ],
              "removed": false
            },
            {
              "id": "violence_type",
              "displayName": "violence_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "legal_actions_taken",
              "displayName": "legal_actions_taken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "protective_factors",
              "displayName": "protective_factors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "risk_factors",
              "displayName": "risk_factors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lives_with_perpetrator",
              "displayName": "lives_with_perpetrator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "yes",
                  "value": "yes"
                },
                {
                  "name": "no",
                  "value": "no"
                },
                {
                  "name": "never",
                  "value": "never"
                }
              ],
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -976,
        1200
      ],
      "id": "30aa17cd-75cb-4163-ad30-2f355db2b462",
      "name": "Inserir violence_history",
      "credentials": {
        "postgres": {
          "id": "lveNjRL3anzREWd8",
          "name": "[STG] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-needs-socio",
              "leftValue": "={{ $node[\"Mapear DE-PARA (Mongo → Postgres)\"].json.needs_socio_insert }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -752,
        1392
      ],
      "id": "32efafcc-8207-4a5e-9b2d-3026fa55268e",
      "name": "Precisa inserir dados socioeconômicos?"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "msr",
          "mode": "list",
          "cachedResultName": "msr"
        },
        "table": {
          "__rl": true,
          "value": "msr_socioeconomic_data",
          "mode": "list",
          "cachedResultName": "msr_socioeconomic_data"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "msr_id": "={{ $json.socio_payload.msr_id }}",
            "has_monthly_income": "={{ $json.socio_payload.has_monthly_income }}",
            "monthly_income_range": "={{ $json.socio_payload.monthly_income_range }}",
            "employment_status": "={{ $json.socio_payload.employment_status }}",
            "has_financial_dependents": "={{ $json.socio_payload.has_financial_dependents }}",
            "family_provider": "={{ $json.socio_payload.family_provider }}",
            "property_ownership": "={{ $json.socio_payload.property_ownership }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "msr_socioeconomic_id",
              "displayName": "msr_socioeconomic_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "employment_status",
              "displayName": "employment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "employed_clt",
                  "value": "employed_clt"
                },
                {
                  "name": "employed_pj",
                  "value": "employed_pj"
                },
                {
                  "name": "student",
                  "value": "student"
                },
                {
                  "name": "student_with_income",
                  "value": "student_with_income"
                },
                {
                  "name": "retired",
                  "value": "retired"
                },
                {
                  "name": "unemployed",
                  "value": "unemployed"
                }
              ]
            },
            {
              "id": "property_ownership",
              "displayName": "property_ownership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_monthly_income",
              "displayName": "has_monthly_income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "yes",
                  "value": "yes"
                },
                {
                  "name": "no",
                  "value": "no"
                },
                {
                  "name": "no_access",
                  "value": "no_access"
                }
              ]
            },
            {
              "id": "has_financial_dependents",
              "displayName": "has_financial_dependents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "family_provider",
              "displayName": "family_provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "yes",
                  "value": "yes"
                },
                {
                  "name": "no",
                  "value": "no"
                },
                {
                  "name": "shared_responsibility",
                  "value": "shared_responsibility"
                }
              ]
            },
            {
              "id": "monthly_income_range",
              "displayName": "monthly_income_range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "no_income",
                  "value": "no_income"
                },
                {
                  "name": "half_minimum_wage",
                  "value": "half_minimum_wage"
                },
                {
                  "name": "up_to_one_minimum_wage",
                  "value": "up_to_one_minimum_wage"
                },
                {
                  "name": "up_to_two_minimum_wages",
                  "value": "up_to_two_minimum_wages"
                },
                {
                  "name": "up_to_three_minimum_wages",
                  "value": "up_to_three_minimum_wages"
                },
                {
                  "name": "up_to_four_minimum_wages",
                  "value": "up_to_four_minimum_wages"
                },
                {
                  "name": "five_minimum_wages_or_more",
                  "value": "five_minimum_wages_or_more"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -528,
        1296
      ],
      "id": "81336b8d-bf13-4e2c-a90f-1ce606906bb5",
      "name": "Inserir socioeconomic_data",
      "credentials": {
        "postgres": {
          "id": "lveNjRL3anzREWd8",
          "name": "[STG] Mapa"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-05-11T19:22:24.701Z",
      "createdAt": "2026-05-11T19:22:24.701Z",
      "role": "workflow:owner",
      "workflowId": "iF4RJUeSdXs2V7xB",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "createdAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "createdAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "updatedAt": "2026-05-18T11:41:42.000Z",
              "createdAt": "2024-01-09T22:21:28.810Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-18T20:05:11.139Z",
  "versionCounter": 16,
  "versionId": "8f8b2442-b0e5-4dce-ba3c-cb2dedbabeaf"
}