Migrar_dados_Socieconomicos_do_Mongo_para_Postgres_[OTIMIZADO]
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Buscar MSR no MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar MSRs antigas no Postgres": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSR existe no MongoDB?1": {
      "main": [
        [
          {
            "node": "Mapear DE-PARA (Mongo → Postgres)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar MSR no MongoDB1": {
      "main": [
        [
          {
            "node": "MSR existe no MongoDB?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear DE-PARA (Mongo → Postgres)1": {
      "main": [
        [
          {
            "node": "Precisa inserir histórico de violência?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa inserir histórico de violência?1": {
      "main": [
        [
          {
            "node": "Inserir violence_history1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Precisa inserir dados socioeconômicos?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir violence_history1": {
      "main": [
        [
          {
            "node": "Precisa inserir dados socioeconômicos?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Precisa inserir dados socioeconômicos?1": {
      "main": [
        [
          {
            "node": "Inserir socioeconomic_data1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserir socioeconomic_data1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Buscar MSRs antigas no Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-11T19:22:24.699Z",
  "description": null,
  "id": "iF4RJUeSdXs2V7xB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Migrar dados Socieconomicos do Mongo para Postgres [OTIMIZADO]",
  "nodes": [
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1984,
        2064
      ],
      "id": "1e07d230-be35-40ce-ac5c-a12929eb12c0",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    m.msr_id,\n    pii.email AS msr_email,\n    socio.msr_socioeconomic_id AS socio_id,\n    violence.msr_violence_history_id AS violence_id\nFROM msr.msrs m\nINNER JOIN pii_sec.msr_pii pii ON m.msr_id = pii.msr_id\nLEFT JOIN msr.msr_socioeconomic_data socio ON m.msr_id = socio.msr_id\nLEFT JOIN msr.msr_violence_history violence ON m.msr_id = violence.msr_id\nWHERE m.status != 'unregistered'\n  AND (socio.msr_socioeconomic_id IS NULL OR violence.msr_violence_history_id IS NULL)\nORDER BY m.created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2208,
        2064
      ],
      "id": "ad5fa8fb-fda0-42fd-938e-8a5f8a0ca0b5",
      "name": "Buscar MSRs antigas no Postgres",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-mongo-exists",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1536,
        1792
      ],
      "id": "ca7eecf4-d52c-4739-8881-1d6df9907bbd",
      "name": "MSR existe no MongoDB?1"
    },
    {
      "parameters": {
        "collection": "MsrRegisterData",
        "options": {},
        "query": "={ \"email\": \"{{ $json.msr_email }}\" }"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1760,
        1792
      ],
      "id": "4521c4fc-c27a-44f2-8bb1-58e65a649667",
      "name": "Buscar MSR no MongoDB1",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "7SQAxkxLufwdHG7H",
          "name": "[PROD] MongoDB"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const pgResult = $('Loop Over Items1').item.json;\nconst mongo = $('Buscar MSR no MongoDB1').item.json;\n\nconst msr_id = pgResult.msr_id;\nconst needsSocioInsert = !pgResult.socio_id;\nconst needsViolenceInsert = !pgResult.violence_id;\n\nconst toBool = (val) => {\n  if (val === 'yes' || val === true) return true;\n  if (val === 'no' || val === false) return false;\n  return null;\n};\n\nconst toArray = (val) => Array.isArray(val) ? val : (val ? [val] : []);\n\nconst mapMonthlyIncomeRange = (val) => {\n  const map = new Map([\n    [0,   'no_income'],\n    [0.5, 'half_minimum_wage'],\n    [1,   'up_to_one_minimum_wage'],\n    [2,   'up_to_two_minimum_wages'],\n    [3,   'up_to_three_minimum_wages'],\n    [4,   'up_to_four_minimum_wages'],\n    [5,   'five_minimum_wages_or_more'],\n  ]);\n  return map.get(parseFloat(val)) ?? null;\n};\n\nconst mapFamilyProvider = (val) => {\n  const map = {\n    'yes': 'yes',\n    'no': 'no',\n    'partially': 'shared_responsibility',\n    'shared_responsibility': 'shared_responsibility'\n  };\n  return map[val] ?? null;\n};\n\nconst socio_payload = needsSocioInsert ? {\n  msr_id,\n  has_monthly_income: mongo.monthlyIncome || null,\n  monthly_income_range: mapMonthlyIncomeRange(mongo.monthlyIncomeRange),\n  employment_status: mongo.employmentStatus || null,\n  has_financial_dependents: toBool(mongo.dependants),\n  family_provider: mapFamilyProvider(mongo.familyProvider) || null,\n  property_ownership: toBool(mongo.propertyOwnership)\n} : null;\n\nconst violence_payload = needsViolenceInsert ? {\n  msr_id,\n  violence_occurred_in_brazil: true,\n  violence_type: toArray(mongo.violenceType),\n  violence_location: toArray(mongo.violenceLocation),\n  violence_perpetrator: toArray(mongo.violencePerpetrator),\n  legal_actions_taken: toArray(mongo.legalActionsTaken),\n  protective_factors: toArray(mongo.protectiveFactors),\n  risk_factors: toArray(mongo.riskFactors),\n  legal_action_difficulty: toArray(mongo.legalActionDifficulty),\n  violence_time: mongo.violenceTime || null,\n  perpetrator_gender: mongo.perpetratorGender || null,\n  lives_with_perpetrator: mongo.livesWithPerpetrator || null\n} : null;\n\nreturn {\n  json: {\n    msr_id,\n    needs_socio_insert: needsSocioInsert,\n    needs_violence_insert: needsViolenceInsert,\n    socio_payload: socio_payload ?? {},\n    violence_payload: violence_payload ?? {}\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        1776
      ],
      "id": "734e5690-34e5-4886-bed5-6143b18d6a3f",
      "name": "Mapear DE-PARA (Mongo → Postgres)1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-needs-violence",
              "leftValue": "={{ $node[\"Mapear DE-PARA (Mongo → Postgres)1\"].json.needs_violence_insert }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -864,
        1696
      ],
      "id": "fc62c728-ca7a-4804-b4ec-97e19bb28fcc",
      "name": "Precisa inserir histórico de violência?1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "msr",
          "mode": "list",
          "cachedResultName": "msr"
        },
        "table": {
          "__rl": true,
          "value": "msr_violence_history",
          "mode": "list",
          "cachedResultName": "msr_violence_history"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "violence_occurred_in_brazil": false,
            "msr_id": "={{ $json.msr_id }}",
            "updated_at": "={{ $now }}",
            "violence_location": "={{ $json.violence_payload.violence_location }}",
            "legal_action_difficulty": "={{ $json.violence_payload.legal_action_difficulty }}",
            "perpetrator_gender": "={{ $json.violence_payload.perpetrator_gender }}",
            "violence_perpetrator": "={{ $json.violence_payload.violence_perpetrator }}",
            "violence_time": "={{ $json.violence_payload.violence_time }}",
            "violence_type": "={{ $json.violence_payload.violence_type }}",
            "legal_actions_taken": "={{ $json.violence_payload.legal_actions_taken }}",
            "protective_factors": "={{ $json.violence_payload.protective_factors }}",
            "risk_factors": "={{ $json.violence_payload.risk_factors }}",
            "lives_with_perpetrator": "={{ $json.violence_payload.lives_with_perpetrator }}"
          },
          "matchingColumns": [
            "msr_id"
          ],
          "schema": [
            {
              "id": "msr_violence_history_id",
              "displayName": "msr_violence_history_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "violence_occurred_in_brazil",
              "displayName": "violence_occurred_in_brazil",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "violence_location",
              "displayName": "violence_location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            },
            {
              "id": "legal_action_difficulty",
              "displayName": "legal_action_difficulty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            },
            {
              "id": "perpetrator_gender",
              "displayName": "perpetrator_gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "woman",
                  "value": "woman"
                },
                {
                  "name": "man",
                  "value": "man"
                },
                {
                  "name": "non_binary",
                  "value": "non_binary"
                }
              ]
            },
            {
              "id": "violence_perpetrator",
              "displayName": "violence_perpetrator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            },
            {
              "id": "violence_time",
              "displayName": "violence_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "last_week",
                  "value": "last_week"
                },
                {
                  "name": "less_than_3_months",
                  "value": "less_than_3_months"
                },
                {
                  "name": "between_3_months_and_1_year",
                  "value": "between_3_months_and_1_year"
                },
                {
                  "name": "between_1_and_3_years",
                  "value": "between_1_and_3_years"
                },
                {
                  "name": "between_3_and_6_years",
                  "value": "between_3_and_6_years"
                },
                {
                  "name": "between_6_and_10_years",
                  "value": "between_6_and_10_years"
                },
                {
                  "name": "more_than_10_years",
                  "value": "more_than_10_years"
                }
              ]
            },
            {
              "id": "violence_type",
              "displayName": "violence_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            },
            {
              "id": "legal_actions_taken",
              "displayName": "legal_actions_taken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            },
            {
              "id": "protective_factors",
              "displayName": "protective_factors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            },
            {
              "id": "risk_factors",
              "displayName": "risk_factors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "array",
              "canBeUsedToMatch": false
            },
            {
              "id": "lives_with_perpetrator",
              "displayName": "lives_with_perpetrator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "yes",
                  "value": "yes"
                },
                {
                  "name": "no",
                  "value": "no"
                },
                {
                  "name": "never",
                  "value": "never"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -640,
        1600
      ],
      "id": "af9711e5-6290-4273-bfbb-26d4643c4c50",
      "name": "Inserir violence_history1",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-needs-socio",
              "leftValue": "={{ $node[\"Mapear DE-PARA (Mongo → Postgres)1\"].json.needs_socio_insert }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -416,
        1792
      ],
      "id": "f4438dd3-4c96-4d9c-a3ea-447d075745e1",
      "name": "Precisa inserir dados socioeconômicos?1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "msr",
          "mode": "list",
          "cachedResultName": "msr"
        },
        "table": {
          "__rl": true,
          "value": "msr_socioeconomic_data",
          "mode": "list",
          "cachedResultName": "msr_socioeconomic_data"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "property_ownership": "={{ $('Mapear DE-PARA (Mongo → Postgres)1').item.json.socio_payload.property_ownership }}",
            "has_financial_dependents": "={{ $('Mapear DE-PARA (Mongo → Postgres)1').item.json.socio_payload.has_financial_dependents }}",
            "msr_id": "={{ $json.msr_id }}",
            "updated_at": "={{ $now }} ",
            "employment_status": "={{ $('Mapear DE-PARA (Mongo → Postgres)1').item.json.socio_payload.employment_status }}",
            "has_monthly_income": "={{ $('Mapear DE-PARA (Mongo → Postgres)1').item.json.socio_payload.has_monthly_income }}",
            "family_provider": "={{ $('Mapear DE-PARA (Mongo → Postgres)1').item.json.socio_payload.family_provider }}",
            "monthly_income_range": "={{ $('Mapear DE-PARA (Mongo → Postgres)1').item.json.socio_payload.monthly_income_range }}"
          },
          "matchingColumns": [
            "msr_id"
          ],
          "schema": [
            {
              "id": "msr_socioeconomic_id",
              "displayName": "msr_socioeconomic_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "msr_id",
              "displayName": "msr_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "employment_status",
              "displayName": "employment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "employed_clt",
                  "value": "employed_clt"
                },
                {
                  "name": "employed_pj",
                  "value": "employed_pj"
                },
                {
                  "name": "student",
                  "value": "student"
                },
                {
                  "name": "student_with_income",
                  "value": "student_with_income"
                },
                {
                  "name": "retired",
                  "value": "retired"
                },
                {
                  "name": "unemployed",
                  "value": "unemployed"
                }
              ]
            },
            {
              "id": "property_ownership",
              "displayName": "property_ownership",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "has_monthly_income",
              "displayName": "has_monthly_income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "yes",
                  "value": "yes"
                },
                {
                  "name": "no",
                  "value": "no"
                },
                {
                  "name": "no_access",
                  "value": "no_access"
                }
              ]
            },
            {
              "id": "has_financial_dependents",
              "displayName": "has_financial_dependents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false
            },
            {
              "id": "family_provider",
              "displayName": "family_provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "yes",
                  "value": "yes"
                },
                {
                  "name": "no",
                  "value": "no"
                },
                {
                  "name": "shared_responsibility",
                  "value": "shared_responsibility"
                }
              ]
            },
            {
              "id": "monthly_income_range",
              "displayName": "monthly_income_range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": false,
              "options": [
                {
                  "name": "up_to_three_minimum_wages",
                  "value": "up_to_three_minimum_wages"
                },
                {
                  "name": "up_to_four_minimum_wages",
                  "value": "up_to_four_minimum_wages"
                },
                {
                  "name": "five_minimum_wages_or_more",
                  "value": "five_minimum_wages_or_more"
                },
                {
                  "name": "no_income",
                  "value": "no_income"
                },
                {
                  "name": "half_minimum_wage",
                  "value": "half_minimum_wage"
                },
                {
                  "name": "up_to_one_minimum_wage",
                  "value": "up_to_one_minimum_wage"
                },
                {
                  "name": "up_to_two_minimum_wages",
                  "value": "up_to_two_minimum_wages"
                }
              ]
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        1696
      ],
      "id": "ffb8f15f-4658-4369-872e-69e6d2ddb752",
      "name": "Inserir socioeconomic_data1",
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2432,
        2064
      ],
      "id": "c4007a64-d332-43e8-8732-c0b5f5f8ec34",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-05-11T19:22:24.701Z",
      "createdAt": "2026-05-11T19:22:24.701Z",
      "role": "workflow:owner",
      "workflowId": "iF4RJUeSdXs2V7xB",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "createdAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "createdAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "updatedAt": "2026-05-20T12:53:34.000Z",
              "createdAt": "2024-01-09T22:21:28.810Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-20",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-20T13:19:46.733Z",
  "versionCounter": 27,
  "versionId": "e6fa3ad7-4de9-4448-837f-d1c997782c17"
}