My_workflow_5
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Busca voluntárias do segmento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntária pelo email": {
      "main": [
        [
          {
            "node": "Se retornou a voluntária do Zendesk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca os tickets da voluntária no Zendesk": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se retornou a voluntária do Zendesk": {
      "main": [
        [
          {
            "node": "Busca os tickets da voluntária no Zendesk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca voluntárias do segmento": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Busca voluntária pelo email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Separa os tickets do objeto retornado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa os tickets do objeto retornado": {
      "main": [
        [
          {
            "node": "Se o campo \"Status da Inscrição\" for igual a \"capacitacao\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se o campo \"Status da Inscrição\" for igual a \"capacitacao\"": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-24T19:41:38.741Z",
  "id": "eRZFEMeBgjvgHMKi",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {},
      "id": "060721bb-b996-4abc-a704-819eae07328b",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        580
      ]
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "search",
        "limit": 30,
        "filters": {
          "query": "={{ $json.email }}"
        }
      },
      "id": "d950c6de-4f67-4e58-bd8c-c33ef2ff56bf",
      "name": "Busca voluntária pelo email",
      "type": "n8n-nodes-base.zendesk",
      "typeVersion": 1,
      "position": [
        -400,
        600
      ],
      "alwaysOutputData": true,
      "credentials": {
        "zendeskApi": {
          "id": "MYAFeR51noxrxEC7",
          "name": "Zendesk account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://mapadoacolhimento.zendesk.com/api/v2/users/{{$node[\"Busca voluntária pelo email\"].json[\"id\"]}}/tickets/requested",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "53417a4e-3979-4203-8a1f-b5354259846d",
      "name": "Busca os tickets da voluntária no Zendesk",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        240,
        180
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "cw6WdIc7c9HRGleo",
          "name": "Zendesk auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Busca voluntária pelo email\"].json}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "5e5e003f-6550-4a89-88ff-33d5b630e9dc",
      "name": "Se retornou a voluntária do Zendesk",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -180,
        180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT v.id, v.condition, v.email, v.moodle_id, vs.segment_name FROM volunteer_segments vs \n  INNER JOIN volunteers v\n  ON v.id = vs.volunteer_id \n  WHERE \n  vs.segment_name = 'volunteers_approved_after_module3_2025'\n  \n",
        "options": {}
      },
      "id": "097a0cea-aebd-401c-9c47-39da8e7958de",
      "name": "Busca voluntárias do segmento",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -820,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "c5mNsjWNXx3mw1Fh",
          "name": "[PROD] Mapa"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "68eb8552-57d7-482f-87ec-aa0bc4e1ffab",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -600,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "03e9242a-450b-42f6-96d6-8387d87db69d",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e099fc51-a469-4684-a64c-82af3d8c9c82",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        920
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "tickets",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "31594e82-4629-470d-90ae-8c1503bad724",
      "name": "Separa os tickets do objeto retornado",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        860,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "956d6f3e-6dac-498c-92d2-a7b3e4f1b049",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f3711073-b687-4255-bd2c-2bcf0bf09f74",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1300,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tickets.custom_fields[6].value }}",
              "operation": "notEqual",
              "value2": "aprovada"
            }
          ]
        }
      },
      "id": "256b414e-7a8e-483a-b5f8-c0d28353a59c",
      "name": "Se o campo \"Status da Inscrição\" for igual a \"capacitacao\"",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        1060
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-02-24T19:41:38.745Z",
      "updatedAt": "2025-02-24T19:41:38.745Z",
      "role": "workflow:owner",
      "workflowId": "eRZFEMeBgjvgHMKi",
      "projectId": "rfgBK87HsySgxYKT",
      "project": {
        "createdAt": "2024-11-15T08:07:36.637Z",
        "updatedAt": "2024-11-15T08:07:36.637Z",
        "id": "rfgBK87HsySgxYKT",
        "name": "Desenvolvimento Mapa <dev@mapa.org.br>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2024-11-15T08:07:36.637Z",
            "updatedAt": "2024-11-15T08:07:36.637Z",
            "userId": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
            "projectId": "rfgBK87HsySgxYKT",
            "user": {
              "createdAt": "2024-01-09T22:21:28.810Z",
              "updatedAt": "2025-12-26T23:13:37.000Z",
              "id": "6e437c36-d4e0-42f4-bbc3-d9b5ac96e474",
              "email": "dev@mapa.org.br",
              "firstName": "Desenvolvimento",
              "lastName": "Mapa",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "sMoToF9HauyKvsFJ",
                "isOnboarded": true,
                "userActivatedAt": 1731658062996,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766005013760
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-26",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-24T19:46:48.000Z",
  "versionId": "74e1e76b-defa-4665-8651-7fe4392b283b"
}